<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Table -->
        <div class="row p--0 mt--4">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-1">
                <div class="row align-items-center">
                    <div class="col-12">
                      <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage your {{ title }} account integration setting</h3>
                    </div>
                    
                  </div>
              </div>
              
              <div class="card-body">

                <div class="modal fade" id="modalHelp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-success">
                          <h5 class="modal-title font-14 text-white">Flubit Setting Help</h5>
                          <button type="button" #closemodal class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-sm-12">
                                <img style="width: 750px;" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubflubitintegration1.jpg" />
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="btn-group float-right">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>
                </div>
                  
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link font-11" data-toggle="tab" href="#other">Listing Templates</a>
                      </li>
                  </ul>
  
                  <div class="tab-content">
                      <div id="app_store" class="container tab-pane active"><br>
                           <div class="row" style="border-bottom: 1px solid #CCC;">
                              <div class="col-3">
                                <h4 class="mb-0"><img src="{{ logo }}" class="image-logo" /></h4>
                              </div>
                              <div class="col-9 float-right">
                                <a class="btn btn-secondary btn-dark btn-sm">Save <i class="fa fa-angle-right"></i></a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-times-circle-o"></i> Remove All Listing From SellersHub</a>
                                <a class="btn btn-secondary btn-outline btn-sm" routerLink="/channelconnector"><i class="fa fa-remove"></i> Close</a>
                              </div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Channel Name</label>
                                        <br>
                                        <input type="text" value="Flubit Account" id="name" class="form-control form-control-sm" placeholder="Name to remember within KartzHub">
                                      </div>
                                      <div class="form-group">
                                        <label class="control-label">Flubit API Key</label>
                                        <br>
                                        <input type="text" value="" id="apikey" class="form-control form-control-sm" placeholder="Enter Flubit API Key">
                                        <span class="help-inline">
                                          <a href="#" data-toggle="modal" data-target="#modalHelp">Help</a>
                                        </span>
                                      </div>
                                      <div class="form-group">
                                        <label class=" control-label">Flubit API Secret Key</label>
                                        <br>
                                        <input type="text" value="" id="apipassword" class="form-control form-control-sm " placeholder="Enter Flubit API Secret Key">
                                        <span class="help-inline">
                                          <a href="#" data-toggle="modal" data-target="#modalHelp">Help</a>
                                        </span>
                                      </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="mt-checkbox-list">
                                        <div class="form-group">
                                            <input type="checkbox" checked="" value="true" id="downloadamazoncatalogid">
                                            <label class="mt-checkbox mt-checkbox-outline"> Download the catalog into KartzHub </label>
                                        </div>

                                        <div class="form-group">
                                            <input type="checkbox" checked="" value="true" id="downloadamazonorderid">
                                            <label class="mt-checkbox mt-checkbox-outline"> Download the orders into KartzHub</label>
                                        </div>

                                        <div class="form-group">
                                            <input type="checkbox" value="true" id="flubitsandboxmode">
                                            <label class="mt-checkbox mt-checkbox-outline"> Sandbox Mode</label>
                                        </div>  
                                        
                                      </div>
                                </div>
                            </div>
                      </div>
                      <div id="other" class="container tab-pane fade">
                            
                            <div class="col-sm-12">
                                <div class="float-right mb-20 mt-10">
                                    <a class="btn btn-secondary btn-sm btn-circle" ><i class="fa fa-arrow-up font-blue"></i> New Listing Template</a>
                                    <a routerLink="/channelconnector" class="btn btn-secondary btn-sm btn-circle"><i class="fa fa-remove text-red"></i> Close</a>
                                </div>
                                <table class="table tableFixHead table-hover order-column v2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Template Name</th>
                                            <th>Modified Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                            <div class="alert alert-dark mt-10">Please enter Flubit Listing Profile details</div><br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class=" control-label">Template Name</label>
                                        <input type="text" value="" class="form-control form-control-sm" id="channeltemplatename" placeholder="Enter Template Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Pricing Discount</label>
                                            <input type="text" value="" class="form-control form-control-sm" id="pricingrulesid" placeholder="Discount from Amazon Selling Price">
                                            <div class="box-listing">
                                            <p class="font-11">
                                               This discount will be used to calculate selling price on Flubit from Amazon UK selling price.   e.g  enter  5 for 5% discount
                                                If this is empty, Amazon UK selling price will be sent to Flubit
                                            </p>
                                            </div>
                                     </div>
                                </div>
                            </div>
                      </div>
                  </div>
                  
              </div>
  
              <div class="card-footer py-4">
                  
                </div>
            </div>
          </div>
        </div>
    
  
      </div>
    </div>
  </div>