<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <label>Manage Orders</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><i class="fa fa-cart-arrow-down"></i> New Order Details: 1631620240946</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <!-- <div class="pull-right">
                                <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a>
                                <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                            </div> -->

                        </div><br>
                    </div>
                </div>
                <div class="table-scrollable">
                    <div class="row">
					<div class="col-md-6">
						<div class="card box  border-primary">
							<div class="card-header bg-primary text-white">
								<div class="caption">
									<i class="fa fa-shopping-cart"></i> Order Details
								</div>
							</div>
							<div class="card-body">
								<div class="row static-info">
									<div class="col-md-5 name">
										Order #:
									</div><br>
									<div class="col-md-7 value">
										1631620240946
										<input type="hidden" value="33" id="createorderid">
									</div><br>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">
										Channel:
									</div><br>
									<div class="col-md-7 value">
									  telesale
									</div><br>
								</div>

								<div class="row static-info">
									<div class="col-md-5 name">
										Order Date:
									</div><br>
									<div class="col-md-7 value">
									   Tue Sep 14 11:50:40 UTC 2021
									</div><br>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">
										Order Status: <span class="required" style="color:red;"> * </span>
									</div><br>
									<div class="col-md-7 value">
										<select disabled="" id="orderStatusselectid" class="form-control form-control-sm" name="orderStatus">
											<option value="Draft">Draft</option>
											
												<option value="Unshipped">Unshipped</option>
											
												<option value="Shipped">Shipped</option>
											
												<option value="Pending">Pending</option>
											
												<option value="Canceled">Canceled</option>
											
										</select>
									</div><br>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">
										Order Currency: <span class="required" style="color:red;"> * </span>
									</div><br>
									<div class="col-md-7 value">
									   <select onchange="updatecurrencycode(33)" id="ordercurrencyselectid" class="form-control form-control-sm">
											
												<option value="USD">USD</option>
											
												<option value="CAD">CAD</option>
											
												<option value="GBP">GBP</option>
											
												<option value="EURO">EURO</option>
											
												<option value="INR">INR</option>
											
												<option value="AUD">AUD</option>
											
												<option value="NZD">NZD</option>
											
										</select>
									</div><br>
								</div>

							</div>
						</div>
					</div>
                    
                    <div class="col-md-6 pull-right">
						<div class="card box border-primary">
							<div class="card-header bg-primary text-white">
								<div class="caption">
									<i class="fa fa-user"></i> Customer Information
								</div>
							</div>
							<div class="card-body">
									<div class="row   ">
										<div class="col-md-5 name">
											Customer Name: <span class="required" style="color:red;"> * </span>
										</div>
										<div class="col-md-4 value">
											<input type="text" class="form-control" id="buyerName" style="width:160px; height: 30px !important;" value=""><br>
											<input type="hidden" id="customerid" value="-1">
										</div>

										<div class="col-md-1 value">
											<a href="javascript:;" onclick="showcustomerfororder(33)" class="btn btn-sm btn-circle btn-default">Search</a>

										</div>
									</div>
									<div class="row static-info">
										<div class="col-md-5 name">
											Email: <span class="required" style="color:red;"> * </span>
										</div>
										<div class="col-md-4 value">
											<input type="text" style="width:160px; height: 30px !important;" class="form-control" id="buyerEmail" value=""><br>
										</div>
										<div class="col-md-1 value">
											<a href="javascript:;" onclick="showcustomerfororder(33)" class="btn btn-sm btn-circle btn-default">Search</a>
										</div>
									</div>

									<div class="row static-info">
										<div class="col-md-5 name">
											Phone Number:
										</div>

										<div class="col-md-4 value">
											<input type="text" style="width:160px; height: 30px !important;" class="form-control" id="shipPhoneNumber" value=""><br>
										</div>

										<div class="col-md-1 value">
											<a href="javascript:;" onclick="showcustomerfororder(33)" class="btn btn-sm btn-circle btn-default">Search</a>
										</div>
									</div>
							</div>
						</div>
                    </div>
                    </div>							<br>
				<div class="row">
					<div class="col-md-6">
						<div class="card box border-primary">
							<div class="card-header bg-primary text-white">
								<div class="caption">
									<i class="fa fa-address-card-o"></i> Billing Address
								</div>
							</div>
							<div class="card-body">
								<div class="static-info">
									<form class="form-horizontal" role="form">
										<div class="row">
										<div class="col-md-12 value">
											<div class="form-group">
												<label class="col-md-3 control-label">Address Line 1 <span class="required"> * </span> </label>
												<div class="col-md-9">
													<input type="text" class="form-control" id="billingAddressLine1" value="">
												</div>
											</div>
											
											<div class="form-group">
												<label class="col-md-3 control-label">Address Line 2</label>
												<div class="col-md-9">
													<input type="text" class="form-control" id="billingAddressLine2" value="">
												</div>
											</div>
											
											<div class="form-group">
												<label class="col-md-3 control-label">Address Line 3</label>
												<div class="col-md-9">
													<input type="text" class="form-control" id="billingAddressLine3" value="">
												</div>
											</div>
										</div>
										<div class="col-md-12 value">
											<div class="form-group">
												<label class="col-md-3 control-label">City <span class="required">
																* </span></label>
												<div class="col-md-9">

													<input type="text" class="form-control" id="billingAddressCity" value="">

												</div>
											</div>
										
											<div class="form-group">

												<label class="col-md-3 control-label">State/County</label>

												<div class="col-md-9">
													<input type="text" class="form-control" id="billingAddressState" value="">
												</div>
											</div>
										
											<div class="form-group">

												<label class="col-md-3 control-label">PostCode</label>

												<div class="col-md-9">
													<input type="text" class="form-control" id="billingAddressPostcode" value="">
												</div>
											</div>
										
											<div class="form-group">

												<label class="col-md-3 control-label">Country <span class="required">
																* </span></label>
												<div class="col-md-9">
													<select class="form-control" id="billingAddressCountryCode">

														
															<option value="AR">ARGENTINA</option>
														
															<option value="AU">AUSTRALIA</option>
														
															<option value="AT">AUSTRIA</option>
														
															<option value="AZ">AZERBAIJAN</option>
														
															<option value="BS">BAHAMAS</option>
														
															<option value="BH">BAHRAIN</option>
														
															<option value="BD">BANGLADESH</option>
														
															<option value="BB">BARBADOS</option>
														
															<option value="BY">BELARUS</option>
														
															<option value="BE">BELGIUM</option>
														
															<option value="BZ">BELIZE</option>
														
															<option value="BJ">BENIN</option>
														
															<option value="BM">BERMUDA</option>
														
															<option value="BT">BHUTAN</option>
														
															<option value="BO">BOLIVIA</option>
														
															<option value="BA">BOSNIA AND HERZEGOVINA</option>
														
															<option value="BW">BOTSWANA</option>
														
															<option value="BR">BRAZIL</option>
														
															<option value="IO">BRITISH INDIAN OCEAN TERRITORY</option>
														
															<option value="BN">BRUNEI DARUSSALAM</option>
														
															<option value="BG">BULGARIA</option>
														
															<option value="BF">BURKINA FASO</option>
														
															<option value="BI">BURUNDI</option>
														
															<option value="KH">CAMBODIA</option>
														
															<option value="CM">CAMEROON</option>
														
															<option value="CA">CANADA</option>
														
															<option value="CV">CAPE VERDE</option>
														
															<option value="KY">CAYMAN ISLANDS</option>
														
															<option value="CI">CÃ?TE D IVOIRE</option>
														
															<option value="CF">CENTRAL AFRICAN REPUBLIC</option>
														
															<option value="TD">CHAD</option>
														
															<option value="CL">CHILE</option>
														
															<option value="CN">CHINA</option>
														
															<option value="CX">CHRISTMAS ISLAND</option>
														
															<option value="CC">COCOS (KEELING) ISLANDS</option>
														
															<option value="CO">COLOMBIA</option>
														
															<option value="KM">COMOROS</option>
														
															<option value="CG">CONGO</option>
														
															<option value="CD">CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>
														
															<option value="CK">COOK ISLANDS</option>
														
															<option value="CR">COSTA RICA</option>
														
															<option value="HR">CROATIA</option>
														
															<option value="CU">CUBA</option>
														
															<option value="CY">CYPRUS</option>
														
															<option value="CZ">CZECH REPUBLIC</option>
														
															<option value="DK">DENMARK</option>
														
															<option value="DJ">DJIBOUTI</option>
														
															<option value="DM">DOMINICA</option>
														
															<option value="DO">DOMINICAN REPUBLIC</option>
														
															<option value="EC">ECUADOR</option>
														
															<option value="EG">EGYPT</option>
														
															<option value="SV">EL SALVADOR</option>
														
															<option value="GQ">EQUATORIAL GUINEA</option>
														
															<option value="ER">ERITREA</option>
														
															<option value="EE">ESTONIA</option>
														
															<option value="ET">ETHIOPIA</option>
														
															<option value="FK">FALKLAND ISLANDS (MALVINAS)</option>
														
															<option value="FO">FAROE ISLANDS</option>
														
															<option value="FJ">FIJI</option>
														
															<option value="FI">FINLAND</option>
														
															<option value="FR">FRANCE</option>
														
															<option value="GF">FRENCH GUIANA</option>
														
															<option value="PF">FRENCH POLYNESIA</option>
														
															<option value="TF">FRENCH SOUTHERN TERRITORIES</option>
														
															<option value="GA">GABON</option>
														
															<option value="GM">GAMBIA</option>
														
															<option value="GE">GEORGIA</option>
														
															<option value="DE">GERMANY</option>
														
															<option value="GH">GHANA</option>
														
															<option value="GI">GIBRALTAR</option>
														
															<option value="GR">GREECE</option>
														
															<option value="GL">GREENLAND</option>
														
															<option value="GD">GRENADA</option>
														
															<option value="GP">GUADELOUPE</option>
														
															<option value="GU">GUAM</option>
														
															<option value="GT">GUATEMALA</option>
														
															<option value="GG">GUERNSEY</option>
														
															<option value="GN">GUINEA</option>
														
															<option value="GW">GUINEA-BISSAU</option>
														
															<option value="GY">GUYANA</option>
														
															<option value="HT">HAITI</option>
														
															<option value="HM">HEARD ISLAND AND MCDONALD ISLANDS</option>
														
															<option value="VA">HOLY SEE (VATICAN CITY STATE) </option>
														
															<option value="HN">HONDURAS</option>
														
															<option value="HK">HONG KONG</option>
														
															<option value="HU">HUNGARY</option>
														
															<option value="IS">ICELAND</option>
														
															<option value="IN">INDIA</option>
														
															<option value="ID">INDONESIA</option>
														
															<option value="IR">IRAN, ISLAMIC REPUBLIC OF</option>
														
															<option value="IQ">IRAQ</option>
														
															<option value="IE">IRELAND</option>
														
															<option value="IM">ISLE OF MAN</option>
														
															<option value="IL">ISRAEL</option>
														
															<option value="IT">ITALY</option>
														
															<option value="JM">JAMAICA</option>
														
															<option value="JP">JAPAN</option>
														
															<option value="JE">JERSEY</option>
														
															<option value="JO">JORDAN</option>
														
															<option value="KZ">KAZAKHSTAN</option>
														
															<option value="KE">KENYA</option>
														
															<option value="KI">KIRIBATI</option>
														
															<option value="KP">KOREA, DEMOCRATIC PEOPLE S REPUBLIC OF</option>
														
															<option value="KR">KOREA, REPUBLIC OF</option>
														
															<option value="KW">KUWAIT</option>
														
															<option value="KG">KYRGYZSTAN</option>
														
															<option value="LA">LAO PEOPLES DEMOCRATIC REPUBLIC</option>
														
															<option value="LV">LATVIA</option>
														
															<option value="LB">LEBANON</option>
														
															<option value="LS">LESOTHO</option>
														
															<option value="LR">LIBERIA</option>
														
															<option value="LY">LIBYAN ARAB JAMAHIRIYA</option>
														
															<option value="LI">LIECHTENSTEIN</option>
														
															<option value="LT">LITHUANIA</option>
														
															<option value="LU">LUXEMBOURG</option>
														
															<option value="MO">MACAO</option>
														
															<option value="MK">MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>
														
															<option value="MG">MADAGASCAR</option>
														
															<option value="MW">MALAWI</option>
														
															<option value="MY">MALAYSIA</option>
														
															<option value="MV">MALDIVES</option>
														
															<option value="ML">MALI</option>
														
															<option value="MT">MALTA</option>
														
															<option value="MH">MARSHALL ISLANDS</option>
														
															<option value="MQ">MARTINIQUE</option>
														
															<option value="MR">MAURITANIA</option>
														
															<option value="MU">MAURITIUS</option>
														
															<option value="YT">MAYOTTE</option>
														
															<option value="MX">MEXICO</option>
														
															<option value="FM">MICRONESIA, FEDERATED STATES OF</option>
														
															<option value="MD">MOLDOVA, REPUBLIC OF</option>
														
															<option value="MC">MONACO</option>
														
															<option value="MN">MONGOLIA</option>
														
															<option value="ME">MONTENEGRO</option>
														
															<option value="MS">MONTSERRAT</option>
														
															<option value="MA">MOROCCO</option>
														
															<option value="MZ">MOZAMBIQUE</option>
														
															<option value="MM">MYANMAR</option>
														
															<option value="NA">NAMIBIA</option>
														
															<option value="NR">NAURU</option>
														
															<option value="NP">NEPAL</option>
														
															<option value="NL">NETHERLANDS</option>
														
															<option value="AN">NETHERLANDS ANTILLES</option>
														
															<option value="NC">NEW CALEDONIA</option>
														
															<option value="NZ">NEW ZEALAND</option>
														
															<option value="NI">NICARAGUA</option>
														
															<option value="NE">NIGER</option>
														
															<option value="NG">NIGERIA</option>
														
															<option value="NU">NIUE</option>
														
															<option value="NF">NORFOLK ISLAND</option>
														
															<option value="MP">NORTHERN MARIANA ISLANDS</option>
														
															<option value="NO">NORWAY</option>
														
															<option value="OM">OMAN</option>
														
															<option value="PK">PAKISTAN</option>
														
															<option value="PW">PALAU</option>
														
															<option value="PS">PALESTINIAN TERRITORY, OCCUPIED</option>
														
															<option value="PA">PANAMA</option>
														
															<option value="PG">PAPUA NEW GUINEA</option>
														
															<option value="PY">PARAGUAY</option>
														
															<option value="PE">PERU</option>
														
															<option value="PH">PHILIPPINES</option>
														
															<option value="PN">PITCAIRN</option>
														
															<option value="PL">POLAND</option>
														
															<option value="PT">PORTUGAL</option>
														
															<option value="PR">PUERTO RICO</option>
														
															<option value="QA">QATAR</option>
														
															<option value="RE">RÃ?UNION</option>
														
															<option value="RO">ROMANIA</option>
														
															<option value="RU">RUSSIAN FEDERATION</option>
														
															<option value="RW">RWANDA</option>
														
															<option value="BL">SAINT BARTHÃ?LEMY</option>
														
															<option value="SH">SAINT HELENA</option>
														
															<option value="KN">SAINT KITTS AND NEVIS</option>
														
															<option value="LC">SAINT LUCIA</option>
														
															<option value="MF">SAINT MARTIN</option>
														
															<option value="PM">SAINT PIERRE AND MIQUELON</option>
														
															<option value="VC">SAINT VINCENT AND THE GRENADINES</option>
														
															<option value="WS">SAMOA</option>
														
															<option value="SM">SAN MARINO</option>
														
															<option value="ST">SAO TOME AND PRINCIPE</option>
														
															<option value="SA">SAUDI ARABIA</option>
														
															<option value="SN">SENEGAL</option>
														
															<option value="RS">SERBIA</option>
														
															<option value="SC">SEYCHELLES</option>
														
															<option value="SL">SIERRA LEONE</option>
														
															<option value="SG">SINGAPORE</option>
														
															<option value="SK">SLOVAKIA</option>
														
															<option value="SI">SLOVENIA</option>
														
															<option value="SB">SOLOMON ISLANDS</option>
														
															<option value="SO">SOMALIA</option>
														
															<option value="ZA">SOUTH AFRICA</option>
														
															<option value="GS">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
														
															<option value="ES">SPAIN</option>
														
															<option value="LK">SRI LANKA</option>
														
															<option value="SD">SUDAN</option>
														
															<option value="SR">SURINAME</option>
														
															<option value="SJ">SVALBARD AND JAN MAYEN</option>
														
															<option value="SZ">SWAZILAND</option>
														
															<option value="SE">SWEDEN</option>
														
															<option value="CH">SWITZERLAND</option>
														
															<option value="SY">SYRIAN ARAB REPUBLIC</option>
														
															<option value="TW">TAIWAN, PROVINCE OF CHINA</option>
														
															<option value="TJ">TAJIKISTAN</option>
														
															<option value="TZ">TANZANIA, UNITED REPUBLIC OF</option>
														
															<option value="TH">THAILAND</option>
														
															<option value="TL">TIMOR-LESTE</option>
														
															<option value="TG">TOGO</option>
														
															<option value="TK">TOKELAU</option>
														
															<option value="TO">TONGA</option>
														
															<option value="TT">TRINIDAD AND TOBAGO</option>
														
															<option value="TN">TUNISIA</option>
														
															<option value="TR">TURKEY</option>
														
															<option value="TM">TURKMENISTAN</option>
														
															<option value="TC">TURKS AND CAICOS ISLANDS</option>
														
															<option value="TV">TUVALU</option>
														
															<option value="UG">UGANDA</option>
														
															<option value="UA">UKRAINE</option>
														
															<option value="AE">UNITED ARAB EMIRATES</option>
														
															<option value="GB">UNITED KINGDOM</option>
														
															<option value="US">UNITED STATES</option>
														
															<option value="UM">UNITED STATES MINOR OUTLYING ISLANDS</option>
														
															<option value="UY">URUGUAY</option>
														
															<option value="UZ">UZBEKISTAN</option>
														
															<option value="VU">VANUATU</option>
														
															<option value="VE">VENEZUELA</option>
														
															<option value="VN">VIET NAM</option>
														
															<option value="VG">VIRGIN ISLANDS, BRITISH</option>
														
															<option value="VI">VIRGIN ISLANDS, U.S.</option>
														
															<option value="WF">WALLIS AND FUTUNA</option>
														
															<option value="EH">WESTERN SAHARA</option>
														
															<option value="YE">YEMEN</option>
														
															<option value="ZM">ZAMBIA</option>
														
															<option value="ZW">ZIMBABWE</option>
														
													</select>
												</div>
											</div>
										
										</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="card box border-primary">
							<div class="card-header bg-primary text-white">
								<div class="caption">
									<i class="fa fa-address-book"></i> Shipping Address
								</div>
							</div>
							<div class="card-body">
								<div class="row static-info">
									
									<form class="form-horizontal" role="form">
										<div class="col-md-12 value">
											<div class="form-group">
												<label class="col-md-6 control-label">Same as Billing Address</label>
												<div class="col-md-6">
													<input type="checkbox" id="sameasbillingaddress" value="true" checked="">
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-3 control-label">Address Line 1 <span class="required">
																* </span></label>
												<div class="col-md-9">
													<input type="text" class="form-control" id="shipAddress1" value="">
												</div>
											</div>
										
											<div class="form-group">
												<label class="col-md-3 control-label">Address Line 2</label>
												<div class="col-md-9">
													<input type="text" class="form-control" id="shipAddress2" value="">
												</div>
											</div>
										
											<div class="form-group">
												<label class="col-md-3 control-label">Address Line 3</label>
												<div class="col-md-9">
													<input type="text" class="form-control" id="shipAddress3" value="">
												</div>
											</div>
										</div>
										<div class="col-md-12 value">
											<div class="form-group">
												<label class="col-md-3 control-label">City <span class="required">
																* </span></label>
												<div class="col-md-9">
													<input type="text" class="form-control" id="shipCity" value="">
												</div>
											</div>
										
											<div class="form-group">
												<label class="col-md-3 control-label">State</label>
												<div class="col-md-9">
													<input type="text" class="form-control" id="shipState" value="">
												</div>
											</div>
										
											<div class="form-group">
												<label class="col-md-3 control-label">PostCode</label>

												<div class="col-md-9">
													<input type="text" class="form-control" id="shipPostalCode" value="">
												</div>
											</div>
										
											<div class="form-group">
												<label class="col-md-3 control-label">Country <span class="required">
																* </span></label>
												<div class="col-md-9">
													<select class="form-control" id="shipCountryCode">
														
															<option value="AR">ARGENTINA</option>
														
															<option value="AU">AUSTRALIA</option>
														
															<option value="AT">AUSTRIA</option>
														
															<option value="AZ">AZERBAIJAN</option>
														
															<option value="BS">BAHAMAS</option>
														
															<option value="BH">BAHRAIN</option>
														
															<option value="BD">BANGLADESH</option>
														
															<option value="BB">BARBADOS</option>
														
															<option value="BY">BELARUS</option>
														
															<option value="BE">BELGIUM</option>
														
															<option value="BZ">BELIZE</option>
														
															<option value="BJ">BENIN</option>
														
															<option value="BM">BERMUDA</option>
														
															<option value="BT">BHUTAN</option>
														
															<option value="BO">BOLIVIA</option>
														
															<option value="BA">BOSNIA AND HERZEGOVINA</option>
														
															<option value="BW">BOTSWANA</option>
														
															<option value="BR">BRAZIL</option>
														
															<option value="IO">BRITISH INDIAN OCEAN TERRITORY</option>
														
															<option value="BN">BRUNEI DARUSSALAM</option>
														
															<option value="BG">BULGARIA</option>
														
															<option value="BF">BURKINA FASO</option>
														
															<option value="BI">BURUNDI</option>
														
															<option value="KH">CAMBODIA</option>
														
															<option value="CM">CAMEROON</option>
														
															<option value="CA">CANADA</option>
														
															<option value="CV">CAPE VERDE</option>
														
															<option value="KY">CAYMAN ISLANDS</option>
														
															<option value="CI">CÃ?TE D IVOIRE</option>
														
															<option value="CF">CENTRAL AFRICAN REPUBLIC</option>
														
															<option value="TD">CHAD</option>
														
															<option value="CL">CHILE</option>
														
															<option value="CN">CHINA</option>
														
															<option value="CX">CHRISTMAS ISLAND</option>
														
															<option value="CC">COCOS (KEELING) ISLANDS</option>
														
															<option value="CO">COLOMBIA</option>
														
															<option value="KM">COMOROS</option>
														
															<option value="CG">CONGO</option>
														
															<option value="CD">CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>
														
															<option value="CK">COOK ISLANDS</option>
														
															<option value="CR">COSTA RICA</option>
														
															<option value="HR">CROATIA</option>
														
															<option value="CU">CUBA</option>
														
															<option value="CY">CYPRUS</option>
														
															<option value="CZ">CZECH REPUBLIC</option>
														
															<option value="DK">DENMARK</option>
														
															<option value="DJ">DJIBOUTI</option>
														
															<option value="DM">DOMINICA</option>
														
															<option value="DO">DOMINICAN REPUBLIC</option>
														
															<option value="EC">ECUADOR</option>
														
															<option value="EG">EGYPT</option>
														
															<option value="SV">EL SALVADOR</option>
														
															<option value="GQ">EQUATORIAL GUINEA</option>
														
															<option value="ER">ERITREA</option>
														
															<option value="EE">ESTONIA</option>
														
															<option value="ET">ETHIOPIA</option>
														
															<option value="FK">FALKLAND ISLANDS (MALVINAS)</option>
														
															<option value="FO">FAROE ISLANDS</option>
														
															<option value="FJ">FIJI</option>
														
															<option value="FI">FINLAND</option>
														
															<option value="FR">FRANCE</option>
														
															<option value="GF">FRENCH GUIANA</option>
														
															<option value="PF">FRENCH POLYNESIA</option>
														
															<option value="TF">FRENCH SOUTHERN TERRITORIES</option>
														
															<option value="GA">GABON</option>
														
															<option value="GM">GAMBIA</option>
														
															<option value="GE">GEORGIA</option>
														
															<option value="DE">GERMANY</option>
														
															<option value="GH">GHANA</option>
														
															<option value="GI">GIBRALTAR</option>
														
															<option value="GR">GREECE</option>
														
															<option value="GL">GREENLAND</option>
														
															<option value="GD">GRENADA</option>
														
															<option value="GP">GUADELOUPE</option>
														
															<option value="GU">GUAM</option>
														
															<option value="GT">GUATEMALA</option>
														
															<option value="GG">GUERNSEY</option>
														
															<option value="GN">GUINEA</option>
														
															<option value="GW">GUINEA-BISSAU</option>
														
															<option value="GY">GUYANA</option>
														
															<option value="HT">HAITI</option>
														
															<option value="HM">HEARD ISLAND AND MCDONALD ISLANDS</option>
														
															<option value="VA">HOLY SEE (VATICAN CITY STATE) </option>
														
															<option value="HN">HONDURAS</option>
														
															<option value="HK">HONG KONG</option>
														
															<option value="HU">HUNGARY</option>
														
															<option value="IS">ICELAND</option>
														
															<option value="IN">INDIA</option>
														
															<option value="ID">INDONESIA</option>
														
															<option value="IR">IRAN, ISLAMIC REPUBLIC OF</option>
														
															<option value="IQ">IRAQ</option>
														
															<option value="IE">IRELAND</option>
														
															<option value="IM">ISLE OF MAN</option>
														
															<option value="IL">ISRAEL</option>
														
															<option value="IT">ITALY</option>
														
															<option value="JM">JAMAICA</option>
														
															<option value="JP">JAPAN</option>
														
															<option value="JE">JERSEY</option>
														
															<option value="JO">JORDAN</option>
														
															<option value="KZ">KAZAKHSTAN</option>
														
															<option value="KE">KENYA</option>
														
															<option value="KI">KIRIBATI</option>
														
															<option value="KP">KOREA, DEMOCRATIC PEOPLE S REPUBLIC OF</option>
														
															<option value="KR">KOREA, REPUBLIC OF</option>
														
															<option value="KW">KUWAIT</option>
														
															<option value="KG">KYRGYZSTAN</option>
														
															<option value="LA">LAO PEOPLES DEMOCRATIC REPUBLIC</option>
														
															<option value="LV">LATVIA</option>
														
															<option value="LB">LEBANON</option>
														
															<option value="LS">LESOTHO</option>
														
															<option value="LR">LIBERIA</option>
														
															<option value="LY">LIBYAN ARAB JAMAHIRIYA</option>
														
															<option value="LI">LIECHTENSTEIN</option>
														
															<option value="LT">LITHUANIA</option>
														
															<option value="LU">LUXEMBOURG</option>
														
															<option value="MO">MACAO</option>
														
															<option value="MK">MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>
														
															<option value="MG">MADAGASCAR</option>
														
															<option value="MW">MALAWI</option>
														
															<option value="MY">MALAYSIA</option>
														
															<option value="MV">MALDIVES</option>
														
															<option value="ML">MALI</option>
														
															<option value="MT">MALTA</option>
														
															<option value="MH">MARSHALL ISLANDS</option>
														
															<option value="MQ">MARTINIQUE</option>
														
															<option value="MR">MAURITANIA</option>
														
															<option value="MU">MAURITIUS</option>
														
															<option value="YT">MAYOTTE</option>
														
															<option value="MX">MEXICO</option>
														
															<option value="FM">MICRONESIA, FEDERATED STATES OF</option>
														
															<option value="MD">MOLDOVA, REPUBLIC OF</option>
														
															<option value="MC">MONACO</option>
														
															<option value="MN">MONGOLIA</option>
														
															<option value="ME">MONTENEGRO</option>
														
															<option value="MS">MONTSERRAT</option>
														
															<option value="MA">MOROCCO</option>
														
															<option value="MZ">MOZAMBIQUE</option>
														
															<option value="MM">MYANMAR</option>
														
															<option value="NA">NAMIBIA</option>
														
															<option value="NR">NAURU</option>
														
															<option value="NP">NEPAL</option>
														
															<option value="NL">NETHERLANDS</option>
														
															<option value="AN">NETHERLANDS ANTILLES</option>
														
															<option value="NC">NEW CALEDONIA</option>
														
															<option value="NZ">NEW ZEALAND</option>
														
															<option value="NI">NICARAGUA</option>
														
															<option value="NE">NIGER</option>
														
															<option value="NG">NIGERIA</option>
														
															<option value="NU">NIUE</option>
														
															<option value="NF">NORFOLK ISLAND</option>
														
															<option value="MP">NORTHERN MARIANA ISLANDS</option>
														
															<option value="NO">NORWAY</option>
														
															<option value="OM">OMAN</option>
														
															<option value="PK">PAKISTAN</option>
														
															<option value="PW">PALAU</option>
														
															<option value="PS">PALESTINIAN TERRITORY, OCCUPIED</option>
														
															<option value="PA">PANAMA</option>
														
															<option value="PG">PAPUA NEW GUINEA</option>
														
															<option value="PY">PARAGUAY</option>
														
															<option value="PE">PERU</option>
														
															<option value="PH">PHILIPPINES</option>
														
															<option value="PN">PITCAIRN</option>
														
															<option value="PL">POLAND</option>
														
															<option value="PT">PORTUGAL</option>
														
															<option value="PR">PUERTO RICO</option>
														
															<option value="QA">QATAR</option>
														
															<option value="RE">RÃ?UNION</option>
														
															<option value="RO">ROMANIA</option>
														
															<option value="RU">RUSSIAN FEDERATION</option>
														
															<option value="RW">RWANDA</option>
														
															<option value="BL">SAINT BARTHÃ?LEMY</option>
														
															<option value="SH">SAINT HELENA</option>
														
															<option value="KN">SAINT KITTS AND NEVIS</option>
														
															<option value="LC">SAINT LUCIA</option>
														
															<option value="MF">SAINT MARTIN</option>
														
															<option value="PM">SAINT PIERRE AND MIQUELON</option>
														
															<option value="VC">SAINT VINCENT AND THE GRENADINES</option>
														
															<option value="WS">SAMOA</option>
														
															<option value="SM">SAN MARINO</option>
														
															<option value="ST">SAO TOME AND PRINCIPE</option>
														
															<option value="SA">SAUDI ARABIA</option>
														
															<option value="SN">SENEGAL</option>
														
															<option value="RS">SERBIA</option>
														
															<option value="SC">SEYCHELLES</option>
														
															<option value="SL">SIERRA LEONE</option>
														
															<option value="SG">SINGAPORE</option>
														
															<option value="SK">SLOVAKIA</option>
														
															<option value="SI">SLOVENIA</option>
														
															<option value="SB">SOLOMON ISLANDS</option>
														
															<option value="SO">SOMALIA</option>
														
															<option value="ZA">SOUTH AFRICA</option>
														
															<option value="GS">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
														
															<option value="ES">SPAIN</option>
														
															<option value="LK">SRI LANKA</option>
														
															<option value="SD">SUDAN</option>
														
															<option value="SR">SURINAME</option>
														
															<option value="SJ">SVALBARD AND JAN MAYEN</option>
														
															<option value="SZ">SWAZILAND</option>
														
															<option value="SE">SWEDEN</option>
														
															<option value="CH">SWITZERLAND</option>
														
															<option value="SY">SYRIAN ARAB REPUBLIC</option>
														
															<option value="TW">TAIWAN, PROVINCE OF CHINA</option>
														
															<option value="TJ">TAJIKISTAN</option>
														
															<option value="TZ">TANZANIA, UNITED REPUBLIC OF</option>
														
															<option value="TH">THAILAND</option>
														
															<option value="TL">TIMOR-LESTE</option>
														
															<option value="TG">TOGO</option>
														
															<option value="TK">TOKELAU</option>
														
															<option value="TO">TONGA</option>
														
															<option value="TT">TRINIDAD AND TOBAGO</option>
														
															<option value="TN">TUNISIA</option>
														
															<option value="TR">TURKEY</option>
														
															<option value="TM">TURKMENISTAN</option>
														
															<option value="TC">TURKS AND CAICOS ISLANDS</option>
														
															<option value="TV">TUVALU</option>
														
															<option value="UG">UGANDA</option>
														
															<option value="UA">UKRAINE</option>
														
															<option value="AE">UNITED ARAB EMIRATES</option>
														
															<option value="GB">UNITED KINGDOM</option>
														
															<option value="US">UNITED STATES</option>
														
															<option value="UM">UNITED STATES MINOR OUTLYING ISLANDS</option>
														
															<option value="UY">URUGUAY</option>
														
															<option value="UZ">UZBEKISTAN</option>
														
															<option value="VU">VANUATU</option>
														
															<option value="VE">VENEZUELA</option>
														
															<option value="VN">VIET NAM</option>
														
															<option value="VG">VIRGIN ISLANDS, BRITISH</option>
														
															<option value="VI">VIRGIN ISLANDS, U.S.</option>
														
															<option value="WF">WALLIS AND FUTUNA</option>
														
															<option value="EH">WESTERN SAHARA</option>
														
															<option value="YE">YEMEN</option>
														
															<option value="ZM">ZAMBIA</option>
														
															<option value="ZW">ZIMBABWE</option>
														
													</select>
												</div>

											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div><br>
            <div class="row">
                    <div class="col-md-12">
                        <div class="card box border-primary">
                            <div class="card-header bg-primary text-white">
                                <div class="caption">
                                    <i class="fa fa-cubes"></i> Sale Items
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table tableFixHead table-hover order-column v2">
                                            <thead>
                                                <tr>
                                                <th>
                                                    Image
                                                </th>

                                                <th>
                                                    Product
                                                </th>
                                                <th>
                                                    SKU
                                                </th>

                                                <th>
                                                    Price
                                                </th>
                                                <th>
                                                    Quantity
                                                </th>

                                                <th>
                                                    Total
                                                </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                <tr>
                                                    <td colspan="5">

                                                    </td>
                                                    <td>
                                                        <a class="btn btn-sm btn-circle btn-default" data-toggle="modal" data-target="#item" ><i class="fa fa-plus"></i> Add New Item</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                            </div>
                        </div><br>
                    </div><br>

                    <div id="statuss" value=""></div>
                        <div class="col-md-6">
                            <div class="card box border-primary">
                                <div class="card-header bg-primary text-white">
                                    <div class="caption">
                                        <i class="fa fa-truck"></i> Shipping Charges
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form role="form">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                    <label class="control-label">Shipping Charge: </label>
                                                        <div class="input-group">
                                                            <input type="text" style="width: 99px;" class="form-control" id="shippingchargeid" value="" placeholder="Shipping Charge"><br>
                                                            <span class="input-group-btn">
                                                                <a onclick="updateshippingcharges(33)" href="javascript:void(0)">
                                                                    <button class="btn btn-sm btn-circle btn-default" type="button">Update</button>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                            <div class="form-group">
                                            <label>Shipping Service: </label>
                                            <input type="text" style="width: 220px;" class="form-control" id="shippingserviceid" value="" placeholder="Shipping Method">
                                            <select class="form-control" id="createordershippingmethodid" onchange="selectshippingmethod()">
                                                    <option value="">Please select</option>
                                                    
                                                        <option value="1^12">1^12</option>
                                                    
                                                        <option value="BPL2">BPL2</option>
                                                    
                                                        <option value="CRL24">CRL24</option>
                                                    
                                                        <option value="OLP2">OLP2</option>
                                                    
                                                        <option value="TOLP24">TOLP24</option>
                                                    
                                                        <option value="OLP1">OLP1</option>
                                                    
                                                        <option value="ISOLP">ISOLP</option>
                                                    
                                                </select>
                                            </div>
                                            </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div><br>


                        <div class="col-md-6">
                        <div class="card box border-primary">
                            <div class="card-header bg-primary text-white">
                                <div class="caption">
                                    <i class="fa fa-money"></i> Payments
                                </div>
                            </div>
                            <div class="card-body">

                            
                                    <div class="form-group">
                                        <label class="control-label">Payment method</label>
                                        <div class="">
                                            <select onchange="updatePaymentMethod(33)" class="form-control" id="paymentMethodList">
                                                <option value="card">Card</option>
                                                <option value="cash">Cash</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </div>
                                        <div class="form-group" id="otherPayment" style="display:none">
                                            <input onchange="updatePaymentMethod(33)" type="text" class="form-control" id="otherPaymentValue" placeholder="Enter payment method">
                                        </div>
                                    </div>


                                
                                        
                                    
                                            
                                            
                                    
                                

                                    <form onchange="updatePaymentMethod(33)">
                                        <label class="radio-inline"> Paid:</label>&nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline">
                                        <input type="radio" name="paymentStatus" id="paymentStatusYes" value="yes">Yes
                                        </label>&nbsp;&nbsp;
                                        <label class="radio-inline">
                                        <input type="radio" name="paymentStatus" id="paymentStatusNo" value="no" checked="">No
                                        </label>
                                    </form>

                            </div>
                            </div>
                        </div><br>


                        <div class="col-md-6" style="padding-top: 30px;">
                        <div class="card box border-primary">
                            <div class="card-header bg-primary text-white">
                                <div class="caption">
                                    <i class="fa fa-calculator"></i> Total
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row static-info align-reverse">
                                    <div class="col-md-8 name">
                                    Sub Total: 
                                    </div>
                                    <div class="col-md-1 value">

                                    </div>
                                </div>

                                <div class="row static-info align-reverse">
                                    <div class="col-md-8 name">
                                    Shipping: 
                                    </div>
                                    <div class="col-md-1">
                                    
                                    </div>
                                    <div class="col-md-1 value">

                                    </div>
                                </div>
                                <div class="row static-info align-reverse">
                                    <div class="col-md-8 name">
                                    Grand Total: 
                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>



                        <div class="col-md-12" style="padding-bottom: 10px;">
                            <div class="pull-right">
                                <a class="btn btn-sm btn-circle btn-success" href="javascript:void(0)"><i class="fa fa-check"></i> Create Order</a>
                                
                                <a onclick="removeorder(33)" class="btn btn-sm btn-circle btn-danger" href="javascript:void(0)"><i class="fa fa-times font-red"></i> Delete Order</a>
                            </div>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>


  <div class="modal fade" id="item" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h3 class="modal-title font-14 text-white">Search Products</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label">Search</label>
                    <div class="input-group">
                        <input id="searchproducttextid" class="form-control" type="text" style="width: 10px;" value="">
                        <span class="input-group-btn" style="padding-left: 10px;">
                            <a  href="javascript:void(0)">
                                <button class="btn-xs" type="button"><i class="fa fa-search"></i></button>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="searchproductresultdiv">
                    <table class="table tableFixHead table-hover order-column v2">
                        <thead>
                            <tr role="row">
                                <th class="test sorting" style="width: 120px;">Image</th>
                                <th>Title</th>
                                <th>SKU</th>
                                <th>Available Qty</th>
                                <th>Selling Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            
                                <tr>
                                    <td>
                                        <img width="40px" src="https://i.ebayimg.com/00/s/MTYwMFgxNjAw/z/1poAAOSwWF9hASls/$_32.JPG?set_id=880000500F">
                                    </td>
                                    <td style="white-space: wrap;">
                                        ELEPHANT CHAPATTIS ATTA 8 x MEDIUM FLOUR - READY MADE - 360gListed for charity
                                    </td>
                                    <td>
                                        403025571499
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        15.00
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-circle btn-default" href="javascript:void(0)" onclick="selectproductfororder(2)" style=""><i class="fa fa-check"></i> Select</a>
                                    </td>
                                </tr>
                            
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn-group float-right">
          <button type="button" class="btn btn-sm btn-dark"><i class="fa fa-envelope-o"></i> Save Changes</button>
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
        </div>
        
        
      </div>
    </div>
  </div>
</div>
</div>