<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
            <div class="col-12">
              <h3 class="mb-0">
                <i class="fa fa-barcode"></i> About Barcode Management
              </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="mt-checkbox-single mt-checkbox-outline font-11">
                  <input id="barcoeeautomaticallyadd" value="true" type="checkbox" class="checkboxs"> Automatically add unused barcodes to new products </label>
              </div>
            </div>
            <div class="col-6">
              <div class="btn-group float-right">
                <a routerLink="/bulk-actions" style="cursor: pointer" class="btn btn-sm btn-default">
                  <i class="fa fa-upload"></i> Upload New Barcodes </a>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Unused Barcodes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-11" data-toggle="tab" href="#other">Used Barcodes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-11" data-toggle="tab" href="#convertstb">Convert SKU To Barcodes</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="app_store" class="container tab-pane active">
              <br>
              <div class="row">
                <div class="col-6">
                  <b class="font-11">Manage your Product Barcodes</b>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="font-12">Unused barcodes and SKUs are displayed below</label>
                    <div class="input-group search-width-input">
                      <input type="text" class="form-control form-control-sm" placeholder="">
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-default" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="alert alert-default"> There are no unused barcodes available for your new products. Please upload a new file </div>
              <table class="table align-items-center table-flush table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th>UPC</th>
                    <th>EAN</th>
                    <th>Action</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div id="other" class="container tab-pane fade">
              <br>
              <div class="row">
                <div class="col-6">
                  <b class="font-11">Manage your Product Barcodes</b>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="font-12">Used barcodes and SKUs are displayed below</label>
                    <div class="input-group search-width-input">
                      <input type="text" class="form-control form-control-sm" placeholder="">
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-default" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <table class="table align-items-center table-flush table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th>Assigned SKU</th>
                    <th>UPC</th>
                    <th>EAN</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div id="convertstb" class="contaier tab-pane fade">
              <br />
              <div class="row">
                <div class="col-4">
                  <b class="font-11">Manage your Product Barcodes</b>
                </div>
                <div class="col-5">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="font-12">Convert SKU barcodes and SKUs are displayed below</label>
                    <div class="input-group search-width-input">
                      <input type="text" class="form-control form-control-sm" placeholder="">
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#csb" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="font-12">Export SKU Barcode</label>
                    <br />
                    <button class="btn btn-sm btn-default" type="button">Export</button>
                  </div>
                </div>
              </div>
              <table class="table align-items-center table-flush table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th>SKU</th>
                    <th>Barcode</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer py-4"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="csb" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title font-14 text-white">Sample CSV Upload Files</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="light">
          <div class="card-body">
            <table class="table table-hover order-column v2" id="usedbarcode_table">
              <thead>
                <tr>
                  <th class="sorting_asc" tabindex="0" aria-controls="usedbarcode_table" rowspan="1" colspan="1"> Image </th>
                  <th class="sorting_asc" tabindex="0" aria-controls="usedbarcode_table" rowspan="1" colspan="1"> Title </th>
                  <th class="sorting_asc" tabindex="0" aria-controls="usedbarcode_table" rowspan="1" colspan="1"> Quantity </th>
                  <th class="sorting_asc" tabindex="0" aria-controls="usedbarcode_table" rowspan="1" colspan="1"> Price </th>
                  <th class="sorting_asc" tabindex="0" aria-controls="usedbarcode_table" rowspan="1" colspan="1"> Warhouse Name </th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd gradeX" role="row">
                  <td class="sorting_1" style="vertical-align: middle;">
                    <img class="pimage" width="50px" src="./Sellershub _ Multichannel Selling_files/unknown.png" style="cursor: pointer;">
                  </td>
                  <td class="sorting_1" style="vertical-align: middle;"> Football T-Shirt </td>
                  <td class="sorting_1" style="vertical-align: middle;"> 0 </td>
                  <td class="sorting_1" style="vertical-align: middle;"> 49.95 </td>
                  <td class="sorting_1" style="vertical-align: middle;"> (----) </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn-group float-right">
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
            <i class="fa fa-times text-red"></i> Close </button>
          <!-- <button type="button" class="btn btn-sm btn-dark"><i class="fa fa-envelope-o"></i> Create Tic÷ket</button> -->
        </div>
      </div>
    </div>
  </div>
</div>