<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-12">
                <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubgoshippo.com.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label><i class="fa fa-truck"></i> Manage Shippo Shipping Settings</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="pull-right">
                    <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a>
                    <a class="btn btn-sm btn-primary btn-circle" target="_blank" href="https://www.shipstation.com/"><i class="fa fa-share font-green"></i> Create Shippo Account </a>
                    <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                </div>

            </div><br>
          </div>
        </div>

        <div class="card-body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active font-11"
                data-toggle="tab"
                href="#integration"
                >Integration</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link font-11" data-toggle="tab" href="#carriers"
                >Carriers</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link font-11" data-toggle="tab" href="#labelset"
                >Label Settings</a
              >
            </li>
          </ul>

          <div class="tab-content">
            <div id="integration" class="container tab-pane active">
              <br />
              <div class="row">
                    
                <div class="col-md-6">
                    <div class="card box border-primary">
                        <div class="card-header bg-primary text-white">
                            <div class="caption">
                                <i class="fa fa-key"></i> Shippo Account Details
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Shippo Private Auth Token </label>
                                <div>
                                    <input class="form-control" type="text" id="shipstationapikey" value="">
                                </div><br>
                                <div>
                                    <a class="btn btn-m btn-default btn-circle" href="javascript:void(0)"><i class="fa fa-exchange"></i> Test Connection</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card box border-primary">
                        <div class="card-header bg-primary text-white">
                            <div class="caption">
                                Supported Carriers
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <div class="img-thumbnail">
                                    <img style="width:120px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubups.png">
                                </div>
                                <div class="img-thumbnail">
                                    <img style="width:120px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubfedex.png">
                                </div>
                                <div class="img-thumbnail">
                                    <img style="width:120px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubdhl.png">
                                </div>
                                <div class="img-thumbnail">
                                    <img style="width:120px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubshipwire.png">
                                </div>
                                <div class="img-thumbnail">
                                    <img style="width:120px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubroyalmail.png">
                                </div>
                                <div class="img-thumbnail">
                                    <img style="width:120px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/amazonbuyshippinglogo.png">
                                </div>
                            </div>
                            <span class="help-block"> Please configure your Shippo account print labels for Shipping carriers supported by Shippo  </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding-top: 10px;">
                    <div class="card box border-primary">
                        <div class="card-header bg-primary text-white">
                            <div class="caption">
                                Please Enter From Address Details for Shipping Labels
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Name </label>
                                        <div>
                                            <input type="text" class="form-control" id="shipstationname" value="" placeholder="Enter name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Company </label>
                                        <div>
                                            <input type="text" class="form-control" id="shipstationcompany" value="" placeholder="Enter Company Name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Street Name </label>
                                        <div>
                                            <input type="text" class="form-control" id="shipstationstreet1" value="" placeholder="Enter Street">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>City </label>
                                        <div>
                                            <input type="text" class="form-control" id="shipstationcity" value="" placeholder="Enter city">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>Email </label>
                                        <div>
                                            <input type="text" class="form-control" id="shipstationemail" value="" placeholder="Enter email">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    
                                    <div class="form-group">
                                        <label>State </label>
                                        <div>
                                            <input type="text" class="form-control" id="shipstationstate" value="" placeholder="Enter state">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Zip Code </label>
                                        <div>
                                            <input type="text" class="form-control" id="shipstationzip" value="" placeholder="Enter zip">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Country </label>
                                        <div>

                                            <select class="form-control" id="shipstationcountryid">
                                                <option value="US">UNITED STATES</option>
                                                <option value="CA">CANADA</option>
                                                <option value="UK">UNITED KINGDOM</option>

                                                

                                                    <option value="AR">ARGENTINA</option>

                                                

                                                    <option value="AU">AUSTRALIA</option>

                                                

                                                    <option value="AT">AUSTRIA</option>

                                                

                                                    <option value="AZ">AZERBAIJAN</option>

                                                

                                                    <option value="BS">BAHAMAS</option>

                                                

                                                    <option value="BH">BAHRAIN</option>

                                                

                                                    <option value="BD">BANGLADESH</option>

                                                

                                                    <option value="BB">BARBADOS</option>

                                                

                                                    <option value="BY">BELARUS</option>

                                                

                                                    <option value="BE">BELGIUM</option>

                                                

                                                    <option value="BZ">BELIZE</option>

                                                

                                                    <option value="BJ">BENIN</option>

                                                

                                                    <option value="BM">BERMUDA</option>

                                                

                                                    <option value="BT">BHUTAN</option>

                                                

                                                    <option value="BO">BOLIVIA</option>

                                                

                                                    <option value="BA">BOSNIA AND HERZEGOVINA</option>

                                                

                                                    <option value="BW">BOTSWANA</option>

                                                

                                                    <option value="BR">BRAZIL</option>

                                                

                                                    <option value="IO">BRITISH INDIAN OCEAN TERRITORY</option>

                                                

                                                    <option value="BN">BRUNEI DARUSSALAM</option>

                                                

                                                    <option value="BG">BULGARIA</option>

                                                

                                                    <option value="BF">BURKINA FASO</option>

                                                

                                                    <option value="BI">BURUNDI</option>

                                                

                                                    <option value="KH">CAMBODIA</option>

                                                

                                                    <option value="CM">CAMEROON</option>

                                                

                                                    <option value="CA">CANADA</option>

                                                

                                                    <option value="CV">CAPE VERDE</option>

                                                

                                                    <option value="KY">CAYMAN ISLANDS</option>

                                                

                                                    <option value="CI">CÃ?TE D IVOIRE</option>

                                                

                                                    <option value="CF">CENTRAL AFRICAN REPUBLIC</option>

                                                

                                                    <option value="TD">CHAD</option>

                                                

                                                    <option value="CL">CHILE</option>

                                                

                                                    <option value="CN">CHINA</option>

                                                

                                                    <option value="CX">CHRISTMAS ISLAND</option>

                                                

                                                    <option value="CC">COCOS (KEELING) ISLANDS</option>

                                                

                                                    <option value="CO">COLOMBIA</option>

                                                

                                                    <option value="KM">COMOROS</option>

                                                

                                                    <option value="CG">CONGO</option>

                                                

                                                    <option value="CD">CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>

                                                

                                                    <option value="CK">COOK ISLANDS</option>

                                                

                                                    <option value="CR">COSTA RICA</option>

                                                

                                                    <option value="HR">CROATIA</option>

                                                

                                                    <option value="CU">CUBA</option>

                                                

                                                    <option value="CY">CYPRUS</option>

                                                

                                                    <option value="CZ">CZECH REPUBLIC</option>

                                                

                                                    <option value="DK">DENMARK</option>

                                                

                                                    <option value="DJ">DJIBOUTI</option>

                                                

                                                    <option value="DM">DOMINICA</option>

                                                

                                                    <option value="DO">DOMINICAN REPUBLIC</option>

                                                

                                                    <option value="EC">ECUADOR</option>

                                                

                                                    <option value="EG">EGYPT</option>

                                                

                                                    <option value="SV">EL SALVADOR</option>

                                                

                                                    <option value="GQ">EQUATORIAL GUINEA</option>

                                                

                                                    <option value="ER">ERITREA</option>

                                                

                                                    <option value="EE">ESTONIA</option>

                                                

                                                    <option value="ET">ETHIOPIA</option>

                                                

                                                    <option value="FK">FALKLAND ISLANDS (MALVINAS)</option>

                                                

                                                    <option value="FO">FAROE ISLANDS</option>

                                                

                                                    <option value="FJ">FIJI</option>

                                                

                                                    <option value="FI">FINLAND</option>

                                                

                                                    <option value="FR">FRANCE</option>

                                                

                                                    <option value="GF">FRENCH GUIANA</option>

                                                

                                                    <option value="PF">FRENCH POLYNESIA</option>

                                                

                                                    <option value="TF">FRENCH SOUTHERN TERRITORIES</option>

                                                

                                                    <option value="GA">GABON</option>

                                                

                                                    <option value="GM">GAMBIA</option>

                                                

                                                    <option value="GE">GEORGIA</option>

                                                

                                                    <option value="DE">GERMANY</option>

                                                

                                                    <option value="GH">GHANA</option>

                                                

                                                    <option value="GI">GIBRALTAR</option>

                                                

                                                    <option value="GR">GREECE</option>

                                                

                                                    <option value="GL">GREENLAND</option>

                                                

                                                    <option value="GD">GRENADA</option>

                                                

                                                    <option value="GP">GUADELOUPE</option>

                                                

                                                    <option value="GU">GUAM</option>

                                                

                                                    <option value="GT">GUATEMALA</option>

                                                

                                                    <option value="GG">GUERNSEY</option>

                                                

                                                    <option value="GN">GUINEA</option>

                                                

                                                    <option value="GW">GUINEA-BISSAU</option>

                                                

                                                    <option value="GY">GUYANA</option>

                                                

                                                    <option value="HT">HAITI</option>

                                                

                                                    <option value="HM">HEARD ISLAND AND MCDONALD ISLANDS</option>

                                                

                                                    <option value="VA">HOLY SEE (VATICAN CITY STATE) </option>

                                                

                                                    <option value="HN">HONDURAS</option>

                                                

                                                    <option value="HK">HONG KONG</option>

                                                

                                                    <option value="HU">HUNGARY</option>

                                                

                                                    <option value="IS">ICELAND</option>

                                                

                                                    <option value="IN">INDIA</option>

                                                

                                                    <option value="ID">INDONESIA</option>

                                                

                                                    <option value="IR">IRAN, ISLAMIC REPUBLIC OF</option>

                                                

                                                    <option value="IQ">IRAQ</option>

                                                

                                                    <option value="IE">IRELAND</option>

                                                

                                                    <option value="IM">ISLE OF MAN</option>

                                                

                                                    <option value="IL">ISRAEL</option>

                                                

                                                    <option value="IT">ITALY</option>

                                                

                                                    <option value="JM">JAMAICA</option>

                                                

                                                    <option value="JP">JAPAN</option>

                                                

                                                    <option value="JE">JERSEY</option>

                                                

                                                    <option value="JO">JORDAN</option>

                                                

                                                    <option value="KZ">KAZAKHSTAN</option>

                                                

                                                    <option value="KE">KENYA</option>

                                                

                                                    <option value="KI">KIRIBATI</option>

                                                

                                                    <option value="KP">KOREA, DEMOCRATIC PEOPLE S REPUBLIC OF</option>

                                                

                                                    <option value="KR">KOREA, REPUBLIC OF</option>

                                                

                                                    <option value="KW">KUWAIT</option>

                                                

                                                    <option value="KG">KYRGYZSTAN</option>

                                                

                                                    <option value="LA">LAO PEOPLES DEMOCRATIC REPUBLIC</option>

                                                

                                                    <option value="LV">LATVIA</option>

                                                

                                                    <option value="LB">LEBANON</option>

                                                

                                                    <option value="LS">LESOTHO</option>

                                                

                                                    <option value="LR">LIBERIA</option>

                                                

                                                    <option value="LY">LIBYAN ARAB JAMAHIRIYA</option>

                                                

                                                    <option value="LI">LIECHTENSTEIN</option>

                                                

                                                    <option value="LT">LITHUANIA</option>

                                                

                                                    <option value="LU">LUXEMBOURG</option>

                                                

                                                    <option value="MO">MACAO</option>

                                                

                                                    <option value="MK">MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>

                                                

                                                    <option value="MG">MADAGASCAR</option>

                                                

                                                    <option value="MW">MALAWI</option>

                                                

                                                    <option value="MY">MALAYSIA</option>

                                                

                                                    <option value="MV">MALDIVES</option>

                                                

                                                    <option value="ML">MALI</option>

                                                

                                                    <option value="MT">MALTA</option>

                                                

                                                    <option value="MH">MARSHALL ISLANDS</option>

                                                

                                                    <option value="MQ">MARTINIQUE</option>

                                                

                                                    <option value="MR">MAURITANIA</option>

                                                

                                                    <option value="MU">MAURITIUS</option>

                                                

                                                    <option value="YT">MAYOTTE</option>

                                                

                                                    <option value="MX">MEXICO</option>

                                                

                                                    <option value="FM">MICRONESIA, FEDERATED STATES OF</option>

                                                

                                                    <option value="MD">MOLDOVA, REPUBLIC OF</option>

                                                

                                                    <option value="MC">MONACO</option>

                                                

                                                    <option value="MN">MONGOLIA</option>

                                                

                                                    <option value="ME">MONTENEGRO</option>

                                                

                                                    <option value="MS">MONTSERRAT</option>

                                                

                                                    <option value="MA">MOROCCO</option>

                                                

                                                    <option value="MZ">MOZAMBIQUE</option>

                                                

                                                    <option value="MM">MYANMAR</option>

                                                

                                                    <option value="NA">NAMIBIA</option>

                                                

                                                    <option value="NR">NAURU</option>

                                                

                                                    <option value="NP">NEPAL</option>

                                                

                                                    <option value="NL">NETHERLANDS</option>

                                                

                                                    <option value="AN">NETHERLANDS ANTILLES</option>

                                                

                                                    <option value="NC">NEW CALEDONIA</option>

                                                

                                                    <option value="NZ">NEW ZEALAND</option>

                                                

                                                    <option value="NI">NICARAGUA</option>

                                                

                                                    <option value="NE">NIGER</option>

                                                

                                                    <option value="NG">NIGERIA</option>

                                                

                                                    <option value="NU">NIUE</option>

                                                

                                                    <option value="NF">NORFOLK ISLAND</option>

                                                

                                                    <option value="MP">NORTHERN MARIANA ISLANDS</option>

                                                

                                                    <option value="NO">NORWAY</option>

                                                

                                                    <option value="OM">OMAN</option>

                                                

                                                    <option value="PK">PAKISTAN</option>

                                                

                                                    <option value="PW">PALAU</option>

                                                

                                                    <option value="PS">PALESTINIAN TERRITORY, OCCUPIED</option>

                                                

                                                    <option value="PA">PANAMA</option>

                                                

                                                    <option value="PG">PAPUA NEW GUINEA</option>

                                                

                                                    <option value="PY">PARAGUAY</option>

                                                

                                                    <option value="PE">PERU</option>

                                                

                                                    <option value="PH">PHILIPPINES</option>

                                                

                                                    <option value="PN">PITCAIRN</option>

                                                

                                                    <option value="PL">POLAND</option>

                                                

                                                    <option value="PT">PORTUGAL</option>

                                                

                                                    <option value="PR">PUERTO RICO</option>

                                                

                                                    <option value="QA">QATAR</option>

                                                

                                                    <option value="RE">RÃ?UNION</option>

                                                

                                                    <option value="RO">ROMANIA</option>

                                                

                                                    <option value="RU">RUSSIAN FEDERATION</option>

                                                

                                                    <option value="RW">RWANDA</option>

                                                

                                                    <option value="BL">SAINT BARTHÃ?LEMY</option>

                                                

                                                    <option value="SH">SAINT HELENA</option>

                                                

                                                    <option value="KN">SAINT KITTS AND NEVIS</option>

                                                

                                                    <option value="LC">SAINT LUCIA</option>

                                                

                                                    <option value="MF">SAINT MARTIN</option>

                                                

                                                    <option value="PM">SAINT PIERRE AND MIQUELON</option>

                                                

                                                    <option value="VC">SAINT VINCENT AND THE GRENADINES</option>

                                                

                                                    <option value="WS">SAMOA</option>

                                                

                                                    <option value="SM">SAN MARINO</option>

                                                

                                                    <option value="ST">SAO TOME AND PRINCIPE</option>

                                                

                                                    <option value="SA">SAUDI ARABIA</option>

                                                

                                                    <option value="SN">SENEGAL</option>

                                                

                                                    <option value="RS">SERBIA</option>

                                                

                                                    <option value="SC">SEYCHELLES</option>

                                                

                                                    <option value="SL">SIERRA LEONE</option>

                                                

                                                    <option value="SG">SINGAPORE</option>

                                                

                                                    <option value="SK">SLOVAKIA</option>

                                                

                                                    <option value="SI">SLOVENIA</option>

                                                

                                                    <option value="SB">SOLOMON ISLANDS</option>

                                                

                                                    <option value="SO">SOMALIA</option>

                                                

                                                    <option value="ZA">SOUTH AFRICA</option>

                                                

                                                    <option value="GS">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>

                                                

                                                    <option value="ES">SPAIN</option>

                                                

                                                    <option value="LK">SRI LANKA</option>

                                                

                                                    <option value="SD">SUDAN</option>

                                                

                                                    <option value="SR">SURINAME</option>

                                                

                                                    <option value="SJ">SVALBARD AND JAN MAYEN</option>

                                                

                                                    <option value="SZ">SWAZILAND</option>

                                                

                                                    <option value="SE">SWEDEN</option>

                                                

                                                    <option value="CH">SWITZERLAND</option>

                                                

                                                    <option value="SY">SYRIAN ARAB REPUBLIC</option>

                                                

                                                    <option value="TW">TAIWAN, PROVINCE OF CHINA</option>

                                                

                                                    <option value="TJ">TAJIKISTAN</option>

                                                

                                                    <option value="TZ">TANZANIA, UNITED REPUBLIC OF</option>

                                                

                                                    <option value="TH">THAILAND</option>

                                                

                                                    <option value="TL">TIMOR-LESTE</option>

                                                

                                                    <option value="TG">TOGO</option>

                                                

                                                    <option value="TK">TOKELAU</option>

                                                

                                                    <option value="TO">TONGA</option>

                                                

                                                    <option value="TT">TRINIDAD AND TOBAGO</option>

                                                

                                                    <option value="TN">TUNISIA</option>

                                                

                                                    <option value="TR">TURKEY</option>

                                                

                                                    <option value="TM">TURKMENISTAN</option>

                                                

                                                    <option value="TC">TURKS AND CAICOS ISLANDS</option>

                                                

                                                    <option value="TV">TUVALU</option>

                                                

                                                    <option value="UG">UGANDA</option>

                                                

                                                    <option value="UA">UKRAINE</option>

                                                

                                                    <option value="AE">UNITED ARAB EMIRATES</option>

                                                

                                                    <option value="GB">UNITED KINGDOM</option>

                                                

                                                    <option value="US">UNITED STATES</option>

                                                

                                                    <option value="UM">UNITED STATES MINOR OUTLYING ISLANDS</option>

                                                

                                                    <option value="UY">URUGUAY</option>

                                                

                                                    <option value="UZ">UZBEKISTAN</option>

                                                

                                                    <option value="VU">VANUATU</option>

                                                

                                                    <option value="VE">VENEZUELA</option>

                                                

                                                    <option value="VN">VIET NAM</option>

                                                

                                                    <option value="VG">VIRGIN ISLANDS, BRITISH</option>

                                                

                                                    <option value="VI">VIRGIN ISLANDS, U.S.</option>

                                                

                                                    <option value="WF">WALLIS AND FUTUNA</option>

                                                

                                                    <option value="EH">WESTERN SAHARA</option>

                                                

                                                    <option value="YE">YEMEN</option>

                                                

                                                    <option value="ZM">ZAMBIA</option>

                                                

                                                    <option value="ZW">ZIMBABWE</option>

                                                

                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Phone </label>
                                        <div>
                                            <input type="text" class="form-control" id="shipstationphone" value="" placeholder="Enter Phone">
                                        </div>
                                    </div>

                                </div>
                </div>
            </div>
        </div>
                </div>
                </div>
              </div>
            <div id="carriers" class="container tab-pane fade">
              <br />
              <div >
                Please enable carriers applicable for your ShipStation Account
              </div><br>
              <div class="table-scrollable">
              <table class="table align-items-center table-bordered">
               <thead>
			<tr>
				<th>Enable</th>
				<th>Carrier</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td>
					<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
						<input type="checkbox" id="fedexselect">
						<span></span>
					</label>
				</td>
				<td>
					<img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubfedex.png">
				</td>
			</tr>
			<tr>
				<td>
					<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
						<input type="checkbox" id="upsselect">
						<span></span>
					</label>
				</td>
				<td>
					<img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubups.png">
				</td>
			</tr>
			<tr>
				<td>
					<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
						<input type="checkbox" id="dhlselect">
						<span></span>
					</label>
				</td>
				<td>
					<img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubdhl.png">
				</td>
			</tr>
			<tr>
				<td>
					<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
						<input type="checkbox" id="shipwireselect">
						<span></span>
					</label>
				</td>
				<td>
					<img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubshipwire.png">
				</td>
			</tr>
			<tr>
				<td>
					<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
						<input type="checkbox" id="royalmailselect">
						<span></span>
					</label>
				</td>
				<td>
					<img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubroyalmail.png">
				</td>
			</tr>
			<tr>
                <td>
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" id="amazonshippingselect">
                        <span></span>
                    </label>
                </td>
                <td>
                    <img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/amazonbuyshippinglogo.png">
                </td>
            </tr>
		</tbody>

              </table>
             </div> 
            </div>

            
            <div id="labelset" class="container tab-pane fade">
              <br />
              <div class="row">
            <div class="card-body">
                <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <div class="col-md-8" style="float: left;">
                                <label class="control-label">Label Text</label>
                                <textarea class="form-control" id="royalmaillabeltextid" rows="30">${label!}</textarea>
                            </div>
                            <div class="col-md-4 " style="float: right;" >
                                

                                <h4>Select a Pre Configured Label</h4>

                                <div class="form-group " >
                                    <div class="text-center">
                                        <div class="img-thumbnail">
                                            <a  href="javascript:void(0)">
                                                <img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/images/shippinglabels/S11_2.png">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="img-thumbnail">
                                            <a  href="javascript:void(0)">
                                                <img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/images/shippinglabels/singleB.png">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-primary   btn-block"  href="javascript:void(0)">Click for More Labels</a>


                                <div class="alert alert-warning " >
                                    If a different integrated label format is required, please send us the new format details to add into your account
                                </div>
                            </div>
                        </div>
                </form>
                </div>
                <div class="well">

                    <h3>Please use the following fields to customize the label text</h3>

                    <ul>

                         <li><strong>${{ '{' }}shipping_label!{{ '}' }}</strong>&nbsp;- This will show the postage label</li>
                        <li><strong>${{ '{' }}order_lines!{{ '}' }}</strong>&nbsp;- This will show the invoice table</li>

                        <li><strong>${{ '{' }}shippingname!{{ '}' }}</strong>&nbsp;- This will show the shipping contact</li> 
                        <li><strong>${{ '{' }}address_line1!{{ '}' }}</strong>&nbsp;- This will show the shipping address line one</li>
                        <li><strong>${{ '{' }}address_line2!{{ '}' }}</strong>&nbsp;- This will show the shipping address line two</li>
                        <li><strong>${{ '{' }}address_line3!{{ '}' }}</strong>&nbsp;- This will show the shipping address line three</li>
                        <li><strong>${{ '{' }}city!{{ '}' }}</strong>&nbsp;- This will show the city</li>
                        <li><strong>${{ '{' }}state!{{ '}' }}</strong>&nbsp;- This will show the state</li>
                        <li><strong>${{ '{' }}postcode!{{ '}' }}</strong>&nbsp;- This will show the postcode</li>
                        <li><strong>${{ '{' }}country!{{ '}' }}</strong>&nbsp;- This will show the country</li>

                        <li><strong>${{ '{' }}order_date!{{ '}' }}</strong>&nbsp;- This will show order date</li>
                        <li><strong>${{ '{' }}invoice_no!{{ '}' }}</strong>&nbsp;- This will show invoice number</li>


                        <li><strong>${{ '{' }}billing_shippingname!{{ '}' }}</strong>&nbsp;- This will show the billing contact</li>
                        <li><strong>${{ '{' }}billing_address_line1!{{ '}' }}</strong>&nbsp;- This will show the billing address line one</li>
                        <li><strong>${{ '{' }}billing_address_line2!{{ '}' }}</strong>&nbsp;- This will show the billing address line two</li>
                        <li><strong>${{ '{' }}billing_address_line3!{{ '}' }}</strong>&nbsp;- This will show the billing address line three</li>
                        <li><strong>${{ '{' }}billing_city!{{ '}' }}</strong>&nbsp;- This will show the billing city</li>
                        <li><strong>${{ '{' }}billing_state!{{ '}' }}</strong>&nbsp;- This will show the billing state</li>
                        <li><strong>${{ '{' }}billing_postcode!{{ '}' }}</strong>&nbsp;- This will show the billing postcode</li>
                        <li><strong>${{ '{' }}billing_country!{{ '}' }}</strong>&nbsp;- This will show the billing country</li> 
                    </ul>

                </div>
            </div>
	
          </div>
        </div>

        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
