<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-12">
                <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubfedex.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label><i class="fa fa-truck"></i> Manage Fedex Integration</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="pull-right">
                    <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a>
                    <a class="btn btn-sm btn-primary btn-circle" target="_blank" href="https://www.shipstation.com/"><i class="fa fa-share font-green"></i> Request Access </a>
                    <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                </div>

            </div><br>
          </div>
        </div>

        <div class="card-body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active font-11"
                data-toggle="tab"
                href="#integration"
                >Integration</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link font-11" data-toggle="tab" href="#carriers"
                >Carriers</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link font-11" data-toggle="tab" href="#labelset"
                >Label Settings</a
              >
            </li>
          </ul>

          <div class="tab-content">
            <div id="integration" class="container tab-pane active">
              <br />
              <div class="row">
                <div class="card-body form">
                    <!-----------------------------Form Start----------------------------------->
                    <div class="card box ">
                        <div class="card transparent">
                            <div class="card-body form">
                                <div class="row">
                                    <form class="" role="form">
                                        <div class="col-md-12">
                                        <h4 class="bold"> Fedex Account Details </h4>
                                            <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Account Number</label>
                                                    <input class="form-control form-control-sm" type="text" id="accountNumber" value="">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Meter Number</label>
                                                <div class="">
                                                    <input class="form-control" type="text" id="meterNumber" value="">
                                                </div>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Fedex Key</label>
                                                <div class="">
                                                    <input class="form-control" type="text" id="clientKey" value="">
                                                </div>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Fedex Password</label>
                                                <div class="">
                                                    <input class="form-control" type="password" id="clientPassword" value="">
                                                </div>
                                            </div>
                                            </div>
                                            </div>
                                            <hr>
                                        </div>
                                        
                                        <div class="col-md-12">
                                                <h4 class="bold">Pickup Address Details</h4>
                                                    <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Title <span class="required"> * </span></label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="title" value="">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Name <span class="required"> * </span></label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="personName" value="">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Company Name <span class="required"> * </span></label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="companyName" value="">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Address Line 1 <span class="required"> * </span></label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="addressLine1" value="">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Address Line 2 </label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="addressLine2" value="">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Address Line 3 </label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="addressLine3" value="">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">City <span class="required"> * </span></label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="city" value="">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">State/Province Code <span class="required"> * </span></label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="stateOrProvinceCode" value="">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Postalcode <span class="required"> * </span></label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="postalCode" value="">
                                                            </div>
                                                        </div></div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Urbanization Code <span class="required"> * </span></label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="urbanizationCode" value="">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Country Code <span class="required"> * </span></label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="countryCode" value="">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Country Name <span class="required"> * </span></label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="countryName" value="">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Contact Number <span class="required"> * </span></label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="phoneNumber" value="">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Toll free Number </label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="tollFreePhoneNumber" value="">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Fax Number </label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="faxNumber" value="">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Email Address <span class="required"> * </span></label>
                                                            <div class="">
                                                                <input class="form-control" type="text" id="emailAddress" value="">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        
                                                    
                                                
                                            </form>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
              </div>
            <div id="carriers" class="container tab-pane fade">
              <br />
              <div >
                Please enable services applicable for your Fedex Account
              </div><br>
              <div class="table-scrollable">
              <table class="table align-items-center table-bordered">
                  <thead>
                    <tr>
                        <th>Service Code</th>
                        <th>Service Name</th>
                        <th>Enabledasd</th>

                    </tr>
                </thead>
                <tbody>
                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="EFIP" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                EFIP
                            </td>
                            <td>
                                EUROPE_FIRST_INTERNATIONAL_PRIORITY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="F1DF" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                F1DF
                            </td>
                            <td>
                                FEDEX_1_DAY_FREIGHT
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="F2DY" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                F2DY
                            </td>
                            <td>
                                FEDEX_2_DAY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="F2DA" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                F2DA
                            </td>
                            <td>
                                FEDEX_2_DAY_AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="F2DF" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                F2DF
                            </td>
                            <td>
                                FEDEX_2_DAY_FREIGHT
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="F3DF" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                F3DF
                            </td>
                            <td>
                                FEDEX_3_DAY_FREIGHT
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="FDDF" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                FDDF
                            </td>
                            <td>
                                FEDEX_DISTANCE_DEFERRED
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="FESV" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                FESV
                            </td>
                            <td>
                                FEDEX_EXPRESS_SAVER
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="FFFR" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                FFFR
                            </td>
                            <td>
                                FEDEX_FIRST_FREIGHT
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="FFEC" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                FFEC
                            </td>
                            <td>
                                FEDEX_FREIGHT_ECONOMY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="FFPT" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                FFPT
                            </td>
                            <td>
                                FEDEX_FREIGHT_PRIORITY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="FGRD" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                FGRD
                            </td>
                            <td>
                                FEDEX_GROUND
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="FNDA" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                FNDA
                            </td>
                            <td>
                                FEDEX_NEXT_DAY_AFTERNOON
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="NDEM" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                NDEM
                            </td>
                            <td>
                                FEDEX_NEXT_DAY_EARLY_MORNING
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="NDED" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                NDED
                            </td>
                            <td>
                                FEDEX_NEXT_DAY_END_OF_DAY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="FNDF" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                FNDF
                            </td>
                            <td>
                                FEDEX_NEXT_DAY_FREIGHT
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="NDMM" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                NDMM
                            </td>
                            <td>
                                FEDEX_NEXT_DAY_MID_MORNING
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="FOVN" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                FOVN
                            </td>
                            <td>
                                FIRST_OVERNIGHT
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="GHDY" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                GHDY
                            </td>
                            <td>
                                GROUND_HOME_DELIVERY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="INEC" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                INEC
                            </td>
                            <td>
                                INTERNATIONAL_ECONOMY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="INEF" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                INEF
                            </td>
                            <td>
                                INTERNATIONAL_ECONOMY_FREIGHT
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="IFST" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                IFST
                            </td>
                            <td>
                                INTERNATIONAL_FIRST
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="INPT" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                INPT
                            </td>
                            <td>
                                INTERNATIONAL_PRIORITY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="INPF" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                INPF
                            </td>
                            <td>
                                INTERNATIONAL_PRIORITY_FREIGHT
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="PONT" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                PONT
                            </td>
                            <td>
                                PRIORITY_OVERNIGHT
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="SDAY" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                SDAY
                            </td>
                            <td>
                                SAME_DAY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="SDCT" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                SDCT
                            </td>
                            <td>
                                SAME_DAY_CITY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="SPST" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                SPST
                            </td>
                            <td>
                                SMART_POST
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="SOVN" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                SOVN
                            </td>
                            <td>
                                STANDARD_OVERNIGHT
                            </td>
                        </tr>

                    

                </tbody>
              </table>
             </div> 
            </div>

            
            <div id="labelset" class="container tab-pane fade">
              <br />
              <div class="row">
            <div class="card-body">
                <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <div class="col-md-8" style="float: left;">
                                <label class="control-label">Label Text</label>
                                <textarea class="form-control" id="royalmaillabeltextid" rows="30">${label!}</textarea>
                            </div>
                            <div class="col-md-4 " style="float: right;" >
                                

                                <h4>Select a Pre Configured Label</h4>

                                <div class="form-group " >
                                    <div class="text-center">
                                        <div class="img-thumbnail">
                                            <a  href="javascript:void(0)">
                                                <img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/images/shippinglabels/S11_2.png">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="img-thumbnail">
                                            <a  href="javascript:void(0)">
                                                <img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/images/shippinglabels/singleB.png">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-primary   btn-block"  href="javascript:void(0)">Click for More Labels</a>


                                <div class="alert alert-warning " >
                                    If a different integrated label format is required, please send us the new format details to add into your account
                                </div>
                            </div>
                        </div>
                </form>
                </div>
                <div class="well">

                    <h3>Please use the following fields to customize the label text</h3>

                    <ul>

                         <li><strong>${{ '{' }}shipping_label!{{ '}' }}</strong>&nbsp;- This will show the postage label</li>
                        <li><strong>${{ '{' }}order_lines!{{ '}' }}</strong>&nbsp;- This will show the invoice table</li>

                        <li><strong>${{ '{' }}shippingname!{{ '}' }}</strong>&nbsp;- This will show the shipping contact</li> 
                        <li><strong>${{ '{' }}address_line1!{{ '}' }}</strong>&nbsp;- This will show the shipping address line one</li>
                        <li><strong>${{ '{' }}address_line2!{{ '}' }}</strong>&nbsp;- This will show the shipping address line two</li>
                        <li><strong>${{ '{' }}address_line3!{{ '}' }}</strong>&nbsp;- This will show the shipping address line three</li>
                        <li><strong>${{ '{' }}city!{{ '}' }}</strong>&nbsp;- This will show the city</li>
                        <li><strong>${{ '{' }}state!{{ '}' }}</strong>&nbsp;- This will show the state</li>
                        <li><strong>${{ '{' }}postcode!{{ '}' }}</strong>&nbsp;- This will show the postcode</li>
                        <li><strong>${{ '{' }}country!{{ '}' }}</strong>&nbsp;- This will show the country</li>

                        <li><strong>${{ '{' }}order_date!{{ '}' }}</strong>&nbsp;- This will show order date</li>
                        <li><strong>${{ '{' }}invoice_no!{{ '}' }}</strong>&nbsp;- This will show invoice number</li>


                        <li><strong>${{ '{' }}billing_shippingname!{{ '}' }}</strong>&nbsp;- This will show the billing contact</li>
                        <li><strong>${{ '{' }}billing_address_line1!{{ '}' }}</strong>&nbsp;- This will show the billing address line one</li>
                        <li><strong>${{ '{' }}billing_address_line2!{{ '}' }}</strong>&nbsp;- This will show the billing address line two</li>
                        <li><strong>${{ '{' }}billing_address_line3!{{ '}' }}</strong>&nbsp;- This will show the billing address line three</li>
                        <li><strong>${{ '{' }}billing_city!{{ '}' }}</strong>&nbsp;- This will show the billing city</li>
                        <li><strong>${{ '{' }}billing_state!{{ '}' }}</strong>&nbsp;- This will show the billing state</li>
                        <li><strong>${{ '{' }}billing_postcode!{{ '}' }}</strong>&nbsp;- This will show the billing postcode</li>
                        <li><strong>${{ '{' }}billing_country!{{ '}' }}</strong>&nbsp;- This will show the billing country</li> 
                    </ul>

                </div>
            </div>
	
          </div>
        </div>

        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
