<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
            <div class="page-content-wrapper" >
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content" >
                    <!-- MEW IO -->
                      <div class="row">
                            <div class="col-md-7 col-sm-12" style="margin-top: 10px;">
                              <label>What's New </label> 
                           </div>
                       </div>   
                    <!-- NEW UI -->     
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN THEME PANEL -->
            
                    <div id="maindivid">
            
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light">
                                    
                                    <div class="portlet-body">
                                        <h3> What's New  <i class="fa fa-bullhorn"></i></h3> 
                                        <p>This page contains key information on new features and improvements of Sellershub.io for the year 2021.</p>
                                    </div>
            
            <div class="doc">
                <div id="content"><div id="changelog-content">
            
                 <h2>September</h2>
                 <br>
                 <table style="width: 100%;">
                     <tbody>
                          <tr>
                             <td style="width: 80px;"><img src="https://i.postimg.cc/NMt1KWqn/UPDATE.png"  width="80" height="20"></td>
                             <td style="width: 100%;"><strong>&nbsp; Royal Mail Click and Drop</strong></td>
                          </tr>
                          <tr>
                             <td style="width: 757px;" colspan="2">
                             <p><span>In Royal Mail Click and Drop Updated with the all new services See more <a rel="noopener" href="" target="">here</a>.&nbsp;</span><span style="color: #87a6c5; font-size: 80%;">-&nbsp;<span>August 17, 2021</span></span></p>
                              </td>
                          </tr>
                     </tbody>
                 </table>
            
            
             <div style="line-height: 100%; visibility: hidden;">&nbsp;</div>
             <table style="width: 100%;" >
            
               <div style="line-height: 100%; visibility: hidden;">&nbsp;</div>
               <table style="width: 100%;">
                      <tbody>
                             <tr>
                                 <td style="width: 80px;"><img src="https://i.postimg.cc/g25s2S09/new.png"  width="80" height="20"></td>
                                 <td style="width: 100%;"><strong>&nbsp; Gift messages</strong></td>
                             </tr>
            
                             <tr>
                                 <td style="width: 757px;" colspan="2">
                                     <p><span>Checkout Message/ Gift messages in sales order page <a rel="noopener" href="" target="">See more here.</a></           span>&nbsp;</p>
                                </td>
                            </tr>
                        </tbody>
               </table>
            
            
                    
                                
                                
                     
                            <!-- END CONTENT -->
                            <!-- BEGIN QUICK SIDEBAR -->
            
            
            
            
                        <!-- END CONTAINER -->
                        <!-- BEGIN FOOTER -->
            
     
 
  
