<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
                <div class="col-5"><h3> Purchase Order</h3></div>
                <div class="col-7">
                    <div class="pull-right">
                        <a class="btn btn-sm btn-danger btn-circle"  href="#purchaseorder"><i class="fa fa-times font-red"></i> Close</a>		
                    </div>
                </div>
          </div>
        </div>
        
        <div class="card-body">

            <div class="tab-content">
                <div id="app_store" class="container tab-pane active"><br>
                  <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label>Select Supplier </label>
                                <select id="supplierid" class="form-control form-control-sm">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Warehouse </label>
                                <select id="warehouseid" class="form-control form-control-sm">
                                    
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                            <input type="hidden" id="orderheaderid" value="4">
                                <label class="control-label">Purchase Order No</label>
                                <input type="text" class="form-control form-control-sm" id="poid" name="name" size="8" value="PO_4">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Currency</label>
                                <select id="currencyId" class="form-control form-control-sm">
                                    
                                    <option selected="" value=""></option>
                                
                                    </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Reference Number</label>
                                <input type="text" class="form-control form-control-sm" size="8" id="poref" value="">
                            </div>
                        </div>

                    </div>
                    <input type="hidden" id="orderstatus" value="Ordering">
                    <!--/row-->
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Tax Pencentage</label>
                                <input class="form-control form-control-sm" type="text" id="headerpercent" size="8" value="0.0">
                                
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Stock required Date : </label>           
                            <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input class="form-control form-control-sm datepicker" placeholder="From" name="dp" type="text"/>
                          </div>
                            </div>
                            </div>
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Message to Supplier</label>
                                <textarea id="msgtosplr" rows="3" class="form-control form-control-sm"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--/row--
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Shipping Address Name</label>
                                <input type="text" class="form-control form-control-sm" id="addressname" value="">
                                <label class="control-label">Shipping Address Line1</label>
                                <input type="text" class="form-control form-control-sm"  id="addressline1" value="">
                                <label class="control-label">Shipping Address Line2 </label>
                                <input type="text" class="form-control form-control-sm" id="addressline2" value="">
                                <label class="control-label">Tracking Number </label>
                                <input type="text" class="form-control form-control-sm" id="tackingnumber" value="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Shipping Address Line3</label>
                                <input type="text" class="form-control form-control-sm" id="addressline3" value="">
                                <label class="control-label">Shipping City</label>
                                <input type="text" class="form-control form-control-sm" id="city" value="">
                                <label class="control-label">Shipping State</label>
                                <input type="text" class="form-control form-control-sm" id="state" value="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Shipping Country</label>
                                <input type="text" class="form-control form-control-sm" id="country"  value="">
                                <label class="control-label">Shipping PostCode</label>
                                <input type="text" class="form-control form-control-sm" id="postcode" value="">
                                <label class="control-label">Shipping Carrier</label>
                                <input type="text" class="form-control form-control-sm" id="shipcarrier" value="">
                            </div>
                            
                        </div>
                        <ul class="list-inline pull-right">
                            <li></li>
                        </ul>
                        
                    </div> -->
                    <button type="button" class="btn btn-sm btn-success pull-right"> Save and continue <i class="fa fa-angle-right"></i></button>
                    <!--/row-->
                        
                
            
            <!-- END FORM-->
        </div>
                </div>
        </div>

        <!-- <div class="card-footer py-4">
            <button type="button" class="btn btn-circle btn-success pull-right"> Save and continue <i class="fa fa-angle-right"></i></button>
          </div> -->
      </div>
    </div>
  </div>
  
</div>