.form-wizard .steps {padding:0px; }
.form-wizard .steps>li>a.step>.number {  background-color: #ffffff;    padding: 6px;    margin-right: 10px;    height: 30px;    width: 30px; }
.form-wizard .steps>li>a.step>.desc, .form-wizard .steps>li>a.step>.number {    display: inline-block;    font-size: 12px;    font-weight: 500; }
.form-wizard .steps, .form-wizard .steps>li>a.step { background-color:#eff2f8;}
.form-wizard.wizard-inner { background-color:#eff2f8; border: 1px solid #e3e8f0;}
.form-wizard .steps>li.active>a.step .number {    background-color: #f4ae33;    color: #fff; }
.form-control {    border-radius: 3px !important;}
.form-wizard .steps {  margin-bottom: 1px; }