<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-6">
                <h3 class="mb-0"><i class="fa fa-truck"></i> Suppliers</h3>
              </div>
              <div class="col-6">
                <div class="input-group search-width-input float-right">
                    <input type="text" class="form-control form-control-sm" placeholder="Enter Supplier Name To Search">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                    </div>
                    <a class="btn btn-secondary btn-sm" style="margin-left: 10px !important;" routerLink="/suppliers"><i class="fa fa-arrow-left"></i> Back</a>
                </div>
                
              </div>
            </div>
        </div>
        
        <div class="card-body">

            <div class="panel panel-primary">
                <div class="panel-heading">Manage Suppliers</div>
                <div class="panel-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-11" data-toggle="tab" href="#other">Suppliers Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-11" data-toggle="tab" href="#po">Purchase Orders</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="app_store" class="container tab-pane active"><br>
                            <div class="row box-info-supplier">
                                <div class="col-8">
                                    <h3 class="font-12">Update Supplier Details</h3>
                                </div>
                                <div class="col-4">
                                    <div class="btn-group float-right">
                                        <button class="btn btn-sm btn-default" type="button"><i class="fa fa-save"></i> Save</button>
                                        <a routerLink="/suppliers" class="btn btn-sm btn-danger">Close</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label class="control-label font-12">Name</label>
                                  <input type="text" class="form-control form-control-sm" id="suppliername" value="" placeholder="Supplier Name">
                                </div>
                                <div class="form-group">
                                  <label class="control-label font-12">Code</label>
                                  <input type="text" class="form-control form-control-sm" id="suppliercode" value="PEMFH8JHJN" placeholder="Code">
                                </div>
                                <div class="form-group">
                                  <label class="control-label font-12">Email</label>
                                  <input type="text" class="form-control form-control-sm" id="supplieremail" value="" placeholder="Email Address">
                                </div>
                                <div class="form-group">
                                  <label class="control-label font-12">Phone</label>
                                  <input type="text" class="form-control form-control-sm" id="supplierphone" value="" placeholder="Phone Number">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label class="control-label font-12">Address Line 1</label>
                                  <input type="text" class="form-control form-control-sm" id="supplieraddressline1" value="" placeholder="Address Line 1">
                                </div>
                                <div class="form-group">
                                  <label class="control-label font-12">Address Line 2</label>
                                  <input type="text" class="form-control form-control-sm" id="supplieraddressline2" value="" placeholder="Address Line 2">
                                </div>
                                <div class="form-group">
                                  <label class="control-label font-12">Address Line 3</label>
                                  <input type="text" class="form-control form-control-sm" id="supplieraddressline3" value="" placeholder="Address Line Three">
                                </div>
                                <div class="form-group">
                                  <label class="control-label font-12">City</label>
                                  <input type="text" class="form-control form-control-sm" id="suppliercity" value="" placeholder="City">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label class="control-label font-12">State</label>
                                  <input type="text" class="form-control form-control-sm" id="supplierstate" value="" placeholder="State">
                                </div>
                                <div class="form-group">
                                  <label class="control-label font-12">Postcode</label>
                                  <input type="text" class="form-control form-control-sm" id="supplierpostcode" value="" placeholder="Postcoe">
                                </div>
                                <div class="form-group">
                                  <label class="control-label font-12">Country</label>
                                  <input type="text" class="form-control form-control-sm" id="suppliercountry" value="" placeholder="Country">
                                </div>
                              </div>
                            </div>
                        </div>
                        <div id="other" class="container tab-pane fade"><br>
                            <div class="row box-info-supplier">
                                <div class="col-4">
                                    <h3 class="font-12">Supplier Products are shown below</h3>
                                </div>
                                <div class="col-8">
                                    <div class="btn-group float-right">
                                        <button class="btn btn-sm btn-default" type="button"><i class="fa fa-upload"></i> Import Supplier Products</button>
                                        <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-plus-circle"></i> Add Products</button>
                                        <button class="btn btn-sm btn-success" type="button">Save</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>	
                                        <th> SKU </th>
                                        <th> SUPPLIERSKU </th>
                                        <th> SUPPLIERID</th>
                                        <th> COSTPRICE </th>
                                        <th> MIN VALUE </th>
                                        <th> MAX VALUE </th>
                                        <th> QUANTITY</th>
                                    </tr>
                                </thead>
                                <tbody class="mytbid">
                                </tbody>
                            </table>
                        </div>
                        <div id="po" class="container tab-pane fade"><br>
                            <div class="row box-info-supplier">
                                <div class="col-4">
                                    <h3 class="font-12">Purchase Orders</h3>
                                </div>
                                <div class="col-8">
                                    <div class="btn-group float-right">
                                        <button class="btn btn-sm btn-default" type="button"><i class="fa fa-check-circle"></i> Create PO</button>
                                    </div>
                                </div>
                            </div>

                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th> Order No </th>
                                        <th> Supplier Email </th>
                                        <th> Order Status </th>
                                        <th> Reference No </th>
                                        <th> Amount </th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="6">
                                            <div class="alert alert-warning"><i class="fa fa-info-circle"> </i>No data to display</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            
            

            <div class="modal fade" id="newSupplierModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header bg-info">
                      <h5 class="modal-title font-14 text-white">Manage Suppliers</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1" class="font-12">Email</label>
                            <input type="email" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Email address">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1" class="font-12">First Name</label>
                            <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="First Name">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1" class="font-12">Second Name</label>
                            <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Second Name">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1" class="font-12">Address Line One</label>
                            <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Address Line 1">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1" class="font-12">Address Line Two</label>
                            <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Address Line 2">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1" class="font-12">Notes</label>
                            <textarea class="form-control form-control-sm" placeholder="Notes"></textarea>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1" class="font-12">Address Line Three</label>
                            <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Address Line 3">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1" class="font-12">City</label>
                            <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="City">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1" class="font-12">State/Country</label>
                            <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="State">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1" class="font-12">Postcode/Zipcode</label>
                            <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Postcode">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1" class="font-12">Country</label>
                            <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Country">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1" class="font-12">Priority</label>
                            <select name="priority" class="form-control form-control-sm">
                              <option value="General">General</option>
                              <option value="Follow Up">Follow Up</option>
                              <option value="High Performance">High Performance</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="btn-group float-right">
                        <button type="button" class="btn btn-sm btn-success"><i class="fa fa-check-circle"></i> Save</button>
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                      </div>
                      
                      
                    </div>
                  </div>
                </div>
              </div>

            
            
        </div>

        <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
      </div>
    </div>
  </div>
  
</div>