<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-12">
                <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubukmail.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label><i class="fa fa-truck"></i> Manage UKMail Integration</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="pull-right">
                    <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a>
                    <a class="btn btn-sm btn-primary btn-circle" target="_blank" href="https://emea.netdespatch.com/ilogin.php3"><i class="fa fa-share font-green"></i> Manifest </a>
                    <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                </div>

            </div><br>
          </div>
        </div>

        <div class="card-body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active font-11"
                data-toggle="tab"
                href="#integration"
                >Integration</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link font-11" data-toggle="tab" href="#shipservice"
                >Shipping Services</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link font-11" data-toggle="tab" href="#labelset"
                >Label Settings</a
              >
            </li>
          </ul>

          <div class="tab-content">
            <div id="integration" class="container tab-pane active">
              <br />
                <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card box border-primary">
                        <div class="card-header  bg-primary text-white">
                            <div class="caption">
                                <i class="fa fa-truck"></i> UKMail Account Details
                            </div>
                        </div>

                        <div class="card-body">
                             <form class="" role="form">
                                    <div class="form-group">
                                    <label>Account Number</label>
                                    <input class="form-control" type="text" id="dpdCustomerId" value="">
                                        </div>

                                    <div class="form-group">
                                        <label>API Username</label>
                                        <input class="form-control" type="text" id="dpdUserName" value="">
                                    </div>

                                    <div class="form-group">
                                        <label>API Password</label>
                                        <input class="form-control" type="password" id="dpdPassword" value="">
                                    </div>
                                    <div class="alert" style="background-color: #51DBFF;">
                                    <label></label>
                                            <span class="help-block">If you would like to print  test labels, please enter below account details</span><br>
                                            <span class="help-block"><strong>Account Number :</strong> 222222222</span><br>
                                            <span class="help-block"><strong>API Username   :</strong> ukmailtest</span><br>
                                            <span class="help-block"><strong>API Password   :</strong> ukmailtest</span><br>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 pull-right">
                        <div class="card box  border-primary">
                            <div class="card-header bg-primary text-white ">
                                <div class="caption">
                                    <i class="fa fa-truck"></i>  Pickup Address Details
                                </div>
                            </div>

                        <div class="card-body">
                            <form class="form-horizontal" role="form">
                            <div class="">

                                <div class="form-group">
                                        <label>Pickup Contact Name <span class="required"> * </span></label>
                                        <input class="form-control" type="text" id="dpdPickupContactName" value="">
                                </div>

                                <div class="form-group">
                                    <label>Pickup Phone Number <span class="required"> * </span></label>
                                    <input class="form-control" type="text" id="dpdPickPhone" value="">
                                </div>


                                <div class="form-group">
                                        <label>Pickup Building <span class="required"> * </span></label>
                                        <input class="form-control" type="text" id="dpdPickupBuilding" value="">
                                </div>

                                <div class="form-group">
                                    <label>Pickup Street <span class="required"> * </span></label>
                                    <input class="form-control" type="text" id="dpdPickupStreet" value="">
                                </div>


                                <div class="form-group">
                                    <label>Pickup Locality <span class="required"> * </span></label>
                                    <input class="form-control" type="text" id="dpdPickupLocality" value="">
                                </div>

                                <div class="form-group">
                                        <label>Pickup Town <span class="required"> * </span></label>
                                    <input class="form-control" type="text" id="dpdPickupTown" value="">
                                </div>


                                <div class="form-group">
                                        <label>Pickup Postcode <span class="required"> * </span></label>
                                            <input class="form-control" type="text" id="dpdPickupZip" value="">
                                </div>


                                <div class="form-group">
                                        <label>Pickup Country <span class="required"> * </span></label>
                                            <input class="form-control" type="text" id="dpdPickupCountry" value="">
                                </div>


                                    <div class="form-group">
                                            <label>Pickup Country Code<span class="required"> * </span></label>
                                                <input class="form-control" type="text" id="dpdPickupCountryCode" value="">
                                    </div>
                                                                                                                                            </div>
                                </form>																	
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div id="shipservice" class="container tab-pane fade">
              <br />
              <div >
                Please enable services applicable for your UKMail Account
              </div><br>
              <div class="table-scrollable">
              <table class="table align-items-center table-bordered">
                <thead>
                    <tr>
                        <th>Enabled</th>
                        <th>Service Code</th>
                        <th>Service Name</th>
                    </tr>
                </thead>
                <tbody>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="1" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                (  1) NEXT DAY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="2" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                2
                            </td>
                            <td>
                                (  2) NEXT DAY BY NOON
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="3" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                (  3) NEXT DAY BY 9AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="9" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                9
                            </td>
                            <td>
                                (  9) NEXT DAY - BY 10:30AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="10" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                ( 10) - Bagit XL - NEXT DAY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="11" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                11
                            </td>
                            <td>
                                ( 11) - Bagit XL - BY NOON
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="12" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                12
                            </td>
                            <td>
                                ( 12) - Bagit XL - BY 9AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="19" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                19
                            </td>
                            <td>
                                ( 19) - Bagit XL - BY 10:30 AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="20" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                20
                            </td>
                            <td>
                                ( 20) - Bagit L - NEXT DAY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="21" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                21
                            </td>
                            <td>
                                ( 21) - Bagit L - BY NOON
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="22" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                22
                            </td>
                            <td>
                                ( 22) - Bagit L - BY 9AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="29" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                29
                            </td>
                            <td>
                                ( 29) - Bagit L - BY 10:30AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="30" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                30
                            </td>
                            <td>
                                ( 30) - Bagit M - NEXT DAY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="31" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                31
                            </td>
                            <td>
                                ( 31) - Bagit M - BY NOON
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="32" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                32
                            </td>
                            <td>
                                ( 32) - Bagit M - BY 9AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="39" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                39
                            </td>
                            <td>
                                ( 39) - Bagit M - BY 10:30 AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="40" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                40
                            </td>
                            <td>
                                ( 40) - Bagit S - NEXT DAY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="41" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                41
                            </td>
                            <td>
                                ( 41) - Bagit S - BY NOON
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="42" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                42
                            </td>
                            <td>
                                ( 42) - Bagit S - BY 9AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="48" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                48
                            </td>
                            <td>
                                ( 48) PREMIER 48
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="49" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                49
                            </td>
                            <td>
                                ( 49) - Bagit S - BY 10:30AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="72" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                72
                            </td>
                            <td>
                                ( 72) PREMIER 72
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="OR" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                OR
                            </td>
                            <td>
                                (1-OR) - Swapout - NEXT DAY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="MR" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                MR
                            </td>
                            <td>
                                (2-MR) - Swapout - BY NOON
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="XR" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                XR
                            </td>
                            <td>
                                (9-XR) - Swapout BY 10:30AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="210" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                210
                            </td>
                            <td>
                                210 - Signature Opt. - ALL DAY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="211" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                211
                            </td>
                            <td>
                                211 - Signature Opt - AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="212" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                212
                            </td>
                            <td>
                                212 - Signature Opt. - BY10:30
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="213" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                213
                            </td>
                            <td>
                                213 - Signature Opt. - PM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="214" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                214
                            </td>
                            <td>
                                214 - Signature Opt. - EVENING
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="223" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                223
                            </td>
                            <td>
                                223 - Signature Mand. - PM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="224" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                224
                            </td>
                            <td>
                                224 - Signature Mand.- EVENING
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="340" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                340
                            </td>
                            <td>
                                340 - Boxit M - NEXT DAY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="341" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                341
                            </td>
                            <td>
                                341 - Boxit M - BY NOON
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="342" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                342
                            </td>
                            <td>
                                342 - Boxit M - BY 9 AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="349" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                349
                            </td>
                            <td>
                                349 - Boxit M - By 10:30
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="360" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                360
                            </td>
                            <td>
                                360 - Boxit L - NEXT DAY
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="361" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                361
                            </td>
                            <td>
                                361 - Boxit L - BY NOON
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="362" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                362
                            </td>
                            <td>
                                362 - Boxit L - BY 9AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="369" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                369
                            </td>
                            <td>
                                369 - Boxit L - BY 10:30AM
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="F" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                F
                            </td>
                            <td>
                                F - Next Day by 09:00
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="M" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                M
                            </td>
                            <td>
                                M - Next Day by 12:00
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="O" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                O
                            </td>
                            <td>
                                O - Next Day
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="OY" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                OY
                            </td>
                            <td>
                                OY - Winetrak Overnight
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="X" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                X
                            </td>
                            <td>
                                X - Next Day by 10:30
                            </td>
                        </tr>

                    

                </tbody>
              </table>
             </div> 
            </div>

            
            <div id="labelset" class="container tab-pane fade">
              <br />
              <div class="">
                  <div class="table-scrollable">
                    <table class="table tableFixHead table-hover order-column v2">
                        <thead>
                            <tr>
                                <th> Label </th>

                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Default </td>

                                <td> <a href="javascript:void(0)" class="btn btn-sm btn-default btn-circle"><i class="fa fa-edit"></i>Edit</a> </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
