<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-1">
            <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Subscription Plan</h3>
                </div>
                <div class="col-4">
                  <a routerLink="/manage-subscriptions" class="btn btn-sm btn-default float-right"><i class="fa fa-arrow-left"></i> Back</a>
                </div>
              </div>
          </div>
          
          <div class="card-body">
              
            
              <div class="pricing-content-1">
                <div class="row">
                <div class="col-4 plan">
                  <div class="price-column-container border-active">
                    <div class="price-table-head bg-blue header" id="header_1">
                      <h2 class="no-margin text-white">Business</h2>
                    </div>
                    <div class="arrow-down border-top-blue border-top-blue"></div>
                    <!-- <span>Upto 6000 SKUs - 5000 orders per month </span> -->
                    <div class="price-table-pricing">
                      <h3>
                        <sup class="price-sign"> USD </sup>109
                      </h3>
                      <p>
                        <span>
                          <input type="hidden" id="sandboxid" value="">
                          <span> Per Month </span>
                        </span>
                      </p>
                    </div>
                    <div class="price-table-content">
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-user"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Upto 5 User</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-drawer"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Upto 6000 SKU</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-printer"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">5000 Orders a month</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-direction"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Upto 5 channels (e.g eBay,Amazon, Shopify etc)</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-direction"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Charge for each additional channel USD20</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-direction"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Upto 5 Users</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-refresh"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Upto 5 channel integrations</div>
                      </div>
                    </div>
                    <div class="arrow-down arrow-grey"></div>
                    <div class="price-table-footer">
                      <a onclick="showpaymentmethods(202)" href="javascript:void(0)" class="btn btn-sm btn-default btn-circle"> Sign Up <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-4 plan">
                  <div class="price-column-container border-active">
                    <div class="price-table-head bg-yellow header" id="header_2">
                      <h2 class="no-margin text-white">Professional</h2>
                    </div>
                    <div class="arrow-down border-top-yellow-gold border-top-yellow"></div>
                    <!-- <span>Upto 12000 SKUs - 10000 orders per month </span> -->
                    <div class="price-table-pricing">
                      <h3>
                        <sup class="price-sign"> USD </sup>179
                      </h3>
                      <p>
                        <span>
                          <input type="hidden" id="sandboxid" value="">
                          <span> Per Month </span>
                        </span>
                      </p>
                    </div>
                    <div class="price-table-content">
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-user"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Upto 10 User</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-drawer"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Upto 12000 SKU</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-printer"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">10000 Orders a month</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-direction"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Upto 8 channels (e.g eBay,Amazon, Shopify etc)</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-direction"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Charge for each additional channel USD20</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-direction"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Upto 10 users</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-refresh"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Upto 8 channel integrations</div>
                      </div>
                    </div>
                    <div class="arrow-down arrow-grey"></div>
                    <div class="price-table-footer">
                      <a onclick="showpaymentmethods(203)" href="javascript:void(0)" class="btn btn-sm btn-default btn-circle"> Sign Up <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-4 plan">
                  <div class="price-column-container border-active">
                    <div class="price-table-head bg-green header" id="header_3">
                      <h2 class="no-margin text-white">KartzHub US Corporate Plan</h2>
                    </div>
                    <div class="arrow-down border-top-green border-top-green"></div>
                    <!-- <span>Upto 50000 SKUs - 12000 orders per month </span> -->
                    <div class="price-table-pricing">
                      <h3>
                        <sup class="price-sign"> USD </sup>250
                      </h3>
                      <p>
                        <span>
                          <input type="hidden" id="sandboxid" value="">
                          <span> Per Month </span>
                        </span>
                      </p>
                      <div class="price-ribbon">Popular</div>
                    </div>
                    <div class="price-table-content">
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-user"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Upto 10 User</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-drawer"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Upto 50000 SKU</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-printer"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">12000 Orders a month</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-direction"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Upto 50 channels (e.g eBay,Amazon, Shopify etc)</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-direction"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Charge for each additional channel USD0</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-direction"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Unlimited SKU's</div>
                      </div>
                      <div class="row mobile-padding">
                        <div class="col-xs-3 text-right mobile-padding">
                          <i class="icon-refresh"></i>
                        </div>
                        <div class="col-xs-9 text-left mobile-padding">Unlimited Channel Integrations</div>
                      </div>
                    </div>
                    <div class="arrow-down arrow-grey"></div>
                    <div class="price-table-footer">
                      <a onclick="showpaymentmethods(338)" href="javascript:void(0)" class="btn btn-sm btn-default btn-circle"> Sign Up <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
             </div>
            </div>

          </div>
  
          <div class="card-footer py-4">
              
            </div>
        </div>
      </div>
    </div>
    
  </div>