<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
              <div class="col-12">
                <h3 class="mb-0">Manage Pickup List</h3>
              </div>
            </div>
        </div>
        <div class="card-body">
           Coming Soon &nbsp; 
        </div>
        <div class="card-footer py-3">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
  
</div>
