<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-12">
                <h3 class="mb-0"><i class="fa fa-tags"></i> Edit Shipping Labels for the channel:</h3>
              </div>
            </div>
        </div>
        
        
        <div  id="bodyid">

            <div class="row">
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM card-->
                    <div class="card box">
                        <div class="card-body form">
                                    <div class="card transparent">
                                        <div class="card-header">
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubebay.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <!-- <label><i class="fa fa-truck"></i> Manage DPD Integration</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                        
                                                    <div class="pull-right">
                                                        <a class="btn btn-sm btn-circle btn-default" target="_blank" ><i class="fa fa-image"></i> Preview</a>
                                                        <a class="btn btn-sm btn-success btn-circle" href="javascript:void(0)"><i class="fa fa-check"></i> Save</a>
                                                        <a class="btn btn-sm btn-default btn-circle" ><i class="fa fa-times font-red"></i> Close</a>	
                                                    </div>
                        
                                                </div><br>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-7 form-horizontal">
                                                <div class="card-body form">
                                                <form role="form">
                                                
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <label>Label Text </label>
                                                            <!-- <editor
                                                                apiKey="3gek4kbjbw1x1ymh8rm76x017i31n5kxul87yok3761qhdc1"
                                                                [init]="{
                                                                    height: 300,
                                                                    menubar: true,
                                                                    plugins: ['advlist autolink lists link image charmap print preview anchor','searchreplace visualblocks code fullscreen','insertdatetime media table paste code help wordcount'],
                                                                    toolbar:'undo redo | formatselect | bold italic backcolor | \
                                                                    alignleft aligncenter alignright alignjustify | \
                                                                    bullist numlist outdent indent | removeformat | help'
                                                                }"
                                                                ></editor> -->
                                                            
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-md-4 control-label">Label Width (mm) Default 83mm</label>
                                                            <div class="col-md-8">
                                                               <input id="labelWidth" type="text" class="form-control" value="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-md-4 control-label">Label Height (mm)  Default 96.7mm</label>
                                                            <div class="col-md-8">
                                                                <input id="labelHeight" type="text" class="form-control" value="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-md-1 control-label"></label>
                                                            <div class="col-md-3">
                                                                <label class="mt-checkbox mt-checkbox-outline">
                                                                    <input id="showTaxAmount" type="checkbox"> Show Tax Amount
                                                                    <span></span>
                                                                </label>
                                                            </div>
                                                            <div class="col-md-8">
                                                               <input id="taxAmount" type="text" placeholder="Tax amount" class="form-control" value="">
                                                            </div>
                                                        </div>
                                                            
                                                    </div>
                                                    <div class="form-body">
                                                        <div class="col-md-6">
                                                            
                                                        </div>
                                                    </div>
                                                </form></div>
                                            </div>
                                            <div class="col-md-5">
                                                <p style="padding-top: 25px;"><strong>Available Fields</strong></p>
                                                <table class="table table-responsive table-striped table-bordered table-hover order-column" id="table-left">

                                                <tbody><tr>
                                                    <td>Shipping Name</td>
                                                    <td><a href="javascript:void(0)">${{ '{' }}shippingname!{{ '}' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Shipping Address Line One</td>
                                                    <td><a href="javascript:void(0)">${{ '{' }}address_line1!{{ '}' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td> Shipping Address Line Two</td>
                                                    <td> <a href="javascript:void(0)">${{ '{' }}address_line2!{{ '}' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Shipping Address Line Three</td>
                                                    <td><a href="javascript:void(0)">${{ '{' }}address_line3!{{ '}' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Shipping City</td>
                                                    <td><a href="javascript:void(0)">${{ '{' }}city!{{ '}' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Shipping State/County</td>
                                                    <td><a href="javascript:void(0)">${{ '{' }}state!{{ '}' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Shipping Zip Code/Post Code</td>
                                                    <td><a href="javascript:void(0)">${{ '{' }}postcode!{{ '}' }}</a></td>
                                                </tr>

                                                <tr>
                                                    <td>Shipping Country</td>
                                                    <td><a href="javascript:void(0)">${{ '{' }}country!{{ '}' }}</a></td>
                                                </tr>

                                                <tr>
                                                    <td>eBay Order Record Number</td>
                                                    <td><a href="javascript:void(0)">${{ '{' }}ebay_record_number!{{ '}' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Total Order Price</td>
                                                    <td><a href="javascript:void(0)">${{ '{' }}total_price!{{ '}' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td> Quantity</td>
                                                    <td><a href="javascript:void(0)">${{ '{' }}qty!{{ '}' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td> Sku</td>
                                                    <td><a href="javascript:void(0)">${{ '{' }}sku!{{ '}' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td> Gift Message</td>
                                                    <td><a href="javascript:void(0)">${{ '{' }}giftmessage!{{ '}' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Shipping Charge</td>
                                                    <td><a href="javascript:void(0)">${{ '{' }}shipping_charges!{{ '}' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Order Id</td>
                                                    <td> <a href="javascript:void(0)">${{ '{' }}order_id!{{ '}' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Title</td>
                                                    <td> <a href="javascript:void(0)">${{ '{' }}qty_sku_title_list!{{ '}' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Royal Mail PPI Image</td>
                                                    <td><a href="javascript:void(0)">${{ '{' }}royalmail_ppi{{ '}' }}</a></td>
                                                </tr>

                                                </tbody></table>
                                                </div>
                                            
                                                
                                            </div>
                                    </div>
                        </div>  
                    </div>
                </div>
            </div>

        </div>



        <!-- <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div> -->
      </div>
    </div>
  </div>
  
</div>
