<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-12">
                <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubyodel.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label><i class="fa fa-truck"></i> Manage Yodel Integration</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="pull-right">
                    <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a>
                    <a class="btn btn-sm btn-primary btn-circle" target="_blank" href=""><i class="fa fa-share font-green"></i> Request Access </a>
                    <a class="btn btn-sm btn-primary btn-circle" target="_blank" href="https://emea.netdespatch.com/ilogin.php3"><i class="fa fa-share font-green"></i> Manifest </a>
                    <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                </div>

            </div><br>
          </div>
        </div>

        <div class="card-body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active font-11"
                data-toggle="tab"
                href="#integration"
                >Integration</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link font-11" data-toggle="tab" href="#shipservice"
                >Shipping Services</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link font-11" data-toggle="tab" href="#labelset"
                >Label Settings</a
              >
            </li>
          </ul>

          <div class="tab-content">
            <div id="integration" class="container tab-pane active">
              <br />
                <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card box border-primary">
                        <div class="card-header  bg-primary text-white">
                            <div class="caption">
                                <i class="fa fa-truck"></i> Yodel Account Details
                            </div>
                        </div>

                        <div class="card-body">
                             <form class="" role="form">
                                    <div class="form-group">
                                    <label>Account Number</label>
                                    <input class="form-control" type="text" id="dpdCustomerId" value="">
                                        </div>

                                    <div class="form-group">
                                        <label>API Username</label>
                                        <input class="form-control" type="text" id="dpdUserName" value="">
                                    </div>

                                    <div class="form-group">
                                        <label>API Password</label>
                                        <input class="form-control" type="password" id="dpdPassword" value="">
                                    </div>
                                    <div class="alert" style="background-color: #51DBFF;">
                                    <label></label>
                                            <span class="help-block">If you would like to print  test labels, please enter below account details</span><br>
                                            <span class="help-block"><strong>Account Number :</strong> 222222222</span><br>
                                            <span class="help-block"><strong>API Username   :</strong> yodeltest</span><br>
                                            <span class="help-block"><strong>API Password   :</strong> yodeltest</span><br>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 pull-right">
                        <div class="card box  border-primary">
                            <div class="card-header bg-primary text-white ">
                                <div class="caption">
                                    <i class="fa fa-truck"></i>  Pickup Address Details
                                </div>
                            </div>

                        <div class="card-body">
                            <form class="form-horizontal" role="form">
                            <div class="">

                                <div class="form-group">
                                        <label> Contact Name <span class="required"> * </span></label>
                                        <input class="form-control" type="text" id="dpdPickupContactName" value="">
                                </div>

                                <div class="form-group">
                                    <label>Company Name <span class="required"> * </span></label>
                                    <input class="form-control" type="text" id="dpdPickPhone" value="">
                                </div>


                                <div class="form-group">
                                        <label>Street Name <span class="required"> * </span></label>
                                        <input class="form-control" type="text" id="dpdPickupBuilding" value="">
                                </div>

                                <div class="form-group">
                                    <label>Pickup Town <span class="required"> * </span></label>
                                    <input class="form-control" type="text" id="dpdPickupStreet" value="">
                                </div>


                                <div class="form-group">
                                    <label>Pickup Postcode  <span class="required"> * </span></label>
                                    <input class="form-control" type="text" id="dpdPickupLocality" value="">
                                </div>

                                <div class="form-group">
                                        <label>Contact Phone Number  <span class="required"> * </span></label>
                                    <input class="form-control" type="text" id="dpdPickupTown" value="">
                                </div>
                                                                                                                                            </div>
                                </form>																	
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div id="shipservice" class="container tab-pane fade">
              <br />
              <div >
                Please enable services applicable for your Yodel Account
              </div><br>
              <div class="table-scrollable">
              <table class="table align-items-center table-bordered">
                <thead>
                    <tr>
                        <th>Enabled</th>
                        <th>Service Code</th>
                        <th>Service Name</th>
                    </tr>
                </thead>
                <tbody>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="DIA" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                DIA
                            </td>
                            <td>
                                Priority 10:00 (10)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="NOON" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                NOON
                            </td>
                            <td>
                                Priority 12:00 (12)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="SAT" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                SAT
                            </td>
                            <td>
                                Saturday 12:00 (12S)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="1EXP" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                1EXP
                            </td>
                            <td>
                                UK Expect 24 POD (1EXP)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="ISLE" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                ISLE
                            </td>
                            <td>
                                UK Express (Isle) (ISLE)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="STD" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                STD
                            </td>
                            <td>
                                UK Express 24 (1E)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="1EB" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                1EB
                            </td>
                            <td>
                                UK Express 24 NI INT (1EB)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="1EU" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                1EU
                            </td>
                            <td>
                                UK Express 24 UK (1EU)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="ECO" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                ECO
                            </td>
                            <td>
                                UK Express 48 (ECO)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="NIS" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                NIS
                            </td>
                            <td>
                                UK Express 48 NI (2EN)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="STSA" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                STSA
                            </td>
                            <td>
                                UK Express Saturday 12 (1ES)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="HDN" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                HDN
                            </td>
                            <td>
                                UK Home Delivery 24 (1H)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="1HB" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                1HB
                            </td>
                            <td>
                                UK Home Delivery 24 BT (1HB)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="HECO" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                HECO
                            </td>
                            <td>
                                UK Home Delivery 48 (HECO)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="2HB" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                2HB
                            </td>
                            <td>
                                UK Home Delivery 48 BT (2HB)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="2HN" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                2HN
                            </td>
                            <td>
                                UK Home Delivery 48 (NI)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="HDPA" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                HDPA
                            </td>
                            <td>
                                UK Home Delivery 72 (3H)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="HIPA" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                HIPA
                            </td>
                            <td>
                                UK Home Delivery 72 NI (3HN)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="5HCT" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                5HCT
                            </td>
                            <td>
                                UK Home Delivery Catalogue (5HCT)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="HSAT" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                HSAT
                            </td>
                            <td>
                                UK Home Delivery Saturday (HSAT)
                            </td>
                        </tr>

                    

                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input name="rmshippinglabelservicecode" value="PACK" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                PACK
                            </td>
                            <td>
                                UK Packet Service (3HPA)
                            </td>
                        </tr>

                    

                </tbody>

              </table>
             </div> 
            </div>

            
            <div id="labelset" class="container tab-pane fade">
              <br />
              <div class="">
                  <div class="table-scrollable">
                    <table class="table tableFixHead table-hover order-column v2">
                        <thead>
                            <tr>
                                <th> Label </th>

                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Default </td>

                                <td> <a href="javascript:void(0)" class="btn btn-sm btn-default btn-circle"><i class="fa fa-edit"></i>Edit</a> </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
