<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-2">
                <h3 class="mb-0">Stock Transfer</h3>
              </div>
            </div>
        </div>

        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr role="row">
                <th>
                    <input id="productselectallid" type="checkbox" class="group-checkable" data-set="#products_table .checkboxes">
                </th>
                <th> Image </th>
                <th> SKU </th>
                <th> Title </th>
                <th> Source </th>
                <th> Destination </th>
                <th> Quantity </th>
                <th> Initiated On </th>
                <th> Status </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
              <tr class="odd gradeX" role="row">
                <td style="vertical-align: middle;">
                    <input type="checkbox" name="products_table" id="productid2" value="2" class="checkboxes">
                    <input type="checkbox" name="skus" value="SKU1" class="skus" hidden="">
                </td>
                
                <td class="sorting_1" style="vertical-align: middle;">
                                                    
                     
                      <img class="pimage"  width="50px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/emptyimage.jpg" style="cursor: pointer;">
                    
                     
          
                   
                </td>
                <td style="vertical-align: middle;" class="titleclass">
                  9634265
                </td>
                
              
                <td style="vertical-align: middle;" class="titleclass">
                  gbg
                </td>
                
                <td style="vertical-align: middle;" class="titleclass">
                  Ajay <br> X-Y-Z
                </td>
                 
                  <td style="vertical-align: middle;" class="titleclass">
                  Vams<br> --
                </td>
                <td style="vertical-align: middle;" class="titleclass">
                  1
                </td>
                <td style="vertical-align: middle;" class="titleclass">
                14-09-2021
                  
                </td>
                <td style="vertical-align: middle;" class="titleclass">
                  INPROGRESS
                  
                  
                    On 19-09-2021
                  
                </td>
                <td style="white-space: normal;">
                  <div class="actions">	
                    
                      
                  <!--a class="btn btn-sm btn-circle btn-default" href="javascript:void(0)" onclick="editstock(9634265)"><i class="fa fa-edit"></i> Edit</a-->
                  
                  
                  <a class="btn btn-sm btn-circle btn-default" href="javascript:void(0)"><i class="fa fa-edit"></i>Mark InComplete</a>&nbsp;&nbsp;&nbsp;

                  
                  <a class="btn btn-sm btn-circle btn-default" href="javascript:void(0)"><i class="fa fa-edit"></i>Mark Complete</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                
                  <a class="btn btn-sm btn-circle btn-default" href="javascript:void(0)" ><i class="fa fa-edit"></i>Cancel</a><br>
                  
                        
                  </div>	
                </td>
              
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
</div>
