<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
              <div class="col-sm-5">
                LAZADA LISTING TEMPLATE - STEP 1 OF 2
              </div>
              <div class="col-7 text-right">
                <div class="float-right">
                    <a onclick="history.back();" class="btn btn-sm btn-secondary"><i class="fa fa-angle-left"></i> Back</a>
                </div>
                
              </div>
            </div>
        </div>
        
        <div class="card-body">
            <ul class="nav new-nav new-nav-tabs nav-tabs" role="tablist">
                <li class="nav-item-">
                    <a id="theone" class="nav-link active" data-toggle="tab" href="#one"><span class="numberCircle"><span>1</span></span> Category Setup</a>
                </li>
                <li class="nav-item-">
                    <a id="thetwo" class="nav-link" data-toggle="tab" href="#two"><span class="numberCircle"><span>2</span></span> Mandatory Information</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="one" class="container tab-pane active"><br />
                    <label>Provide Listing Categorydetails</label>
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <table>
                                <tr>
                                    <td>Template Name <sup style="color: red;">*</sup></td><td><input type="text" placeholder="Enter Template Name" class="form-control form-control-sm" /></td>
                                </tr>
                                <tr>
                                    <td>Listing Category <sup style="color: red;">*</sup></td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" readonly="" class="form-control form-control-sm" id="lazadacategory" name="lazada_category" value="">
                                            <span class="input-group-btn">
                                              <button class="btn-xs" type="button">Categories</button>
                                            </span>
                                          </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="btn-group float-right mt-20">
                        <button type="button" (click)="switchtabTwo()" class="btn btn-sm btn-default">Continue <i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
                <div id="two" class="container tab-pane fade">
                    <div class="row mb-20">
                        <div class="col-sm-12 padding-10">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Brand</label>
                                <select class="bs-select form-control form-control-sm" name="lazada_brand" id="lazada_brand" data-live-search="true" data-size="8" tabindex="-98">
                                    <option value="2K Games">2K Games</option>
                                    <option value="3D Crystal Puzzle">3D Crystal Puzzle</option>
                                    <option value="3M">3M</option>
                                    <option value="ABBA">ABBA</option>
                                    <option value="Acer">Acer</option>
                                    <option value="Actiontec">Actiontec</option>
                                    <option value="Activa">Activa</option>
                                    <option value="Active Care Plus">Active Care Plus</option>
                                    <option value="Active Pure">Active Pure</option>
                                    <option value="Activision">Activision</option>
                                    <option value="Adaptec Inc">Adaptec Inc</option>
                                    <option value="AddLogix">AddLogix</option>
                                    <option value="ADDON">ADDON</option>
                                    <option value="Addonics">Addonics</option>
                                    <option value="Adesso">Adesso</option>
                                    <option value="Adobe">Adobe</option>
                                    <option value="Adora">Adora</option>
                                    <option value="Adtran">Adtran</option>
                                    <option value="Advance Tabco">Advance Tabco</option>
                                    <option value="AEG">AEG</option>
                                    <option value="AFK">AFK</option>
                                    <option value="Aga">Aga</option>
                                    <option value="Agama">Agama</option>
                                    <option value="Agfa">Agfa</option>
                                    <option value="AGFA Photo">AGFA Photo</option>
                                    <option value="AGIP">AGIP</option>
                                    <option value="AGK Nordic">AGK Nordic</option>
                                    <option value="AGPtek">AGPtek</option>
                                    <option value="Aipo">Aipo</option>
                                    <option value="Aiptek">Aiptek</option>
                                    <option value="AirPort">AirPort</option>
                                    <option value="AiShiMas">AiShiMas</option>
                                    <option value="Aitech">Aitech</option>
                                    <option value="Aiwa">Aiwa</option>
                                    <option value="Akai">Akai</option>
                                    <option value="AKG">AKG</option>
                                    <option value="Al Ikhwah">Al Ikhwah</option>
                                    <option value="Aladdin">Aladdin</option>
                                    <option value="Alaska">Alaska</option>
                                    <option value="Albrecht">Albrecht</option>
                                    <option value="Alcatel">Alcatel</option>
                                    <option value="Alcom">Alcom</option>
                                    <option value="Alera">Alera</option>
                                    <option value="Alia">Alia</option>
                                    <option value="Alienware">Alienware</option>
                                    <option value="All Ride">All Ride</option>
                                    <option value="Allerhand">Allerhand</option>
                                    <option value="ALLIANCE">ALLIANCE</option>
                                    <option value="Allied Telesis">Allied Telesis</option>
                                    <option value="Allnet">Allnet</option>
                                    <option value="Allsop">Allsop</option>
                                    <option value="Almo">Almo</option>
                                    <option value="Alpha">Alpha</option>
                                    <option value="Altec Lansing">Altec Lansing</option>
                                    <option value="Aluratek">Aluratek</option>
                                    <option value="Amana">Amana</option>
                                    <option value="Amazon">Amazon</option>
                                    <option value="Ambicom">Ambicom</option>
                                    <option value="AMD">AMD</option>
                                    <option value="American Battery">American Battery</option>
                                    <option value="American Power Conversion">American Power Conversion</option>
                                    <option value="American Recorder">American Recorder</option>
                                    <option value="American Specialties">American Specialties</option>
                                    <option value="Amica">Amica</option>
                                    <option value="Amped Wireless">Amped Wireless</option>
                                    <option value="Amplicom">Amplicom</option>
                                    <option value="Amzer">Amzer</option>
                                    <option value="Andrea">Andrea</option>
                                    <option value="Anosa">Anosa</option>
                                    <option value="Ansmann">Ansmann</option>
                                    <option value="Antec">Antec</option>
                                    <option value="AOC">AOC</option>
                                    <option value="AOpen America Inc.">AOpen America Inc.</option>
                                    <option value="Apacer">Apacer</option>
                                    <option value="APC">APC</option>
                                    <option value="Ape Case">Ape Case</option>
                                    <option value="Apex">Apex</option>
                                    <option value="Apple">Apple</option>
                                    <option value="Apricorn">Apricorn</option>
                                    <option value="Arc">Arc</option>
                                    <option value="Archgon">Archgon</option>
                                    <option value="Archos">Archos</option>
                                    <option value="Arco">Arco</option>
                                    <option value="Areson">Areson</option>
                                    <option value="Argus">Argus</option>
                                    <option value="Arimino">Arimino</option>
                                    <option value="Ariston">Ariston</option>
                                    <option value="Arkon">Arkon</option>
                                    <option value="Aromatic">Aromatic</option>
                                    <option value="ArtDio">ArtDio</option>
                                    <option value="Artisan &amp; Artist">Artisan &amp; Artist</option>
                                    <option value="Artline">Artline</option>
                                    <option value="Arts">Arts</option>
                                    <option value="Asante">Asante</option>
                                    <option value="Ashleigh &amp; Burwood">Ashleigh &amp; Burwood</option>
                                    <option value="ASKO">ASKO</option>
                                    <option value="ASM">ASM</option>
                                    <option value="Astar">Astar</option>
                                    <option value="ASUS">ASUS</option>
                                    <option value="AT Box Technology Inc. Dba Add">AT Box Technology Inc. Dba Add</option>
                                    <option value="AT&amp;T">AT&amp;T</option>
                                    <option value="Atdec">Atdec</option>
                                    <option value="Atek">Atek</option>
                                    <option value="Aten Technology">Aten Technology</option>
                                    <option value="Athena">Athena</option>
                                    <option value="Athenatech">Athenatech</option>
                                    <option value="ATI">ATI</option>
                                    <option value="Atlantic">Atlantic</option>
                                    <option value="Atlas">Atlas</option>
                                    <option value="Atlona">Atlona</option>
                                    <option value="ATP">ATP</option>
                                    <option value="Atto Technology">Atto Technology</option>
                                    <option value="ATW">ATW</option>
                                    <option value="Audio-Technica">Audio-Technica</option>
                                    <option value="Audioengine">Audioengine</option>
                                    <option value="AudioQuest">AudioQuest</option>
                                    <option value="AudioSonic">AudioSonic</option>
                                    <option value="Audiovox">Audiovox</option>
                                    <option value="Audyssey">Audyssey</option>
                                    <option value="Auna">Auna</option>
                                    <option value="Aurora">Aurora</option>
                                    <option value="AUTOMOBLOX">AUTOMOBLOX</option>
                                    <option value="Auvisio">Auvisio</option>
                                    <option value="Avalon Organics">Avalon Organics</option>
                                    <option value="Avant North America">Avant North America</option>
                                    <option value="Avanti">Avanti</option>
                                    <option value="AVENUES - ALLANT">AVENUES - ALLANT</option>
                                    <option value="AVer Information">AVer Information</option>
                                    <option value="Avermedia">Avermedia</option>
                                    <option value="AVerTV">AVerTV</option>
                                    <option value="AViiQ">AViiQ</option>
                                    <option value="Avocent">Avocent</option>
                                    <option value="Avox">Avox</option>
                                    <option value="Axiom">Axiom</option>
                                    <option value="Axion">Axion</option>
                                    <option value="AXIS">AXIS</option>
                                    <option value="Axxion">Axxion</option>
                                    <option value="AZEND GROUP CORP">AZEND GROUP CORP</option>
                                    <option value="Aztech">Aztech</option>
                                    <option value="Azusa">Azusa</option>
                                    <option value="B&amp;C">B&amp;C</option>
                                    <option value="B-Speech">B-Speech</option>
                                    <option value="Ba Wang">Ba Wang</option>
                                    <option value="BabyOrganix">BabyOrganix</option>
                                    <option value="Bagman">Bagman</option>
                                    <option value="Bain de Terre">Bain de Terre</option>
                                    <option value="Balm Balm">Balm Balm</option>
                                    <option value="Bano">Bano</option>
                                    <option value="Barnes &amp; Noble">Barnes &amp; Noble</option>
                                    <option value="Barska">Barska</option>
                                    <option value="Bartscher">Bartscher</option>
                                    <option value="basicXL">basicXL</option>
                                    <option value="Battery Biz">Battery Biz</option>
                                    <option value="Battery Technology">Battery Technology</option>
                                    <option value="Battleship">Battleship</option>
                                    <option value="Bauknecht">Bauknecht</option>
                                    <option value="Baumatic">Baumatic</option>
                                    <option value="Bausch K.">Bausch K.</option>
                                    <option value="BAYLIS">BAYLIS</option>
                                    <option value="BC">BC</option>
                                    <option value="Beats By Dr. Dre">Beats By Dr. Dre</option>
                                    <option value="Bebeshop">Bebeshop</option>
                                    <option value="Beko">Beko</option>
                                    <option value="Belkin">Belkin</option>
                                    <option value="Bell'O">Bell'O</option>
                                    <option value="Belvoir">Belvoir</option>
                                    <option value="Ben 10">Ben 10</option>
                                    <option value="Benho">Benho</option>
                                    <option value="BenQ">BenQ</option>
                                    <option value="Benro">Benro</option>
                                    <option value="Berjaya HVN">Berjaya HVN</option>
                                    <option value="Berker">Berker</option>
                                    <option value="Bernstein">Bernstein</option>
                                    <option value="Best Data">Best Data</option>
                                    <option value="Beyonce">Beyonce</option>
                                    <option value="BGRW">BGRW</option>
                                    <option value="Bigben">Bigben</option>
                                    <option value="Binatone">Binatone</option>
                                    <option value="Bio Magic">Bio Magic</option>
                                    <option value="Bioitalia">Bioitalia</option>
                                    <option value="BioTHIK">BioTHIK</option>
                                    <option value="BISON">BISON</option>
                                    <option value="Bistari">Bistari</option>
                                    <option value="BitDefender">BitDefender</option>
                                    <option value="Bits Limited-Home Audio/video">Bits Limited-Home Audio/video</option>
                                    <option value="Black Rapid">Black Rapid</option>
                                    <option value="Blackberry">Blackberry</option>
                                    <option value="BlackJackElectronics">BlackJackElectronics</option>
                                    <option value="Blaupunkt">Blaupunkt</option>
                                    <option value="Blekin">Blekin</option>
                                    <option value="Blomberg">Blomberg</option>
                                    <option value="BLU">BLU</option>
                                    <option value="Blue Microphones">Blue Microphones</option>
                                    <option value="BlueAnt">BlueAnt</option>
                                    <option value="Bodhi">Bodhi</option>
                                    <option value="BODUM">BODUM</option>
                                    <option value="BODY GLOVE">BODY GLOVE</option>
                                    <option value="BodyGuardz">BodyGuardz</option>
                                    <option value="Boelter">Boelter</option>
                                    <option value="Bogen">Bogen</option>
                                    <option value="BOGGLE">BOGGLE</option>
                                    <option value="Bomann">Bomann</option>
                                    <option value="Bond Street">Bond Street</option>
                                    <option value="Bone">Bone</option>
                                    <option value="BONEX">BONEX</option>
                                    <option value="BookEndz">BookEndz</option>
                                    <option value="Bop-it">Bop-it</option>
                                    <option value="Bosch">Bosch</option>
                                    <option value="Boss">Boss</option>
                                    <option value="Boston">Boston</option>
                                    <option value="Botani">Botani</option>
                                    <option value="Bounce">Bounce</option>
                                    <option value="Bountiful Wifi Llc">Bountiful Wifi Llc</option>
                                    <option value="Bowers and Wilkins">Bowers and Wilkins</option>
                                    <option value="Bracketron">Bracketron</option>
                                    <option value="Bragg">Bragg</option>
                                    <option value="Brandt">Brandt</option>
                                    <option value="Breed Inc">Breed Inc</option>
                                    <option value="Brenthaven">Brenthaven</option>
                                    <option value="Bretford">Bretford</option>
                                    <option value="Breville">Breville</option>
                                    <option value="Bright Starts">Bright Starts</option>
                                    <option value="Bringrr">Bringrr</option>
                                    <option value="Brionvega">Brionvega</option>
                                    <option value="Brite-View">Brite-View</option>
                                    <option value="Brittany">Brittany</option>
                                    <option value="Brother">Brother</option>
                                    <option value="Brunton">Brunton</option>
                                    <option value="BTI- Battery Tech.">BTI- Battery Tech.</option>
                                    <option value="Buffalo Technology">Buffalo Technology</option>
                                    <option value="Built NY">Built NY</option>
                                    <option value="Buncho">Buncho</option>
                                    <option value="Burberry">Burberry</option>
                                    <option value="Busch Model">Busch Model</option>
                                    <option value="Busch-Jaeger">Busch-Jaeger</option>
                                    <option value="Bush Baby">Bush Baby</option>
                                    <option value="Bushnell">Bushnell</option>
                                    <option value="Buslink">Buslink</option>
                                    <option value="Butterfly Shadow">Butterfly Shadow</option>
                                    <option value="Bvlgari">Bvlgari</option>
                                    <option value="Bytecc">Bytecc</option>
                                    <option value="Cables to Go">Cables to Go</option>
                                    <option value="Cables Unlimited">Cables Unlimited</option>
                                    <option value="Calvin Klein">Calvin Klein</option>
                                    <option value="Cammates">Cammates</option>
                                    <option value="Candy">Candy</option>
                                    <option value="Canon">Canon</option>
                                    <option value="Cap Doa Ibu">Cap Doa Ibu</option>
                                    <option value="CAPCOM">CAPCOM</option>
                                    <option value="Capdase">Capdase</option>
                                    <option value="Care Innovations">Care Innovations</option>
                                    <option value="Caring">Caring</option>
                                    <option value="Casauri">Casauri</option>
                                    <option value="Case Logic">Case Logic</option>
                                    <option value="Case Mate">Case Mate</option>
                                    <option value="Case-Mate">Case-Mate</option>
                                    <option value="CaseCrown">CaseCrown</option>
                                    <option value="Caseman">Caseman</option>
                                    <option value="Casio">Casio</option>
                                    <option value="Caso">Caso</option>
                                    <option value="Cata">Cata</option>
                                    <option value="Cavalry Storage">Cavalry Storage</option>
                                    <option value="Ce Labs">Ce Labs</option>
                                    <option value="Ceiva">Ceiva</option>
                                    <option value="Celestron">Celestron</option>
                                    <option value="Cellbatt">Cellbatt</option>
                                    <option value="Centon">Centon</option>
                                    <option value="Ceton Corp.">Ceton Corp.</option>
                                    <option value="Ch Products">Ch Products</option>
                                    <option value="Channel Master">Channel Master</option>
                                    <option value="Channel Vision">Channel Vision</option>
                                    <option value="Charmzone">Charmzone</option>
                                    <option value="Cherry">Cherry</option>
                                    <option value="Cherry Blossom">Cherry Blossom</option>
                                    <option value="Chester Creek">Chester Creek</option>
                                    <option value="Chief">Chief</option>
                                    <option value="Chilewich">Chilewich</option>
                                    <option value="Chip Pc Inc">Chip Pc Inc</option>
                                    <option value="Choiix">Choiix</option>
                                    <option value="Ciphertex">Ciphertex</option>
                                    <option value="Cirago">Cirago</option>
                                    <option value="CIRE GROUP">CIRE GROUP</option>
                                    <option value="Cisco">Cisco</option>
                                    <option value="Citra Dish">Citra Dish</option>
                                    <option value="Citrah">Citrah</option>
                                    <option value="Clarity">Clarity</option>
                                    <option value="Classic World">Classic World</option>
                                    <option value="Clatronic">Clatronic</option>
                                    <option value="Clearspring">Clearspring</option>
                                    <option value="CleverWraps">CleverWraps</option>
                                    <option value="Click Free">Click Free</option>
                                    <option value="Clinique">Clinique</option>
                                    <option value="Clip Sonic">Clip Sonic</option>
                                    <option value="Clover">Clover</option>
                                    <option value="Cluedo">Cluedo</option>
                                    <option value="Cluedo Junior">Cluedo Junior</option>
                                    <option value="CMS Products">CMS Products</option>
                                    <option value="CMX">CMX</option>
                                    <option value="Cnet">Cnet</option>
                                    <option value="Cobra">Cobra</option>
                                    <option value="Coby">Coby</option>
                                    <option value="Cocktail Audio">Cocktail Audio</option>
                                    <option value="Cocoon">Cocoon</option>
                                    <option value="Cokin">Cokin</option>
                                    <option value="Cold Mountain">Cold Mountain</option>
                                    <option value="Comfort">Comfort</option>
                                    <option value="Compaq">Compaq</option>
                                    <option value="Comprehensive">Comprehensive</option>
                                    <option value="Compucessory">Compucessory</option>
                                    <option value="Comtrol Corp">Comtrol Corp</option>
                                    <option value="Connectpro">Connectpro</option>
                                    <option value="Conrad">Conrad</option>
                                    <option value="Constructa">Constructa</option>
                                    <option value="Continent">Continent</option>
                                    <option value="Continental">Continental</option>
                                    <option value="Contour">Contour</option>
                                    <option value="Cooler Master">Cooler Master</option>
                                    <option value="CoolMax">CoolMax</option>
                                    <option value="Corsair">Corsair</option>
                                    <option value="Cosmo">Cosmo</option>
                                    <option value="Coway">Coway</option>
                                    <option value="CP Technologies">CP Technologies</option>
                                    <option value="CradlePoint">CradlePoint</option>
                                    <option value="Crathco">Crathco</option>
                                    <option value="Creative">Creative</option>
                                    <option value="Crosley">Crosley</option>
                                    <option value="Cross">Cross</option>
                                    <option value="CRU Inc.">CRU Inc.</option>
                                    <option value="Crucial">Crucial</option>
                                    <option value="Crystalite">Crystalite</option>
                                    <option value="CSL">CSL</option>
                                    <option value="Cstar">Cstar</option>
                                    <option value="CTA">CTA</option>
                                    <option value="CTL Corp">CTL Corp</option>
                                    <option value="Cyber Acoustics">Cyber Acoustics</option>
                                    <option value="CyberClean">CyberClean</option>
                                    <option value="CyberPower">CyberPower</option>
                                    <option value="Cyborg">Cyborg</option>
                                    <option value="Cydle">Cydle</option>
                                    <option value="Cygnet">Cygnet</option>
                                    <option value="D&amp;H Distributing">D&amp;H Distributing</option>
                                    <option value="D-Link">D-Link</option>
                                    <option value="Daewoo">Daewoo</option>
                                    <option value="Dalhousie">Dalhousie</option>
                                    <option value="Danby">Danby</option>
                                    <option value="Dane Elec">Dane Elec</option>
                                    <option value="Dantax">Dantax</option>
                                    <option value="Data Robotics">Data Robotics</option>
                                    <option value="DataCal">DataCal</option>
                                    <option value="Datalite">Datalite</option>
                                    <option value="Datapr">Datapr</option>
                                    <option value="DAV">DAV</option>
                                    <option value="Davis &amp; Sanford">Davis &amp; Sanford</option>
                                    <option value="Dayang Senandung">Dayang Senandung</option>
                                    <option value="Db Link">Db Link</option>
                                    <option value="DBEST">DBEST</option>
                                    <option value="De Dietrich">De Dietrich</option>
                                    <option value="Delkin">Delkin</option>
                                    <option value="Delkin Devices">Delkin Devices</option>
                                    <option value="Dell">Dell</option>
                                    <option value="DeLonghi">DeLonghi</option>
                                    <option value="Deluo">Deluo</option>
                                    <option value="Denver">Denver</option>
                                    <option value="Design Go">Design Go</option>
                                    <option value="DeSina">DeSina</option>
                                    <option value="Deuter">Deuter</option>
                                    <option value="DeWalt">DeWalt</option>
                                    <option value="Diablotek">Diablotek</option>
                                    <option value="Diamond Multimedia">Diamond Multimedia</option>
                                    <option value="Dicota">Dicota</option>
                                    <option value="Dictaphone">Dictaphone</option>
                                    <option value="DIFRNCE">DIFRNCE</option>
                                    <option value="Digi">Digi</option>
                                    <option value="Digi International">Digi International</option>
                                    <option value="Digi Wireless">Digi Wireless</option>
                                    <option value="DIGIEYE">DIGIEYE</option>
                                    <option value="DigiPower">DigiPower</option>
                                    <option value="Digistore Solutions">Digistore Solutions</option>
                                    <option value="Digital Concepts">Digital Concepts</option>
                                    <option value="Digital Innovations">Digital Innovations</option>
                                    <option value="Digital Peripheral Solutions">Digital Peripheral Solutions</option>
                                    <option value="Directv">Directv</option>
                                    <option value="Disney">Disney</option>
                                    <option value="Disney Interactive Studios">Disney Interactive Studios</option>
                                    <option value="DJ">DJ</option>
                                    <option value="DJ Tech-Pro Dj">DJ Tech-Pro Dj</option>
                                    <option value="DK-Digital">DK-Digital</option>
                                    <option value="DKNY">DKNY</option>
                                    <option value="DMTECH">DMTECH</option>
                                    <option value="DNT">DNT</option>
                                    <option value="Dobby">Dobby</option>
                                    <option value="Dolphin">Dolphin</option>
                                    <option value="Domatix">Domatix</option>
                                    <option value="Domke">Domke</option>
                                    <option value="DOMO">DOMO</option>
                                    <option value="Doro">Doro</option>
                                    <option value="Dot Down">Dot Down</option>
                                    <option value="Double A">Double A</option>
                                    <option value="Doublesight">Doublesight</option>
                                    <option value="Doxa">Doxa</option>
                                    <option value="Dry-All">Dry-All</option>
                                    <option value="Dryguy">Dryguy</option>
                                    <option value="Dual">Dual</option>
                                    <option value="Dundas Jafine">Dundas Jafine</option>
                                    <option value="DURABLE">DURABLE</option>
                                    <option value="Duracell">Duracell</option>
                                    <option value="Dust-Off">Dust-Off</option>
                                    <option value="Dwinguler">Dwinguler</option>
                                    <option value="DXG">DXG</option>
                                    <option value="DYMO">DYMO</option>
                                    <option value="Dynavox">Dynavox</option>
                                    <option value="Dynex??">Dynex??</option>
                                    <option value="Dyon">Dyon</option>
                                    <option value="Dzone">Dzone</option>
                                    <option value="e-Replacements">e-Replacements</option>
                                    <option value="EAST">EAST</option>
                                    <option value="Easystore">Easystore</option>
                                    <option value="Eaton">Eaton</option>
                                    <option value="EC-GO">EC-GO</option>
                                    <option value="ECG">ECG</option>
                                    <option value="Ecomaster Technology">Ecomaster Technology</option>
                                    <option value="Ecotanka">Ecotanka</option>
                                    <option value="Ecovacs">Ecovacs</option>
                                    <option value="ECOVER">ECOVER</option>
                                    <option value="Ectaco">Ectaco</option>
                                    <option value="ED">ED</option>
                                    <option value="Ed Hardy">Ed Hardy</option>
                                    <option value="Edge">Edge</option>
                                    <option value="EdgeStar">EdgeStar</option>
                                    <option value="Edifier">Edifier</option>
                                    <option value="Edimax">Edimax</option>
                                    <option value="EF">EF</option>
                                    <option value="Efbe-Schott">Efbe-Schott</option>
                                    <option value="Eforcity">Eforcity</option>
                                    <option value="Eissound">Eissound</option>
                                    <option value="Eizo">Eizo</option>
                                    <option value="Electro Voice">Electro Voice</option>
                                    <option value="Electrolux">Electrolux</option>
                                    <option value="Electronic Arts">Electronic Arts</option>
                                    <option value="Elgato Systems">Elgato Systems</option>
                                    <option value="Elinchrom">Elinchrom</option>
                                    <option value="ELMO">ELMO</option>
                                    <option value="Elo TouchSystems">Elo TouchSystems</option>
                                    <option value="Elta">Elta</option>
                                    <option value="eMachines">eMachines</option>
                                    <option value="Emati">Emati</option>
                                    <option value="Emax-GmbH">Emax-GmbH</option>
                                    <option value="Emerge Tech">Emerge Tech</option>
                                    <option value="Emerio">Emerio</option>
                                    <option value="Emerson">Emerson</option>
                                    <option value="EMI">EMI</option>
                                    <option value="Emporia">Emporia</option>
                                    <option value="Emporio Armani">Emporio Armani</option>
                                    <option value="Emtec">Emtec</option>
                                    <option value="Emulex">Emulex</option>
                                    <option value="Encore">Encore</option>
                                    <option value="EncryptDisc">EncryptDisc</option>
                                    <option value="Energizer">Energizer</option>
                                    <option value="Enermax">Enermax</option>
                                    <option value="Engenius">Engenius</option>
                                    <option value="Enter">Enter</option>
                                    <option value="Entertainment Cds">Entertainment Cds</option>
                                    <option value="EP Memory">EP Memory</option>
                                    <option value="Epson">Epson</option>
                                    <option value="EQ">EQ</option>
                                    <option value="Equator">Equator</option>
                                    <option value="Ergoguys">Ergoguys</option>
                                    <option value="Ergotron">Ergotron</option>
                                    <option value="Estand">Estand</option>
                                    <option value="Estate">Estate</option>
                                    <option value="Eton">Eton</option>
                                    <option value="Eureka">Eureka</option>
                                    <option value="Euroline">Euroline</option>
                                    <option value="Evercool">Evercool</option>
                                    <option value="Everki Usa Inc.">Everki Usa Inc.</option>
                                    <option value="EVGA">EVGA</option>
                                    <option value="Exact Replacement Parts">Exact Replacement Parts</option>
                                    <option value="ExcelAmerica">ExcelAmerica</option>
                                    <option value="eXpansys">eXpansys</option>
                                    <option value="ExpBloom Organic">ExpBloom Organic</option>
                                    <option value="Exquisit">Exquisit</option>
                                    <option value="Extreme Networks">Extreme Networks</option>
                                    <option value="Eye-Fi">Eye-Fi</option>
                                    <option value="EZ Dupe">EZ Dupe</option>
                                    <option value="EZDigiMagic">EZDigiMagic</option>
                                    <option value="f?l">f?l</option>
                                    <option value="FAB Starpoint">FAB Starpoint</option>
                                    <option value="Faber-Castell">Faber-Castell</option>
                                    <option value="Fagor">Fagor</option>
                                    <option value="Falcon">Falcon</option>
                                    <option value="Fantom Drives">Fantom Drives</option>
                                    <option value="Faster">Faster</option>
                                    <option value="Fellowes">Fellowes</option>
                                    <option value="Feuer &amp; Flamme">Feuer &amp; Flamme</option>
                                    <option value="Fire-X">Fire-X</option>
                                    <option value="Firenzzi">Firenzzi</option>
                                    <option value="First Alert">First Alert</option>
                                    <option value="First Austria">First Austria</option>
                                    <option value="Fisher">Fisher</option>
                                    <option value="Fisher &amp; Paykel">Fisher &amp; Paykel</option>
                                    <option value="Fisher-Price">Fisher-Price</option>
                                    <option value="Fishwan">Fishwan</option>
                                    <option value="Flip Video">Flip Video</option>
                                    <option value="Flo Digital">Flo Digital</option>
                                    <option value="Flower Tea">Flower Tea</option>
                                    <option value="FMC">FMC</option>
                                    <option value="Fone">Fone</option>
                                    <option value="Fosmon">Fosmon</option>
                                    <option value="Fossil">Fossil</option>
                                    <option value="Foxconn">Foxconn</option>
                                    <option value="Franklin Electronics">Franklin Electronics</option>
                                    <option value="Fratelli Onofri">Fratelli Onofri</option>
                                    <option value="Freeplay">Freeplay</option>
                                    <option value="FreeTalk">FreeTalk</option>
                                    <option value="Fresco Cocoa">Fresco Cocoa</option>
                                    <option value="Fridge-To-Go">Fridge-To-Go</option>
                                    <option value="Frigidaire">Frigidaire</option>
                                    <option value="Frontech">Frontech</option>
                                    <option value="Fuji">Fuji</option>
                                    <option value="Fujifilm">Fujifilm</option>
                                    <option value="Fujitsu">Fujitsu</option>
                                    <option value="Future">Future</option>
                                    <option value="Fuuvi">Fuuvi</option>
                                    <option value="G-Shark">G-Shark</option>
                                    <option value="G-Soft">G-Soft</option>
                                    <option value="G-Technology">G-Technology</option>
                                    <option value="G3 Ferrari">G3 Ferrari</option>
                                    <option value="Gaggenau">Gaggenau</option>
                                    <option value="Gajah Duduk">Gajah Duduk</option>
                                    <option value="Gala">Gala</option>
                                    <option value="Galaxy">Galaxy</option>
                                    <option value="Galileo">Galileo</option>
                                    <option value="Gallet">Gallet</option>
                                    <option value="GammaTech">GammaTech</option>
                                    <option value="Garden of EDEN">Garden of EDEN</option>
                                    <option value="Garmin">Garmin</option>
                                    <option value="Gary Fong">Gary Fong</option>
                                    <option value="Gateway">Gateway</option>
                                    <option value="GE">GE</option>
                                    <option value="Gear Head">Gear Head</option>
                                    <option value="Gear5">Gear5</option>
                                    <option value="Gefen">Gefen</option>
                                    <option value="Geha">Geha</option>
                                    <option value="GEMINOL">GEMINOL</option>
                                    <option value="GENERIC MEMORY">GENERIC MEMORY</option>
                                    <option value="Genesis">Genesis</option>
                                    <option value="Genesis Cable">Genesis Cable</option>
                                    <option value="Geneva Lab">Geneva Lab</option>
                                    <option value="Genie">Genie</option>
                                    <option value="Genius">Genius</option>
                                    <option value="Genovation">Genovation</option>
                                    <option value="Get a Letter">Get a Letter</option>
                                    <option value="GG Telecom">GG Telecom</option>
                                    <option value="Gift Farm">Gift Farm</option>
                                    <option value="Gigabyte">Gigabyte</option>
                                    <option value="Gintell">Gintell</option>
                                    <option value="Gira">Gira</option>
                                    <option value="Gitzo">Gitzo</option>
                                    <option value="Glassylite">Glassylite</option>
                                    <option value="Globefire">Globefire</option>
                                    <option value="Gn Netcom">Gn Netcom</option>
                                    <option value="Godrej">Godrej</option>
                                    <option value="Gogopal">Gogopal</option>
                                    <option value="Gold Art">Gold Art</option>
                                    <option value="Goldtouch">Goldtouch</option>
                                    <option value="GoldX">GoldX</option>
                                    <option value="Golla">Golla</option>
                                    <option value="Gorenje">Gorenje</option>
                                    <option value="Gossen">Gossen</option>
                                    <option value="GP">GP</option>
                                    <option value="GPX">GPX</option>
                                    <option value="Grains &amp; Salt">Grains &amp; Salt</option>
                                    <option value="Grandtec USA">Grandtec USA</option>
                                    <option value="GreatShield">GreatShield</option>
                                    <option value="Green Elements">Green Elements</option>
                                    <option value="Green Onions Supply">Green Onions Supply</option>
                                    <option value="GreenTech Environmental">GreenTech Environmental</option>
                                    <option value="Greithwald">Greithwald</option>
                                    <option value="Griffin">Griffin</option>
                                    <option value="Groov-e">Groov-e</option>
                                    <option value="Grundig">Grundig</option>
                                    <option value="Guess">Guess</option>
                                    <option value="Guillemot">Guillemot</option>
                                    <option value="Gumdrop Cases">Gumdrop Cases</option>
                                    <option value="Gyration">Gyration</option>
                                    <option value="H&amp;B">H&amp;B</option>
                                    <option value="H2O">H2O</option>
                                    <option value="Haas+Sohn">Haas+Sohn</option>
                                    <option value="Hadaki">Hadaki</option>
                                    <option value="Hagenuk">Hagenuk</option>
                                    <option value="Haier">Haier</option>
                                    <option value="HairScape">HairScape</option>
                                    <option value="Halle">Halle</option>
                                    <option value="Hama">Hama</option>
                                    <option value="Hamilton Beach">Hamilton Beach</option>
                                    <option value="HandStands">HandStands</option>
                                    <option value="Hannspree">Hannspree</option>
                                    <option value="Hanseatic">Hanseatic</option>
                                    <option value="Harman Kardon">Harman Kardon</option>
                                    <option value="HARVEST">HARVEST</option>
                                    <option value="Hasbro">Hasbro</option>
                                    <option value="Hauppauge">Hauppauge</option>
                                    <option value="Hawking Tech">Hawking Tech</option>
                                    <option value="Heavenly-Creation">Heavenly-Creation</option>
                                    <option value="Helios">Helios</option>
                                    <option value="Helix">Helix</option>
                                    <option value="Heller">Heller</option>
                                    <option value="Hello Kitty">Hello Kitty</option>
                                    <option value="Herbal House">Herbal House</option>
                                    <option value="Hercules">Hercules</option>
                                    <option value="Heru">Heru</option>
                                    <option value="Hewlett Packard">Hewlett Packard</option>
                                    <option value="HFE">HFE</option>
                                    <option value="Hi-Touch Imaging Technologies">Hi-Touch Imaging Technologies</option>
                                    <option value="Hides">Hides</option>
                                    <option value="Hiimaatex">Hiimaatex</option>
                                    <option value="Hip Street">Hip Street</option>
                                    <option value="HiPPiH">HiPPiH</option>
                                    <option value="Hitachi">Hitachi</option>
                                    <option value="Hobart">Hobart</option>
                                    <option value="Hoffco Distribution">Hoffco Distribution</option>
                                    <option value="Hoffman">Hoffman</option>
                                    <option value="Holga">Holga</option>
                                    <option value="HOLUX Technology Inc.">HOLUX Technology Inc.</option>
                                    <option value="Home Automation-Custom Installation">Home Automation-Custom Installation</option>
                                    <option value="Home Comfort">Home Comfort</option>
                                    <option value="HoMedics">HoMedics</option>
                                    <option value="Homeland Security">Homeland Security</option>
                                    <option value="Honey Bridal House">Honey Bridal House</option>
                                    <option value="Hoodman">Hoodman</option>
                                    <option value="Hornettek">Hornettek</option>
                                    <option value="Hosa">Hosa</option>
                                    <option value="Hotpoint">Hotpoint</option>
                                    <option value="HotTech">HotTech</option>
                                    <option value="HourHome">HourHome</option>
                                    <option value="House of Favors">House of Favors</option>
                                    <option value="HP">HP</option>
                                    <option value="HPT USA/Highpoint Te">HPT USA/Highpoint Te</option>
                                    <option value="HQ">HQ</option>
                                    <option value="HTC">HTC</option>
                                    <option value="Huawei">Huawei</option>
                                    <option value="Hubbell">Hubbell</option>
                                    <option value="Hugger">Hugger</option>
                                    <option value="Hugo Boss">Hugo Boss</option>
                                    <option value="Human Toolz LLC">Human Toolz LLC</option>
                                    <option value="HUP">HUP</option>
                                    <option value="HURIX'S">HURIX'S</option>
                                    <option value="HVN">HVN</option>
                                    <option value="Hypergear">Hypergear</option>
                                    <option value="I Nuovi Professional">I Nuovi Professional</option>
                                    <option value="I TECH">I TECH</option>
                                    <option value="I-Tec">I-Tec</option>
                                    <option value="I/O Magic Corporation">I/O Magic Corporation</option>
                                    <option value="iAccy">iAccy</option>
                                    <option value="iBall">iBall</option>
                                    <option value="IBM">IBM</option>
                                    <option value="IC Intracom">IC Intracom</option>
                                    <option value="ICC">ICC</option>
                                    <option value="Icemobile">Icemobile</option>
                                    <option value="Icon">Icon</option>
                                    <option value="IDEAS">IDEAS</option>
                                    <option value="IFB">IFB</option>
                                    <option value="iFrogz">iFrogz</option>
                                    <option value="Igloo">Igloo</option>
                                    <option value="IGM">IGM</option>
                                    <option value="Ignis">Ignis</option>
                                    <option value="Igo">Igo</option>
                                    <option value="IGORA">IGORA</option>
                                    <option value="iHome">iHome</option>
                                    <option value="IK">IK</option>
                                    <option value="Ilford">Ilford</option>
                                    <option value="ILUV">ILUV</option>
                                    <option value="iMainGo">iMainGo</option>
                                    <option value="Imation">Imation</option>
                                    <option value="IMC">IMC</option>
                                    <option value="Impecca">Impecca</option>
                                    <option value="Imperial">Imperial</option>
                                    <option value="Impossible">Impossible</option>
                                    <option value="Improvements">Improvements</option>
                                    <option value="Incase">Incase</option>
                                    <option value="Incipio">Incipio</option>
                                    <option value="Indesit">Indesit</option>
                                    <option value="Induro">Induro</option>
                                    <option value="infactory">infactory</option>
                                    <option value="Infocase">Infocase</option>
                                    <option value="Infocus">Infocus</option>
                                    <option value="Inglis">Inglis</option>
                                    <option value="Ingram Micro">Ingram Micro</option>
                                    <option value="Init??">Init??</option>
                                    <option value="Inland">Inland</option>
                                    <option value="INN">INN</option>
                                    <option value="Innergie">Innergie</option>
                                    <option value="Innovera">Innovera</option>
                                    <option value="Insignia??">Insignia??</option>
                                    <option value="Intec">Intec</option>
                                    <option value="Intel">Intel</option>
                                    <option value="Intellinet">Intellinet</option>
                                    <option value="Intempo">Intempo</option>
                                    <option value="Intova">Intova</option>
                                    <option value="Invera">Invera</option>
                                    <option value="InvisibleSHIELD">InvisibleSHIELD</option>
                                    <option value="Inwin Development">Inwin Development</option>
                                    <option value="IOCell Networks">IOCell Networks</option>
                                    <option value="IoGear">IoGear</option>
                                    <option value="Iomega">Iomega</option>
                                    <option value="IR koreadeco">IR koreadeco</option>
                                    <option value="Izzest">Izzest</option>
                                    <option value="Jabra">Jabra</option>
                                    <option value="Jenga">Jenga</option>
                                    <option value="Jennifer Lopez">Jennifer Lopez</option>
                                    <option value="Jenova">Jenova</option>
                                    <option value="Joico">Joico</option>
                                    <option value="JS">JS</option>
                                    <option value="JSL">JSL</option>
                                    <option value="JUJU AQUAMOIST">JUJU AQUAMOIST</option>
                                    <option value="Junior Scrabble">Junior Scrabble</option>
                                    <option value="Kaleiscope">Kaleiscope</option>
                                    <option value="Kanebo">Kanebo</option>
                                    <option value="Kanvus">Kanvus</option>
                                    <option value="Kate">Kate</option>
                                    <option value="Kempler &amp; Strauss">Kempler &amp; Strauss</option>
                                    <option value="Kenko">Kenko</option>
                                    <option value="Kenneth Cole">Kenneth Cole</option>
                                    <option value="KHEX">KHEX</option>
                                    <option value="Kick-Star">Kick-Star</option>
                                    <option value="Kids Station Marketing">Kids Station Marketing</option>
                                    <option value="KilaDoll">KilaDoll</option>
                                    <option value="Kimchi">Kimchi</option>
                                    <option value="Kimmidoll">Kimmidoll</option>
                                    <option value="Kingmax">Kingmax</option>
                                    <option value="Kingsoft">Kingsoft</option>
                                    <option value="Kinohimitsu">Kinohimitsu</option>
                                    <option value="KJ">KJ</option>
                                    <option value="KKVC">KKVC</option>
                                    <option value="Koji">Koji</option>
                                    <option value="KOLA">KOLA</option>
                                    <option value="Konad">Konad</option>
                                    <option value="Krator">Krator</option>
                                    <option value="Kung Fu Panda">Kung Fu Panda</option>
                                    <option value="La Terra">La Terra</option>
                                    <option value="LACIO">LACIO</option>
                                    <option value="Ladywise">Ladywise</option>
                                    <option value="Lafuma">Lafuma</option>
                                    <option value="Lala Baby">Lala Baby</option>
                                    <option value="Lao Fu Zi">Lao Fu Zi</option>
                                    <option value="Lazo Diamond">Lazo Diamond</option>
                                    <option value="LEATHERMAN">LEATHERMAN</option>
                                    <option value="Leben">Leben</option>
                                    <option value="Lifesystems">Lifesystems</option>
                                    <option value="Lifeventure">Lifeventure</option>
                                    <option value="LiGao">LiGao</option>
                                    <option value="Lisap">Lisap</option>
                                    <option value="Livescribe">Livescribe</option>
                                    <option value="LM">LM</option>
                                    <option value="Longines">Longines</option>
                                    <option value="Looney">Looney</option>
                                    <option value="Loreal Professional">Loreal Professional</option>
                                    <option value="Loyoki">Loyoki</option>
                                    <option value="LS">LS</option>
                                    <option value="LUCIDO-L">LUCIDO-L</option>
                                    <option value="LUCKYANGEL2u">LUCKYANGEL2u</option>
                                    <option value="Lumipot">Lumipot</option>
                                    <option value="LumiQuest">LumiQuest</option>
                                    <option value="Luv4ever">Luv4ever</option>
                                    <option value="M+Y STEEL">M+Y STEEL</option>
                                    <option value="M/MAX">M/MAX</option>
                                    <option value="Mac">Mac</option>
                                    <option value="Macadamia">Macadamia</option>
                                    <option value="Maglite">Maglite</option>
                                    <option value="Makarizo">Makarizo</option>
                                    <option value="MAMBOBABY">MAMBOBABY</option>
                                    <option value="Manchester United">Manchester United</option>
                                    <option value="Mandom">Mandom</option>
                                    <option value="Mangga">Mangga</option>
                                    <option value="Mastar">Mastar</option>
                                    <option value="Mastermind">Mastermind</option>
                                    <option value="Matin">Matin</option>
                                    <option value="Max">Max</option>
                                    <option value="ME">ME</option>
                                    <option value="Melior">Melior</option>
                                    <option value="MES">MES</option>
                                    <option value="MFK">MFK</option>
                                    <option value="Michael Kors">Michael Kors</option>
                                    <option value="Mido">Mido</option>
                                    <option value="Millet">Millet</option>
                                    <option value="Mini Cooper">Mini Cooper</option>
                                    <option value="Minimo-X">Minimo-X</option>
                                    <option value="Mipow">Mipow</option>
                                    <option value="Mistral">Mistral</option>
                                    <option value="ML">ML</option>
                                    <option value="MLE">MLE</option>
                                    <option value="Modena">Modena</option>
                                    <option value="Mojo">Mojo</option>
                                    <option value="MOMUS">MOMUS</option>
                                    <option value="MONOPOLY">MONOPOLY</option>
                                    <option value="Mont Blanc">Mont Blanc</option>
                                    <option value="Moochiku">Moochiku</option>
                                    <option value="Mosaics Art">Mosaics Art</option>
                                    <option value="Moschino">Moschino</option>
                                    <option value="Mother's Corn">Mother's Corn</option>
                                    <option value="Motoplus">Motoplus</option>
                                    <option value="MOVIE MAGIC">MOVIE MAGIC</option>
                                    <option value="MPEG">MPEG</option>
                                    <option value="Mr Mark">Mr Mark</option>
                                    <option value="MVM">MVM</option>
                                    <option value="Mwalker">Mwalker</option>
                                    <option value="My Magic Solution">My Magic Solution</option>
                                    <option value="My Pillow Pet">My Pillow Pet</option>
                                    <option value="My Tray">My Tray</option>
                                    <option value="Myclip">Myclip</option>
                                    <option value="Mytape">Mytape</option>
                                    <option value="NAF NAF">NAF NAF</option>
                                    <option value="Naris Up">Naris Up</option>
                                    <option value="Natina">Natina</option>
                                    <option value="National Geographic">National Geographic</option>
                                    <option value="Nature Fine">Nature Fine</option>
                                    <option value="Nautica">Nautica</option>
                                    <option value="Neo Geo">Neo Geo</option>
                                    <option value="Neoleaf">Neoleaf</option>
                                    <option value="Nerf">Nerf</option>
                                    <option value="Netis">Netis</option>
                                    <option value="Neuropower">Neuropower</option>
                                    <option value="Newlite">Newlite</option>
                                    <option value="Nexxen">Nexxen</option>
                                    <option value="Nina Ricci">Nina Ricci</option>
                                    <option value="Nintendo">Nintendo</option>
                                    <option value="Nioxin">Nioxin</option>
                                    <option value="Nissin">Nissin</option>
                                    <option value="NOPS(Natural Organic PlantS)">NOPS(Natural Organic PlantS)</option>
                                    <option value="Number games">Number games</option>
                                    <option value="O&amp;">O&amp;</option>
                                    <option value="Okamizu &amp; Oka">Okamizu &amp; Oka</option>
                                    <option value="Olive">Olive</option>
                                    <option value="Omega">Omega</option>
                                    <option value="On-U-Mind">On-U-Mind</option>
                                    <option value="Only Organic">Only Organic</option>
                                    <option value="Organic Valley">Organic Valley</option>
                                    <option value="OrigenPlus">OrigenPlus</option>
                                    <option value="Oright">Oright</option>
                                    <option value="Osaka">Osaka</option>
                                    <option value="Osmani">Osmani</option>
                                    <option value="Others">Others</option>
                                    <option value="PAKSI">PAKSI</option>
                                    <option value="Panther">Panther</option>
                                    <option value="Papermate">Papermate</option>
                                    <option value="Para Kito">Para Kito</option>
                                    <option value="Paris Hilton">Paris Hilton</option>
                                    <option value="Parker">Parker</option>
                                    <option value="Parklon">Parklon</option>
                                    <option value="Partner">Partner</option>
                                    <option value="Penguin">Penguin</option>
                                    <option value="Pensonic">Pensonic</option>
                                    <option value="Philips Avent">Philips Avent</option>
                                    <option value="Pictureka">Pictureka</option>
                                    <option value="Plantech">Plantech</option>
                                    <option value="Playdoh">Playdoh</option>
                                    <option value="Playskool">Playskool</option>
                                    <option value="Pleomax">Pleomax</option>
                                    <option value="PMP">PMP</option>
                                    <option value="Pot Of Gold">Pot Of Gold</option>
                                    <option value="Power.Tune">Power.Tune</option>
                                    <option value="Princess">Princess</option>
                                    <option value="Pure Digital (Flip Video)">Pure Digital (Flip Video)</option>
                                    <option value="Pure Harvest">Pure Harvest</option>
                                    <option value="Purple Cane">Purple Cane</option>
                                    <option value="Q-Family">Q-Family</option>
                                    <option value="Qadhijah Natural Farm">Qadhijah Natural Farm</option>
                                    <option value="QS">QS</option>
                                    <option value="Quality">Quality</option>
                                    <option value="Quasue">Quasue</option>
                                    <option value="Radiant">Radiant</option>
                                    <option value="Raja Unta">Raja Unta</option>
                                    <option value="Ralph Lauren">Ralph Lauren</option>
                                    <option value="Rapunzel">Rapunzel</option>
                                    <option value="Ray-Ban">Ray-Ban</option>
                                    <option value="Raycop">Raycop</option>
                                    <option value="Red Army">Red Army</option>
                                    <option value="Red Castle">Red Castle</option>
                                    <option value="Redken">Redken</option>
                                    <option value="RekaTee">RekaTee</option>
                                    <option value="Rene">Rene</option>
                                    <option value="Restorlite">Restorlite</option>
                                    <option value="Revolog">Revolog</option>
                                    <option value="Rising Up">Rising Up</option>
                                    <option value="Rockstar Games">Rockstar Games</option>
                                    <option value="Saika">Saika</option>
                                    <option value="Salvatore Ferragamo">Salvatore Ferragamo</option>
                                    <option value="SANA">SANA</option>
                                    <option value="Santa Barbara">Santa Barbara</option>
                                    <option value="SCEA">SCEA</option>
                                    <option value="Schwarzkopf">Schwarzkopf</option>
                                    <option value="SCHWARZKOPF OSiS">SCHWARZKOPF OSiS</option>
                                    <option value="SDI">SDI</option>
                                    <option value="Sebastian">Sebastian</option>
                                    <option value="SEGA">SEGA</option>
                                    <option value="Seiko">Seiko</option>
                                    <option value="Senscience">Senscience</option>
                                    <option value="Sensonic">Sensonic</option>
                                    <option value="Sesame Street Playskool">Sesame Street Playskool</option>
                                    <option value="SG Net 5021">SG Net 5021</option>
                                    <option value="Sheaffer">Sheaffer</option>
                                    <option value="Shills">Shills</option>
                                    <option value="Shinjyu">Shinjyu</option>
                                    <option value="Shiseido">Shiseido</option>
                                    <option value="Silverstone">Silverstone</option>
                                    <option value="Simple Dimple">Simple Dimple</option>
                                    <option value="SMARTGAMES">SMARTGAMES</option>
                                    <option value="Smile">Smile</option>
                                    <option value="SMM">SMM</option>
                                    <option value="Snakebyte">Snakebyte</option>
                                    <option value="Soap-n-Scent">Soap-n-Scent</option>
                                    <option value="Solaris">Solaris</option>
                                    <option value="Solis">Solis</option>
                                    <option value="SonicGear">SonicGear</option>
                                    <option value="SpaceRail">SpaceRail</option>
                                    <option value="SPD">SPD</option>
                                    <option value="SPYDER">SPYDER</option>
                                    <option value="Square Enix">Square Enix</option>
                                    <option value="SRC">SRC</option>
                                    <option value="Stabilo">Stabilo</option>
                                    <option value="Staedtler">Staedtler</option>
                                    <option value="Stream Trail">Stream Trail</option>
                                    <option value="Stylno">Stylno</option>
                                    <option value="Stylo">Stylo</option>
                                    <option value="SupaMop">SupaMop</option>
                                    <option value="Super Million Hair">Super Million Hair</option>
                                    <option value="Super Wrapp">Super Wrapp</option>
                                    <option value="Superbuy">Superbuy</option>
                                    <option value="Superheadz">Superheadz</option>
                                    <option value="Survive">Survive</option>
                                    <option value="Suunto">Suunto</option>
                                    <option value="Swatch">Swatch</option>
                                    <option value="Swiss Military">Swiss Military</option>
                                    <option value="T&amp;O">T&amp;O</option>
                                    <option value="Tag Heuer">Tag Heuer</option>
                                    <option value="Team">Team</option>
                                    <option value="Ten Q">Ten Q</option>
                                    <option value="Tessell">Tessell</option>
                                    <option value="The PurestOne">The PurestOne</option>
                                    <option value="Thermalright">Thermalright</option>
                                    <option value="ThermoCafe">ThermoCafe</option>
                                    <option value="Thermos">Thermos</option>
                                    <option value="TIGI">TIGI</option>
                                    <option value="Timex">Timex</option>
                                    <option value="Tissot">Tissot</option>
                                    <option value="Top Bright">Top Bright</option>
                                    <option value="TORRENT">TORRENT</option>
                                    <option value="Totally Tea">Totally Tea</option>
                                    <option value="Trains">Trains</option>
                                    <option value="Tramigo">Tramigo</option>
                                    <option value="Transformers">Transformers</option>
                                    <option value="Trendz">Trendz</option>
                                    <option value="TUFT">TUFT</option>
                                    <option value="TUMASEK PEWTER">TUMASEK PEWTER</option>
                                    <option value="Twistpotato">Twistpotato</option>
                                    <option value="Typhoon">Typhoon</option>
                                    <option value="UHU">UHU</option>
                                    <option value="Umbra">Umbra</option>
                                    <option value="Unassigned">Unassigned</option>
                                    <option value="UNI">UNI</option>
                                    <option value="Uniden">Uniden</option>
                                    <option value="Universal Music Malaysia">Universal Music Malaysia</option>
                                    <option value="UNO">UNO</option>
                                    <option value="Update">Update</option>
                                    <option value="Uthmani">Uthmani</option>
                                    <option value="V&amp;G">V&amp;G</option>
                                    <option value="V-BOT">V-BOT</option>
                                    <option value="Varusai">Varusai</option>
                                    <option value="VBG">VBG</option>
                                    <option value="Vege-food">Vege-food</option>
                                    <option value="Vegetable Baby">Vegetable Baby</option>
                                    <option value="Versace">Versace</option>
                                    <option value="Vess">Vess</option>
                                    <option value="Victorinox Swiss Army">Victorinox Swiss Army</option>
                                    <option value="Vinny">Vinny</option>
                                    <option value="Vitaderma">Vitaderma</option>
                                    <option value="VTech®">VTech®</option>
                                    <option value="VTR">VTR</option>
                                    <option value="Wacta">Wacta</option>
                                    <option value="Wadimor">Wadimor</option>
                                    <option value="WAHL">WAHL</option>
                                    <option value="Waihi Bush">Waihi Bush</option>
                                    <option value="WAR">WAR</option>
                                    <option value="Warner">Warner</option>
                                    <option value="WATERMAN">WATERMAN</option>
                                    <option value="WayWay">WayWay</option>
                                    <option value="WEA">WEA</option>
                                    <option value="Wella">Wella</option>
                                    <option value="WGT">WGT</option>
                                    <option value="WINER">WINER</option>
                                    <option value="Wonderful">Wonderful</option>
                                    <option value="Woodland's">Woodland's</option>
                                    <option value="Wudhu">Wudhu</option>
                                    <option value="Xpertise">Xpertise</option>
                                    <option value="XROBOT">XROBOT</option>
                                    <option value="Yoobao">Yoobao</option>
                                    <option value="ZB">ZB</option>
                                    <option value="ZiiEagle">ZiiEagle</option>
                                    <option value="Zippo">Zippo</option>
                                    <option value="Zwilling J.A. Henckels">Zwilling J.A. Henckels</option>
                                  </select>
                            </div>
                            <div class="alert alert-danger mt-10">
                                We are facing some connectivity issue with Lazada, can you refresh and try for correct data
                            </div>
                        </div>
                        
                    </div>
                    <div class="btn-group float-right mt-20">
                        <button type="button" (click)="switchtabOne()" class="btn btn-sm btn-secondary"><i class="fa fa-angle-left"></i> Back</button>
                        <button type="button" (click)="saveProduct()" class="btn btn-sm btn-default">Save</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="card-footer py-4">
            
        </div>
      </div>
    </div>
  </div>
</div>
