<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-4">
              <h3 class="mb-0">Stock Value Report</h3>
            </div>
          </div>
        </div>
        <div class="box-search">
          <div class="row">
            <div class='col-8'>
              <table>
                <tr>
                  <td>
                    <div class="input-group search-width-input">
                      <input type="text" class="form-control form-control-sm" placeholder="SKU or Product Title">
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-default" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class='col-4'>
              <table class="float-right">
                <tr>
                  <td>
                    <a href="#!" class="btn btn-secondary font-10 float-right">
                      <i class="fa fa-download"></i> Download </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="table-responsive">
            <div class="alert alert-default" style="margin: 8px !important;"> Total Stock Value: <b>Please enter costing details for your items</b>
            </div>
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th>SKU</th>
                  <th>TITLE</th>
                  <th>AVAILABLE QTY</th>
                  <th>ITEM COST</th>
                  <th>STOCK VALUE</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd gradeX">
                  <!--    <td><img src="https://s3-us-west-2.amazonaws.com/synmultichannelprod/188/87625_9d132979-74b5-42b6-98d3-4adf4f7b5f470.jpg"  style="width: 50px"/></td> -->
                  <td>1xKOSP1kg</td>
                  <td>KP Original Salted Peanuts 1kg</td>
                  <td>9</td>
                  <td> Not Available <a href="#add-new-products">Add Item Cost</a>
                  </td>
                  <td> Empty Item Costz </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>