<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
 
          <!-- Page content -->
          <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col-12">
        
                
                                <span class="caption-subject bold font-yellow-casablanca uppercase"> Manage Shipping Rules</span>

                                <div class="pull-right">
                                   
                                    <a class="btn btn-sm btn-primary btn-circle" href="#addrule"><i class="fa fa-share font-green"></i> Add Rule </a>
                                   	
                                </div>
                            </div>
                           
                        </div>
                        <div class="card-body">
        
                            <div class="table-scrollable">
        
                                <table class="table table-hover">
        
                                    <thead>
                                    <tr>
        <!--                                 <th>
                                            <input id="productselectallid" onclick="selectproductlist(this)" type="checkbox" class="group-checkable" data-set="#products_table .checkboxes">
                                        </th> -->
                                        <th>
                                            Rule Name
                                        </th>
                                        <th>
                                            Modifed Date
                                        </th>
                                        <th>
                                            Courier
                                        </th>
                                        <th>
                                            Service
                                        </th>
                                        <th>
                                            Status
                                        </th>
        
                                        <th>
                                            Action
                                        </th>
        
                                    </tr>
                                    </thead>
        
                                    <tbody>
                               
                               
        
                                        <tr>
        
        <!--                                     <td>
                                                  <input type="checkbox" name="selro_prd_row_sel" id="productid1" value="1" class="checkboxes">
                                            </td> -->
        
                                            <td>
                                                    Royal Mail rule 1
                                            </td>
        
                                            <td>
                                                    2021-09-15 08:38:37.0
                                            </td>
        
                                            <td>
                                               
                                                
        
                                                
        
                                                
        
                                                
                                                   <img style="width: 80px" src="https://s3.amazonaws.com/selrostatic/web/selroroyalmail.png">
                                                
        
                                                 
         
                                                 
        
        
        
                                            
        
                                            </td>
        
                                            <td>
                                                                ROYAL MAIL 48/CRL2
                                            </td>
        
                                            <td>
        
                                            
                                                
                                                    <span style="text-transform: uppercase;" class="label label-sm label-success">Enabled</span>
                                                
                                                
                                            
        
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-sm"  href="javascript:void(0)">Edit Rule</a>
                                                <a class="btn btn-danger btn-sm" href="javascript:void(0)">Remove Rule</a>
                                            </td>
                                        </tr>
        
                                
        <!-- 
                                        <tr>
        
                                            <td>
                                                <input type="checkbox" name="selro_prd_row_sel" id="productid2" value="2" class="checkboxes">
                                            </td>
                                            <td>
                                                    rule name
                                            </td>
        
                                            <td>
                                                    2021-08-30 16:45:48.0
                                            </td>
        
                                            <td>
                                                        Not Assigned
                                            </td>
        
                                            <td>
                                                                Not Assigned
        
                                            </td>
        
                                            <td>
                                                        <span style="text-transform: uppercase;" class="label label-sm label-success">Enabled</span>
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-sm" href="/shipping/editshippingrules?id=2">Edit Rule</a>
                                                <a class="btn btn-danger btn-sm" onclick="removeshippingrule(2)" href="javascript:void(0)">Remove Rule</a>
                                            </td>
                                        </tr> -->
        
        
                                    
        
        <!--                                 <tr>
                                            <td>
                                                <input type="checkbox" name="selro_prd_row_sel" id="productid3" value="3" class="checkboxes">
                                            </td>
                                            <td>
                                                    rule name
                                            </td>
        
                                            <td>
                                                    2021-08-31 16:08:47.0
                                            </td>
        
                                            <td>
                                                        Not Assigned
                                            </td>
        
                                            <td>
                                                                Not Assigned
                                            </td>
        
                                            <td>
                                                        <span style="text-transform: uppercase;" class="label label-sm label-success">Enabled</span>
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-sm" href="/shipping/editshippingrules?id=3">Edit Rule</a>
                                                <a class="btn btn-danger btn-sm" onclick="removeshippingrule(3)" href="javascript:void(0)">Remove Rule</a>
                                            </td>
                                        </tr> -->
        
        
                                    
        
        <!--                                 <tr>
        
                                            <td>
                                                <input type="checkbox" name="selro_prd_row_sel" id="productid4" value="4" class="checkboxes">
        
                                            </td>
                                            <td>
                                                    rule name
                                            </td>
        
                                            <td>
                                                    2021-09-01 11:00:13.0
                                            </td>
        
                                            <td>
                                                        Not Assigned
                                            </td>
        
                                            <td>
                                                                Not Assigned
                                            </td>
        
                                            <td>
                                                        <span style="text-transform: uppercase;" class="label label-sm label-success">Enabled</span>
        
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-sm" href="/shipping/editshippingrules?id=4">Edit Rule</a>
                                                <a class="btn btn-danger btn-sm" onclick="removeshippingrule(4)" href="javascript:void(0)">Remove Rule</a>
                                            </td>
                                        </tr> -->
        
        
                                    
        <!-- 
                                        <tr>
                                            <td>
        
                                                <input type="checkbox" name="selro_prd_row_sel" id="productid5" value="5" class="checkboxes">
        
                                            </td>
                                            <td>
                                                    rule name
                                            </td>
        
                                            <td>
                                                    2021-09-01 11:01:42.0
                                            </td>
        
                                            <td>
                                                        Not Assigned
                                            </td>
        
                                            <td>
                                                                Not Assigned
                                                                      
                                            </td>
        
                                            <td>
                                                        <span style="text-transform: uppercase;" class="label label-sm label-success">Enabled</span>
        
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-sm" href="/shipping/editshippingrules?id=5">Edit Rule</a>
                                                <a class="btn btn-danger btn-sm" onclick="removeshippingrule(5)" href="javascript:void(0)">Remove Rule</a>
                                            </td>
                                        </tr> -->
        
        
                                    
        
        <!--                                 <tr>
        
                                            <td>
                                                <input type="checkbox" name="selro_prd_row_sel" id="productid6" value="6" class="checkboxes">
        
                                            </td>
                                            <td>
                                                    rule name
                                            </td>
        
                                            <td>
                                                    2021-09-01 16:14:58.0
                                            </td>
        
                                            <td>
                                                        <img style="width: 80px" src="https://s3.amazonaws.com/selrostatic/web/selrodpd.png">
                                            </td>
        
                                            <td>
                                                                1^12 
                                            </td>
        
                                            <td>
                                                        <span style="text-transform: uppercase;" class="label label-sm label-success">Enabled</span>
        
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-sm" href="/shipping/editshippingrules?id=6">Edit Rule</a>
                                                <a class="btn btn-danger btn-sm" onclick="removeshippingrule(6)" href="javascript:void(0)">Remove Rule</a>
                                            </td>
                                        </tr> -->
        
        
                                    
        <!-- 
                                        <tr>
        
                                            <td>
        
                                                <input type="checkbox" name="selro_prd_row_sel" id="productid7" value="7" class="checkboxes">
        
                                            </td>
                                            <td>
                                                    rule name
                                            </td>
        
                                            <td>
                                                    2021-09-01 16:20:18.0
                                            </td>
        
                                            <td>
                                                        Not Assigned
                    
                                            </td>
        
                                            <td>
                                                                Not Assigned
                                                            
                                            </td>
        
                                            <td>
                                                        <span style="text-transform: uppercase;" class="label label-sm label-success">Enabled</span>
        
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-sm" href="/shipping/editshippingrules?id=7">Edit Rule</a>
                                                <a class="btn btn-danger btn-sm" onclick="removeshippingrule(7)" href="javascript:void(0)">Remove Rule</a>
                                            </td>
                                        </tr> -->
        
        
                                    
        <!-- 
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="selro_prd_row_sel" id="productid8" value="8" class="checkboxes">
        
                                            </td>
                                            <td>
                                                    rule name
                                            </td>
        
                                            <td>
                                                    2021-09-01 16:22:49.0
                                            </td>
        
                                            <td>
                                                        <img style="width: 80px" src="https://s3.amazonaws.com/selrostatic/web/selrodpd.png">
        
                                            </td>
        
                                            <td>
                                                                1^09 
        
                                            </td>
        
                                            <td>
                                                        <span style="text-transform: uppercase;" class="label label-sm label-success">Enabled</span>
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-sm" href="/shipping/editshippingrules?id=8">Edit Rule</a>
                                                <a class="btn btn-danger btn-sm" onclick="removeshippingrule(8)" href="javascript:void(0)">Remove Rule</a>
                                            </td>
                                        </tr> -->
        
        
                                    
        
        <!--                                 <tr>
                                            <td>
                                                <input type="checkbox" name="selro_prd_row_sel" id="productid9" value="9" class="checkboxes">
        
                                            </td>
                                            <td>
                                                    rule name
                                            </td>
        
                                            <td>
                                                    2021-09-03 13:30:24.0
                                            </td>
        
                                            <td>
                                                        Not Assigned
                                            </td>
        
                                            <td>
                                                                Not Assigned
                                            </td>
        
                                            <td>
                                                        <span style="text-transform: uppercase;" class="label label-sm label-success">Enabled</span>
        
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-sm" href="/shipping/editshippingrules?id=9">Edit Rule</a>
                                                <a class="btn btn-danger btn-sm" onclick="removeshippingrule(9)" href="javascript:void(0)">Remove Rule</a>
                                            </td>
                                        </tr> -->
        
        
                                    
        
        
        
        
                                    </tbody>
                                </table>
                             </div>
            
    </div>

    <div class="card-footer py-4">
        
    </div>
  </div>
</div>
</div>
</div>
                            </div>
        
                       