<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
              <div class="col-12">
                <h3 class="mb-0"><i class="fa fa-print"></i> Invoice Templates</h3>
              </div>
            </div>
        </div>
        
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 margin-bottom-20" id="table-left">
                    <div class="mt-element-ribbon bg-grey-steel">
                        <div class="ribbon ribbon-clip uppercase">
                            <div class="ribbon-sub ribbon-clip"></div>
                                <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubebay.png" height="40">
                            </div>
                            <table class="ribbon-content font-10" style="min-height: 120px !important; padding: 10px !important">
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Name : <b><a class="tooltips" data-original-title="">PE-EBay</a></b></td>
                                    </tr>
                                    <tr>
                                        <td>Invoice Template : <b>INV-Template</b></td>
                                    </tr>
                                    <tr>
                                        <td>Shipping Label : <b>Shipping Label</b></td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>

                <div class="col-md-3 margin-bottom-20" id="table-left">
                    <div class="mt-element-ribbon bg-grey-steel">
                        <div class="ribbon ribbon-clip uppercase">
                            <div class="ribbon-sub ribbon-clip"></div>
                                <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubamazon.png" height="40">
                            </div>
                            <table class="ribbon-content font-10" style="min-height: 120px !important; padding: 10px !important">
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Name : <b><a class="tooltips" data-original-title="">Amazone_INV</a></b></td>
                                    </tr>
                                    <tr>
                                        <td>Invoice Template : <b>INV-Template</b></td>
                                    </tr>
                                    <tr>
                                        <td>Shipping Label : <b>Shipping Label</b></td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer py-3">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
  
</div>
