<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubwndirect.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><i class="fa fa-truck"></i> Manage DPD Integration</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <div class="pull-right">
                                <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a>
                                <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                            </div>

                        </div><br>
                    </div>
                </div>

    <div id="maindiv">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet transparent">
                    <div class="portlet">
                        <div class="portlet-body form">
                            <div class="portlet box">
                                <div class="portlet-body">
                                    <div class="">
                                        <div class="tabbable-custom">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#tab_1_1" data-toggle="tab" aria-expanded="true">
                                                        Integration </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active in" id="tab_1_1">
                                                    <div class="portlet-body form">
                                                        <!-----------------------------Form Start----------------------------------->
                                                        <div class="portlet box">
                                                            <div class="">
                                                                <div class="portlet transparent">
                                                                    <div class="portlet-body">
                                                                        <div class="row">
                                                                            <form class="" role="form">
                                                                                <div class="col-md-12">
                                                                                    <div class="portlet box blue">
                                                                                        <div class="portlet-title">
                                                                                            
                                                                                        </div>
                                                                                        <div class="portlet-body">
                                                                                            <div class="row">
                                                                                                <div class="col-md-6">
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Sender Name</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="SenderName"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Sender Address Line 1</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="SenderAddressLine1"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Sender Address Line 2</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="SendAddressLine2"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Sender Address Line 3</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="SendAddressLine3"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>wnDirect Customer Number</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="WnDirectCustomerNumber"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Sender Address Line 4</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="SendAddressLine4"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Sender Postcode</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="SenderPastcode"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Product Composition</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="ProductComposition"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>wnDirect Customer Code</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="wnDirectCustomerCode"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-----------------------------Form Ends----------------------------------->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>