.font-10 {
    font-size: 7.8pt !important;
  }
  .font-11 {
    line-height: 23px !important;
    font-size: 9pt !important;
  }
  .box-search {
    border-top: 3px solid rgb(255, 87, 51);
    padding: 10px;
    margin: -5px 10px 10px 10px !important;
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
  .box-search-bottom {
    border-top: 1px solid rgb(238, 238, 238);
    padding: 5px;
    margin: -10px 10px 10px 10px !important;
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  
  .search-width-80 {
    width: 80px !important;
  }
  
  .search-width {
    width: 120px !important;
  }
  
  .search-width-150 {
    margin-left: 20px !important;
    width: 100px !important;
  }
  
  .search-width-200 {
    margin-left: 10px !important;
    width: 180px !important;
  }
  
  .search-width-220 {
    width: 185px !important;
  }
  
  .search-width-input {
    width: 220px !important;
  }
  th {
    background: #d9e0e0;
    text-align: left;
    display: table-cell;
}
table {
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-indent: initial;
    border-spacing: 0px;
}
.table>tbody>tr>td {
    vertical-align: middle;
    max-width: 200px;
    border: 1px solid #d9e0e0;
}
.form-cnt{
    width:165px; 
}
.float-right {
    float: right !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: -7px;
}
.text-right {
    text-align: right !important;
}
.col-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-4 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.btn {
    position: relative;
    text-transform: none;
    transition: all 0.15s ease;
    letter-spacing: 0.025em;
    font-size: 0.875rem;
    will-change: transform;
}
.align-items-center {
    align-items: center !important;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.375rem;
}
.btn-secondary {
    color: #212529;
    background-color: #f7fafc;
    border-color: #f7fafc;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
input.form-control {
    width:408px;
    height: 30px !important;
    padding: 2px 5px!important;
    font-size: 15px !important;
}
.form-control {
    font-family: 'Roboto', sans-serif;
    outline: none !important;
    box-shadow: none !important;
    font-weight: 500 !important;
    border-radius: 3px !important;
    background-color: #fff;
    border: 1px solid #c2cad8;
    line-height: 1.42857;
    color: #555;
    display: block;
    font-size: 0.875rem;
}
.portlet.box > .portlet-body {
    background-color: #fff;
    padding: 15px;
}
.tabbable-custom {
    margin-bottom: 15px;
    padding: 0px;
    overflow: hidden;
}
.tabbable-custom > .nav-tabs {
    border: none;
    margin: 0px;
}
.nav {
    padding-left: 0;
    list-style: none;
}
.tabbable-custom > .nav-tabs > li.active {
    border-top: 3px solid #f4ae33;
    margin-top: 0;
    position: relative;
}
.tabbable-custom > .nav-tabs > li {
    margin-right: 2px;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li, .nav>li>a {
    display: block;
    position: relative;
}
.nav>li>a {
    padding: 10px 15px;
  }
.nav-tabs>li.active>a{
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
.tabbable-custom > .tab-content {
    
    border: 1px solid #ddd;
    padding: 10px;
}
.form {
    padding: 0px !important;
}

.tabbable-custom > .nav-tabs {
    border: none;
    margin: 0px;
}
.tabbable-custom > .tab-content {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
}
.tab-content>.active {
    display: block;
}
.portlet.box {
    padding: 0px !important;
}
.portlet {
    margin-bottom: 5px !important;
    padding: 0px !important;
}
.portlet.box > .portlet-body {
    background-color: #fff;
    padding: 15px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    font-weight: 500 !important;
    font-size: 13px;
    border-radius: 0 !important;
    display: inline-block;
    margin-bottom: 5px;
    max-width: 100%;
}
.col-md-6{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}


  
  