<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    
    <ul class="nav nav-tabs" role="tablist">
      <li *ngFor="let row of menuData" class="nav-item">
          <a (click)="openMenu(row.menuLink)" class="nav-link active" data-toggle="tab" href="#app_store">{{ row.menuTitle }} &nbsp;&nbsp;<span (click)="removeMenu(row.menuTitle, row.menuLink)">x</span></a>
      </li>
    </ul>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-2">
              <h3 class="mb-0">Cancelled Orders</h3>
            </div>
            <div class="col-10 text-right">
              <div class="float-right">
                <a href="#!" class="btn btn-sm btn-secondary font-10">
                  <i class="fa fa-file-excel-o text-green"></i> Export To CSV </a>
                <a href="#!" class="btn btn-sm btn-secondary font-10">
                  <i class="fa fa-print text-blue"></i> Print </a>
                <a href="#!" class="btn btn-sm btn-default font-10">
                  <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-search">
          <div class="row">
            <div class='col-12'>
              <table>
                <tr>
                  <td> &nbsp; Search </td>
                  <td>
                    <select class="form-control form-control-sm search-width">
                      <option value=''>Search What</option>
                      <option value='SKU'>SKU</option>
                      <option value='Title'>Title</option>
                      <option value='Order No'>Order No</option>
                      <option value='Customer Name'>Customer Name</option>
                    </select>
                  </td>
                  <td>
                    <div class="input-group search-width-input">
                      <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-default" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </td>
                  <td> &nbsp; Channel </td>
                  <td>
                    <select class="form-control form-control-sm search-width-220">
                      <option value=''>All Channel</option>
                      <option value='Amazon'>Amazon</option>
                      <option value='eBay'>eBay</option>
                    </select>
                  </td>
                  <td> &nbsp; Show </td>
                  <td>
                    <select class="form-control form-control-sm search-width">
                      <option value=''>100</option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div id="app_store" class="container tab-pane active">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">
                      <input id="customCheck5" type="checkbox">
                    </th>
                    <th scope="col">Order No</th>
                    <th scope="col">Channel</th>
                    <th scope="col">Title</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Stock Qty</th>
                    <th scope="col">Shipping</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label class="checkbox">
                        <input type="checkbox" name="tid" id="orderid9434" class="checkboxes" value="9434">
                        <input type="hidden" id="9434orderid" value="10326">
                        <span></span>
                      </label>
                    </td>
                    <td class="od" title="Order No">9434</td>
                    <td class="od" title="telesale ">
                      <img height="30" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubtelesale.png">
                      <br>
                    </td>
                    <td class="od" title="Product" style="white-space: normal;">
                      <img width="50px" src="https://cdn.shopify.com/s/files/1/1768/1391/products/DT000000056-WOM-SWT-BLK.jpg?v=1524065805">
                      <p>David Bowie Ziggy Stardust Hammersmith Odeon 1973 Women's Sweatshirt</p>
                    </td>
                    <td>
                      <a>DT000000056-WOM-SWT-BLK-XL</a>
                    </td>
                    <td class="date" title="Date">16/08/2021</td>
                    <td class="od" title="Customer">Anusha Gopu</td>
                    <td class="amount">
                      <span title="Amount">26.95</span>
                    </td>
                    <td class="stock">
                      <span title="Qty">
                        <a href="javascript:;" class="btn btn-circle default red-stripe"> 1 </a>
                      </span>
                    </td>
                    <td class="smd">
                      <span title="shipping method"> Cancelled Order </span>
                    </td>
                    <td>
                      <a data-toggle="tab" href="#other" type="button" class="btn btn-sm btn-circle btn-default"> View <i class="fa fa-angle-right"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="other" class="container tab-pane fade">
            <div class="col-md-12">
              <!-- portlet start -->
              <div class="card">
                <!--portlet-body form start-->
                <div class="card box border-primary">
                  <!-- portlet box blue start-->
                  <div class="card-header bg-primary text-white">
                    <div class="caption">
                      <i class="fa fa-truck"></i> View Order Details: 1629864811742 <div class="actions pull-right">
                        <a class="btn btn-xs btn-default btn-sm" href="javascript:void(0)">Send Email</a>
                        <a class="btn btn-xs btn-default btn-sm" href="javascript:void(0)">Save</a>
                        <a class="btn btn-xs btn-default btn-sm" onClick="window.location.reload();">Close</a>
                      </div>
                    </div>
                  </div>
                  <!--portlet-body start-->
                  <div class="card-body">
                    <!--tab-content start-->
                    <div class="tab-content">
                      <!-- tab_1 start-->
                      <div class="tab-pane active" id="tab_1">
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <div class="card widget-thumb">
                              <div class="card-header">
                                <div class="alert alert-default">
                                  <i class="fa fa-shopping-cart"></i> Order Details
                                </div>
                              </div>
                              <div class="card-body">
                                <div class="row static-info">
                                  <div class="col-md-5 name"> Order #: </div>
                                  <div class="col-md-7 value">
                                    <input type="hidden" id="editorderorderid" value="9447"> 1629864811742
                                  </div>
                                </div>
                                <div class="row static-info">
                                  <div class="col-md-5 name"> Channel: </div>
                                  <div class="col-md-7 value">
                                    <img height="30" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubtelesale.png">
                                  </div>
                                </div>
                                <div class="row static-info">
                                  <div class="col-md-5 name"> Order Date &amp; Time: </div>
                                  <div class="col-md-7 value"> 2021-08-25 04:13:31 </div>
                                </div>
                                <div class="row static-info">
                                  <div class="col-md-5 name"> Order Status: </div>
                                  <div class="col-md-7 value">
                                    <span class="label label-success"> Canceled </span>
                                  </div>
                                </div>
                                <div class="row static-info">
                                  <div class="col-md-5 name"> Grand Total: </div>
                                  <div class="col-md-7 value"> &nbsp;26.95 </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <div class="card widget-thumb">
                              <div class="card-header">
                                <div class="alert alert-default">
                                  <i class="fa fa-user"></i> Customer Information
                                </div>
                                <div class="actions"></div>
                              </div>
                              <div id="customerdivid" class="card-body">
                                <div class="row static-info">
                                  <div class="col-md-5 name"> Customer Name: </div>
                                  <div class="col-md-5 value"> Anusha Gopu </div>
                                </div>
                                <div class="row static-info">
                                  <div class="col-md-5 name"> Email: </div>
                                  <div class="col-md-5 value">
                                    <a href="mailto:gopuanushareddy@gmail.com" target="_top">gopuanushareddy@gmail.com</a>
                                  </div>
                                </div>
                                <div class="row static-info">
                                  <div class="col-md-5 name"> Phone Number: </div>
                                  <div class="col-md-5 value"> 07931531824 </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-sm-12" style="padding-top: 10px;">
                            <div class="card widget-thumb">
                              <div class="card-header">
                                <div class="alert alert-default">
                                  <i class="fa fa-address-book"></i> Billing Address
                                </div>
                                <div class="actions"></div>
                              </div>
                              <div class="card-body">
                                <div class="row static-info">
                                  <form class="form-horizontal" role="form">
                                    <div class="col-md-12 value"> Aldridge road <br> M11 3DH <br> Please select a state <br> UNITED KINGDOM <br>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <div class="card widget-thumb">
                              <div class="card-header">
                                <div class="alert alert-default">
                                  <i class="fa fa-address-card-o"></i> Shipping Address
                                </div>
                                <div class="actions"></div>
                              </div>
                              <div class="card-body">
                                <div class="row static-info">
                                  <form class="form-horizontal" role="form">
                                    <div class="col-md-12 value"> Anusha Gopu <br> Aldridge road <br> Manchester <br> M11 3DH <br> Please select a state <br> UNITED KINGDOM&nbsp; <br> Contact Number: 07931531824 <br>
                                      <br>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 col-sm-12">
                            <div class="card widget-thumb">
                              <div class="card-header">
                                <div class="alert alert-default">
                                  <i class="fa fa-cubes"></i> Sale Items
                                </div>
                                <div class="actions">
                                  <!--
                                  <a href="javascript:;" class="btn btn-default btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                                  -->
                                </div>
                              </div>
                              <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table tableFixHead table-hover order-column v2">
                                    <thead>
                                      <tr>
                                        <th> Image </th>
                                        <th> Product </th>
                                        <th> SKU </th>
                                        <th> Price </th>
                                        <th> Quantity </th>
                                        <th> Total </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>
                                          <img width="100px;" src="https://cdn.shopify.com/s/files/1/1768/1391/products/DT000000056-WOM-SWT-BLK.jpg?v=1524065805">
                                        </td>
                                        <td> David Bowie Ziggy Stardust Hammersmith Odeon 1973 Women's Sweatshirt </td>
                                        <td> DT000000056-WOM-SWT-BLK-XL </td>
                                        <td> 26.95 </td>
                                        <td> 1 </td>
                                        <td></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="well" style="background-color: #f1f4f7; padding: 20px;">
                              <div class="table-responsive">
                                <table class="table tableFixHead table-hover order-column v2">
                                  <thead>
                                    <tr>
                                      <th> Tracking Number </th>
                                      <th> Shipped Date </th>
                                      <th> Shipping Method </th>
                                      <th> Carrier </th>
                                      <th> UPC/EAN </th>
                                      <th> Serial Number </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <input type="text" id="trackingId" value="">
                                      </td>
                                      <td></td>
                                      <td></td>
                                      <td>
                                        <input type="text" id="carrierId" value="">
                                      </td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="well inner-box" style="background-color: #f1f4f7; padding: 20px;">
                              <div class="row static-info align-reverse">
                                <div class="col-md-8 name"> Sub Total: </div>
                                <div class="col-md-2  value"> &nbsp;26.95 </div>
                              </div>
                              <div class="row static-info align-reverse">
                                <div class="col-md-8 name"> Shipping: </div>
                                <div class="col-md-2 value"> &nbsp; 0.00 </div>
                              </div>
                              <div class="row static-info align-reverse">
                                <div class="col-md-8 name"> Grand Total: </div>
                                <div id="ordertotal" class="col-md-2 value"> &nbsp;26.95 </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- tab_1 end-->
                      <!-- tab_2 start-->
                      <div class="tab-pane" id="tab_2">
                        <div class="row">
                          <div class="col-md-12 col-sm-12">
                            <div class="card widget-thumb">
                              <div class="card-header">
                                <div class="alert alert-default">
                                  <i class="fa fa-info"></i>Created Invoices are displayed below
                                </div>
                                <div class="actions"></div>
                              </div>
                              <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table table-striped table-bordered table-hover dataTable no-footer">
                                    <thead>
                                      <tr role="row" class="heading">
                                        <th> # </th>
                                        <th> System </th>
                                        <th> Invoice Id </th>
                                        <th> Action </th>
                                      </tr>
                                    </thead>
                                    <tbody></tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- tab_2 end-->
                    </div>
                    <!--tab-content end-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>