<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    
    <ul class="nav nav-tabs" role="tablist">
      <li *ngFor="let row of menuData" class="nav-item">
          <a (click)="openMenu(row.menuLink)" class="nav-link active" data-toggle="tab" href="#app_store">{{ row.menuTitle }} &nbsp;&nbsp;<span (click)="removeMenu(row.menuTitle, row.menuLink)">x</span></a>
      </li>
    </ul>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-2">
                <h3 class="mb-0">Returned Orders</h3>
              </div>

              

              <div class="col-10 text-right">
                <div class="float-right">
                  <a href="#!" class="btn btn-sm btn-secondary font-10"><i class="fa fa-file-excel-o text-green"></i> Export To CSV</a>
                  <a href="#!" class="btn btn-sm btn-secondary font-10"><i class="fa fa-print text-blue"></i> Print</a>
                  <a href="#!" class="btn btn-sm btn-default font-10"><i class="fa fa-search"></i></a>

                </div>
                
              </div>
            </div>
        </div>
        
        <div class="box-search">
            <div class="row">
              <div class='col-12'>
                <table>
                  <tr>
                    <td>
                        &nbsp; Search
                      </td>
                      <td>
                        <select class="form-control form-control-sm search-width">
                          <option value=''>Search What</option>
                          <option value='SKU'>SKU</option>
                          <option value='Title'>Title</option>
                          <option value='Order No'>Order No</option>
                          <option value='Customer Name'>Customer Name</option>
                        </select>
                      </td>
                      <td>
                        <div class="input-group search-width-input">
                          <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                          <div class="input-group-append">
                            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                      </td> 
                    <td>
                        &nbsp; Channel
                    </td>
                    <td>
                        <select class="form-control form-control-sm search-width-220">
                          <option value=''>All Channel</option>
                          <option value='Amazon'>Amazon</option>
                          <option value='eBay'>eBay</option>
                        </select>
                      </td>
                    <td>
                        &nbsp; Show
                    </td>
                    <td>
                        <select class="form-control form-control-sm search-width">
                          <option value=''>100</option>
                        </select>
                    </td>
                    
                    
                    
                  </tr>
                </table>
              </div>
            </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">
                  <input id="customCheck5" type="checkbox">
                </th>
                <th scope="col">Order No</th>
                <th scope="col">Channel</th>
                <th scope="col">Product</th>
                <th scope="col">SKU</th>
                <th scope="col">Returned Date</th>
                <th scope="col">Customer</th>
                <th scope="col">Refund (Aprox)</th>
                <th scope="col">Shipping</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td colspan="10">
                    <div class="alert alert-warning"><i class="fa fa-info-circle"></i> No Returned Orders data to display</div>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
</div>
