<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Table -->
        <div class="row p--0 mt--4">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-1">
                <div class="row align-items-center">
                    <div class="col-12">
                      <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage your Rakuten account integration setting</h3>
                    </div>
                    
                  </div>
              </div>
              
              <div class="card-body">
                 
                  
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link font-11" data-toggle="tab" href="#other">Listing Templates</a>
                      </li>
                  </ul>
  
                  <div class="tab-content">
                      <div id="app_store" class="container tab-pane active"><br>
                           <div class="row" style="border-bottom: 1px solid #CCC;">
                              <div class="col-3">
                                <h4 class="mb-0"><img src="{{ logo }}" class="image-logo" /></h4>
                              </div>
                              <div class="col-9 float-right">
                                <a class="btn btn-secondary btn-dark btn-sm">Save <i class="fa fa-angle-right"></i></a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-exchange text-green"></i> Test Connection</a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-download"></i> Download Rakuten Catalog</a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-times-circle-o"></i> Remove All Listing From SellersHub</a>
                                <a class="btn btn-secondary btn-outline btn-sm" routerLink="/channelconnector"><i class="fa fa-remove"></i> Close</a>
                              </div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-4">

                                    <div class="form-group">
                                        <label class=" control-label">Please select a Rakuten Marketplace</label>
                                        <select class="form-control form-control-sm" id="marketplaceId">
                                          <option value="-1">Please select</option>
                                          <option value="us">US</option>
                                          <option value="uk">UK</option>
                                          <option value="es">Spain</option>
                                          <option value="id">Indonesia</option>
                                          <option value="my">Malaysia</option>
                                          <option value="sg">Singapore</option>
                                          <option value="tw">Taiwan</option>
                                        </select>
                                      </div>

                                      <div class="form-group">
                                        <label class="control-label">
                                          <strong>Rakuten API Key</strong>
                                        </label>
                                        <input type="text" value="" class="form-control form-control-sm input-lg" id="apiKey" placeholder="Enter Rakuten API Token">
                                        <p> Please request for a key to either your ECC, MSA or send an email to Merchant.Helpdesk@Rakuten.co.uk to get the API key.</p>
                                      </div>

                                      <label class="control-label">
                                        <strong>Default Rakuten Shop Category</strong>
                                      </label>
                                      <div class="input-group">
                                        <input id="storecategoryidone" value="" class="form-control form-control-sm" type="text" name="storecategoryidone" placeholder="Rakuten Shop Category">
                                        <span class="input-group-btn">
                                          <a class="" type="button">
                                            <button class="btn-xs" type="button">Shop Categories</button>
                                          </a>
                                        </span>
                                      </div>

                                      <div class="form-group">
                                        <label>Download the catalog into KartzHub</label>
                                        <div class="mt-checkbox-list">
                                          <input id="downloadamazoncatalogid" checked="" type="checkbox" value="">
                                        </div>
                                      </div>

                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class=" control-label">Channel Name</label>
                                        <input type="text" value="Rakuten" class="form-control form-control-sm input-lg" id="nameid" placeholder="Name to remember within KartzHub">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">
                                          <strong>Rakuten Shop Url</strong> (e.g http://www.rakuten.co.uk/shop/myshop) </label>
                                        <input type="text" value="" class="form-control form-control-sm input-lg" id="apiusername" placeholder="Shop Id">
                                    </div>

                                    <label class="control-label">
                                        <strong>Default Rakuten Category</strong>
                                      </label>
                                      <div class="input-group">
                                        <input id="storecategoryidtwo" value="" class="form-control form-control-sm" type="text" name="selectedcategorynameid" placeholder="Rakuten  Category">
                                        <span class="input-group-btn">
                                          <a onclick="loadrakutencategories(5777)" class="" type="button">
                                            <button class="btn-xs" type="button">Rakuten Categories</button>
                                          </a>
                                        </span>
                                      </div>

                                      <label class="control-label">
                                        <strong>Default Rakuten Category</strong>
                                      </label>
                                      <div class="input-group">
                                        <input id="storecategoryidtwo" value="" class="form-control form-control-sm" type="text" name="selectedcategorynameid" placeholder="Rakuten  Category">
                                        <span class="input-group-btn">
                                          <a class="" type="button">
                                            <button class="btn-xs" type="button">Rakuten Categories</button>
                                          </a>
                                        </span>
                                      </div>

                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class=" control-label">Rakuten Shop Id/Seller Id</label>
                                        <input type="text" value="" class="form-control form-control-sm input-lg" id="merchantIdentifier" placeholder="Rakuten Seller Id">
                                      </div>
                                </div>
                            </div>
                      </div>
                      <div id="other" class="container tab-pane fade">
                            
                            <div class="col-sm-12">
                                <div class="float-right mb-20 mt-10">
                                    <button class="btn btn-secondary btn-sm btn-circle" ><i class="fa fa-arrow-up font-blue"></i> New Listing Template</button>
                                    <a routerLink="/channelconnector" class="btn btn-secondary btn-sm btn-circle"><i class="fa fa-remove text-red"></i> Close</a>
                                </div>
                                <table class="table tableFixHead table-hover order-column v2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Template Name</th>
                                            <th>Modified Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <br />
                                <div class="padding-10">
                                    <div class="row form-body">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                          <div class="form-group">
                                            <label class=" control-label">Template Name</label>
                                            <br>
                                            <input type="text" value="" class="form-control  form-control-sm" id="templatename" placeholder="Enter Template Name">
                                          </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                          <div class="form-group">
                                            <label class="control-label">Rakuten Categories:</label>
                                            <div class="input-group">
                                              <input type="text" class="form-control  form-control-sm" id="selectedcategorynameid" value="" placeholder="Rakuten Category Id">
                                              <span class="input-group-btn">
                                                <a>
                                                  <button class="btn-xs" type="button">Show Rakuten Categories</button>
                                                </a>
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <div class="form-group">
                                            <label class="control-label">Pricing Rule</label>
                                            <br>
                                            <input type="text" value="" class="form-control form-control-sm" id="pricingRule" placeholder="Pricing Rule">
                                            <div class="well">
                                              <p>e.g <strong>$ {{ cost_price }} * 1.6 + 1 </strong>
                                              </p>
                                              <p></p>
                                              <p> This make the selling price by multiplying cost price by 1.6 and add 1 Tags available are <strong>$ {{ cost_price }}! and $ {{ selling_price }}!</strong>
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <div class="pull-right">
                                            <a  type="submit" class="btn btn-sm btn-success btn-circle">
                                              <i class="fa fa-check"></i> Save </a>
                                            <a type="button" class="btn btn-sm btn-default btn-circle">
                                              <i class="fa fa-times font-red"></i> Cancel </a>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                      </div>
                  </div>
                  
              </div>
  
              <div class="card-footer py-4">
                  
                </div>
            </div>
          </div>
        </div>
    
  
      </div>
    </div>
  </div>