<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-2">
                <h3 class="mb-0">Listed Products</h3>
              </div>

              

              <div class="col-10 text-right">
                <div class="float-right">
                  <a href="#!" class="btn btn-sm btn-secondary font-10" data-toggle="modal" data-target="#updatechannelModel" ><i class="fa fa-cloud-upload text-dark"></i> Update To Channel</a>
                  <!-- <a href="#!" class="btn btn-sm btn-secondary font-10"><i class="fa fa-sitemap text-dark"></i> Bulk Operations <i class="fa fa-angle-down"></i></a> -->
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-sm btn-secondary font-10" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-sitemap text-dark"></i> Bulk Operations <i class="fa fa-angle-down"></i></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem (click)="toggleTag()"><i class="fa fa-money"></i> BULK REVISE PRICES</button>
                      <button ngbDropdownItem (click)="toggleTag1()">  <i class="fa fa-sliders"></i>BULK REVISE QUANTITY</button>
                      <button ngbDropdownItem data-toggle="modal" data-target="#bulkupdateModel"  ><i class="fa fa-cloud-upload"></i> BULK UPDATES</button>
                    </div>
                  </div> 
                  <a  data-toggle="modal" data-target="#channel" class="btn btn-sm btn-secondary font-10"><i class="fa fa-plus-circle text-dark"></i> Add To Channel</a>
                  <a  class="btn btn-sm btn-secondary font-10"><i class="fa fa-file-excel-o text-green"></i> Export</a>
                  <a  class="btn btn-sm btn-secondary font-10" data-toggle="modal" data-target="#variationModel" ><i class="fa fa-file text-green"></i> Create Variation Parent</a>
                  <a  class="btn btn-sm btn-default font-10"><i class="fa fa-search"></i></a>

                </div>
                
              </div>
            </div>
        </div>
        
        <div class="box-search">
            <div class="row">
              <div class='col-12'>
                <table>
                  <tr>
                    <td>
                      &nbsp; Search
                    </td>
                    <td>
                      <select class="form-control form-control-sm search-width">
                        <option value=''>Search What</option>
                        <option value='SKU'>SKU</option>
                        <option value='Channel'>Channel</option>
                        <option value='Title'>Title</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group search-width-input">
                        <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                        <div class="input-group-append">
                          <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                    </td>
                    <td>
                        &nbsp; Amazon Products
                    </td>
                    <td>
                        <select class="form-control form-control-sm search-width">
                          <option value='ALL'>Select</option>
                        </select>
                    </td>
                    <td>
                        &nbsp; Channels
                    </td>
                    <td>
                        <select class="form-control form-control-sm search-width">
                          <option value='ALL'>All Channel</option>
                        </select>
                    </td>
                    <td>
                        &nbsp; Sorting
                    </td>
                    <td>
                        <select class="form-control form-control-sm search-width-100">
                          <option value='ALL'>Sort By</option>
                        </select>
                    </td>
                    <td>
                      &nbsp; Show
                    </td>
                    <td>
                      <select class="form-control form-control-sm search-width-80">
                        <option value=''>100</option>
                      </select>
                    </td>  
                    
                  </tr>
                </table>
              </div>
            </div>
        </div>
        <div id="bulkpriceincreasedivid" *ngIf="showMe" class="alert alert-block alert-default fade-in">
          <strong>Bulk Revise Product Prices</strong>
        <p>Please select products to change price.</p>
          <table class="table">
            <tbody><tr class="">
            <td>
              <select id="pricetype" class="form-control input-inline btn-circle">
                <option value="pricebynumber">By Number</option>
                <option value="pricebypercentage">By Percentage</option>
              </select>
              </td>
              <td>
                <input value="0" placeholder="Percentage to increase e.g 5%" class="form-control input-circle" type="text" id="priceincreaseamountid">
              </td>
              <td>
                <a  class="btn btn-sm btn-default btn-circle" href="javascript:void(0)"><i class="fa fa-arrow-circle-o-up font-blue"></i> Increase</a>
                <a  class="btn btn-sm btn-default btn-circle" href="javascript:void(0)"><i class="fa fa-arrow-circle-o-down font-blue"></i> Decrease</a>
                <a *ngIf="showMe" class="btn btn-sm btn-default btn-circle" href="javascript:void(0)"><i class="fa fa-times font-red"></i> Cancel</a>
              </td>
            </tr>
          </tbody></table>
        </div>
        <div id="bulkquantityincreasedivid" *ngIf="showMe1" class="alert alert-block alert-default fade-in">
          <strong>Bulk Revise Product Quantity</strong>
            <p>Please search products and  select a percentage to change price. e.g 5%  to increase or decrease the current price by 5%</p>
        <p>Please select products to change quantity.</p>
          <table class="table">
            <tbody><tr>
              <td>
                <input value="0" placeholder="Enter number of quantity to increase" class="form-control input-circle" type="text" id="quantityincreaseid">
              </td>
              <td>
                <a  class="btn btn-sm btn-default btn-circle" href="javascript:void(0)">Increase</a>
                <a  class="btn btn-sm btn-default btn-circle" href="javascript:void(0)">Decrease</a>
                <a *ngIf="showMe1" class="btn btn-sm btn-default btn-circle" href="javascript:void(0)">Cancel</a>
              </td>
            </tr>
          </tbody></table>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">
                  <input id="customCheck5" type="checkbox">
                </th>
                <th scope="col">Image</th>
                <th scope="col">SKU</th>
                <th scope="col">Title</th>
                <th scope="col">Selling Price</th>
                <th scope="col">Channel</th>
                <th scope="col">Total Quantity</th>
                <th scope="col">Listing Quantity</th>
                <th scope="col">Product ID</th>
                <th scope="col">Listing Status</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td><input id="customCheck5" type="checkbox"></td>
                  <td style="vertical-align: middle;" class="sorting_1">
			
						
						
                    <!-- <img width="50px" src="./Sellershub _ Multichannel Selling_files/204123"> -->
                  
            
              
              
            </td>
            <td style="vertical-align: middle;">
              Ken2123791
            </td>
            <td style="vertical-align: middle; white-space: normal;">
               <a  href="javascript:void(0)">Kenwood HM225 3 Speed Hand Mixer Whisk150w Silver</a>
            </td>
            <td style="vertical-align: middle;">
              15.00
            </td>
            <td style="vertical-align: middle;">
                <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubprestashop.png" height="35">
                <span class="label label-default"></span><br>
              
      
              
            </td>
            <td style="vertical-align: middle;">
                <span class="badge badge-default">191</span>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#ticket1Modal" class="btn btn-sm">Edit</a>
            </td>
            <td style="vertical-align: middle;">
              
                
      
                
                  <span class="badge badge-success">191</span>
                
              
            </td>
            <td style="vertical-align: middle;">
              
                
      
                
                  <a target="_blank" href="https://login.sellershub.io/channels/viewitem?id=80896">102155</a>
                
              
            </td>
            <td style="vertical-align: middle;">
                 <span class="label label-sm label-success">ACTIVE</span>
            </td>
            <td style="vertical-align: middle;">
              <a class="tooltips" data-container="body" data-placement="top" data-html="true" data-original-title="25/08/2021 03:51:22">	25-Aug-2021 03:51:22 </a>
            </td>
            <td>
              <div ngbDropdown container="body" class="btn-group actionwidth">
                <button class="btn green btn-sm btn-outline-primary btn-block" type="button" ngbDropdownToggle>
                  Actions <i class="fa fa-angle-down"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a ngbDropdownItem >Edit Channel Product</a>
                  <a ngbDropdownItem href="#add-new-products">Edit Sellershub Product</a>
                  <a ngbDropdownItem  href="javascript:void(0)">Update to Channel</a>
                  <a ngbDropdownItem href="javascript:void(0)">Remove</a>
                </div>
              </div>
            </td>
          </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="ticket1Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Update Quantity for the product <strong>Kenwood HM225 3 Speed Hand Mixer Whisk150w Silver</strong> - SKU <strong>Ken2123791</strong></h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-body">
                  <div class="row">
                    <div class="col-md-3">
                      New Total Quantity:
                      <span class="badge badge-default">Current Quantity &nbsp;191</span>
                    </div>
                    <div class="col-md-2">
                      <input type="text" id="updateqtyforskuid" class="form-control" value="4" placeholder="Enter quantity">
                    </div>
                    <div class="col-md-3">
                      <input type="checkbox" id="updateqtylistedfullselected" name="updateqtylistedfullselected" checked="" value="">&nbsp;List Full Quantity
                      </div>
                    <div class="col-md-4">
                      <a href="javascript:void(0)" class="btn btn-sm btn-circle btn-default"><i class="fa fa-check font-blue"></i> Update Qty</a>
                      <button type="button" class="btn btn-sm btn-circle btn-danger" data-dismiss="modal"><i class="fa fa-times font-red"></i>  Close</button>
                    </div>
                  </div><br>
                  <div class="">
                    <div class="">
                      <p>This will update the quantity for all the products with  SKU Ken2123791</p>
                    </div>
                  </div>
    
                  
                    <div class="form-group">
                      <div class="col-md-12">
                        <div class="alert alert-default">
                          <input type="checkbox" id="relistcloseitems" checked="" value="true">&nbsp;Relist Closed Items
                        </div>
                      </div>
                    </div>
                  
                <div class="well">
                    <strong>Channel Products associated with this SKU and variation SKUs are shown below</strong><br>
                    <span>You can adjust listng quantity for each channel below.</span>
                </div>	<br>
                <div class="table-scrollable">
    
                  <table class="table table-responsive table-striped table-bordered table-hover order-column dataTable no-footer">
                    <thead>
                    <tr>
                      <th>
                        Channel
                      </th>
                      <th>
                        SKU
                      </th>
                      <th>
                        Variation Theme
                      </th>
                      <th>
                        Total Qty
                      </th>
                      <th>
                        Listing Qty
                      </th>
                      <th>
                        Selling Price
                      </th>
                      <th>
                        Listing Status
                      </th>
    
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubprestashop.png" height="30">
                          
                        </td>
                        <td>

                              <a target="_blank" class="btn btn-xs purple-plum" >Ken2123791</a>
                              <input type="hidden" id="sku" value="6692532">
                        </td>
                        <td>

                              
                        </td>
                        <td>

                          <input class="form-control" type="text" readonly="" value="191">
                          <input class="form-control" name="updateqtylistingskuinput" type="hidden" value="81878">
                        </td>
                        <td>

                          
                            
                              <input class="form-control" name="updateqtylistingqtyinput" type="text" value="191">
                            

                            
                          
                        </td>
                        <td>
                          <input class="form-control" id="updatesellingpriceinput" type="text" value="15.00">
                        </td>
                        <td>
                          <span class="btn btn-xs font-white bg-blue">ACTIVE </span>
                        </td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </form>
        </div>
          <div class="modal-footer">
            <div class="btn-group float-right">
              <a  type="button" class="btn btn-sm btn-dark"><i class="fa fa-check font-blue"></i> Update</a>
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="bulkupdateModel" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header bg-dark">
            <h3 class="modal-title font-14 text-white">Bulk Updated Product Information</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="well">
            This bulk action will either add or remove given information from channel products in Sellershub. However this will not send an update to the channel.  Please use update to channel to update modified products back to channel.

          </div>
          <div class="modal-body">
                  <div class="table-scrollable">
      
                    <table class="table table-responsive table-striped table-bordered table-hover order-column dataTable no-footer">
                      <thead>
                        <tr>
                          <th>
                            Channel
                          </th>
                          <th>
                            Field
                          </th>
    
                          <th>
                             Value
                          </th>
                          <th>
                            Action
                          </th>
                        </tr>
                      </thead>
    
                      <tbody>
    
                        <tr>
                          <td style="text-align:left; width:250px;">
                            <select id="channelidattributes" class="form-control">
                              
                                <option value="5403">jet  - Jet.com Account</option>
                              
                                <option value="5406">ioffer  - Ioffer Default Template</option>
                              
                                <option value="5407">storenvy  - Default Template</option>
                              
                                <option value="5408">magento  - Magento</option>
                              
                                <option value="5409">prestashop  - Prestashop Account</option>
                              
                                <option value="5410">shopify  - enter name</option>
                              
                                <option value="5411">bigcommerce  - Bigcommerce Test</option>
                              
                                <option value="5412">woocommerce  - Woocommerce Account</option>
                              
                                <option value="5413">telesale  - Telesales</option>
                              
                                <option value="5418">shopify  - enter name</option>
                              
                                <option value="5419">shopify  - enter name</option>
                              
                                <option value="5420">shopify  - enter name</option>
                              
                                <option value="5452">etsy  - Etsy Account</option>
                              
                                <option value="5475">ebay  - </option>
                              
                                <option value="5476">woocommerce  - Woocommerce Account</option>
                              
                                <option value="5498">priceminister  - enter name</option>
                              
                                <option value="5499">sears  - enter name</option>
                              
                                <option value="5500">onbuy  - OnBuy Account</option>
                              
                                <option value="5501">googleshop  - GoogleShop Account</option>
                              
                                <option value="5502">opensky  - Default Template</option>
                              
                                <option value="5503">ioffer  - Ioffer Default Template</option>
                              
                                <option value="5533">rakuten  - Rakuten</option>
                              
                                <option value="5534">sears  - enter name</option>
                              
                                <option value="5535">cdiscount  - enter name</option>
                              
                                <option value="5536">flubit  - Flubit Account</option>
                              
                                <option value="5537">etsy  - Etsy Account</option>
                              
                                <option value="5538">jet  - Jet.com Account</option>
                              
                                <option value="5539">fruugo  - Fruugo Account</option>
                              
                                <option value="5540">ioffer  - Ioffer Default Template</option>
                              
                                <option value="5541">storenvy  - Default Template</option>
                              
                                <option value="5542">opensky  - Default Template</option>
                              
                                <option value="5543">lazada  - Lazada Account</option>
                              
                                <option value="5544">walmart  - enter name</option>
                              
                                <option value="5545">bol  - Bol Account</option>
                              
                                <option value="5546">onbuy  - OnBuy Account</option>
                              
                                <option value="5547">tesco  - Tesco.com Account</option>
                              
                                <option value="5548">shopclues  - Shopclues Account</option>
                              
                                <option value="5549">shopee  - Shopee Account</option>
                              
                                <option value="5550">lelong  - Lelong Account</option>
                              
                                <option value="5551">11street  - 11Street Account</option>
                              
                                <option value="5552">snapdeal  - snapdeal Account</option>
                              
                                <option value="5553">backmarket  - Backmarket Account</option>
                              
                                <option value="5554">opencart  - enter name</option>
                              
                                <option value="5555">magento  - enter name</option>
                              
                                <option value="5556">prestashop  - Prestashop Account</option>
                              
                                <option value="5557">shopify  - enter name</option>
                              
                                <option value="5558">bigcommerce  - enter name</option>
                              
                                <option value="5559">woocommerce  - Woocommerce Account</option>
                              
                                <option value="5560">bluepark  - enter name</option>
                              
                                <option value="5561">xcart  - enter name</option>
                              
                                <option value="5562">magento2  - enter name</option>
                              
                                <option value="5564">magento2  - enter name</option>
                              
                                <option value="5566">infusionsoft  - enter name</option>
                              
                                <option value="5567">eposnow  - ePOSnow</option>
                              
                                <option value="5574">amazon  - </option>
                              
                                <option value="5583">amazon  - </option>
                              
                                <option value="5604">ebay  - </option>
                              
                                <option value="5610">ebay  - </option>
                              
                                <option value="5611">cdiscount  - enter name</option>
                              
                                <option value="5617">ebay  - </option>
                              
                                <option value="5618">amazon  - </option>
                              
                                <option value="5619">rakuten  - Rakuten</option>
                              
                                <option value="5620">sears  - enter name</option>
                              
                                <option value="5621">cdiscount  - enter name</option>
                              
                                <option value="5622">priceminister  - enter name</option>
                              
                                <option value="5623">bonanza  - Bonanza Account</option>
                              
                                <option value="5624">flubit  - Flubit Account</option>
                              
                                <option value="5625">etsy  - Etsy Account</option>
                              
                                <option value="5626">fruugo  - Fruugo Account</option>
                              
                                <option value="5627">ioffer  - Ioffer Default Template</option>
                              
                                <option value="5628">storenvy  - Default Template</option>
                              
                                <option value="5629">opensky  - Default Template</option>
                              
                                <option value="5630">lazada  - Lazada Account</option>
                              
                                <option value="5631">walmart  - enter name</option>
                              
                                <option value="5632">bol  - Bol Account</option>
                              
                                <option value="5633">onbuy  - OnBuy Account</option>
                              
                                <option value="5634">tesco  - Tesco.com Account</option>
                              
                                <option value="5635">shopclues  - Shopclues Account</option>
                              
                                <option value="5636">googleshop  - GoogleShop Account</option>
                              
                                <option value="5637">shopee  - Shopee Account</option>
                              
                                <option value="5638">lelong  - Lelong Account</option>
                              
                                <option value="5639">11street  - 11Street Account</option>
                              
                                <option value="5640">snapdeal  - snapdeal Account</option>
                              
                                <option value="5641">backmarket  - Backmarket Account</option>
                              
                                <option value="5642">opencart  - enter name</option>
                              
                                <option value="5643">magento  - enter name</option>
                              
                                <option value="5644">prestashop  - Prestashop Account</option>
                              
                                <option value="5645">shopify  - enter name</option>
                              
                                <option value="5646">bigcommerce  - enter name</option>
                              
                                <option value="5647">woocommerce  - Woocommerce Account</option>
                              
                                <option value="5648">volusion  - Volusion Account</option>
                              
                                <option value="5649">ekmpowershop  - enter name</option>
                              
                                <option value="5650">bluepark  - enter name</option>
                              
                                <option value="5651">xcart  - enter name</option>
                              
                                <option value="5652">magento2  - enter name</option>
                              
                                <option value="5653">shopwired  - enter name</option>
                              
                                <option value="5654">infusionsoft  - enter name</option>
                              
                                <option value="5655">eposnow  - ePOSnow</option>
                              
                                <option value="5684">amazon  - </option>
                              
                                <option value="5750">sears  - enter name</option>
                              
                                <option value="5751">onbuy  - OnBuy Account</option>
                              
                            </select>
                          </td>
                          <td>
                            Product Attributes
                          </td>
    
                          <td style="text-align:left; width:250px;">
                            <input id="channelidattributesinput" class="form-control form-control-m" type="text" value="">
                            <p class="help-block" style="text-align:left;white-space: normal;">
                              To add a new attribute please use  attribute name and value . <strong>e.g  Attribute One Name: Attribute One Value</strong><br>
                              To remove an attribute please use just the attribute name. <strong>e.g  Attribute One Name</strong>
                            </p>
                          </td>
                          <td >
                            <a class="btn btn-xs ashcolor1"  href="javascript:void(0)">Add Attributes</a><br>
                            <a class="btn btn-xs red1"  href="javascript:void(0)">Remove Attributes</a>
                          </td>
    
                        </tr>
    
                      </tbody>
    
                    </table>
                  </div>
          </div>
            <div class="modal-footer">
              <div class="btn-group float-right">
                <!-- <a  type="button" class="btn btn-sm btn-dark"><i class="fa fa-check font-blue"></i> Update</a> -->
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

  <div class="modal fade" id="updatechannelModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Please check values before update to channels</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="well">
          <div class="row">
             <div class="col-md-4">
             Please apply listing templates 
             </div>
            <div class="col-md-4">
              <select id="selecttempalteselectid" class="form-control">
                <option value="-1">Please select</option>
                
              </select>
            </div>
            <div class="col-md-4">
              <a class="btn btn-info btn-sm" href="javascript:void(0)"> Apply Selected Template</a>
            </div>
          </div>
        </div>
        <div class="modal-body">
                <div class="table-scrollable">
    
                  <table class="table table-responsive table-striped table-bordered table-hover order-column dataTable no-footer">
                    <thead>
                      <tr>
                        <th class="table-checkbox">
                          <input id="checkalllistcheckidstep2" type="checkbox">
                        </th>
                        <th>
                          Image
                        </th>
                        <th>
                          SKU
                        </th>
                        <th>
                          Title
                        </th>
                        <th>
                          Selling Price
                        </th>
  
                        <th>
                          Listing Template
                        </th>
  
                      </tr>
                    </thead>
  
                    <tbody>
  
                      
                        <tr>
                          <td class="table-checkbox">
                            <input type="checkbox" name="allproductsselectstep2name" id="80896allproductsselectstep2name" value="80896">
                            <input type="hidden" id="80896productidstep2" value="87471">
                          </td>
                          <td>
                            <img width="50px" >
                          </td>
                          <td>
                              Ken2123791
                          </td>
                          <td style="white-space: normal;">
                              Kenwood HM225 3 Speed Hand Mixer Whisk150w Silver 
                          </td>
                          <td>
                              15.00
                          </td>
                          <td>
                            <input value="" id="80896selectlistingtemplatename" readonly="" class="form-control">
                          </td>
                        </tr>
  
                      
  
                    </tbody>
  
  
                  </table>
                </div>
        </div>
          <div class="modal-footer">
            <div class="btn-group float-right">
              <!-- <a  type="button" class="btn btn-sm btn-dark"><i class="fa fa-check font-blue"></i> Update</a> -->
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="channel" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header bg-dark">
            <h3 class="modal-title font-14 text-white">Channel wise product download status</h3>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          
          <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
          <table class="table tableFixHead table-hover order-column v2">
            <thead>
              <tr>
                <th>
                  Add to Channel
                </th>
                <th>
                  Channel
                </th>
                <th>
                  Listing Template
                </th>
                 
              </tr>
              </thead>
              <tbody>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5403" class="group-checkable">
                          <input type="hidden" value="5403">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubjet.png">
                      <!-- (Jet.com Account) -->
                      <input type="hidden" value="jet" id="addchanneltype5403" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5406" class="group-checkable">
                          <input type="hidden" value="5406">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubioffer.png">
                      <!-- (Ioffer Default Template) -->
                      <input type="hidden" value="ioffer" id="addchanneltype5406" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5407" class="group-checkable">
                          <input type="hidden" value="5407">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubstorenvy.png">
                      <!-- (Default Template) -->
                      <input type="hidden" value="storenvy" id="addchanneltype5407" name="addchanneltype">
                    </td>
                    <td>
                      
                        <select class="form-control" id="addchanneltemplateselect5407">
                          
                            
                              
                                <option value="57">Template name</option>
                              

                              
                            
                          
                        </select>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5408" class="group-checkable">
                          <input type="hidden" value="5408">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubmagento.png">
                      <!-- (Magento) -->
                      <input type="hidden" value="magento" id="addchanneltype5408" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5409" class="group-checkable">
                          <input type="hidden" value="5409">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubprestashop.png">
                      <!-- (Prestashop Account) -->
                      <input type="hidden" value="prestashop" id="addchanneltype5409" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5410" class="group-checkable">
                          <input type="hidden" value="5410">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubshopify.png">
                      <!-- (enter name) -->
                      <input type="hidden" value="shopify" id="addchanneltype5410" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5411" class="group-checkable">
                          <input type="hidden" value="5411">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubbigcommerce.png">
                      <!-- (Bigcommerce Test) -->
                      <input type="hidden" value="bigcommerce" id="addchanneltype5411" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5412" class="group-checkable">
                          <input type="hidden" value="5412">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubwoocommerce.png">
                      <!-- (Woocommerce Account) -->
                      <input type="hidden" value="woocommerce" id="addchanneltype5412" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5418" class="group-checkable">
                          <input type="hidden" value="5418">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubshopify.png">
                      <!-- (enter name) -->
                      <input type="hidden" value="shopify" id="addchanneltype5418" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5419" class="group-checkable">
                          <input type="hidden" value="5419">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubshopify.png">
                      <!-- (enter name) -->
                      <input type="hidden" value="shopify" id="addchanneltype5419" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5420" class="group-checkable">
                          <input type="hidden" value="5420">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubshopify.png">
                      <!-- (enter name) -->
                      <input type="hidden" value="shopify" id="addchanneltype5420" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5452" class="group-checkable">
                          <input type="hidden" value="5452">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src=" https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubetsy.png">
                      <!-- (Etsy Account) -->
                      <input type="hidden" value="etsy" id="addchanneltype5452" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                          <span style="color:red">Empty Listing Template</span><br>
                           <a href="https://login.sellershub.io/settings/findebayuser?id=5475">Add a Template</a>
                        
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubebay.png">
                      <!-- () -->
                      <input type="hidden" value="ebay" id="addchanneltype5475" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5476" class="group-checkable">
                          <input type="hidden" value="5476">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubwoocommerce.png">
                      <!-- (Woocommerce Account) -->
                      <input type="hidden" value="woocommerce" id="addchanneltype5476" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5498" class="group-checkable">
                          <input type="hidden" value="5498">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubpriceminister.png">
                      <!-- (enter name) -->
                      <input type="hidden" value="priceminister" id="addchanneltype5498" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5499" class="group-checkable">
                          <input type="hidden" value="5499">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubsears.png">
                      <!-- (enter name) -->
                      <input type="hidden" value="sears" id="addchanneltype5499" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5500" class="group-checkable">
                          <input type="hidden" value="5500">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubonbuy.png">
                      <!-- (OnBuy Account) -->
                      <input type="hidden" value="onbuy" id="addchanneltype5500" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5501" class="group-checkable">
                          <input type="hidden" value="5501">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubonbuy.png">
                      <!-- (GoogleShop Account) -->
                      <input type="hidden" value="googleshop" id="addchanneltype5501" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5502" class="group-checkable">
                          <input type="hidden" value="5502">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubgoogleshop.png">
                      <!-- (Default Template) -->
                      <input type="hidden" value="opensky" id="addchanneltype5502" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5503" class="group-checkable">
                          <input type="hidden" value="5503">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubopensky.png">
                      <!-- (Ioffer Default Template) -->
                      <input type="hidden" value="ioffer" id="addchanneltype5503" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5533" class="group-checkable">
                          <input type="hidden" value="5533">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubioffer.png">
                      <!-- (Rakuten) -->
                      <input type="hidden" value="rakuten" id="addchanneltype5533" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5534" class="group-checkable">
                          <input type="hidden" value="5534">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubrakuten.png">
                      <!-- (enter name) -->
                      <input type="hidden" value="sears" id="addchanneltype5534" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5535" class="group-checkable">
                          <input type="hidden" value="5535">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubsears.png">
                      <!-- (enter name) -->
                      <input type="hidden" value="cdiscount" id="addchanneltype5535" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" name="addtochannelid" value="5536" class="group-checkable">
                          <input type="hidden" value="5536">
                          <span></span>
                          </label>
                        
                      
                    </td>
                    <td>
                      <img height="25px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubcdiscount.png">
                      <!-- (Flubit Account) -->
                      <input type="hidden" value="flubit" id="addchanneltype5536" name="addchanneltype">
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                
              </tbody>
          </table>
          </div>
          </div>
          </div>
          <div class="modal-footer">
            <div class="btn-group float-right">
              <a type="button" class="btn btn-sm btn-dark">Next <i class="fa fa-angle-right"></i></a>
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="variationModel" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header bg-dark">
            <h3 class="modal-title font-14 text-white">Variation Parent Product Status</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>

              <!-- <h6>Successfully connected &nbsp;<i class="fa fa-check" aria-hidden="true"></i></h6> -->
              
                  <!-- <h4>Error At Listed Products</h4> -->
                
                     <h3> Error: You have selected a InComplete Product.</h3>
                     <h3> status: Got some problem while creating variation product</h3>
              
              
              </div>
          </div>
            <div class="modal-footer">
              <div class="btn-group float-right">
                <!-- <a  type="button" class="btn btn-sm btn-dark"><i class="fa fa-check font-blue"></i> Update</a> -->
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
