<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-12">
                <h3 class="mb-0"><i class="fa fa-rocket"></i> Manage Your Account Settings</h3>
              </div>
            </div>
        </div>
        
        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Subscription Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-11" data-toggle="tab" href="#other">Invoices</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="app_store" class="container tab-pane active"><br>
                    <div class="row">
                        
                        <br />
                        <br />
                        <div class="table-responsive">
                            <div class="row" style="font-size: 10pt !important;">
                                <div class="col-4"><b>Member since</b> 31-Jul-2021</div>
                                <div class="col-8"><b>Account Status</b> &nbsp;<span class="badge badge-success">Active</span></div>
                            </div>
                            <b style="font-size: 9pt !important; margin-left: 0px !important;">Subscription</b>
                            <table class="table align-items-center">

                                <thead class="thead-light">
                                  <tr>
                                    <th>Date</th>
                                    <th style="width: 200px !important">Plan</th>
                                    <th>Status</th>
                                    <th>Payment Mode</th>
                                    <th>Expired On</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>02 Aug 2021</td>
                                        <td>
                                            TRIAL PERIOD<br />
                                            (2000 SKU limit /100 orders per month)<br />
                                            <b>You are in Free Trial and SKU Limit is only 2000. <br />If you need more SKUs to be Listed or Orders to be downloaded. <br />Please Subscribe now.</b>
                                        </td>
                                        <td class="text-center"><span class="badge badge-primary">Free Trial</span></td>
                                        <td></td>
                                        <td></td>
                                        <td><a class="btn btn-sm btn-success" routerLink="/account-subscriptionsplan">Subscription <i class="fa fa-angle-right"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      </div>
                </div>
                <div id="other" class="container tab-pane fade"><br>
                    
                    <table class="table align-items-center">

                        <thead class="thead-light">
                            <tr>
    
                                <th>Name</th>
                                <th>Number</th>
                                <th class="hidden-480"> Description</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Due</th>
                                <th>View </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            
        </div>

        <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
      </div>
    </div>
  </div>
  
</div>