<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-12">
                <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubinterlink.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label><i class="fa fa-truck"></i> Manage Interlink Mail Tariff Codes for Label Printing</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="pull-right">
                    <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save </a>
                    <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                </div>

            </div><br>
          </div>
        </div>

        <div class="card-body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active font-11"
                data-toggle="tab"
                href="#integration"
                >Integration</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link font-11" data-toggle="tab" href="#labelset"
                >Label Settings</a
              >
            </li>
          </ul>

          <div class="tab-content">
            <div id="integration" class="container tab-pane active">
              <br />
                <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card box border-primary">
                        <div class="card-header  bg-primary text-white">
                            <div class="caption">
                                <i class="fa fa-truck"></i> Interlink Mail Account Details
                            </div>
                        </div>

                        <div class="card-body">
                             <form class="" role="form">
                                 <h4>Please enable the Service Codes applicable for your Interlink Mail Account</h4>
                                    <div class="form-group">
                                    <label>Account Number</label>
                                    <input class="form-control" type="text" id="dpdCustomerId" value="">
                                        </div>

                                    <div class="form-group">
                                        <label>Account Username</label>
                                        <input class="form-control" type="text" id="dpdUserName" value="">
                                    </div>

                                    <div class="form-group">
                                        <label>Account Password</label>
                                        <input class="form-control" type="password" id="dpdPassword" value="">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 pull-right">
                        <div class="card box  border-primary">
                            <div class="card-header bg-primary text-white ">
                                <div class="caption">
                                    <i class="fa fa-truck"></i>  Interlink Mail Pickup Address Details
                                </div>
                            </div>

                        <div class="card-body">
                            <form class="form-horizontal" role="form">
                            <div class="">

                                <div class="form-group">
                                        <label> Contact Name <span class="required"> * </span></label>
                                        <input class="form-control" type="text" id="dpdPickupContactName" value="">
                                </div>

                                <div class="form-group">
                                    <label>Company Name <span class="required"> * </span></label>
                                    <input class="form-control" type="text" id="dpdPickPhone" value="">
                                </div>


                                <div class="form-group">
                                        <label>Street Name <span class="required"> * </span></label>
                                        <input class="form-control" type="text" id="dpdPickupBuilding" value="">
                                </div>

                                <div class="form-group">
                                        <label>Pickup Town <span class="required"> * </span></label>
                                    <input class="form-control" type="text" id="dpdPickupTown" value="">
                                </div>


                                <div class="form-group">
                                        <label>Pickup Postcode <span class="required"> * </span></label>
                                            <input class="form-control" type="text" id="dpdPickupZip" value="">
                                </div>


                                <div class="form-group">
                                        <label>Contact Phone Number <span class="required"> * </span></label>
                                            <input class="form-control" type="text" id="dpdPickupCountry" value="">
                                </div>
                                                                                                                                            </div>
                                </form>																	
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            
            <div id="labelset" class="container tab-pane fade">
              <br />
              <div class="">
                  <div class="table-scrollable">
                    <table class="table tableFixHead table-hover order-column v2">
                        <thead>
                            <tr>
                                <th> Label </th>

                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Default </td>

                                <td> <a href="javascript:void(0)" class="btn btn-sm btn-default btn-circle"><i class="fa fa-edit"></i>Edit</a> </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
