<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
            <div class="col-12">
                <label><i class="fa fa-truck"></i> Shipping Rules</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="pull-right">
                    <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a>
                    <a class="btn btn-sm btn-danger btn-circle"  href="#shippingrules"><i class="fa fa-times font-red"></i> Close</a>		
                </div>

            </div><br>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="card box border-primary">
                        <div class="card-header  bg-primary text-white">
                            <div class="caption">
                                <i class=""></i> Condition
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    Shipping Country:
                                </div>

                            <div class="col-md-7 value"> 
                                <a class="btn blue btn-icon-only" style="float: left;" data-toggle="modal" data-target="#countrylistModel" href="javascript:void(0)"> <i class="fa fa-edit"></i></a>
                                    <select id="selectcountriesoption" class="form-control" style="float: right; width: 260px;" name="">
                                        <option value="">Selected Countries</option>
                                        
                                    </select>
                                <div id="editcountryvalues"></div>
                            </div>
                            </div>

                            <div class="row static-info">
                                <div class="col-md-5 name"><br>
                                    Shipping Postcode:
                                </div>
                                <div class="col-md-7 value"><br>
                                    <input type="text" class="form-control" id="postcodeid" value="" placeholder="Multiple Postcodes By comma">
                                <div id=""></div>
                                </div>
                            </div><br>

                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    Sales Channel Shipping Service:
                                </div>
                                <div class="col-md-7 value">
                                    <input type="text" class="form-control" id="servicesid" value="" placeholder="Multiple Shipping Sevices By comma">
                                <div id=""></div>
                                </div>
                            </div><br>



                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    Apply the rule to orders from the following sales channel: <span class="required" style="color:red;">  </span>
                                </div>
                                    <div class="col-md-7 value">
                                        <!-- <input type="text" class="form-control" id="conditionsPostCodes" value="" /> -->

                                        <select id="selectsaleschanneloption" class="form-control" name="orderStatus">
                                        <option value="draft">Select Channels</option>
                                        <!--  <option value="all">All Channels</option> -->
                                        
                                    </select>
                                    </div>

                            </div><br>
                                <div class="row static-info">
                                <div class="col-md-5 name">
                                    SKU : <span class="required" style="color:red;">  </span>
                                </div>

                                    <div class="col-md-7 value">
                                        <select id="selectskusoption" class="form-control" name="orderStatus" disabled="true">
                                        <option value="none">Select SKU</option>
                                        <option value="none">None</option>
                                        
                                    </select>

                                    </div>

                            </div><br>



                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    Total Order Value (GBP): <span class="required" style="color:red;">  </span>
                                </div>
                                <div class="col-md-7 value">
                                    <div class="col-md-12 value row">
                                        <div class="col-md-5 value" style="padding: 0px;">
                                                <input type="text" class="form-control" id="fromordervalue" value="" placeholder="Min Order Value">
                                        </div>
                                        <div class="col-md-2 value" style="padding-right: 10px;">
                                            To
                                        </div>
                                        <div class="col-md-5 value" style="padding: 0px;">
                                                <input type="text" class="form-control" id="toordervalue" value="" placeholder="Max Order Value">
                                        </div>
                                    </div>
                                </div>
                            </div><br>

                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    Shipping Charge (GBP) <span class="required" style="color:red;">  </span>
                                </div>
                                <div class="col-md-7 value">
                                    <div class="col-md-12 value row">
                                        <div class="col-md-5 value" style="padding: 0px;">
                                                <input type="text" class="form-control" id="fromshippingcharge" value="" disabled="true">
                                        </div>
                                        <div class="col-md-2 value" style="padding-right: 10px;">
                                            To
                                        </div>
                                        <div class="col-md-5 value" style="padding: 0px;">
                                                <input type="text" class="form-control" id="toshippingcharge" value="" disabled="true">
                                        </div>
                                    </div>
                                </div>
                            </div><br>

                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    Weight (g) <span class="required" style="color:red;">  </span>
                                </div>
                                <div class="col-md-7 value" style="padding-left: 30px;">
                                    <div class="col-md-12 value row" style="padding: 0px;">
                                        <div class="col-md-5 value" style="padding: 0px;">
                                                <input type="text" class="form-control" id="fromweight" value="" placeholder="Min Weight">
                                        </div>
                                        <div class="col-md-2 value">
                                            To
                                        </div>
                                        <div class="col-md-5 value" style="padding: 0px;">
                                                <input type="text" class="form-control" id="toweight" value="" placeholder="Max Weight">
                                        </div>
                                    </div>
                                </div>
                            </div><br>

                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    Length (cm) <span class="required" style="color:red;">  </span>
                                </div>
                                <div class="col-md-7 value" style="padding-left: 30px;">
                                    <div class="col-md-12 value row" style="padding: 0px;">
                                        <div class="col-md-5 value" style="padding: 0px;">
                                                <input type="text" class="form-control" id="fromlength" value="" disabled="true">
                                        </div>
                                        <div class="col-md-2 value">
                                            To
                                        </div>
                                        <div class="col-md-5 value" style="padding: 0px;">
                                                <input type="text" class="form-control" id="tolength" value="" disabled="true">
                                        </div>
                                    </div>
                                </div>
                            </div><br>


                                <div class="row static-info">
                                <div class="col-md-5 name">
                                    Width (cm)<span class="required" style="color:red;">  </span>
                                </div>
                                <div class="col-md-7 value" style="padding-left: 30px;">
                                    <div class="col-md-12 value row" style="padding: 0px;">
                                        <div class="col-md-5 value" style="padding: 0px;">
                                                <input type="text" class="form-control" id="fromwidth" value="" disabled="true">
                                        </div>
                                        <div class="col-md-2 value">
                                            To
                                        </div>
                                        <div class="col-md-5 value" style="padding: 0px;">
                                                <input type="text" class="form-control" id="towidth" value="" disabled="true">
                                        </div>
                                    </div>
                                </div>
                            </div><br>

                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    Height (cm)<span class="required" style="color:red;">  </span>
                                </div>
                                <div class="col-md-7 value" style="padding-left: 30px;">
                                    <div class="col-md-12 value row" style="padding: 0px;">
                                        <div class="col-md-5 value" style="padding: 0px;">
                                                <input type="text" class="form-control" id="fromheight" value="" disabled="true">
                                        </div>
                                        <div class="col-md-2 value">
                                            To
                                        </div>
                                        <div class="col-md-5 value" style="padding: 0px;">
                                                <input type="text" class="form-control" id="toheight" value="" disabled="true">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="card box border-primary">
                        <div class="card-header  bg-primary text-white">
                            <div class="caption">
                                <i class=""></i> Action
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    Enable:
                                </div>
                                <div class="col-md-7 value">

                
                
                
                        <input type="checkbox" name="enable" id="enable" class="checkboxes" value="" style="height: 50px !important;width: 50px !important; ">
                
            


                                </div>
                            </div>

                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    Rule Name:
                                </div>
                                <div class="col-md-7 value">
                                        <input type="hidden" class="form-control" id="ruleid" value="" name="ruleid">

                                    <input type="text" class="form-control" id="rulename" value="" name="rulename">

                                </div>
                            </div><br>

                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    Shipping Carrier:
                                </div>
                                <div class="col-md-5 value">
                                    <!-- <input type="text" class="form-control" id="shippingcarrier" value="" name="shippingcarrier" /> -->
                                    <select id="selectshippingcarrieroption" class="form-control" name="serviceformat">
                                            <option value="allcarriers">All Carriers</option>
                                        
                                            
                                            <option value="royalmail">royalmail</option>
                                                                                
                                                                                    
                                            <option value="dhl">DHL</option>
                                                                                
                                                                                    
                                            <option value="goshippo.com">goshippo.com</option>
                                                                                
                                                                                    
                                            <option value="yodel">yodel</option>
                                                                                
                                                                                    
                                            <option value="parcelmonkey">parcelmonkey</option>
                                                                                
                                                                                    
                                            <option value="shipstation">shipstation</option>
                                                                                
                                                                                    
                                            <option value="hermes">Hermes Logistik Gruppe</option>
                                                                                
                                                                                    
                                            <option value="dpd">dpd</option>
                                                                                
                                                                                    
                                            <option value="fedex">FedEx</option>
                                                                                
                                                                                    
                                            <option value="tnt">TNT</option>
                                                                                
                                                                                    
                                            <option value="bluedart">BlueDart</option>
                                                                                
                                                                                    
                                            <option value="ukmail">UK Mail</option>
                                                                                
                                                                                    
                                            <option value="indiapost">India Post</option>
                                                                                
                                                                                    
                                            <option value="canadapost">Canada Post</option>
                                                                                
                                                                                    
                                            <option value="interlink">interlink</option>
                                                                                
                                                                                    
                                            <option value="aramex">Aramex</option>
                                                                                
                                                                                    
                                            <option value="parcelforce">Parcelforce</option>
                                                                                
                                                                                    
                                            <option value="easyparcel">EasyParcel</option>
                                                                                
                                                                                    
                                            <option value="amazoneasyship">AmazonEasyShip</option>
                                                                                
                                                                                    
                                            <option value="ups">UPS</option>
                                                                                
                                                                                    
                                            <option value="Spring Global Mail">Spring Global</option>
                                                                                
                                                                                    
                                            <option value="myparceldelivery.com">myparceldelivery</option>
                                                                                
                                                                                    
                                            <option value="dx">DX</option>
                                                                                
                                                                                    
                                            <option value="dropbox">dropbox</option>
                                                                                
                                                                                    
                                            <option value="webshipper">webshipper</option>
                                                                                
                                                                                    
                                            <option value="wndirect">wnDirect</option>
                                                                                
                                                                                    
                                            <option value="ekart">EKart</option>
                                        
                                    </select>

                                </div>

                            </div><br>

                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    Shipping Service:
                                </div>
                                <div class="col-md-5 value">

                                <input type="text"  class="form-control" id="shippingserviceid" value="" name="shippingservice">
                                </div>
                                <div class="col-md-2">
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#shippingserviceModel"  class="btn btn-icon-only">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                </div>
                            </div><br>

                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    Service Format: <span class="required" style="color:red;">  </span>
                                </div>
                                <div class="col-md-5 value">
                                    <input type="text" class="form-control" id="shippingformatid" value="" name="shippingservice" disabled="true">
                                </div>
                                 <div class="col-md-2">
                                </div>
                            </div>


                            
                        </div>
                    </div>
                </div>


            </div><!-- row end -->
            
            
        </div>
    </div>
    </div>
    </div>

    <div class="modal fade" id="shippingserviceModel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header bg-dark">
              <h3 class="modal-title font-14 text-white">Service Formats
    </h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
    
            
            <div class="modal-body">
                <div class="well">
                    Service formats not applicable for this courier
                 </div>
            </div>
            <div class="modal-footer">
              <div class="btn-group float-right">
                <!-- <button type="button" class="btn btn-sm btn-dark">Save</button> -->
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
              </div>
              
              
            </div>
          </div>
        </div>
      </div>


    <div class="modal fade" id="countrylistModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header bg-white">
            <h3 class="modal-title font-14 text-dark">Edit Ship to Country List for Shipping Rules</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>

        
        <div class="modal-body">



            <div class="table-responsive">
                <h3>Europe  </h3>

                <table class="table table-bordered table-hover">
            
                        <tbody>
                        <tr>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="ALBANIA">  ALBANIA
                                </td>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="ANDORRA">  ANDORRA
                                </td>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="AUSTRIA">  AUSTRIA
                                </td>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="BELARUS">  BELARUS
                                </td>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="BELGIUM">  BELGIUM
                                </td>
                        </tr>
                        <tr>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="BOSNIA AND HERZEGOVINA">  BOSNIA AND HERZEGOVINA
                                </td>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="BULGARIA">  BULGARIA
                                </td>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="CROATIA">  CROATIA
                                </td>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="CYPRUS">  CYPRUS
                                </td>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="CZECH REPUBLIC">  CZECH REPUBLIC
                                </td>

                        </tr>

                    

                        <tr>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="DENMARK">  DENMARK
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="ESTONIA">  ESTONIA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="FAROE ISLANDS">  FAROE ISLANDS
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="FINLAND">  FINLAND
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="FRANCE">  FRANCE
                                </td>

                        </tr>

                    

                        <tr>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="GERMANY">  GERMANY
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="GIBRALTAR">  GIBRALTAR
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="GREECE">  GREECE
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="HOLY SEE (VATICAN CITY STATE) ">  HOLY SEE (VATICAN CITY STATE) 
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="HUNGARY">  HUNGARY
                                </td>
                        </tr>

                    

                        <tr>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="ICELAND">  ICELAND
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="IRELAND">  IRELAND
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="ITALY">  ITALY
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="LATVIA">  LATVIA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="LITHUANIA">  LITHUANIA
                                </td>
                        </tr>

                    

                        <tr>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="LUXEMBOURG">  LUXEMBOURG
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF">  MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="MALTA">  MALTA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="MONACO">  MONACO
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="NETHERLANDS">  NETHERLANDS
                                </td>
                        </tr>

                    

                        <tr>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="NORWAY">  NORWAY
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="POLAND">  POLAND
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="PORTUGAL">  PORTUGAL
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="ROMANIA">  ROMANIA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="SAN MARINO">  SAN MARINO
                                </td>
                        </tr>

                    

                        <tr>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="SLOVAKIA">  SLOVAKIA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="SLOVENIA">  SLOVENIA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="SPAIN">  SPAIN
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="SWEDEN">  SWEDEN
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="SWITZERLAND">  SWITZERLAND
                                </td>

                        </tr>

                        <tr>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="UNITED KINGDOM">  UNITED KINGDOM
                                </td>
                        </tr>

                </tbody></table>

            </div>

            <div class="table-responsive">
                <h3>North America</h3>
                <table class="table table-bordered table-hover">


                    

                        <tbody><tr>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="ANGUILLA">  ANGUILLA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="ANTIGUA AND BARBUDA">  ANTIGUA AND BARBUDA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="ARUBA">  ARUBA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="BAHAMAS">  BAHAMAS
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="BARBADOS">  BARBADOS
                                </td>
                        </tr>

                    

                        <tr>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="BELIZE">  BELIZE
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="CANADA">  CANADA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="CAYMAN ISLANDS">  CAYMAN ISLANDS
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="COSTA RICA">  COSTA RICA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="CUBA">  CUBA
                                </td>  
                        </tr>

            
                        <tr>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="DOMINICA">  DOMINICA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="DOMINICAN REPUBLIC">  DOMINICAN REPUBLIC
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="EL SALVADOR">  EL SALVADOR
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="GRENADA">  GRENADA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="GUADELOUPE">  GUADELOUPE
                                </td>
                        </tr>

                    

                        <tr>
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="GUATEMALA">  GUATEMALA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="HAITI">  HAITI
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="HONDURAS">  HONDURAS
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="JAMAICA">  JAMAICA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="MARTINIQUE">  MARTINIQUE
                                </td>
                        </tr>

                    
                        <tr>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="MEXICO">  MEXICO
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="MONTSERRAT">  MONTSERRAT
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="NICARAGUA">  NICARAGUA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="PANAMA">  PANAMA
                                </td>

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="PUERTO RICO">  PUERTO RICO
                                </td>
                        </tr>

                    

                        <tr>

                            

                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="SINT MARTIN (DUTCH)">  SINT MARTIN (DUTCH)
                                </td>

                            
                                <td>
                                    <input type="checkbox" name="editshippingrulecountry" value="TRINIDAD AND TOBAGO">  TRINIDAD AND TOBAGO
                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="UNITED STATES">  UNITED STATES

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="VIRGIN ISLANDS, BRITISH">  VIRGIN ISLANDS, BRITISH

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="VIRGIN ISLANDS, U.S.">  VIRGIN ISLANDS, U.S.

                                </td>

                            

                        </tr>

                    

                </tbody></table>

            </div>

            <div class="table-responsive">
                <h3>South America</h3>
                <table class="table table-bordered table-hover">


                    

                        <tbody><tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="ARGENTINA">  ARGENTINA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="BOLIVIA">  BOLIVIA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="BRAZIL">  BRAZIL

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="CHILE">  CHILE

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="COLOMBIA">  COLOMBIA

                                </td>

                            

                        </tr>

                    

                        <tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="ECUADOR">  ECUADOR

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="FALKLAND ISLANDS (MALVINAS)">  FALKLAND ISLANDS (MALVINAS)

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="FRENCH GUIANA">  FRENCH GUIANA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="GUYANA">  GUYANA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="PARAGUAY">  PARAGUAY

                                </td>

                            

                        </tr>

                    

                        <tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="PERU">  PERU

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="SURINAME">  SURINAME

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="URUGUAY">  URUGUAY

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="VENEZUELA">  VENEZUELA

                                </td>

                            

                        </tr>

                    

                </tbody></table>

            </div>

            <div class="table-responsive">
                <h3>Asia</h3>
                <table class="table table-bordered table-hover">


                    

                        <tbody><tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="AFGHANISTAN">  AFGHANISTAN

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="ARMENIA">  ARMENIA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="AZERBAIJAN">  AZERBAIJAN

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="BANGLADESH">  BANGLADESH

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="BHUTAN">  BHUTAN

                                </td>

                            

                        </tr>

                    

                        <tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="BRUNEI DARUSSALAM">  BRUNEI DARUSSALAM

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="CAMBODIA">  CAMBODIA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="CHINA">  CHINA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="GEORGIA">  GEORGIA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="HONG KONG">  HONG KONG

                                </td>

                            

                        </tr>

                    

                        <tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="INDIA">  INDIA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="INDONESIA">  INDONESIA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="JAPAN">  JAPAN

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="KAZAKHSTAN">  KAZAKHSTAN

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="KOREA, REPUBLIC OF">  KOREA, REPUBLIC OF

                                </td>

                            

                        </tr>

                    

                        <tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="KYRGYZSTAN">  KYRGYZSTAN

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="LAO PEOPLES DEMOCRATIC REPUBLIC">  LAO PEOPLES DEMOCRATIC REPUBLIC

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="MACAO">  MACAO

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="MALAYSIA">  MALAYSIA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="MALDIVES">  MALDIVES

                                </td>

                            

                        </tr>

                    

                        <tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="MONGOLIA">  MONGOLIA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="MYANMAR">  MYANMAR

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="NEPAL">  NEPAL

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="PAKISTAN">  PAKISTAN

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="PAPUA NEW GUINEA">  PAPUA NEW GUINEA

                                </td>

                            

                        </tr>

                    

                        <tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="PHILIPPINES">  PHILIPPINES

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="RUSSIAN FEDERATION">  RUSSIAN FEDERATION

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="SINGAPORE">  SINGAPORE

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="SRI LANKA">  SRI LANKA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="TAIWAN, PROVINCE OF CHINA">  TAIWAN, PROVINCE OF CHINA

                                </td>

                            

                        </tr>

                    

                        <tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="TAJIKISTAN">  TAJIKISTAN

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="THAILAND">  THAILAND

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="TURKEY">  TURKEY

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="TURKMENISTAN">  TURKMENISTAN

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="UKRAINE">  UKRAINE

                                </td>

                            

                        </tr>

                    

                        <tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="UZBEKISTAN">  UZBEKISTAN

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="VIET NAM">  VIET NAM

                                </td>

                            

                        </tr>

                    

                </tbody></table>

            </div>

            <div class="table-responsive">
                <h3>Middle East</h3>
                <table class="table table-bordered table-hover">


                    

                        <tbody><tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="BAHRAIN">  BAHRAIN

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="IRAN, ISLAMIC REPUBLIC OF">  IRAN, ISLAMIC REPUBLIC OF

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="IRAQ">  IRAQ

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="ISRAEL">  ISRAEL

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="JORDAN">  JORDAN

                                </td>

                            

                        </tr>

                    

                        <tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="KUWAIT">  KUWAIT

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="LEBANON">  LEBANON

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="OMAN">  OMAN

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="QATAR">  QATAR

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="SAUDI ARABIA">  SAUDI ARABIA

                                </td>

                            

                        </tr>

                    

                        <tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="SYRIAN ARAB REPUBLIC">  SYRIAN ARAB REPUBLIC

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="UNITED ARAB EMIRATES">  UNITED ARAB EMIRATES

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="YEMEN">  YEMEN

                                </td>

                            

                        </tr>

                    

                </tbody></table>

            </div>



            <div class="table-responsive">
                <h3>Oceania</h3>
                <table class="table table-bordered table-hover">


                    

                        <tbody><tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="AUSTRALIA">  AUSTRALIA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="COOK ISLANDS">  COOK ISLANDS

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="FIJI">  FIJI

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="KIRIBATI">  KIRIBATI

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="MARSHALL ISLANDS">  MARSHALL ISLANDS

                                </td>

                            

                        </tr>

                    

                        <tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="MICRONESIA, FEDERATED STATES OF">  MICRONESIA, FEDERATED STATES OF

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="NEW ZEALAND">  NEW ZEALAND

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="NIUE">  NIUE

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="PALAU">  PALAU

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="SAMOA">  SAMOA

                                </td>

                            

                        </tr>

                    

                        <tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="SOLOMON ISLANDS">  SOLOMON ISLANDS

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="TONGA">  TONGA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="TUVALU">  TUVALU

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="VANUATU">  VANUATU

                                </td>

                            

                        </tr>

                    

                </tbody></table>

            </div>

            <div class="table-responsive">
                <h3>Africa</h3>
                <table class="table table-bordered table-hover">


                    

                        <tbody><tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="AUSTRALIA">  AUSTRALIA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="COOK ISLANDS">  COOK ISLANDS

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="FIJI">  FIJI

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="KIRIBATI">  KIRIBATI

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="MARSHALL ISLANDS">  MARSHALL ISLANDS

                                </td>

                            

                        </tr>

                    

                        <tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="MICRONESIA, FEDERATED STATES OF">  MICRONESIA, FEDERATED STATES OF

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="NEW ZEALAND">  NEW ZEALAND

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="NIUE">  NIUE

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="PALAU">  PALAU

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="SAMOA">  SAMOA

                                </td>

                            

                        </tr>

                    

                        <tr>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="SOLOMON ISLANDS">  SOLOMON ISLANDS

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="TONGA">  TONGA

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="TUVALU">  TUVALU

                                </td>

                            

                                <td>

                                    <input type="checkbox" name="editshippingrulecountry" value="VANUATU">  VANUATU

                                </td>

                            

                        </tr>

                    

                </tbody></table>

            </div>

            <div class="table-responsive">


                <table class="table table-bordered table-hover">


                

                    <tbody><tr>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="AMERICAN SAMOA">  AMERICAN SAMOA

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="ANTARCTICA">  ANTARCTICA

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="BERMUDA">  BERMUDA

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="BOUVET ISLAND">  BOUVET ISLAND

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="BRITISH INDIAN OCEAN TERRITORY">  BRITISH INDIAN OCEAN TERRITORY

                            </td>

                        

                    </tr>

                

                    <tr>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="CARIBBEAN NETHERLAND">  CARIBBEAN NETHERLAND

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="CHANNEL ISLANDS">  CHANNEL ISLANDS

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="CHRISTMAS ISLAND">  CHRISTMAS ISLAND

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="COCOS (KEELING) ISLANDS">  COCOS (KEELING) ISLANDS

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="CONGO, THE DEMOCRATIC REPUBLIC OF THE">  CONGO, THE DEMOCRATIC REPUBLIC OF THE

                            </td>

                        

                    </tr>

                

                    <tr>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="CURACAO">  CURACAO

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="FRENCH POLYNESIA">  FRENCH POLYNESIA

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="FRENCH SOUTHERN TERRITORIES">  FRENCH SOUTHERN TERRITORIES

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="GREENLAND">  GREENLAND

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="GUAM">  GUAM

                            </td>

                        

                    </tr>

                

                    <tr>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="GUERNSEY">  GUERNSEY

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="HEARD ISLAND AND MCDONALD ISLANDS">  HEARD ISLAND AND MCDONALD ISLANDS

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="ISLE OF MAN">  ISLE OF MAN

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="JAMAICA">  JAMAICA

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="JERSEY">  JERSEY

                            </td>

                        

                    </tr>

                

                    <tr>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="KOREA, DEMOCRATIC PEOPLE S REPUBLIC OF">  KOREA, DEMOCRATIC PEOPLE S REPUBLIC OF

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="LIECHTENSTEIN">  LIECHTENSTEIN

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="MAYOTTE">  MAYOTTE

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="MOLDOVA, REPUBLIC OF">  MOLDOVA, REPUBLIC OF

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="MONTENEGRO">  MONTENEGRO

                            </td>

                        

                    </tr>

                

                    <tr>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="NAURU">  NAURU

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="NETHERLANDS ANTILLES">  NETHERLANDS ANTILLES

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="NEW CALEDONIA">  NEW CALEDONIA

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="NORFOLK ISLAND">  NORFOLK ISLAND

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="NORTHERN MARIANA ISLANDS">  NORTHERN MARIANA ISLANDS

                            </td>

                        

                    </tr>

                

                    <tr>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="PALESTINIAN TERRITORY, OCCUPIED">  PALESTINIAN TERRITORY, OCCUPIED

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="PITCAIRN">  PITCAIRN

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="RÉUNION">  RÉUNION

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="SAINT BARTHÉLEMY">  SAINT BARTHÉLEMY

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="SAINT HELENA">  SAINT HELENA

                            </td>

                        

                    </tr>

                

                    <tr>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="SAINT KITTS AND NEVIS">  SAINT KITTS AND NEVIS

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="SAINT LUCIA">  SAINT LUCIA

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="SAINT MARTIN">  SAINT MARTIN

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="SAINT PIERRE AND MIQUELON">  SAINT PIERRE AND MIQUELON

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="SAINT VINCENT AND THE GRENADINES">  SAINT VINCENT AND THE GRENADINES

                            </td>

                        

                    </tr>

                

                    <tr>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="SERBIA">  SERBIA

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS">  SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="SVALBARD AND JAN MAYEN">  SVALBARD AND JAN MAYEN

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="TIMOR-LESTE">  TIMOR-LESTE

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="TOKELAU">  TOKELAU

                            </td>

                        

                    </tr>

                

                    <tr>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="TURKS AND CAICOS ISLANDS">  TURKS AND CAICOS ISLANDS

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="UNITED STATES MINOR OUTLYING ISLANDS">  UNITED STATES MINOR OUTLYING ISLANDS

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="WALLIS AND FUTUNA">  WALLIS AND FUTUNA

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="YUGOSLAVIA">  YUGOSLAVIA

                            </td>

                        

                            <td>

                                <input type="checkbox" name="editshippingrulecountry" value="ZAIRE">  ZAIRE

                            </td>

                        

                    </tr>

                



            </tbody></table>


            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-group float-right">
            <button type="button" class="btn btn-sm btn-dark">Save</button>
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
            </div>
            
            
        </div>
        </div>
    </div>
    </div>
    
    </div>


                