<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Table -->
        <div class="row p--0 mt--4">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-1">
                <div class="row align-items-center">
                    <div class="col-12">
                      <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage your Ebay account integration setting</h3>
                    </div>
                    
                  </div>
              </div>
              
              <div class="card-body">
                  
                <div class="modal fade" id="modalGenerateToken" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-success">
                          <h5 class="modal-title font-14 text-white">Generate a new eBay token?</h5>
                          <button type="button" #closemodal class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-sm-12">
                                <p>You need to generate an eBay token in order to list your inventory into eBay using KartzHub selling tools.
                                   You can do this by login into eBay and follow the integration steps.This will take less than 1 minute to complete. If your login is successful, eBay will issue a token to KartzHub which will be used to interact with eBay.
                                </p>
                                <p>If you do not have an account with eBay, you can create an account at www.ebay.com</p>
                                <p>KartzHub is an eBay Compatible Application.</p>
                                <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/ebaycompatibleapp.jpg" />
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="btn-group float-right">
                            <button type="button" class="btn btn-sm btn-success"><i class="fa fa-check-circle"></i> Generate EBay Token</button>
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>
                </div>
                  
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link font-11" data-toggle="tab" href="#other">Listing Templates</a>
                      </li>
                  </ul>
  
                  <div class="tab-content">
                      <div id="app_store" class="container tab-pane active"><br>
                          <div class="row">
                              <div class="col-2">
                                <h4 class="mb-0"><img src="{{ logo }}" class="image-logo" /></h4>
                              </div>
                              <div class="col-10 float-right">
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-exchange text-green"></i> Test Connection</a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-refresh"></i> Re-Generate A Token</a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-download"></i> Recent Products</a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-download"></i> All Products</a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-times-circle-o"></i> Remove All</a>
                                <a class="btn btn-secondary btn-outline btn-sm">Save <i class="fa fa-angle-right"></i></a>
                                <a class="btn btn-secondary btn-outline btn-sm" routerLink="/channelconnector"><i class="fa fa-remove"></i> Close</a>
                              </div>
                              <br />
                              <br />
                              <div class="table-responsive padding-10">
                                  <p class="font-11">Please set-up the eBay Integration</p>
                                  <button type="button" data-toggle="modal" data-target="#modalGenerateToken" class="btn btn-sm btn-secondary">Generate EBay Token <i class="fa fa-check"></i></button>
                              </div>
                            </div>
                      </div>
                      <div id="other" class="container tab-pane fade">
                            
                            <div class="col-sm-12">
                                <div class="float-right mb-20 mt-10">
                                    <button class="btn btn-secondary btn-sm btn-circle" ><i class="fa fa-arrow-up font-blue"></i> New Listing Template</button>
                                    <a routerLink="/channelconnector" class="btn btn-secondary btn-sm btn-circle"><i class="fa fa-remove text-red"></i> Close</a>
                                </div>
                                <table class="table tableFixHead table-hover order-column v2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Template Name</th>
                                            <th>eBay Site</th>
                                            <th>Modified Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <br />
                                <div class="padding-10">
                                    <p class="font-11">Please set-up the eBay Integration</p>
                                    <button type="button" data-toggle="modal" data-target="#modalGenerateToken" class="btn btn-sm btn-secondary">Generate EBay Token <i class="fa fa-check"></i></button>
                                </div>
                            </div>
                      </div>
                  </div>
                  
              </div>
  
              <div class="card-footer py-4">
                  
                </div>
            </div>
          </div>
        </div>
    
  
      </div>
    </div>
  </div>