<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Table -->
        <div class="row p--0 mt--4">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-1">
                <div class="row align-items-center">
                    <div class="col-12">
                      <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage your {{ title }} account integration setting</h3>
                    </div>
                    
                  </div>
              </div>
              
              <div class="card-body">
                 
                  
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link font-11" data-toggle="tab" href="#other">Listing Templates</a>
                      </li>
                  </ul>
  
                  <div class="tab-content">
                      <div id="app_store" class="container tab-pane active"><br>
                           <div class="row" style="border-bottom: 1px solid #CCC;">
                              <div class="col-3">
                                <h4 class="mb-0"><img src="{{ logo }}" class="image-logo" /></h4>
                              </div>
                              <div class="col-9 float-right">
                                <a class="btn btn-secondary btn-dark btn-sm">Activate Jet API<i class="fa fa-angle-right"></i></a>
                                <a class="btn btn-secondary btn-dark btn-sm">Save <i class="fa fa-angle-right"></i></a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-times-circle-o"></i> Remove All Listing From SellersHub</a>
                                <a class="btn btn-secondary btn-outline btn-sm" routerLink="/channelconnector"><i class="fa fa-remove"></i> Close</a>
                              </div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                      <label class="control-label">Channel Name</label>
                                      <br>
                                      <input type="text" value="Jet.com Account" id="name" class="form-control form-control-sm" placeholder="Name to remember within KartzHub">
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label">API User</label>
                                      <br>
                                      <input type="text" value="" id="apiusername" class="form-control form-control-sm" placeholder="Jet.com API User">
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label">API Secret</label>
                                      <br>
                                      <input type="text" value="" id="apipassword" class="form-control form-control-sm">
                                    </div>
                                    <div class="form-group">
                                      <label class=" control-label">API Merchant Id</label>
                                      <br>
                                      <input type="text" value="" id="merchantIdentifier" class="form-control form-control-sm">
                                    </div>
                                    <div class="form-group">
                                      <label class=" control-label">Fulfilment Centre Id </label>
                                      <br>
                                      <input type="text" value="" id="awsAccessKey" class="form-control form-control-sm">
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label">
                                        <input type="checkbox" checked="" value="true" id="downloadamazonorderid"> Download the orders into KartzHub </label>
                                    </div>
                                    <div class="form-group">
                                      <label class=" control-label">
                                        <input type="checkbox" checked="" value="true" id="downloadamazoncatalogid"> Download the catalog into KartzHub </label>
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <h3>Jet.com API setting is under API menu</h3>
                                    <img width="100%" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubjetapisettingsinfo.png">
                                    <h3>Jet.com Fulfilment Id</h3>
                                    <p>Fulfilment Ids must be entered in order to create products from KartzHub into Jet.com</p>
                                    <img width="100%" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubjetfulfilmentinfo.png">
                                  </div>
                            </div>
                      </div>
                      <div id="other" class="container tab-pane fade">
                            
                            <div class="col-sm-12">
                                <div class="float-right mb-20 mt-10">
                                    <a href="#" class="btn btn-secondary btn-sm btn-circle" ><i class="fa fa-arrow-up font-blue"></i> New Listing Template</a>
                                    <a routerLink="/channelconnector" class="btn btn-secondary btn-sm btn-circle"><i class="fa fa-remove text-red"></i> Close</a>
                                </div>
                                <table class="table tableFixHead table-hover order-column v2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Template Name</th>
                                            <th>Modified Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <br />
                            <div class="row mt-10">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Template Name</label>
                                        <input type="text" value="" class="form-control form-control-sm" id="jettemplatename" placeholder="Enter Template Name">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Pricing Rule</label>
                                        <input type="text" value="" class="form-control form-control-sm" id="pricingRule" placeholder="Pricing Rule">
                                        <div class="box-listing padding-10">
                                          <p>e.g <strong>$(cost_price!)*1.6 + 1 </strong>
                                          </p>
                                          <p></p>
                                          <p> This make the selling price by multiplying cost price by 1.6 and add 1 Tags available are <strong>$ (cost_price!) and $ (selling_price!)</strong>
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>
                  </div>
                  
              </div>
  
              <div class="card-footer py-4">
                  
                </div>
            </div>
          </div>
        </div>
    
  
      </div>
    </div>
  </div>