<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubmailchimp.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><i class="fa fa-truck"></i> Manage your MailChimp account integration setting MailChimp Account</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <!-- <div class="pull-right">
                                <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a>
                                <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                            </div> -->

                        </div><br>
                    </div>
                </div>
                    <!-----------------------------Form Start----------------------------------->
                    <div class="card box">
                                <div class="card transparent">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <a class="btn btn-sm btn-circle btn-success"> <i class="fa fa-check"></i> Save</a>
                                            <a  class="tooltips btn btn-sm btn-circle btn-default" data-container="body" data-placement="top" data-html="true" data-original-title="Test Connection"> <i class="fa fa-exchange"></i> Test Connection</a>
                                            <a href="#channelconnector" class="btn btn-sm btn-circle btn-danger"><i class="fa fa-times font-red"></i> Close</a>
                                        </div>
                                    </div>
                                    <div class="card-body form">

                                        <div class="row">

                                            <div class="col-md-12">

                                                <form class="" role="form">
                                                    <div class="form-body">
                                                        <div class="col-md-6" style="float: left;">
                                                            <div class="form-group">
                                                                <label>Channel Name</label>

                                                                <div>
                                                                    <input type="text" value="MailChimp Account" class="form-control input-lg" id="channelname" placeholder="Channel Name">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>MailChimp API Url  </label>
                                                                <div>
                                                                    <input type="text" readonly="" value="https://us13.api.mailchimp.com/3.0" class="form-control input-lg" id="apiUrl" placeholder="API Url">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>User API Key</label>
                                                                <div>
                                                                    <input type="text" value="" class="form-control" id="apiKey" placeholder="API Key">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Mailchimp Contact List</label>
                                                                <div id="mailchimpcontactlistdivid">
                                                                    
                                                                <select id="mailchimpcontactlistid" class="form-control">
                                                                <option class="form-control">Please select a contact list</option>

                                                                </select>

                                                                <span class="help-block">Customers will be created under the selected Mailchimp Contact list </span>

                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Maximum Contacts to be created</label>
                                                                <div>
                                                                    <input type="text" value="2500" class="form-control" id="contactlistlimit" placeholder="Contact list size">
                                                                    <span class="help-block">
                                                                        By default this will be set to 2500 MailChimp default limit for free account.
                                                                        Please set this value based on your MailChimp subscription levels.
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-md-1">
                                                                    <input type="checkbox" id="appuserenableid">
                                                                </div>
                                                                <label class="col-md-11">Status</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 alert-info" style="float: right;">
                                                            <div class="mt-element-ribbon">
                                                                <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-info" style="color:black;">
                                                                    <div class="ribbon-sub ribbon-clip" style="background-color: #f4ae33 !important;"></div>Please follow below steps to get the API key for MailChimp
                                                                </div>
                                                                <ul class="ribbon-content " style="color:black;">
                                                                    <li>Please click Account from Top level Menu</li>
                                                                    <li>Please click extras API Keys</li>
                                                                    <li>Please click 'Create A Key' and copy the API key details</li>
                                                                    <li>Click Save and Testconnection</li>
                                                                    <li>Click close and edit the MailChimp setting again and select the Contact list from MailChimp</li>
                                                                    <li>If you havent created a contact list in MailChimp please create it in MailChimp first and click save</li>
                                                                </ul>
                                                            </div>
                                                            <img class="img-responsive" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubmailchimpintegration3.png">
                                                            <img class="img-responsive" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubmailchimpintegration2.png">
                                                            <img class="img-responsive" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubmailchimpintegration1.png">
                                                        </div>
                                                        
                                                    </div>

                                                </form>

                                            </div>
                                        </div>
                                    
                                    </div>

                                </div>
                            </div>
                        </div>
                    <!-----------------------------Form Ends----------------------------------->
                </div>
            </div>

</div>