.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #525f7f !important;
  border-top: 2px solid rgb(206, 86, 6) !important;
  border-radius: 0px !important;
  background-color: #ffffff !important;
  border-radius: 4px 4px 0px 0px !important;
  margin-top: 20px !important;
  margin-bottom: -10px !important;
}
.nav-tabs .nav-link.inactive, .nav-tabs .nav-item.show .nav-link {
color: #525f7f !important;
border-top: 2px solid rgb(77, 75, 74) !important;
border-radius: 0px !important;
background-color: #ffffff !important;
border-radius: 4px 4px 0px 0px !important;
margin-top: 20px !important;
  margin-bottom: -10px !important;
}
.tab-content {
border-left: 1px solid #e0ebf9 !important;
border-bottom: 1px solid #e0ebf9 !important;
border-right: 1px solid #e0ebf9 !important;
background-color: #ffffff !important;
padding: 10px !important;
}
.btn-circle {
  border-radius: 100% !important;
}