<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    
    <ul class="nav nav-tabs" role="tablist">
      <li *ngFor="let row of menuData" class="nav-item">
          <a (click)="openMenu(row.menuLink)" class="nav-link active" data-toggle="tab" href="#app_store">{{ row.menuTitle }} &nbsp;&nbsp;<span (click)="removeMenu(row.menuTitle, row.menuLink)">x</span></a>
      </li>
    </ul>
    <div class="row">
      
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-1">
            <div class="row align-items-center">
                <div class="col-12">
                  <h3 class="mb-0">Orders Summary</h3>
                </div>
                
              </div>
          </div>
          
          <div class="card-body">
              
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Channel Name</th>
                      <th scope="col">Channel</th>
                      <th scope="col">Order Status</th>
                      <th scope="col">No of Orders</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td colspan="4"><div class="alert alert-warning"><i class="fa fa-info-circle"></i> No orders summary data to display</div></td>
                      </tr>
                  </tbody>
                </table>
              </div>
          </div>

          <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="javascript:void(0)">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
        </div>
      </div>
    </div>