<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubSpring%20Global%20Mail.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><i class="fa fa-truck"></i> Manage DPD Integration</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <div class="pull-right">
                                <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a>
                                <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                            </div>

                        </div><br>
                    </div>
                </div>

    <div id="maindiv">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet transparent">
                    <div class="portlet">
                        <div class="portlet-body form">
                            <div class="portlet box">
                                <div class="portlet-body">
                                    <div class="">
                                        <div class="tabbable-custom">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#tab_1_1" data-toggle="tab" aria-expanded="true">
                                                        Integration </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active in" id="tab_1_1">
                                                    <div class="portlet-body form">
                                                        <!-----------------------------Form Start----------------------------------->
                                                        <div class="portlet box">
                                                            <div class="">
                                                                <div class="portlet transparent">
                                                                    <div class="portlet-body">
                                                                        <h5> Set-up default details for Spring Global Fulfilment Export File </h5>
                                                                        <div class="row">
                                                                            <form class="" role="form">
                                                                                <div class="col-md-12">
                                                                                    <div class="portlet box blue">
                                                                                        <div class="portlet-title">
                                                                                            
                                                                                        </div>
                                                                                        <div class="portlet-body">
                                                                                            <div class="row">
                                                                                                <div class="col-md-6">
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Shipper ID</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="shipperid"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Pack Type</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="packtype"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Service Code</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="servicecode"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Ship From Attention</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="shipfromattention"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Shipping Company</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="shippingcompany"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Ship From Address 1</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="shipfromaddress1"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Ship From Address2</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="shipfromaddress2"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Ship From City</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="shipfromcity"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Ship From State</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="shipfromstate"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Ship From PostCode</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="shipfrompostcode"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Ship From Country Code</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="shipfromcountrycode"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-----------------------------Form Ends----------------------------------->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>