<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
            <div class="col-12">
              <h3 class="mb-0">
                <i class="fa fa-upload"></i> Bulk Actions
              </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Bulk Imports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-11" data-toggle="tab" href="#other">Bulk Exports</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="app_store" class="container tab-pane active">
              <br>
              <div class="font-11">
                <div class="row">
                  <div class="col-3">
                    <div style="margin-left: -10px !important;">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="font-12">Please select the file to upload</label>
                        <input class="form-control form-control-sm" type="file" name="file">
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div style="margin-left: -10px !important;">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="font-12">Please select the upload file type</label>
                        <select class="form-control form-control-sm" name="uploadProductFileType">
                          <option value="GeneralCSV">General CSV File</option>
                          <option value="SKUQuantity">Update Quantities CSV</option>
                          <option value="BarcodeQuantity">Update Quantities by Barcode</option>
                          <option value="SKUPrice">Update Prices CSV</option>
                          <option value="BarcodePrice">Update Prices using Barcodes</option>
                          <option value="EbayPartsCompatibility">Ebay Parts Compatibility</option>
                          <option value="SKUBarcode">SKU Barcode Import CSV File</option>
                          <option value="MergeSKU">Merge SKUs</option>
                          <option value="LinkSKU">Linking SKUs</option>
                          <option value="orderimportcsv">Order Import CSV File</option>
                          <option value="WAREHOUSE_LOCATIONS">Warehouse Locations Import File</option>
                          <option value="SKU_LOCATIONS">Assign SKUs to Warehouse Locations</option>
                          <option value="AssignSuppliersToProducts">Assign Suppliers to Products</option>
                          <option value="MultichannelProductCSV">Multichannel Product CSV File</option>
                          <option value="CustomCSV">Custom CSV File</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-5">
                    <div class="btn-group float-right">
                      <button type="button" style="cursor: pointer" class="btn btn-sm btn-default">
                        <i class="fa fa-upload"></i> Upload </button>
                      <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#bulkdownload">
                        <i class="fa fa-downlad"></i> Download </button>
                      <button class="btn btn-sm btn-danger">
                        <i class="fa fa-times"></i> Remove All Files </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="font-9">Upload File Status</div>
              <table class="table align-items-center table-flush table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th>Request Time</th>
                    <th>Export Type</th>
                    <th>Status</th>
                    <th>Download</th>
                    <th>Action</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div id="other" class="container tab-pane fade">
              <br>
              <div class="font-11">
                <div class="row">
                  <div class="col-6">
                    <div style="margin-left: -10px !important;">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="font-12">Please select an export file type</label>
                        <select class="form-control form-control-sm" id="productexporttypeid">
                          <option value="-1">Please select an export file type</option>
                          <option value="general">Product Export File</option>
                          <option value="EBAY_PRODUCT_EXPORT">Ebay Product Export File</option>
                          <option value="qtysku">QTY SKU Product Export File</option>
                          <option value="skubarcode">SKU Barcodes Export File</option>
                          <option value="customers">Customer Export File</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="btn-group float-right">
                      <button class="btn btn-success">
                        <i class="fa fa-file-excel"></i> Export </button>
                    </div>
                  </div>
                </div>
              </div>
              <table class="table align-items-center table-flush table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th>Request Time</th>
                    <th>Export Type</th>
                    <th>Status</th>
                    <th>Download</th>
                    <th>Action</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer py-4"></div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="bulkdownload" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title font-14 text-white">Sample CSV Upload Files</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-scrollable">
            <table class="table table-responsive table-striped table-bordered table-hover order-column dataTable no-footer">
              <thead>
                <tr>
                  <th style="width:20%;"> File Type </th>
                  <th> Description </th>
                  <th> Sample File </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> General Product CSV File Format </td>
                  <td>
                    <p>This is a general file format specific to Sellershub Platform. Use this file to import your inventory in bulk to Sellershub. If you use an existing SKUs in Sellershub inventory,those products will be updated.</p>
                  </td>
                  <td>
                    <a href="https://s3-us-west-2.amazonaws.com/khubbulkactions/SampleKartzhubProductImportFile.csv" target="_blank" class="external_link btn green2 btn-sm tooltips" data-original-title="General Product CSV File Format">
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td> Order CSV File Format </td>
                  <td>
                    <p>This is the order import file format specific to Sellershub Platform. Use this file to import your orders in bulk to Sellershub</p>
                  </td>
                  <td>
                    <a href="https://s3-us-west-2.amazonaws.com/khubbulkactions/SampleKartzhubOrderImportFile.csv" target="_blank" class="external_link btn green2 btn-sm tooltips" data-original-title="Order CSV File Format">
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td> SKU Quantity Update File Format </td>
                  <td>
                    <p>This is a simple CSV file to update quantities for a given list of SKUs. Please note that this will update quantities for all matching(by SKU) marketplace items as well.</p>
                  </td>
                  <td>
                    <a href="https://s3-us-west-2.amazonaws.com/khubbulkactions/QTYSKU.csv" target="_blank" class="external_link btn green2 btn-sm tooltips" data-original-title="SKU Quantity Update File Format">
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td> Price Update File Format </td>
                  <td>
                    <p>This is a simple CSV file to update prices for all channels for a given list of SKUs. Please note that this will update prices for all matching(by SKU) marketplace items as well. Inventory synchronization must be switched on for marketplace and ecommerce store updates.</p>
                  </td>
                  <td>
                    <a href="https://s3-us-west-2.amazonaws.com/khubbulkactions/kartzhubcsvbulkpriceupdate.xlsx" target="_blank" class="external_link btn green2 btn-sm tooltips" data-original-title="Price Update File Format">
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td> Barcode Import File </td>
                  <td>
                    <p>This is a simple CSV file to bulk import barcodes to the inventory. This import can be used to bulk update barcodes for given SKUs and also to import unused barcodes to use with automatic assigning of barcodes.</p>
                  </td>
                  <td>
                    <a href="https://s3-us-west-2.amazonaws.com/khubbulkactions/kartzhubcsvbarcodeimportfile.csv" target="_blank" class="external_link btn green2 btn-sm tooltips" data-original-title="Barcode Import  File">
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td> SKU Linking File </td>
                  <td>
                    <p>This is a simple CSV file to link SKUs in the inventory. This import can be used to link multiple SKUs into a common SKU.</p>
                  </td>
                  <td>
                    <a href="https://s3-us-west-2.amazonaws.com/khubbulkactions/kartzhubcsvlinkskuimportfile.csv" target="_blank" class="external_link btn green2 btn-sm tooltips" data-original-title="SKU Linking File">
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td> SKU Merge File </td>
                  <td>
                    <p>This is a simple CSV file to Merge SKUs in the inventory. This import can be used to merge multiple SKUs into a common SKU.</p>
                  </td>
                  <td>
                    <a href="https://s3-us-west-2.amazonaws.com/khubbulkactions/kartzhubcsvmergeskuimportfile.csv" target="_blank" class="external_link btn green2 btn-sm tooltips" data-original-title="SKU Merge File">
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td> Warehouse Locations </td>
                  <td>
                    <p>This is a simple CSV file to import warehouse locations into Sellershub system.</p>
                  </td>
                  <td>
                    <a href="https://s3-us-west-2.amazonaws.com/khubbulkactions/warehousebulkactions.csv" target="_blank" class="external_link btn green2 btn-sm tooltips" data-original-title="Warehouse Locations">
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td> SKU Locations </td>
                  <td>
                    <p>This is a simple CSV file to assign SKUs to locations.</p>
                  </td>
                  <td>
                    <a href="https://s3-us-west-2.amazonaws.com/khubbulkactions/skuwarehouselocations.csv" target="_blank" class="external_link btn green2 btn-sm tooltips" data-original-title="SKU Locations">
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td> Assign suppliers to Products </td>
                  <td>
                    <p>This is a simple CSV file to assign suppliers to products. Each product can have more than one supplier.</p>
                  </td>
                  <td>
                    <a href="https://s3-us-west-2.amazonaws.com/khubbulkactions/supplierskusamplefile.csv" target="_blank" class="external_link btn green2 btn-sm tooltips" data-original-title="Assign suppliers to Products">
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td> Multichannel Product CSV File </td>
                  <td>
                    <p>This is a simple CSV file to list products to multiple channels using a single product csv file. Difference between this file and the General CSV file is that this file could be used to list to multiple channels at one go and where as General CSV file can only be used to list to one channel at a time.</p>
                  </td>
                  <td>
                    <a href="http://http://www.sellershub.io
                            /knowledgebase/bulk-products-listing-selling-channels/" target="_blank" class="external_link btn green2 btn-sm tooltips" data-original-title="Multichannel Product CSV File">
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
              <i class="fa fa-times text-red"></i> Close </button>
            <!-- <button type="button" class="btn btn-sm btn-dark"><i class="fa fa-envelope-o"></i> Create Tic÷ket</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>