<div class="header bg-gradient-danger py-7 py-lg-8">
 
</div>
<!-- Page content -->
<div class="container mt--8 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-3">
          <div class="text-muted text-center mt-2 mb-3">
            <img src="assets/img/brand/red.png" />
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-4">
          <div class="text-left text-dark mb-2 user-login-text">
            <small>Forgot Password</small>
          </div>
          <form role="form">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email" autofocus>
              </div>
            </div>
            
            <div class="row">
              
              <div class="col-12">
                <div class="text-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary">Sign in</button>
                    <button type="button" (click)="returnToLogin()" class="btn btn-default">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
            <br />
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12  text-center">
          <a href="javascript:void(0)" class="text-light"><small>2021 &copy;Sellershub. All Rights Reserved.</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
