.font-10 {
    font-size: 7.8pt !important;
  }
  .font-11 {
    line-height: 23px !important;
    font-size: 9pt !important;
  }
  .box-search {
    border-top: 3px solid rgb(74, 175, 243);
    padding: 10px;
    margin: -5px 10px 10px 10px !important;
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  
  .box-search-bottom {
    border-top: 1px solid rgb(238, 238, 238);
    padding: 5px;
    margin: -10px 10px 10px 10px !important;
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  
  .search-width-80 {
    width: 80px !important;
  }
  
  .search-width {
    width: 120px !important;
  }
  
  .search-width-150 {
    margin-left: 20px !important;
    width: 100px !important;
  }
  
  .search-width-200 {
    margin-left: 10px !important;
    width: 180px !important;
  }
  
  .search-width-220 {
    width: 185px !important;
  }
  
  .search-width-input {
    width: 220px !important;
  }
  
  .image-product {
    width: 35px !important;
    height: 35px !important;
  }
  
  .image-channel {
    width: 25px !important;
    height: 20px !important;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #525f7f !important;
    border-top: 2px solid rgb(206, 86, 6) !important;
    border-radius: 0px !important;
    background-color: #ffffff !important;
    border-radius: 4px 4px 0px 0px !important;
    margin-top: 20px !important;
    margin-bottom: -10px !important;
}
.nav-tabs .nav-link.inactive, .nav-tabs .nav-item.show .nav-link {
  color: #525f7f !important;
  border-top: 2px solid rgb(77, 75, 74) !important;
  border-radius: 0px !important;
  background-color: #ffffff !important;
  border-radius: 4px 4px 0px 0px !important;
  margin-top: 20px !important;
    margin-bottom: -10px !important;
}
.tab-content {
  border-left: 1px solid #e0ebf9 !important;
  border-bottom: 1px solid #e0ebf9 !important;
  border-right: 1px solid #e0ebf9 !important;
  background-color: #ffffff !important;
  padding: 10px !important;
}