<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-12">
                <label> Purchase Order</label>

                <div class="pull-right">
                    <a class="btn btn-sm btn-primary btn-circle"  href="#purchaseorderadd"><i class="fa fa-check font-red"></i>  Create Purchase Order</a>		
                </div>

            </div><br>
            </div>
        </div>
        <div class="box-search">
            <div class="row">
              <div class='col-12'>
                <table>
                  <tr>
                    <td>&nbsp;</td>
                    <td>
                      <select class="form-control form-control-sm search-width">
                        <option value=''>Search By</option>
                        <option value='order_no'>Order No</option>
                        <option value='supplier_email'>Supplier Email</option>
                        <option value='Title'>Title</option>
                        <!-- <option value="4">Order No</option>
                        <option value="5">Customer Name</option> -->
                      </select>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                      <div class="input-group search-width-input">
                        <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                        <div class="input-group-append">
                          <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                    </td> 
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                      <select class="form-control form-control-sm search-width">
                        <option value=''>Show</option>
                        <option value='100'>100</option>
                        <option value='50'>50</option>
                        <option value='25'>25</option>
                        <option value="10">10</option>
                      </select>
                    </td>
                    
                  </tr>
                </table>
              </div>
            </div>
        </div>
        
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link no-radius active" id="v-pills-all-tab" data-toggle="pill" href="#v-pills-all" role="tab" aria-controls="v-pills-all" aria-selected="true">ALL</a>
                <a class="nav-link no-radius" id="v-pills-pending-tab" data-toggle="pill" href="#v-pills-pending" role="tab" aria-controls="v-pills-pending" aria-selected="false">Pending</a>
                <a class="nav-link no-radius" id="v-pills-ordering-tab" data-toggle="pill" href="#v-pills-ordering" role="tab" aria-controls="v-pills-ordering" aria-selected="false">Ordering</a>
                <a class="nav-link no-radius" id="v-pills-shipping-tab" data-toggle="pill" href="#v-pills-shipping" role="tab" aria-controls="v-pills-shipping" aria-selected="false">Shipping</a>
                <a class="nav-link no-radius" id="v-pills-receiving-tab" data-toggle="pill" href="#v-pills-receiving" role="tab" aria-controls="v-pills-receiving" aria-selected="false">Receiving</a>
                <a class="nav-link no-radius" id="v-pills-completed-tab" data-toggle="pill" href="#v-pills-completed" role="tab" aria-controls="v-pills-completed" aria-selected="false">Completed</a>
              </div>
            </div>
            <div class="col-9">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all-tab">
                  <div class="row">
                        <div class="col-8 ">
                          <h4 class="mb-0">Purchase orders are displayed below</h4>
                        </div>
                        <br />
                        <br />
                        <div class="table-responsive">
                            <table class="table align-items-center table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">order no.</th>
                                        <th scope="col">Supplier Email</th>
                                        <th scope="col">order status</th>
                                        <th scope="col">order placed date</th>
                                        <th scope="col">stock expected on</th>
                                        <th scope="col">amount</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                        <td>1.</td> 
                                        <td>Aminul Aprijal</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                          <div class="btn-group">
                                            <a class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Edit</a>
                                            <a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>
                                            </a>
                                          </div>
                                        </td>
                                        </tr>
                                        <tr>
                                            <td>2.</td><td>Amir Khan</td><td></td><td></td><td></td><td></td><td><div class="btn-group"><a class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Edit</a><a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></div></td>
                                        </tr>
                                        <tr>
                                            <td>3.</td><td>Rohan Sahu</td><td></td><td></td><td></td><td></td><td><div class="btn-group"><a class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Edit</a><a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></div></td>
                                        </tr>
                                        <tr>
                                            <td>4.</td><td>Paval Tadu</td><td></td><td></td><td></td><td></td><td><div class="btn-group"><a class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Edit</a><a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></div></td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                      </div></div>
                <div class="tab-pane fade" id="v-pills-pending" role="tabpanel" aria-labelledby="v-pills-pending-tab">
                  <div class="row">
                        <div class="col-8 ">
                          <h4 class="mb-0">Purchase orders are displayed below</h4>
                        </div>
                        <br />
                        <br />
                        <div class="table-responsive">
                            <table class="table align-items-center table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">order no.</th>
                                        <th scope="col">Supplier Email</th>
                                        <th scope="col">order status</th>
                                        <th scope="col">order placed date</th>
                                        <th scope="col">stock expected on</th>
                                        <th scope="col">amount</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                      </div></div>
                <div class="tab-pane fade" id="v-pills-ordering" role="tabpanel" aria-labelledby="v-pills-ordering-tab">
                  <div class="row">
                        <div class="col-8 ">
                          <h4 class="mb-0">Purchase orders are displayed below</h4>
                        </div>
                        <br />
                        <br />
                        <div class="table-responsive">
                            <table class="table align-items-center table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">order no.</th>
                                        <th scope="col">Supplier Email</th>
                                        <th scope="col">order status</th>
                                        <th scope="col">order placed date</th>
                                        <th scope="col">stock expected on</th>
                                        <th scope="col">amount</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                      </div></div>
                <div class="tab-pane fade" id="v-pills-shipping" role="tabpanel" aria-labelledby="v-pills-shipping-tab">
                  <div class="row">
                        <div class="col-8 ">
                          <h4 class="mb-0">Purchase orders are displayed below</h4>
                        </div>
                        <br />
                        <br />
                        <div class="table-responsive">
                            <table class="table align-items-center table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">order no.</th>
                                        <th scope="col">Supplier Email</th>
                                        <th scope="col">order status</th>
                                        <th scope="col">order placed date</th>
                                        <th scope="col">stock expected on</th>
                                        <th scope="col">amount</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                      </div></div>
                <div class="tab-pane fade" id="v-pills-receiving" role="tabpanel" aria-labelledby="v-pills-receiving-tab">
                  <div class="row">
                        <div class="col-8 ">
                          <h4 class="mb-0">Purchase orders are displayed below</h4>
                        </div>
                        <br />
                        <br />
                        <div class="table-responsive">
                            <table class="table align-items-center table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">order no.</th>
                                        <th scope="col">Supplier Email</th>
                                        <th scope="col">order status</th>
                                        <th scope="col">order placed date</th>
                                        <th scope="col">stock expected on</th>
                                        <th scope="col">amount</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                      </div></div>
                <div class="tab-pane fade" id="v-pills-completed" role="tabpanel" aria-labelledby="v-pills-completed-tab">
                  <div class="row">
                        <div class="col-8 ">
                          <h4 class="mb-0">Purchase orders are displayed below</h4>
                        </div>
                        <br />
                        <br />
                        <div class="table-responsive">
                            <table class="table align-items-center table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">order no.</th>
                                        <th scope="col">Supplier Email</th>
                                        <th scope="col">order status</th>
                                        <th scope="col">order placed date</th>
                                        <th scope="col">stock expected on</th>
                                        <th scope="col">amount</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                      </div></div>
              </div>
            </div>
          </div>


        <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
      </div>
    </div>
  </div>
  
</div>