<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-12">
                <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubroyalmail.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label><i class="fa fa-truck"></i>  MManage Royal Mail Dispatch Manager Shipping Codes</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="pull-right">
                    <a class="btn btn-sm btn-danger btn-circle"  href="#royalmailsetting"><i class="fa fa-times font-red"></i> Close</a>		
                </div>

            </div><br>
            </div>
        </div>
        
        
        <div class="table-scrollable">
            <div class="row">
            <div class="col-md-6">
                <div class="card box border-primary">
                <div class="card-header  bg-primary text-white">
                    <div class="caption">
                        <i class="fa fa-truck"></i> Assign DMO Shipping Code
                    
                        <div class="actions pull-right">
                            <a class="btn btn-sm btn-default btn-circle" >Save</a>
                            <a class="btn btn-sm btn-default btn-circle" href="#royalmailsetting">Cancel</a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                        <form class="" role="form">
                            <div class="form-group">
                            <label>Shipping Option Name</label>
                            <input class="form-control" type="text" id="dpdCustomerId" value="">
                                </div>

                            <div class="form-group">
                                <label>DMO Shipping Product Code</label>
                                <input class="form-control" type="text" id="dpdUserName" value="">
                            </div>

                            
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 pull-right">
                <div class="card box  border-primary">
                    <div class="card-header bg-primary text-white ">
                        <div class="caption">
                            <i class="fa fa-truck"></i> Available DMO Domestic Shipping Service Codes
                    
                        <div class="actions pull-right">
                            <a class="btn btn-sm btn-default btn-circle" >Select</a>
                        </div>
                    </div>
                    </div>

                <div class="card-body">
                    <form class="form-horizontal" role="form">
                    <div class="">

                        <div class="form-group">
                            <select class="form-control" id="dmoshippingcodesid">

                                
                                <option value="SD1">
                                    SD1 - Special Delivery Guaranteed by 1pm ?500
                                </option>
                                
                                <option value="SD2">
                                    SD2 - Special Delivery Guaranteed by 1pm ?1000
                                </option>
                                
                                <option value="SD3">
                                    SD3 - Special Delivery Guaranteed by 1pm ?2500
                                </option>
                                
                                <option value="SD4">
                                    SD4 - Special Delivery Guaranteed by 9am ?50
                                </option>
                                
                                <option value="SD5">
                                    SD5 - Special Delivery Guaranteed by 9am ?1000
                                </option>
                                
                                <option value="STL1">
                                    STL1 - Std Tariff letters 1st class
                                </option>
                                
                                <option value="STL2">
                                    STL2 - Std Tariff Letter 2nd class
                                </option>
                                
                                <option value="CRL1">
                                    CRL1 - Royal Mail 24
                                </option>
                                
                                <option value="CRL2">
                                    CRL2 - Royal Mail 48
                                </option>
                                
                                <option value="FS1">
                                    FS1 - Royal Mail 24 (Sort 8) (LL) Flat Rate
                                </option>
                                
                                <option value="PK2">
                                    PK2 - Royal Mail 48 (Sort 8) (P) Flat Rate
                                </option>
                                
                                <option value="PK3">
                                    PK3 - Royal Mail 24 (Sort 8) (LL/P) Daily Rate
                                </option>
                                
                                <option value="PK4">
                                    PK4 - Royal Mail 48 (Sort 8) (LL/P) Daily Rate
                                </option>
                                
                                <option value="PK9">
                                    PK9 - Royal Mail 24 (LL) Flat Rate
                                </option>
                                
                                <option value="PK0">
                                    PK0 - Royal Mail 48 (LL) Flat Rate
                                </option>
                                
                                <option value="SD6">
                                    SD6 - Special Delivery Guaranteed by 9am ?2500
                                </option>
                                
                                <option value="TPN">
                                    TPN - Royal Mail Tracked 24
                                </option>
                                
                                <option value="TPS">
                                    TPS - Royal Mail Tracked 48
                                </option>
                                
                                <option value="TRL">
                                    TRL - Royal Mail Tracked 28 (Letterboxable)
                                </option>
                                
                                <option value="TRB">
                                    TRB - Royal Mail Tracked 48 (Letterboxable)
                                </option>
                                
                                <option value="FS2">
                                    FS2 - Royal Mail 48 (Sort 8) (LL) Flat Rate
                                </option>
                                
                                <option value="PK1">
                                    PK1 - Royal Mail 24 (Sort 8) (P) Flat Rate
                                </option>
                                
                                <option value="PF2">
                                    PF2 - Royal Mail 48 (P) Flat Rate
                                </option>
                                
                                <option value="PF1">
                                    PF1 - Royal Mail 24 (P) Flat Rate
                                </option>
                                
                                <option value="TSN">
                                    TSN - Royal Mail Tracked Returns 24
                                </option>
                                
                                <option value="TSS">
                                    TSS - Royal Mail Tracked Returns 48
                                </option>
                                
                                <option value="">----- International -------</option>
                                
                                    <option value="DE1">
                                            DE1 - Intl Bus Parcels Zero Sort High Vol Prty RDC
                                    </option>
                                
                                    <option value="DE3">
                                            DE3 - Intl Bus Parcels Zero Sort Econ Hi Vol Prty RDC
                                    </option>
                                
                                    <option value="DE4">
                                            DE4 - Intl Bus Parcels LowVol Prty
                                    </option>
                                
                                    <option value="DE6">
                                            DE6 - Intl Bus Parcels Low Vol Econ
                                    </option>
                                
                                    <option value="DG1">
                                            DG1 - Intl Bus Mail Large Letters Country Sort High Vol Prty RDC
                                    </option>
                                
                                    <option value="DG3">
                                            DG3 - Intl Bus Mail Large Letters Country Sort High Vol Econ RDC
                                    </option>
                                
                                    <option value="DG4">
                                            DG4 - Intl Bus Mail Large Letters Country Sort LowVol Prty
                                    </option>
                                
                                    <option value="DG6">
                                            DG6 - Intl Bus Mail Large Letters Country Sort Low Vol Econ
                                    </option>
                                
                                    <option value="DW1">
                                            DW1 - Intl Bus Parcels Bespoke Postal
                                    </option>
                                
                                    <option value="IE1">
                                            IE1 - Intl Bus Parcels Zone Sort Priority
                                    </option>
                                
                                    <option value="IE3">
                                            IE3 - Intl Bus Parcels Zone Sort Econ
                                    </option>
                                
                                    <option value="IG1">
                                            IG1 - Intl Bus Mail Large Letters Zone Sort Priority
                                    </option>
                                
                                    <option value="IG3">
                                            IG3 - Intl Bus Mail Large Letters Zone Sort Econ
                                    </option>
                                
                                    <option value="IG4">
                                            IG4 - Intl Bus Mail Large Letters Zone Sort Priority Machine
                                    </option>
                                
                                    <option value="IG6">
                                            IG6 - Intl Bus Mail Large Letters Zone Sort Econ Machine
                                    </option>
                                
                                    <option value="MB1">
                                            MB1 - Intl Bus Parcels Print Direct Priority
                                    </option>
                                
                                    <option value="MB2">
                                            MB2 - Intl Bus Parcels Print Direct Standard
                                    </option>
                                
                                    <option value="MB3">
                                            MB3 - Intl Bus Parcels Print Direct Economy
                                    </option>
                                
                                    <option value="MP0">
                                            MP0 - Intl Bus Parcels Signed Extra Comp Country
                                    </option>
                                
                                    <option value="MP1">
                                            MP1 - Intl Bus Parcels Tracked
                                    </option>
                                
                                    <option value="MP4">
                                            MP4 - Intl Bus Parcels Tracked extra comp
                                    </option>
                                
                                    <option value="MP5">
                                            MP5 - Intl Bus Parcels Signed
                                    </option>
                                
                                    <option value="MP6">
                                            MP6 - Intl Bus Parcels Signed extra comp
                                    </option>
                                
                                    <option value="MP7">
                                            MP7 - Intl Bus Parcels Tracked Country Priced
                                    </option>
                                
                                    <option value="MP8">
                                            MP8 - Intl Bus Parcels Tracked Extra Comp Country
                                    </option>
                                
                                    <option value="MTA">
                                            MTA - Intl Bus Parcels Tracked &amp; Signed
                                    </option>
                                
                                    <option value="MTB">
                                            MTB - Intl Bus Parcels Tracked Signed Xtr Comp
                                    </option>
                                
                                    <option value="MTC">
                                            MTC - Intl Bus Mail Tracked &amp; Signed
                                    </option>
                                
                                    <option value="MTD">
                                            MTD - Intl Bus Mail Tracked &amp; Signed Xtr Comp
                                    </option>
                                
                                    <option value="MTE">
                                            MTE - Intl Bus Parcels Tracked &amp; Signed Ctry
                                    </option>
                                
                                    <option value="MTF">
                                            MTF - Intl Bus Parcel Track&amp;Sign Xtr Cmp Ctry
                                    </option>
                                
                                    <option value="MTG">
                                            MTG - Intl Bus Mail Tracked &amp; Signed Country
                                    </option>
                                
                                    <option value="MTH">
                                            MTH - Intl Bus Mail Track &amp; Sign Xtr Comp Ctry
                                    </option>
                                
                                    <option value="MTI">
                                            MTI - Intl Bus Mail Tracked
                                    </option>
                                
                                    <option value="MTJ">
                                            MTJ - Intl Bus Mail Tracked Extra Comp
                                    </option>
                                
                                    <option value="MTK">
                                            MTK - Intl Bus Mail Tracked Country Priced
                                    </option>
                                
                                    <option value="MTL">
                                            MTL - Intl Bus Mail Tracked Extra Comp Ctry
                                    </option>
                                
                                    <option value="MTM">
                                            MTM - Intl Bus Mail Signed
                                    </option>
                                
                                    <option value="MTN">
                                            MTN - Intl Bus Mail Signed Extra Comp
                                    </option>
                                
                                    <option value="MTO">
                                            MTO - Intl Bus Mail Signed Country Priced
                                    </option>
                                
                                    <option value="MTP">
                                            MTP - Intl Bus Mail Signed Extra Comp Country
                                    </option>
                                
                                    <option value="MTQ">
                                            MTQ - Intl Bus Parcels Zone Sort Plus Priority
                                    </option>
                                
                                    <option value="MTS">
                                            MTS - Intl Bus Parcels Zone Sort Plus Economy
                                    </option>
                                
                                    <option value="OLA">
                                            OLA - Intl Standard On Account
                                    </option>
                                
                                    <option value="OLS">
                                            OLS - Intl Economy on Account
                                    </option>
                                
                                    <option value="OSA">
                                            OSA - International Signed On Account
                                    </option>
                                
                                    <option value="OSB">
                                            OSB - Intl Signed On Account Extra Comp
                                    </option>
                                
                                    <option value="OTA">
                                            OTA - International Tracked On Account
                                    </option>
                                
                                    <option value="OTB">
                                            OTB - Intl Tracked On Account Extra Comp
                                    </option>
                                
                                    <option value="OTC">
                                            OTC - International Tracked &amp; Signed On Acct
                                    </option>
                                
                                    <option value="OTD">
                                            OTD - Intl Tracked &amp; Signed On Acct Extra Comp
                                    </option>
                                
                                    <option value="OZ1">
                                            OZ1 - Intl Bus Mail Mixed Zone sort Priority
                                    </option>
                                
                                    <option value="OZ3">
                                            OZ3 - Intl Bus Mail Mixed Zone sort econ
                                    </option>
                                
                                    <option value="OZ4">
                                            OZ4 - Intl Bus Mail Mixed Zone sort Priority Machine
                                    </option>
                                
                                    <option value="OZ6">
                                            OZ6 - Intl Bus Mail Mixed Zone sort Econ Machine
                                    </option>
                                
                                    <option value="PS7">
                                            PS7 - Intl Bus Mail Large Letters Max Sort Priority
                                    </option>
                                
                                    <option value="PS8">
                                            PS8 - Intl Bus Mail Large Letters Max Sort Economy
                                    </option>
                                
                                    <option value="PS9">
                                            PS9 - Intl Bus Parcels Max Sort Priority
                                    </option>
                                
                                    <option value="PSB">
                                            PSB - Intl Bus Mail Large Letters Max Sort Standard
                                    </option>
                                
                                    <option value="PSC">
                                            PSC - Intl Bus Parcels Max Sort Standard
                                    </option>
                                
                                    <option value="PSO">
                                            PSO - Intl Bus Parcels Max Sort Economy
                                    </option>
                                
                                    <option value="WE1">
                                            WE1 - Intl Bus Parcels Zero Sort Priority
                                    </option>
                                
                                    <option value="WE1">
                                            WE1 - Intl Bus Parcels Zero Sort Priority
                                    </option>
                                
                                    <option value="WE3">
                                            WE3 - Intl Bus Parcels Zero Sort Economy
                                    </option>
                                
                                    <option value="WG1">
                                            WG1 - Intl Bus Mail Large Letters Zero Sort Priority
                                    </option>
                                
                                    <option value="WG3">
                                            WG3 - Intl Bus Mail Large Letters Zero Sort Econ
                                    </option>
                                
                                    <option value="WG4">
                                            WG4 - Intl Bus Mail Large Letters Zero Sort Priority Machine
                                    </option>
                                
                                    <option value="WG6">
                                            WG6 - Intl Bus Mail Large Letters Zero Sort Econ Machine
                                    </option>
                                
                                    <option value="WW1">
                                            WW1 - Intl Bus Mail Mixed Zero Sort Priority
                                    </option>
                                
                                    <option value="WW1">
                                            WW1 - Intl Bus Mail Mixed Zero Sort Priority
                                    </option>
                                
                                    <option value="WW3">
                                            WW3 - Intl Bus Mail Mixed Zero Sort Economy
                                    </option>
                                
                                    <option value="WW4">
                                            WW4 - Intl Bus Mail Mixed Zero Sort Priority Machine
                                    </option>
                                
                                    <option value="WW6">
                                            WW6 - Intl Bus Mail Mixed Economy Machine
                                    </option>
                                
                            </select>
                        </div>
                                                                                                                                    </div>
                        </form>																	
                    </div>
                </div>
            </div>
            </div>							<br>
            <div style="margin: 10px ;padding: 7px;">
            Assigned PPI Images are shown below
          </div>
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th>Channel</th>
                    <th>DMO Shipping Code</th>
                    <th>Shipping Method</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
</div>
