@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}
.sebm-google-map-container {
  height: 300px;
}
#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.space-70{
    height: 70px;
    display: block;
}

.tim-row{
    margin-bottom: 20px;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}
@media (min-width: 992px){

    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

/* You can add global styles to this file, and also import other style files */
.tebal {
    padding-left: 23px !important;
 }
 
 .dashboard-stat:last-child {
     margin-bottom: 0;
 }
 .green {
     background-color: #3f67a7;
 }
 .widget-thumb {
     padding: 5px;
     border-radius: 4px;
     color: #fff !important;
 }
 .dashboard-stat {
     display: block;
     margin-bottom: 25px;
     overflow: hidden;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -ms-border-radius: 4px;
     -o-border-radius: 4px;
     border-radius: 4px;
     color: #fff !important;
     font-weight: bold;
 }
 .btn-circle {
     border-radius: 25px !important;
     overflow: hidden;
 }
 
 .red {
     background-color: #e7505a;
 }
 .blue {
     background-color: #3f67a7;
 }
 .font-white {
     color: #fff !important;;
 }
 .purple {
     background-color: #8E44AD;
 }
 .widget-thumb-body-stat {
     font-size: 12pt !important;
 }
 
 .new-chart {
     margin-top: 52px !important;
     margin-bottom: 52px !important;
 }
 .mt-10 {
     margin-top: 20px !important;
 }
 .new-bar {
     padding: 20px !important;
 }