<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    
    <ul class="nav nav-tabs" role="tablist">
      <li *ngFor="let row of menuData" class="nav-item">
          <a (click)="openMenu(row.menuLink)" class="nav-link active" data-toggle="tab" href="#app_store">{{ row.menuTitle }} &nbsp;&nbsp;<span (click)="removeMenu(row.menuTitle, row.menuLink)">x</span></a>
      </li>
    </ul>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-2">
                <h3 class="mb-0">MCF Orders<i class="fa fa-amazon"></i></h3>
              </div>

              

              <div class="col-10 text-right">
                <div class="float-right">
                  <a href="#!" class="btn btn-sm btn-secondary font-10"><i class="fa fa-file-excel-o text-green"></i> Export To CSV</a>
                  <a href="#!" class="btn btn-sm btn-secondary font-10"><i class="fa fa-print text-blue"></i> Print</a>
                  <a href="#!" class="btn btn-sm btn-default font-10"><i class="fa fa-search"></i></a>

                </div>
                
              </div>
            </div>
        </div>
        
        <div class="box-search">
            <div class="row">
              <div class='col-12'>
                <table>
                  <tr>
                    <td>
                        &nbsp; Show
                    </td>
                    <td>
                        <select class="form-control form-control-sm search-width">
                          <option value=''>100</option>
                        </select>
                    </td>
                    <td style="width: 90px"></td> 
                    <td>
                      &nbsp; Search
                    </td>
                    <td>
                      <select class="form-control form-control-sm search-width">
                        <option value=''>Search By</option>
                        <option value='SKU'>SKU</option>
                        <option value='Channel'>Channel</option>
                        <option value='Title'>Title</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group search-width-input">
                        <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                        <div class="input-group-append">
                          <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                    </td> 
                    
                  </tr>
                </table>
              </div>
            </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">
                  <input id="customCheck5" type="checkbox">
                </th>
                <th scope="col">Channel</th>
                <th scope="col">Order Date</th>
                <th scope="col">Order ID/Transaction ID</th>
                <th scope="col">Item</th>
                <th scope="col">Qty</th>
                <th scope="col">Order Status</th>
                <th scope="col">Shipped Date</th>
                <th scope="col">Buyer</th>
                <th scope="col">Shipped Country</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td colspan="11">
                    <div class="alert alert-warning"><i class="fa fa-info-circle"></i> No MCF Orders<i class="fa fa-amazon"></i> data to display</div>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
</div>
