<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-2">
              <h3 class="mb-0">Listing Errors</h3>
            </div>
            <div class="col-10 text-right">
              <div class="float-right">
                <a href="#!" class="btn btn-sm btn-secondary font-10">
                  <i class="fa fa-trash text-red"></i> Remove All </a>
                <a href="#!" class="btn btn-sm btn-secondary font-10">
                  <i class="fa fa-list text-dark"></i> Add To Channel </a>
                <a href="#!" class="btn btn-sm btn-default font-10">
                  <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-search">
          <div class="row">
            <div class='col-12'>
              <table>
                <tr>
                  <td> &nbsp; Search </td>
                  <td>
                    <select class="form-control form-control-sm search-width">
                      <option value=''>Search What</option>
                      <option value='SKU'>SKU</option>
                      <option value='Channel'>Channel</option>
                      <option value='Title'>Title</option>
                    </select>
                  </td>
                  <td>
                    <div class="input-group search-width-input">
                      <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-default" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </td>
                  <td> &nbsp; Channel </td>
                  <td>
                    <select class="form-control form-control-sm search-width">
                      <option value='ALL'>All Channel</option>
                    </select>
                  </td>
                  <td> &nbsp; Show </td>
                  <td>
                    <select class="form-control form-control-sm search-width">
                      <option value=''>100</option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">
                  <input id="customCheck5" type="checkbox">
                </th>
                <th scope="col">Image</th>
                <th scope="col">SKU</th>
                <th scope="col">Title</th>
                <th scope="col">Selling Price</th>
                <th scope="col">Channel</th>
                <th scope="col">Total Quantity</th>
                <th scope="col">Listing<br />Quantity</th>
                <th scope="col">Product ID</th>
                <th scope="col">Errors</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input id="customCheck5" type="checkbox">
                </td>
                <td style="vertical-align: middle;" class="sorting_1">
                  <img width="50px" src="https://i.ebayimg.com/00/s/MTYwMFgxNjAw/z/1poAAOSwWF9hASls/$_32.JPG?set_id=880000500F">
                </td>
                <td style="vertical-align: middle;"> 403025571499 </td>
                <td style="vertical-align: middle; white-space: normal;">
                  <a onclick="editchannelproduct(2)" href="javascript:void(0)">ELEPHANT CHAPATTIS ATTA 8 x MEDIUM FLOUR - READY MADE - 360gListed for charity</a>
                </td>
                <td style="vertical-align: middle;"> 28.00 </td>
                <td style="vertical-align: middle;">
                  <img height="35" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubebay.png">
                  <br>
                  <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/UK.png">
                </td>
                <td style="vertical-align: middle;">
                  <span class="badge badge-default">4</span>
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#ticket1Modal" class="btn btn-sm">Edit</a>
                </td>
                <td style="vertical-align: middle;">
                  <span class="badge badge-success">4</span>
                </td>
                <td style="vertical-align: middle;">
                  <a target="_blank" href="http://www.ebay.co.uk/itm/403025571499">403025571499</a>
                </td>
                <td style="vertical-align: middle;">
                  <span style="color:red">
                    <textarea class="form-control textarea-width" readonly="">You did not provide a value for additional postage cost.  The same value you provided for delivery cost has been copied to the additional postage cost field.
                          Funds from your sales may be unavailable and show as pending for a period of time. Learn more:https://www.ebay.co.uk/help/selling/getting-paid/getting-paid-items-youve-sold/pending-payments?id=4816
                          This selling account is enabled for payments managed by eBay. PayPal is not currently accepted as a payment method and has been removed from the listing.
                          Your previously selected delivery service Other Courier 3-5 days has been replaced with another delivery service Other courier (3 to 5 days).
                          This listing would cause you to exceed the number of items you can list. You can list up to 4 more items this month. Please consider reducing the quantity or request to list more: https://ilowebapp.ebay.co.uk/ilo/portal .
                        </textarea>
                  </span>
                </td>
                <td style="vertical-align: middle;">
                  <a class="tooltips" data-container="body" data-placement="top" data-html="true" data-original-title="28/07/2021 10:10:25">28 Jul 2021</a>
                </td>
                <td>
                  <div ngbDropdown container="body" class="btn-group actionwidth">
                    <button class="btn green btn-sm btn-outline-primary btn-block" type="button" ngbDropdownToggle> Actions <i class="fa fa-angle-down"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <a ngbDropdownItem href="#findproductlistingerrors">Edit Channel Product</a>
                      <a ngbDropdownItem href="#add-new-products">Edit Sellershub Product</a>
                      <a ngbDropdownItem href="javascript:void(0)">Update to Channel</a>
                      <a ngbDropdownItem href="javascript:void(0)">Remove</a>
                    </div>
                  </div>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="ticket1Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Update Quantity for the product <strong>ELEPHANT CHAPATTIS ATTA 8 x MEDIUM FLOUR - READY MADE - 360gListed for charity</strong> - SKU <strong>403025571499</strong>
          </h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-body">
              <div class="row">
                <div class="col-md-3"> New Total Quantity: <span class="badge badge-default">Current Quantity &nbsp;4</span>
                </div>
                <div class="col-md-2">
                  <input type="text" id="updateqtyforskuid" class="form-control" value="4" placeholder="Enter quantity">
                </div>
                <div class="col-md-3">
                  <input type="checkbox" id="updateqtylistedfullselected" name="updateqtylistedfullselected" checked="" value="">&nbsp;List Full Quantity
                </div>
                <div class="col-md-4">
                  <a href="javascript:void(0)" class="btn btn-sm btn-circle btn-default">
                    <i class="fa fa-check font-blue"></i> Update Qty </a>
                  <button type="button" class="btn btn-sm btn-circle btn-danger" data-dismiss="modal">
                    <i class="fa fa-times font-red"></i> Close </button>
                </div>
              </div>
              <br>
              <div class="">
                <div class="">
                  <p>This will update the quantity for all the products with SKU 403025571499</p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <div class="alert alert-default">
                    <input type="checkbox" id="relistcloseitems" checked="" value="true">&nbsp;Relist Closed Items
                  </div>
                </div>
              </div>
              <div class="well">
                <strong>Channel Products associated with this SKU and variation SKUs are shown below</strong>
                <br>
                <span>You can adjust listng quantity for each channel below.</span>
              </div>
              <br>
              <div class="table-scrollable">
                <table class="table table-responsive table-striped table-bordered table-hover order-column dataTable no-footer">
                  <thead>
                    <tr>
                      <th> Channel </th>
                      <th> SKU </th>
                      <th> Variation Theme </th>
                      <th> Total Qty </th>
                      <th> Listing Qty </th>
                      <th> Selling Price </th>
                      <th> Listing Status </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubebay.png" height="30">
                        <span class="label bg-blue">UK </span>
                      </td>
                      <td>
                        <a target="_blank" class="btn btn-xs purple-plum" href="https://login.sellershub.io/channels/viewitem?id=2">403025571499</a>
                        <input type="hidden" id="sku" value="403025571499">
                      </td>
                      <td></td>
                      <td>
                        <input class="form-control" type="text" readonly="" value="4">
                        <input class="form-control" name="updateqtylistingskuinput" type="hidden" value="2">
                      </td>
                      <td>
                        <input class="form-control" name="updateqtylistingqtyinput" type="text" value="4">
                      </td>
                      <td>
                        <input class="form-control" id="updatesellingpriceinput" type="text" value="28.00">
                      </td>
                      <td>
                        <span class="btn btn-sm bg-blue" style="color: white;">ACTIVE </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubetsy.png" height="30">
                      </td>
                      <td>
                        <a target="_blank" class="btn btn-xs purple-plum" href="https://login.sellershub.io/channels/viewitem?id=5">403025571499</a>
                        <input type="hidden" id="sku" value="403025571499">
                      </td>
                      <td></td>
                      <td>
                        <input class="form-control" type="text" readonly="" value="4">
                        <input class="form-control" name="updateqtylistingskuinput" type="hidden" value="5">
                      </td>
                      <td>
                        <input class="form-control" name="updateqtylistingqtyinput" type="text" value="4">
                      </td>
                      <td>
                        <input class="form-control" id="updatesellingpriceinput" type="text" value="15.00">
                      </td>
                      <td>
                        <span class="btn btn-sm bg-blue" style="color: white;">ACTIVE </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="btn-group float-right">
            <a href="#createorder" type="button" class="btn btn-sm btn-dark">
              <i class="fa fa-check font-blue"></i> Update </a>
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
              <i class="fa fa-times text-red"></i> Close </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>