<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-12">
                <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubroyalmail.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label><i class="fa fa-truck"></i>  Manage Royal Mail Courier Settings amazon -</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <!-- <div class="pull-right">
                    <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a>
                    <a class="btn btn-sm btn-default btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                </div> -->

            </div><br>
            </div>
        </div>
        
        <div class="box-search">
            <div class="row">
              <div class='col-12'>
                <table>
                  <tr>
                    <td>
                        <h4>Please select a shipping method to upload PPI image</h4>
                      <div class="input-group search-width-input">
                        <input type="text" class="form-control form-control-sm" placeholder="Please enter a shipping method name as it appear on the channel">
                        <!-- <div class="input-group-append">
                          <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                        </div> -->
                      </div>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <h1></h1><br>
                      <label for="file-upload" class="btn btn-sm btn-primary btn-circle ">
                        <i class="fa fa-plus font-grees"></i> Select PPI Image
                     </label>
                    <input id="file-upload" type="file"/>
                    </td>
                    <td>
                        <br>
                      <input type="submit" class="btn btn-sm btn-primary btn-circle" value="Start Upload"> 
                    </td> 
                    <td>&nbsp;</td>
                    <td>
                        <br>
                      <a class="btn btn-sm btn-default btn-circle"  href="#royalmailsetting"><i class="fa fa-times font-red"></i> Close</a>
                    </td> 
                    
                  </tr>
                </table>
              </div>
            </div>
        </div>
        <div class="table-responsive">
          <div style="margin: 10px ;padding: 7px;">
            Assigned PPI Images are shown below
          </div>
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th>Channel</th>
                    <th>Shipping Method</th>
                    <th>PPI Image</th>
                    <th>Default PPI (Domestic)</th>
                    <th>Default PPI (International)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td >
                    
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
</div>
