<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-12">
                <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubeposnow.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label><i class="fa fa-truck"></i> Manage your ePos System account integration setting ePOSnow</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <!-- <div class="pull-right">
                    <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a>
                    <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                </div> -->

            </div><br>
            </div>
        </div>
        
        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-11" data-toggle="tab" href="#other">Listing Templates</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="app_store" class="container tab-pane active"><br>
                    <div class="portlet-body form">
                        <!-----------------------------Form Start----------------------------------->
                        <div class="card box">
                                    <div class="card transparent">
                                            <div class="col-md-12" style="padding-top: 20px;">
                                            <div class="pull-right">
                                            <a onclick="updateeposusersetting(5784)" class="btn btn btn-sm btn-circle btn-success"><i class="fa fa-check"></i> Save</a>

                                            <a onclick="testchannelconnection(5784)" class="tooltips btn btn-sm btn-circle btn-default" data-container="body" data-placement="top" data-html="true" data-original-title="Test Connection"><i class="fa fa-exchange"></i> Test Connection</a>

                                            <!-- <a onclick="downloadchannelcatalog(5784)" class="btn btn-primary"> Download Epos Catalog</a>-->
                                            <a href="javascript:void(0)" type="button" class="tooltips btn btn-sm btn-circle btn-default" data-container="body" data-placement="top" data-html="true" data-original-title="Remove All listings from KartzHub"><i class="fa fa-times font-red"></i> Remove All listings from KartzHub</a>
                                            <a href="#channelconnector" class="btn btn-sm btn-circle btn-danger"> <i class="fa fa-times font-red"></i> Close</a>
                                            </div>
                                            </div>
                                            <div class="card-body form">

                                            <div class="row">
                                            <div class="col-md-12">
                                            <form class="" role="form">
                                            <div class="form-body">
                                            <div class="col-md-6" style="float: left;">
                                            <div class="form-group">
                                                <label>Eposnow Authorise Token</label>
                                                <div>
                                                    <input type="text" value="" class="form-control" id="token" placeholder="Eposnow Authorise Token">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Epos Key</label>
                                                <div>
                                                    <input type="text" value="" class="form-control" id="apiKey" placeholder="Your API Key">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Epos Secret</label>
                                                <div>
                                                    <input type="text" value="" class="form-control" id="apipassword" placeholder="Your API Secret">
                                                </div>
                                            </div>
                                            </div>

                                            <div class="col-md-6" style="float: right;">
                                            <div class="alert alert-default">
                                                <p>Please login to your EPOSNOW seller account and goto Apps -&gt; API  and copy the access and secret key</p>
                                            </div>
                                            <img class="img-responsive" style="max-width: 100%;" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubeposnowintegration2.png">
                                            </div>




                                            </div>
                                            </form>
                                            </div>


                                    </div>
                                    </div>
                                </div>
                            </div>
                        <!-----------------------------Form Ends----------------------------------->
                    </div>
                </div>
                <div id="other" class="container tab-pane fade"><br>
                    <div class="col-md-12" style="padding-bottom: 20px;">
                        <div class="pull-right">
                            <button class="btn btn-sm btn-circle btn-default" data-toggle="tab" href="#new">New Listing Template <i class="fa fa-angle-right"></i></button>
                        </div>
                    </div><br>
                    <table class="table align-items-center table-bordered">

                      <thead class="thead-light">
                        <tr>
                            <th>Template Name</th>
                            <th>Modified Date</th>
                            <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                </div>

                <div id="new" class="container tab-pane fade"><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card transparent" style="padding: 20px;">
                                    <h4>Please Enter Eposnow Listing Profile Details</h4>
                                    <div class=" card-body form">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-body">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Template Name</label>
                                                        <div>
                                                            <input type="text" value="Template name" class="form-control" id="channeltemplatename" placeholder="Enter Template Name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Pricing Rules</label>
                                                        <div>
                                                            <input type="text" value="" class="form-control" id="pricingrulesid" placeholder="Pricing Rules">
                                                            <span class="help-block">e.g  <strong>${{ '{' }}cost_price!{{ '}' }}*1.6 + 1 </strong><span><br>
                                                            <span class="help-block">
                                                                This make the selling price by multiplying cost price by 1.6 and add 1
                                                                Tags available are  <strong>${{ '{' }}cost_price!{{ '}' }} and ${{ '{' }}selling_price{{ '}' }}</strong>
                                                            </span>
                                                        </span></span></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>EposNow Category</label>
                                                        <div>
                                                            <div class="input-group">
                                                                <input type="text" value="" class="form-control" id="selectedcategorynameid" placeholder="Please enter Epos Category">
                                                                <span class="input-group-btn">
                                                                    <a  href="javascript:void(0)">
                                                                        <button class="btn btn-default" data-toggle="modal" data-target="#productModel" type="button">Categories</button>
                                                                    </a>	
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Stock Location</label>
                                                        <div>
                                                            <div class="input-group">
                                                                <input type="text" value="" class="form-control" id="eposnowstocklocationid" placeholder="Please enter Stock Location Id">
                                                                <span class="input-group-btn">
                                                                    <a  href="javascript:void(0)">
                                                                        <button class="btn btn-default" data-toggle="modal" data-target="#locationModel" type="button">Stock Locations</button>
                                                                    </a>	
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="pull-right">
                                                            <a href="javascript:void(0)" type="submit" class="btn btn-sm btn-circle btn-success"><i class="fa fa-check"></i> Save</a>
                                                            <a href="" type="button" class="btn btn-sm btn-circle btn-default"><i class="fa fa-times font-red"></i> Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>

        <!-- <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div> -->
      </div>
    </div>
  </div>


  <div class="modal fade" id="productModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Eposnow Categories</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="light">
						<div class="card-body">
							<form class="form-horizontal" role="form">
								<div class="form-body">
									<div class="col-md-12">
										<div class="form-group row">
											<label class="col-md-4 control-label"> Please select category</label>
											<div class="col-md-8">
												<select class="form-control" id="eposnowcategoryselect">
													
												</select>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="modal-footer">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-sm btn-dark"><i class="fa fa-envelope-o"></i> Select</button>
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="locationModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Eposnow Stock Locations</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="light">
						<div class="card-body">
							<form class="form-horizontal" role="form">
								<div class="form-body">
									<div class="col-md-12">
										<div class="form-group row">
											<label class="col-md-4 control-label"> Please select Stock Location</label>
											<div class="col-md-8">
												<select class="form-control" id="eposnowcategoryselect">
													
												</select>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="modal-footer">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-sm btn-dark"><i class="fa fa-envelope-o"></i> Select</button>
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
</div>