<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-2">
                <h3 class="mb-0">Stock View</h3>
              </div>
            </div>
        </div>
        
        <div class="box-search">
            <div class="row">
              <div class='col-12'>
                <table>
                  <tr>
                    <td>
                      &nbsp; Search
                    </td>
                    <td>
                      <select class="form-control form-control-sm search-width">
                        <option value=''>Search What</option>
                        <option value='Bin'>Bin</option>
                        <option value='SKU'>SKU</option>
                      </select>
                    </td>
                    <td>
                      &nbsp; Show
                    </td>
                    <td>
                      <select class="form-control form-control-sm search-width">
                        <option value=''>100</option>
                      </select>
                    </td>  
                    
                  </tr>
                </table>
              </div>
            </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">SKU</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Stock</th>
                <th scope="col">Warehouse Name</th>
                <th scope="col">Bin Location</th>
                <th scope="col">Supplier</th>
                <th scope="col">Order History</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>3049165</td>
                  <td>BMX Bicycle</td>
                  <td>INR 200,00</td>
                  <td>200</td>
                  <td>200</td>
                  <td>Building One's</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>

                <tr>
                    <td>3049165</td>
                    <td>BMX Bicycle</td>
                    <td>INR 200,00</td>
                    <td>200</td>
                    <td>200</td>
                    <td>Building One's</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>3049165</td>
                    <td>BMX Bicycle</td>
                    <td>INR 200,00</td>
                    <td>200</td>
                    <td>200</td>
                    <td>Building One's</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>

                  <tr>
                    <td>3049165</td>
                    <td>BMX Bicycle</td>
                    <td>INR 200,00</td>
                    <td>200</td>
                    <td>200</td>
                    <td>Building One's</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>

                  <tr>
                    <td>3049165</td>
                    <td>BMX Bicycle</td>
                    <td>INR 200,00</td>
                    <td>200</td>
                    <td>200</td>
                    <td>Building One's</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
</div>
