<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubmyparceldelivery.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><i class="fa fa-truck"></i> Set-up default details for MyParcel Delivery Export File</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <div class="pull-right">
                                <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a>
                                <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                            </div>

                        </div><br>
                    </div>
                </div>

    <div id="maindiv">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet transparent">
                    <div class="portlet">
                        <div class="portlet-body form">
                            <div class="portlet box">
                                <div class="portlet-body">
                                    <div class="">
                                        <div class="tabbable-custom">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#tab_1_1" data-toggle="tab" aria-expanded="true">
                                                        Integration </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active in" id="tab_1_1">
                                                    <div class="portlet-body form">
                                                        <!-----------------------------Form Start----------------------------------->
                                                        <div class="portlet box">
                                                            <div class="">
                                                                <div class="portlet transparent">
                                                                    <div class="portlet-body">
                                                                        <div class="row">
                                                                            <form class="" role="form">
                                                                                <div class="col-md-12">
                                                                                    <div class="portlet box blue">
                                                                                        <div class="portlet-title">
                                                                                            <div class="caption">
                                                                                                <i
                                                                                                    class="fa fa-key"></i>
                                                                                                MyParcel Delivery
                                                                                                Details
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="portlet-body">
                                                                                            <div class="row">
                                                                                                <div class="col-md-6">
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Collection
                                                                                                            First
                                                                                                            Name</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="collectionFirstName"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Collection
                                                                                                            Surname</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="collectionSurname"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Collection
                                                                                                            Businessname</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="collectionBusinessname"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Collection
                                                                                                            Phone</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="collectionPhone"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Collection
                                                                                                            Mobile</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="collectionMobile"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Collection
                                                                                                            Email</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="collectionEmail"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Collection
                                                                                                            AddressLine1</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="collectionAddressLine1"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Collection
                                                                                                            Address
                                                                                                            Line2</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="collectionAddressLine2"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Collection
                                                                                                            Address Line
                                                                                                            3</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="collectionAddressLine3"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Collection
                                                                                                            Town
                                                                                                            Collection</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="collectionTownCollection"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Collection
                                                                                                            County</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="collectionCounty"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>County
                                                                                                            Collection
                                                                                                            Postcode</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="countyCollectionPostcode"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Collection
                                                                                                            Country</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="collectionCountry"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Default
                                                                                                            Item
                                                                                                            Height</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="height"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Default
                                                                                                            Item
                                                                                                            Width</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="width"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Default
                                                                                                            Item
                                                                                                            Length</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="length"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-group">
                                                                                                        <label>Default
                                                                                                            Item
                                                                                                            Weight</label>
                                                                                                        <div>
                                                                                                            <input
                                                                                                                id="weight"
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                value="">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-----------------------------Form Ends----------------------------------->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>