<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-4">
                <h3 class="mb-0">Manage Shipping Courier Settings for BlueDart</h3>
              </div>
              <div class="col-8 text-right">
                <div class="float-right">
                    <!-- <a class="btn btn-secondary btn-outline btn-sm float-right"><i class="fa fa-times font-red"></i>  Remove All Products</a> -->

                </div>
                
              </div>
            </div>
        </div>
        <div class="box-search">
            <div class="row">
              <div class='col-12'>
                <table>
                  <tr>
                    <td>&nbsp;</td>
                    <td>
                      <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubbluedart.png"/></label>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                      <label> Set-up default details for BlueDart Fulfillment Export File</label>
                    </td> 
                    <td>
                      <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save </a>
                      <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>
                    </td>
                    
                  </tr>
                </table>
              </div>
            </div>
        </div>
        
  
        <div class="table-scrollable">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Fields
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <strong>Shipper ID</strong>
                        </td>
                        <td>
                            <input id="shipperId" class="form-control" type="text" value="">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>Pack Type</strong>
                        </td>
                        <td>
                            <input id="packageType" class="form-control" type="text" value="">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>Service Code</strong>
                        </td>
                        <td>
                            <input id="serviceCode" class="form-control" type="text" value="">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>Ship From Attention</strong>
                        </td>
                        <td>
                            <input id="shipFromAttn" class="form-control" type="text" value="">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>Shipping Company</strong>
                        </td>
                        <td>
                            <input id="shipComp" class="form-control" type="text" value="">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>Ship From Address 1</strong>
                        </td>
                        <td>
                            <input id="shipFromAddress1" class="form-control" type="text" value="">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>Ship From Address2</strong>
                        </td>
                        <td>
                            <input id="shipFromAddress2" class="form-control" type="text" value="">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>Ship From City</strong>
                        </td>

                        <td>
                            <input id="shipFromCity" class="form-control" type="text" value="">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>Ship From State</strong>
                        </td>
                        <td>
                            <input id="shipFromState" class="form-control" type="text" value="">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>shipFromPostCode</strong>
                        </td>

                        <td>
                            <input id="shipFromPostCode" class="form-control" type="text" value="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Ship From Country Code</strong>
                        </td>
                        <td>
                            <input id="shipIsoCode" class="form-control" type="text" value="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>

</div>
