.font-10 {
    font-size: 7.8pt !important;
  }
  .font-11 {
    line-height: 23px !important;
    font-size: 9pt !important;
  }
  .form-group {
    margin-bottom: 0.5rem !important;
  }
  .font-12 {
    font-size: 11pt !important;
  }
  .font-14 {
    margin-top: 5px !important;
    margin-bottom: -25px !important;
    font-size: 13pt !important;
  }
  .modal-header {
    padding: 0.75rem !important;
    color: #fff !important;
  }
  .modal-footer {
    border-top: 1px solid rgb(219, 219, 219) !important;
    padding: 1.05rem !important;
  }
  .box-search {
    border-top: 3px solid rgb(74, 175, 243);
    padding: 10px;
    margin: -5px 10px 10px 10px !important;
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  .mt-10 {
    margin-top: 10px !important;
  }
  .box-search-bottom {
    border-top: 1px solid rgb(238, 238, 238);
    padding: 5px;
    margin: -10px 10px 10px 10px !important;
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  
  .search-width-80 {
    width: 80px !important;
  }
  
  .search-width {
    width: 120px !important;
  }
  
  .search-width-150 {
    margin-left: 20px !important;
    width: 100px !important;
  }
  
  .search-width-200 {
    margin-left: 10px !important;
    width: 180px !important;
  }
  
  .search-width-220 {
    width: 185px !important;
  }
  
  .search-width-input {
    width: 220px !important;
  }
  
  .image-product {
    width: 35px !important;
    height: 35px !important;
  }
  
  .image-channel {
    width: 25px !important;
    height: 20px !important;
  }


.dropdown-submenu {
    position:relative !important;
}
.dropdown-submenu>.dropdown-menu {
    top:0 !important;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}