<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">

    <div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-success">
              <h5 class="modal-title font-14 text-white"><i class="fa fa-user"></i> Create New User</h5>
              <button type="button" #closemodal class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="font-12">Email Address</label>
                    <input type="email" [(ngModel)]="emailAddress" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Email address">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="font-12">Name</label>
                    <input type="text" [(ngModel)]="userName" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="First Name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="font-12">New Password</label>
                    <input type="password" [(ngModel)]="userPasswd" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="New Password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="font-12">Re-enter New Password</label>
                    <input type="text" [(ngModel)]="reuserPasswd"  class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Re-enter New Password">
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="btn-group float-right">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                <button type="button" (click)="saveNewUser()" class="btn btn-sm btn-success"><i class="fa fa-check-circle"></i> Save</button>
              </div>
              
              
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="changeUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-dark">
            <h5 class="modal-title font-14 text-white"><i class="fa fa-user"></i> Edit User</h5>
            <button type="button" #closemodal class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="font-12">Email Address</label>
                  <input type="email" [(ngModel)]="emailAddressEdit" value="{{ emailAddressEdit }}" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Email address">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="font-12">Name</label>
                  <input type="text" [(ngModel)]="userNameEdit" value="{{ userNameEdit }}" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="First Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="font-12">New Password</label>
                  <input type="password" [(ngModel)]="userPasswdEdit" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="New Password">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="font-12">Re-enter New Password</label>
                  <input type="text" [(ngModel)]="reuserPasswdEdit"  class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Re-enter New Password">
                </div>
                
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="btn-group float-right">
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
              <button type="button" (click)="saveNewUser()" class="btn btn-sm btn-dark"><i class="fa fa-check-circle"></i> Save Changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="permissionUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header bg-dark">
            <h5 class="modal-title font-14 text-white"><i class="fa fa-list"></i> Please apply permissions</h5>
            <button type="button" #closemodal class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="font-12">Email Address</label>
                  Please select permissions
                  <input type="hidden" [(ngModel)]="mailEditpermission" value="{{ mailEditpermission }}" />
                  <input type="hidden" [(ngModel)]="unameEditpermisson" value="{{ unameEditpermisson }}" />
                  <div class="checkbox-list">
                    <label class="checkbox-inline">
                      <input type="checkbox" name="roleinput" id="inlineCheckboxADMIN" checked="" value="ADMIN"> ADMIN </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="roleinput" id="inlineCheckboxDASHBOARD" checked="" value="DASHBOARD"> DASHBOARD </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="roleinput" id="inlineCheckboxINVENTORY" checked="" value="INVENTORY"> INVENTORY </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="roleinput" id="inlineCheckboxORDER" checked="" value="ORDER"> ORDER </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="roleinput" id="inlineCheckboxCUSTOMER" checked="" value="CUSTOMER"> CUSTOMER </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="roleinput" id="inlineCheckboxSTOCK REPRICER" checked="" value="STOCK REPRICER"> STOCK REPRICER </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="roleinput" id="inlineCheckboxREPORTS" checked="" value="REPORTS"> REPORTS </label>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="btn-group float-right">
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
              <button type="button" (click)="saveUserPermissions()" class="btn btn-sm btn-dark"><i class="fa fa-check-circle"></i> Save Permissions</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0"><i class="fa fa-users"></i> Manage Users</h3>
              </div>
              <div class="col-4 text-right">
                <div class="float-right">
                  <a data-toggle="modal" data-target="#newUserModal"  class="btn btn-sm btn-secondary font-11"><i class="fa fa-user"></i> New User</a>
                  <a style="display: none;" data-toggle="modal" #editModal data-target="#changeUserModal"  class="btn btn-sm btn-secondary font-11"><i class="fa fa-user"></i> New User</a>
                  <a style="display: none;" data-toggle="modal" #permissionModal data-target="#permissionUserModal"  class="btn btn-sm btn-secondary font-11"><i class="fa fa-user"></i> New User</a>
                </div>
                
              </div>
            </div>
        </div>
        <div class="table-responsive">
          <div class="box-search">
            <select ([ngModel])="pageSize" (change)="pageSizeChange($event.target.value)" class="form-control form-control-sm search-width">
              <option value='100'>100</option>
              <option value='50'>50</option>
              <option value='25'>25</option>
              <option value='10' selected>10</option>
            </select>
          </div>
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of dataUsers | slice: (page-1) * pageSizeSelect : page * pageSizeSelect">
                  <td>{{ row.userName }} <span class="badge badge-info">SellersHub Account User</span></td>
                  <td>{{ row.emailAddress }}</td>
                  <td>
                      <div class="btn-group">
                        <button (click)="modalEdit(row.userName, row.emailAddress)" class="btn btn-sm btn-dark"><i class="fa fa-edit"></i> Edit</button>
                        <button type="button" (click)="modalPermission(row.emailAddress, row.userName)" class="btn btn-sm btn-secondary"><i class="fa fa-warning"></i> Permission</button>
                        <button type="button" (click)="removeUser(row.emailAddress, row.userName)" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i> Remove</button>
                      </div>
                  </td>
                </tr>
                
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          
          <nav style="display: none" aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
</div>
