<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
              <div class="col-12">
                <h3 class="mb-0"><i class="fa fa-list"></i> Manage Your Product Attributes</h3>
              </div>
              
            </div>
        </div>

        <div class="modal fade" id="newAttributesModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header bg-success">
                  <h5 class="modal-title font-14 text-white">Create New Attributes</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="font-12">Attribute Channel Display Name</label>
                        <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Enter attributes name">
                      </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="font-12">Attribute Kartzhub Name</label>
                            <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Name to remember within KartzHub">
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="font-12">Default Value</label>
                            <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Default Value">
                        </div>
                    </div>

                  </div>

                  <div class="row">
                      <div class="col-3">
                        <div class="label-value">Value</div>
                      </div>

                      <div class="col-3">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" name="editattributevalue" value="" placeholder="Enter value">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" name="editattributevalue" value="" placeholder="Enter value">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" name="editattributevalue" value="" placeholder="Enter value">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" name="editattributevalue" value="" placeholder="Enter value">
                        </div>
                      </div>

                      <div class="col-3">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" name="editattributevalue" value="" placeholder="Enter value">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" name="editattributevalue" value="" placeholder="Enter value">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" name="editattributevalue" value="" placeholder="Enter value">
                        </div>
                      </div>

                      <div class="col-3">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" name="editattributevalue" value="" placeholder="Enter value">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" name="editattributevalue" value="" placeholder="Enter value">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" name="editattributevalue" value="" placeholder="Enter value">
                        </div>
                      </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <div class="btn-group float-right">
                    <button type="button" class="btn btn-sm btn-success"><i class="fa fa-check-circle"></i> Save</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                  </div>
                  
                  
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="newAttributesSetModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header bg-success">
                  <h5 class="modal-title font-14 text-white">Create Attributes Set</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <label for="exampleInputEmail1" class="font-12">Attribute Set Name</label>
                    <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Enter attributes set name">
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="btn-group float-right">
                    <button type="button" class="btn btn-sm btn-success"><i class="fa fa-check-circle"></i> Save</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                  </div>
                  
                  
                </div>
              </div>
            </div>
        </div>

        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Products Attributes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-11" data-toggle="tab" href="#other">Attributes Set</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="app_store" class="container tab-pane active"><br>
                    <div class="font-11">
                        <div class="row">
                            <div class="col-6">
                                <div style="margin-left: -10px !important;">
                                    Manage Product attributes for selling channels
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="btn-group float-right">
                                    <button type="button" style="cursor: pointer" data-toggle="modal" data-target="#newAttributesModal" class="btn btn-sm btn-default">New Attributes <i class="fa fa-angle-right"></i></button>
                                    <button class="btn btn-sm btn-outline-success"><i class="fa fa-refresh"></i> Refresh</button>
                                    <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i> Close</button>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                   
                      <table class="table align-items-center table-flush table-bordered">
                        <thead class="thead-light">
                          <tr role="row">
                            <th>KartzHub Name</th>
                            <th class="text-center">Channel Display Name</th>
                            <th class="text-center">Default Value</th>
                            <th class="text-center"> Action </th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <div class="alert alert-warning"><i class="fa fa-info-circle"></i> No data to display</div>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                </div>
                <div id="other" class="container tab-pane fade"><br>
                    <div class="font-11">
                        <div class="row">
                            <div class="col-6">
                                <div style="margin-left: -10px !important;">
                                    Manage Product attribute sets
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="btn-group float-right">
                                    <button type="button" style="cursor: pointer" data-toggle="modal" data-target="#newAttributesSetModal" class="btn btn-sm btn-default">New Attributes Set <i class="fa fa-angle-right"></i></button>
                                    <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i> Close</button>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                   
                      <table class="table align-items-center table-flush table-bordered">
                        <thead class="thead-light">
                          <tr role="row">
                            <th>Attribute Set Name</th>
                            <th class="text-center"> Action </th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <div class="alert alert-warning"><i class="fa fa-info-circle"></i> No data to display</div>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            
        </div>

        <div class="card-footer py-4">
            
        </div>
      </div>
    </div>
  </div>
  
</div>