<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-2">
              <h3 class="mb-0">Closed Products</h3>
            </div>
            <div class="col-10 text-right">
              <div class="float-right">
                <a class="btn btn-sm btn-secondary font-10">
                  <i class="fa fa-plus-circle text-dark"></i> Add To Channel </a>
                <a class="btn btn-sm btn-secondary font-10" (click)="toggleTag()">
                  <i class="fa fa-repeat text-blue"></i> Bulk Revise Prices </a>
                <a class="btn btn-sm btn-default font-10">
                  <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-search">
          <div class="row">
            <div class='col-12'>
              <table>
                <tr>
                  <td> &nbsp; Search </td>
                  <td>
                    <select class="form-control form-control-sm search-width">
                      <option value=''>Search What</option>
                      <option value='SKU'>SKU</option>
                      <option value='Channel'>Channel</option>
                      <option value='Title'>Title</option>
                    </select>
                  </td>
                  <td>
                    <div class="input-group search-width-input">
                      <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-default" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </td>
                  <td> &nbsp; Channel </td>
                  <td>
                    <select class="form-control form-control-sm search-width">
                      <option value='ALL'>All Channel</option>
                    </select>
                  </td>
                  <td> &nbsp; Show </td>
                  <td>
                    <select class="form-control form-control-sm search-width">
                      <option value=''>100</option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div id="bulkpriceincreasedivid" *ngIf="showMe" class="alert alert-block alert-default fade-in">
          <strong>Bulk Revise Product Prices</strong>
          <br>
          <p>Please search products and select a percentage to change price. e.g 5% to increase or decrease the current price by 5%</p>
          <br>
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <input value="0" placeholder="Percentage to increase e.g 5%" class="form-control btn-circle input-small " type="text" id="priceincreaseamountid">
                </td>
                <td>
                  <a class="btn btn-sm btn-default btn-circle" href="javascript:void(0)">
                    <i class="fa fa-arrow-circle-o-up font-blue"></i> Increase </a>
                  <a class="btn btn-sm btn-default btn-circle" href="javascript:void(0)">
                    <i class="fa fa-arrow-circle-o-down font-blue"></i> Descrease </a>
                  <a class="btn btn-sm btn-default btn-circle" href="javascript:void(0)">
                    <i class="fa fa-times font-red"></i> Cancel </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">
                  <input id="customCheck5" type="checkbox">
                </th>
                <th scope="col">Image</th>
                <th scope="col">SKU</th>
                <th scope="col">Title</th>
                <th scope="col">Selling Price</th>
                <th scope="col">Channel</th>
                <th scope="col">Quantity</th>
                <th scope="col">Quantity</th>
                <th scope="col">Product ID</th>
                <th scope="col">Listing Status</th>
                <th scope="col">Create Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>