

        <div class="logo">
          <a class="simple-text logo-mini">
            <div class="logo-img">
              <img src="/assets/img/favicon.png"/>
            </div>
          </a>
            <a href="#" class="simple-text logo-normal">
              SellersHub
            </a>
        </div>


        <div class="sidebar-wrapper">

            <div class="user">
                <div class="photo">
                    <img src="./assets/img/faces/avatar.jpg" />
                </div>
                <div class="user-info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        <span>
                            Rohan Sahu
                            <b class="caret"></b>
                        </span>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    <span class="sidebar-mini">MP</span>
                                    <span class="sidebar-normal">My Profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    <span class="sidebar-mini">EP</span>
                                    <span class="sidebar-normal">Edit Profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    <span class="sidebar-mini">S</span>
                                    <span class="sidebar-normal">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div *ngIf="isMobileMenu()">
              <form class="navbar-form">
                <span class="bmd-form-group"><div class="input-group no-border">
                  <input type="text" value="" class="form-control" placeholder="Search...">
                  <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                  </button>
                </div></span>
              </form>
              <ul class="nav navbar-nav nav-mobile-menu">
                <li class="nav-item">
                  <a class="nav-link" href="#pablo">
                    <i class="material-icons">dashboard</i>
                    <p>
                      <span class="d-lg-none d-md-block">Stats</span>
                    </p>
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">notifications</i>
                    <span class="notification">5</span>
                    <p>
                      <span class="d-lg-none d-md-block">Some Actions</span>
                    </p>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                    <a class="dropdown-item" href="#">Another Notification</a>
                    <a class="dropdown-item" href="#">Another One</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#pablo">
                    <i class="material-icons">person</i>
                    <p>
                      <span class="d-lg-none d-md-block">Account</span>
                    </p>
                  </a>
                </li>
              </ul>
            </div>
            <ul class="nav">
                <li routerlinkactive="active" class="nav-item"><a class="nav-link" href="#/dashboard"><i class="material-icons">dashboard</i><p>Dashboard</p></a></li>
                <li routerlinkactive="active" class="nav-item">
                  <a data-toggle="collapse" class="nav-link" href="#" aria-expanded="false">
                    <i class="material-icons">content_paste</i>
                    <p>Orders <b class="caret"></b></p>
                  </a>
                  <div class="collapse show" id="pages">
                    <ul class="nav">
                      <li (click)="orderLink('Orders Summary', '/components/ordersummary')" routerlinkactive="active" class="nav-item">
                        <a class="nav-link">
                          <span class="sidebar-normal">Orders Summary</span>
                        </a>
                      </li>
                      <li routerlinkactive="active" class="nav-item">
                        <a class="nav-link" (click)="orderLink('Sales Orders', '/components/sales-orders')">
                          <span class="sidebar-normal">Sales Orders</span>
                        </a>
                      </li>
                      <li routerlinkactive="active" class="nav-item">
                          <a class="nav-link" (click)="orderLink('MCF Orders', 'components/mcforders')">
                            <span class="sidebar-normal">MCF Orders</span>
                          </a>
                        </li>
                      <li routerlinkactive="active" class="nav-item">
                        <a class="nav-link" (click)="orderLink('Shipped Orders', 'components/shippedorders')">
                          <span class="sidebar-normal">Shipped Orders</span>
                        </a>
                      </li>
                      <li routerlinkactive="active" class="nav-item">
                        <a class="nav-link" (click)="orderLink('Returned Orders', 'components/returnedorders')">
                          <span class="sidebar-normal">Returned Orders</span>
                        </a>
                      </li>
                      <li routerlinkactive="active" class="nav-item">
                        <a class="nav-link" (click)="orderLink('Canceled Orders', 'components/cancelledorders')">
                          <span class="sidebar-normal">Canceled Orders</span>
                        </a>
                      </li>
                      <li routerlinkactive="active" class="nav-item">
                        <a class="nav-link" (click)="orderLink('Manage Return', 'components/managereturn')">
                          <span class="sidebar-normal">Manage Returns</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item">
                    <!--If is a single link-->
                    <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'" class="nav-link">
                        <i class="material-icons">{{menuitem.icontype}}</i>
                        <p>{{menuitem.title}}</p>
                    </a>
                    <!--If it have a submenu-->
                    <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'" (click)="updatePS()" class="nav-link">
                        <i class="material-icons">{{menuitem.icontype}}</i>
                        <p>{{menuitem.title}}<b class="caret"></b></p>
                    </a>

                    <!--Display the submenu items-->
                    <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
                        <ul class="nav">
                            <li routerLinkActive="active" *ngFor="let childitem of menuitem.children" class="nav-item">
                                <a [routerLink]="[menuitem.path, childitem.path]" class="nav-link">
                                    <span class="sidebar-mini">{{childitem.ab}}</span>
                                    <span class="sidebar-normal">{{childitem.title}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </li>

                
            </ul>

        </div>
