<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubdx.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><i class="fa fa-truck"></i> Manage Dx Integration</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <div class="pull-right">
                                <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a>
                                <a class="btn btn-sm btn-default btn-circle"><i class="fa fa-share font-green"></i> Manifest </a>
                                <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                            </div>

                        </div><br>
                    </div>
                </div>
                <div class="table-scrollable">
                    <div class="row">
                    <div class="col-md-6">
                        <div class="card box border-primary">
                        <div class="card-header  bg-primary text-white">
                            <div class="caption">
                                <i class="fa fa-truck"></i> Dx Account Details 
                            </div>
                        </div>

                        <div class="card-body">
                             <form class="" role="form">
                                    <div class="form-group">
                                    <label>Customer Id</label>
                                    <input class="form-control" type="text" id="dpdCustomerId" value="">
                                        </div>

                                    <div class="form-group">
                                        <label>User Id</label>
                                        <input class="form-control" type="text" id="dpdUserName" value="">
                                    </div>

                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="form-control" type="password" id="dpdPassword" value="">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 pull-right">
                        <div class="card box  border-primary">
                            <div class="card-header bg-primary text-white ">
                                <div class="caption">
                                    <i class="fa fa-truck"></i>  Pickup Address Details
                                </div>
                            </div>

                        <div class="card-body">
                            <form class="form-horizontal" role="form">
                            <div class="">

                                <div class="form-group">
                                        <label>Pickup Contact Name <span class="required"> * </span></label>
                                        <input class="form-control" type="text" id="dpdPickupContactName" value="">
                                </div>

                                <div class="form-group">
                                    <label>Pickup Phone Number <span class="required"> * </span></label>
                                    <input class="form-control" type="text" id="dpdPickPhone" value="">
                                </div>


                                <div class="form-group">
                                        <label>Pickup Building <span class="required"> * </span></label>
                                        <input class="form-control" type="text" id="dpdPickupBuilding" value="">
                                </div>

                                <div class="form-group">
                                    <label>Pickup Street <span class="required"> * </span></label>
                                    <input class="form-control" type="text" id="dpdPickupStreet" value="">
                                </div>


                                <div class="form-group">
                                    <label>Pickup Locality <span class="required"> * </span></label>
                                    <input class="form-control" type="text" id="dpdPickupLocality" value="">
                                </div>

                                <div class="form-group">
                                        <label>Pickup Town <span class="required"> * </span></label>
                                    <input class="form-control" type="text" id="dpdPickupTown" value="">
                                </div>


                                <div class="form-group">
                                        <label>Pickup Postcode <span class="required"> * </span></label>
                                            <input class="form-control" type="text" id="dpdPickupZip" value="">
                                </div>


                                <!-- <div class="form-group">
                                        <label>Pickup Country <span class="required"> * </span></label>
                                            <input class="form-control" type="text" id="dpdPickupCountry" value="">
                                </div>


                                    <div class="form-group">
                                            <label>Pickup Country Code<span class="required"> * </span></label>
                                                <input class="form-control" type="text" id="dpdPickupCountryCode" value="">
                                    </div> -->
                                                                                                                                            </div>
                                </form>																	
                            </div>
                        </div>
                    </div>
                    </div>							<br>
                </div>
            </div>
        </div>
    </div>

</div>