<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
            <div class="col-12">
              <h3 class="mb-0">
                <i class="fa fa-cogs"></i> About General Settings
              </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Default Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-11" data-toggle="tab" href="#other">Tax</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-11" data-toggle="tab" href="#currency">Currency</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-11" data-toggle="tab" href="#orders">Orders</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="app_store" class="container tab-pane active">
              <br>
              <div class="row">
                <div class="font-11">
                  <span class="float-left">&nbsp;Please enter default values. This default values will be used if there are no value specified at product level</span>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label class="control-label font-10">Weight (lb)</label>
                    <input type="text" value="" id="weightLb" class="form-control form-control-sm" placeholder="Weight (lb)">
                  </div>
                  <div class="form-group">
                    <label class="control-label font-10">Width</label>
                    <input type="text" value="" id="width" class="form-control form-control-sm" placeholder="Width">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label class="control-label font-10">Weight (kg)</label>
                    <input type="text" value="" id="weightKg" class="form-control form-control-sm" placeholder="Weight (kg)">
                  </div>
                  <div class="form-group">
                    <label class="control-label font-10">Depth/Height</label>
                    <input type="text" value="" id="height" class="form-control form-control-sm" placeholder="Depth/Height">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label class="control-label font-10">Length</label>
                    <input type="text" value="" id="length" class="form-control form-control-sm" placeholder="Length">
                  </div>
                  <div class="form-group">
                    <label class="control-label font-10">Dimension Unit</label>
                    <select id="dimensionUnit" class="form-control form-control-sm">
                      <option value="cm">Centimeters (cm)</option>
                      <option value="m">Meters (m)</option>
                      <option value="inch">Inches (inch)</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="btn-group float-right">
                <button class="btn btn-sm btn-default float-right">
                  <i class="fa fa-check-circle"></i> Save </button>
              </div>
            </div>
            <div id="other" class="container tab-pane fade">
              <br>
              <div class="font-11">
                <div class="row">
                  <div class="col-6"> Please add tax rates applicable for your products. </div>
                  <div class="col-6">
                    <button class="btn btn-sm btn-default float-right" data-toggle="tab" href="#taxx">New <i class="fa fa-angle-right"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="box-search">
                <div class="row">
                  <div class='col-6'>
                    <table>
                      <tr>
                        <td> &nbsp; Show </td>
                        <td>
                          <select class="form-control form-control-sm search-width">
                            <option value=''>100</option>
                          </select>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-6 float-right">
                    <table class="float-right">
                      <tr>
                        <td> &nbsp; Search </td>
                        <td>
                          <div class="input-group search-width-input">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                            <div class="input-group-append">
                              <button class="btn btn-sm btn-default" type="button">
                                <i class="fa fa-search"></i>
                              </button>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <table class="table align-items-center table-bordered table-flush">
                <thead class="thead-light">
                  <tr role="row">
                    <th> Tax Name </th>
                    <th class="text-center"> Rate </th>
                    <th class="text-center"> Action </th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd">
                    <td class="text-left">Tax Rate Name </td>
                    <td class="text-center"> 0.0 </td>
                    <td class="text-center">
                      <div class="btn-group">
                        <a class="btn btn-sm btn-default" data-toggle="tab" href="#taxx">
                          <i class="fa fa-edit text-white"></i>
                        </a>
                        <a class="btn btn-sm btn-danger">
                          <i class="fa fa-trash font-red"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="currency" class="container tab-pane fade">
              <br>
              <div class="row">
                <div class="col-4"> Please Select a Default Currency </div>
                <div class="col-4">
                  <select id="currencyid" class="form-control form-control-sm">
                    <option value="USD">USD</option>
                    <option value="USD">USD</option>
                    <option value="GBP">GBP</option>
                    <option value="CAD">CAD</option>
                    <option value="EUR">EUR</option>
                    <option value="CNY">CNY</option>
                    <option value="INR">INR</option>
                    <option value="AUD">AUD</option>
                    <option value="SGD">SGD</option>
                    <option value="THB">THB</option>
                    <option value="MYR">MYR</option>
                  </select>
                </div>
                <div class="col-4">
                  <button class="btn btn-sm btn-default float-right">
                    <i class="fa fa-check-circle"></i> Save </button>
                </div>
              </div>
            </div>
            <div id="orders" class="container tab-pane fade">
              <br>
              <table class="table align-items-center table-bordered table-flush">
                <thead class="thead-light">
                  <tr role="row">
                    <th>Name</th>
                    <th class="text-center"> Action </th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd">
                    <td class="text-left">Customize Pick List</td>
                    <td class="text-center">
                      <div class="btn-group">
                        <a class="btn btn-sm btn-default" data-toggle="tab" href="#editorders">
                          <i class="fa fa-edit text-white"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="taxx" class="container tab-pane fade">
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="card box border-primary">
                    <div class="card-header bg-primary text-white">
                      <div class="caption">
                        <i class="fa fa-key"></i> Tax Details
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="form-group">
                        <label>Tax Name </label>
                        <div>
                          <input class="form-control" type="text" placeholder="Tax Rate Name" id="shipstationapikey" value="">
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Tax Rate </label>
                        <div>
                          <input class="form-control" type="text" placeholder="0.0" id="shipstationapisecret" value="">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4"></label>
                        <div>
                          <a class="btn btn-sm btn-success btn-circle">
                            <i class="fa fa-check"></i> Save Changes </a>
                          <a class="btn btn-sm btn-danger btn-circle" onClick="window.location.reload();">
                            <i class="fa fa-times font-red"></i> Close </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="editorders" class="container tab-pane fade">
              <br>
              <div class="col-12">
                <label>Manage Order Related <B>Pick List</B> Default Settings </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <div class="pull-right">
                  <a class="btn btn-sm btn-success btn-circle">
                    <i class="fa fa-check"></i> Save </a>
                  <a class="btn btn-sm btn-danger btn-circle" onclick="window.location.reload();">
                    <i class="fa fa-times font-red"></i> Close </a>
                </div>
              </div>
              <table class="table align-items-center table-bordered table-flush">
                <thead>
                  <tr>
                    <th> Field </th>
                    <th> Include </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <strong>sku</strong>
                    </td>
                    <td>
                      <p class="ribbon-content">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" />
                          <span></span>
                        </label>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>title</strong>
                    </td>
                    <td>
                      <p class="ribbon-content">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input checked type="checkbox" />
                          <span></span>
                        </label>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Buyer name</strong>
                    </td>
                    <td>
                      <p class="ribbon-content">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" />
                          <span></span>
                        </label>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Order Number</strong>
                    </td>
                    <td>
                      <p class="ribbon-content">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" />
                          <span></span>
                        </label>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Transaction Id</strong>
                    </td>
                    <td>
                      <p class="ribbon-content">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" />
                          <span></span>
                        </label>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Order Date</strong>
                    </td>
                    <td>
                      <p class="ribbon-content">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" />
                          <span></span>
                        </label>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Item Id</strong>
                    </td>
                    <td>
                      <p class="ribbon-content">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" />
                          <span></span>
                        </label>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Channel</strong>
                    </td>
                    <td>
                      <p class="ribbon-content">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" />
                          <span></span>
                        </label>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Checkout Message</strong>
                    </td>
                    <td>
                      <p class="ribbon-content">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" />
                          <span></span>
                        </label>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Quantity</strong>
                    </td>
                    <td>
                      <p class="ribbon-content">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" />
                          <span></span>
                        </label>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Warehouse</strong>
                    </td>
                    <td>
                      <p class="ribbon-content">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" />
                          <span></span>
                        </label>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Location</strong>
                    </td>
                    <td>
                      <p class="ribbon-content">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" />
                          <span></span>
                        </label>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Stock remaining</strong>
                    </td>
                    <td>
                      <p class="ribbon-content">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" />
                          <span></span>
                        </label>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Shipping Address</strong>
                    </td>
                    <td>
                      <p class="ribbon-content">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" />
                          <span></span>
                        </label>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Shipped Country</strong>
                    </td>
                    <td>
                      <p class="ribbon-content">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" />
                          <span></span>
                        </label>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer py-4"></div>
      </div>
    </div>
  </div>
</div>