<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Table -->
        <div class="row p--0 mt--4">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-1">
                <div class="row align-items-center">
                    <div class="col-6">
                      <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage your {{ title }} account integration setting</h3>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-secondary btn-dark btn-sm">Save <i class="fa fa-angle-right"></i></a>
                        <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-exchange text-green"></i> Test Connection</a>
                        <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-download"></i> Download Walmart Catalog</a>
                        <a class="btn btn-secondary btn-outline btn-sm" routerLink="/channelconnector"><i class="fa fa-remove"></i> Close</a>
                    </div>
                  </div>
              </div>
              
              <div class="card-body">
                <div class="modal fade" id="modalBulk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-dark">
                          <h5 class="modal-title font-14 text-white">Product Export</h5>
                          <button type="button" #closemodal class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">

                            

                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="btn-group float-right">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>
                </div>

                <div class="modal fade" id="modalQuantity" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-dark">
                          <h5 class="modal-title font-14 text-white">Please select a category from {{ title }} and enter into the template Category</h5>
                          <button type="button" #closemodal class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-sm-12">
                                <div class="row padding-10">
                                    <p>This will open up a new window. If you pop-up blockers please make sure it is turned off or allow pop-ups from kartzhub.com</p>
                                    <a target="_blank" href="http://www.ioffer.com/category/category_menu?window=new">iOffer Categories</a>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="btn-group float-right">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>
                </div>

                  
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link font-11" data-toggle="tab" href="#other">Listing Templates</a>
                      </li>
                  </ul>
  
                  <div class="tab-content">
                      <div id="app_store" class="container tab-pane active"><br>
                           <div class="row" style="border-bottom: 1px solid #CCC;">
                              <div class="col-3">
                                <h4 class="mb-0"><img src="{{ logo }}" class="image-logo" /></h4>
                              </div>
                              <div class="col-9 float-right">
                              </div>
                            </div>
                            <div class="row mt-10">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class=" control-label">Channel Name</label><br>
                                        <input type="text" value="enter name" class="form-control form-control-sm" id="channelname" placeholder="Channel Name">
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">Client Secret</label>
                                            <input type="text" value="" class="form-control form-control-sm" id="apipassword" placeholder="Client Secret">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Client Id</label>
                                        <input type="text" value="" class="form-control form-control-sm" id="apiusername" placeholder="Client Id">
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" value="true" id="downloadproducts" placeholder="Download Products"> Download Products
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" value="true" id="downloadorders" placeholder="Download Orders"> Download Orders
                                    </div>
                                </div> 

                            </div>
                      </div>
                      <div id="other" class="container tab-pane fade">
                           <div class="row">
                                <div class="col-sm-12">
                                    <div class="float-right mb-20 mt-10">
                                        <a href="#" class="btn btn-secondary btn-sm btn-circle" ><i class="fa fa-arrow-up font-blue"></i> New Listing Template</a>
                                        <a routerLink="/channelconnector" class="btn btn-secondary btn-sm btn-circle"><i class="fa fa-remove text-red"></i> Close</a>
                                    </div>
                                    <table class="table tableFixHead table-hover order-column v2">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Template Name</th>
                                                <th>Modified Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <br />
                           </div>
                      </div>
                  </div>
                  
              </div>
  
              <div class="card-footer py-4">
                  
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>