<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">

  

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Please Manage Warehouse and Item Location</h3>
              </div>

              

              <div class="col-4 text-right">
                <div class="float-right">
                  <a routerLink="/warehouse-add" class="btn btn-sm btn-secondary font-10"> New <i class="fa fa-angle-right"></i></a>
                  <a routerLink="/warehouse-stocksummary" class="btn btn-sm btn-secondary font-10"><i class="fa fa-file-excel-o text-green"></i> Stock Summary</a>

                </div>
                
              </div>
            </div>
        </div>
        
        <div class="box-search">
            <div class="row">
              <div class='col-6'>
                <table>
                  <tr>
                    <td>
                        &nbsp; Show
                    </td>
                    <td>
                        <select class="form-control form-control-sm search-width">
                          <option value=''>100</option>
                        </select>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-6">
                <table class="float-right">
                    <tr>
                      <td>
                        <div class="input-group search-width-input">
                          <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                          <div class="input-group-append">
                            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                      </td> 
                  </tr>
                </table>
              </div>
            </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Warehouse</th>
                <th scope="col">Code</th>
                <th scope="col">Modified Date</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>Building One's</td>
                  <td>B-901021</td>
                  <td>03/08/2021 10:10:02</td>
                  <td>
                      <div class="btn-group">
                        <a class="btn btn-sm btn-success"><i class="fa fa-edit"></i> Edit</a>
                        <a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Remove</a>
                      </div>
                  </td>
                </tr>
                <tr>
                    <td>Building One's</td>
                    <td>B-901021</td>
                    <td>03/08/2021 10:10:02</td>
                    <td>
                        <div class="btn-group">
                          <a class="btn btn-sm btn-success"><i class="fa fa-edit"></i> Edit</a>
                          <a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Remove</a>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Building One's</td>
                    <td>B-901021</td>
                    <td>03/08/2021 10:10:02</td>
                    <td>
                        <div class="btn-group">
                          <a class="btn btn-sm btn-success"><i class="fa fa-edit"></i> Edit</a>
                          <a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Remove</a>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Building One's</td>
                    <td>B-901021</td>
                    <td>03/08/2021 10:10:02</td>
                    <td>
                        <div class="btn-group">
                          <a class="btn btn-sm btn-success"><i class="fa fa-edit"></i> Edit</a>
                          <a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Remove</a>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Building One's</td>
                    <td>B-901021</td>
                    <td>03/08/2021 10:10:02</td>
                    <td>
                        <div class="btn-group">
                          <a class="btn btn-sm btn-success"><i class="fa fa-edit"></i> Edit</a>
                          <a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Remove</a>
                        </div>
                    </td>
                  </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
</div>
