<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubroyalmail.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><i class="fa fa-truck"></i> Map the channel shipping methods to the RM Service</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <div class="pull-right">
                                <!-- <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a> -->
                                <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                            </div>

                        </div><br>
                    </div>
                </div>
                <div>
              <br />
                <div style="padding-left: 20px;">
                Please map the channel shipping methods to the RM Service BPL</div><br>

                            <div class="table-scrollable">

                        <table class="table tableFixHead table-hover order-column v2">
                            <thead>
                                <tr>
                                    <th>Channel</th>
                                    <th>Shipping Services</th>
                                </tr>
                            </thead>
                            <tbody>
                                

                                    <tr>
                                        <td>
                                            <img height="30" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubamazon.png"><br>( )
                                        </td>

                                        <td>
                                            
                                            
                                            &nbsp;&nbsp;
                                            <a href="javascript:void(0)" class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save</a>
                                        </td>
                                        
                                    </tr>

                                
                            </tbody>

                        </table>
                </div>
                </div>
            </div>
        </div>
    </div>

</div>