<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Table -->
        <div class="row p--0 mt--4">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-1">
                <div class="row align-items-center">
                    <div class="col-12">
                      <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage your CDiscount account integration setting</h3>
                    </div>
                    
                  </div>
              </div>
              
              <div class="card-body">
                 
                  
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link font-11" data-toggle="tab" href="#other">Listing Templates</a>
                      </li>
                  </ul>
  
                  <div class="tab-content">
                      <div id="app_store" class="container tab-pane active"><br>
                           <div class="row" style="border-bottom: 1px solid #CCC;">
                              <div class="col-3">
                                <h4 class="mb-0"><img src="{{ logo }}" class="image-logo" /></h4>
                              </div>
                              <div class="col-9 float-right">
                                <a class="btn btn-secondary btn-dark btn-sm">Save <i class="fa fa-angle-right"></i></a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-times-circle-o"></i> Remove All Listing From SellersHub</a>
                                <a class="btn btn-secondary btn-outline btn-sm" routerLink="/channelconnector"><i class="fa fa-remove"></i> Close</a>
                              </div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-sm-6">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label> Name </label>
                                            <input type="text" value="enter name" class="form-control form-control-sm input-lg" id="name" placeholder="Name to rememeber within KartzHub">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label> Cdiscount API Username</label>
                                        <input type="text" value="" class="form-control form-control-sm input-lg" id="apiusername" placeholder="Enter API Username">
                                    </div>

                                    <div class="form-group">
                                        <label> Cdiscount API Password</label>
                                        <input type="text" value="" class="form-control form-control-sm input-lg" id="apipassword" placeholder="Enter API Password">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label> Listing Quantity</label>
                                        <input id="listingquantity" class="form-control form-control-sm" type="text" value="">
                                    </div>

                                    <div class="form-group">
                                        <label> Minimum Quantity</label>
                                        <input id="minimumquantity" class="form-control form-control-sm" type="text" value="">
                                    </div>

                                    <div class="form-group">
                                        <input id="downloadamazoncatalogid" checked="" type="checkbox" value="">
                                        <label class="mt-checkbox mt-checkbox-outline"> Download the catalog into KartzHub</label>
                                    </div>

                                    <div class="form-group">
                                        <input id="downloadamazonorders" checked="" type="checkbox" value="">
                                        <label>Download Orders into KartzHub</label>
                                    </div>
                                </div>
                            </div>
                      </div>
                      <div id="other" class="container tab-pane fade">
                            
                            <div class="col-sm-12">
                                <div class="float-right mb-20 mt-10">
                                    <a routerLink="/cdiscount-listing-templates" class="btn btn-secondary btn-sm btn-circle" ><i class="fa fa-arrow-up font-blue"></i> New Listing Template</a>
                                    <a routerLink="/channelconnector" class="btn btn-secondary btn-sm btn-circle"><i class="fa fa-remove text-red"></i> Close</a>
                                </div>
                                <table class="table tableFixHead table-hover order-column v2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Template Name</th>
                                            <th>Modified Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                      </div>
                  </div>
                  
              </div>
  
              <div class="card-footer py-4">
                  
                </div>
            </div>
          </div>
        </div>
    
  
      </div>
    </div>
  </div>