<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Table -->
        <div class="row p--0 mt--4">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-1">
                <div class="row align-items-center">
                    <div class="col-12">
                      <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage your {{ title }} account integration setting</h3>
                    </div>
                    
                  </div>
              </div>
              
              <div class="card-body">
                 
                  
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                      </li>
                  </ul>
  
                  <div class="tab-content">
                      <div id="app_store" class="container tab-pane active"><br>
                           <div class="row" style="border-bottom: 1px solid #CCC;">
                              <div class="col-12">
                                <h4 class="mb-0"><img src="{{ logo }}" class="image-logo" /></h4>
                              </div>
                              
                            </div>
                            <div class="row mt-10">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Channel Name</label>
                                        <input type="text" value="Flipkart Account" readonly="" id="name" class="form-control form-control-sm" placeholder="Name to remember within KartzHub">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Flipkart API Key</label>
                                        <input type="text" value="" id="apiKey" name="apiKey" class="form-control form-control-sm" placeholder="Flipkart API Key">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Flipkart API Secret</label>
                                        <input type="text" value="" id="apipassword" name="apipassword" class="form-control input-inline input-medium" placeholder="Flipkart API Secret">
                                    </div>
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-sm btn-danger">Reset</button>
                                    </div>
                                </div>
                            </div>
                      </div>
                  </div>
                  
              </div>
  
              <div class="card-footer py-4">
                  
                </div>
            </div>
          </div>
        </div>
    
  
      </div>
    </div>
  </div>