<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
          <div class="row align-items-center">
              <div class="col-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                    <div class="card box border-primary">
                                       <div class="card-header bg-primary text-white">
                                            <div class="caption">
                                                <i class="fa fa-puzzle-piece"></i>Manage your sale channel 
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <ul class="nav nav-tabs tabs-left">
                                                        <li class="active">
                                                            <a href="#tab_1_1" data-toggle="tab" class="btn btn-waring" style="background-color: #f4ae33 !important; color: white;" aria-expanded="true"> Integration </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-10">
                                                    <div class="tab-content">
                                                        <div class="tab-pane active in" id="tab_1_1">
                                                            <div class="card-body form">
                                                                <!-----------------------------Form Start----------------------------------->
                                                                <div class="card box border-primary">
                                                                <div class="card-header bg-primary text-white">
                                                                    <div class="caption">
                                                                        <i class="fa fa-cogs"></i>Integration 
                                                                    </div>
                                                                    <div class="actions">
                                                                    
                                                                    </div>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="card transparent">
                                                                                <div class="caption">
                                                                                    <h4><img height="40px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubtelesale.png"/> Telesales</h4>
                                                                                </div>
                                                                                <div class="card-body">
    
                                                                                    <form class="form-horizontal" role="form">
                                                                                        <div class="form-body">
                                                                                            <div class="col-md-12">
                                                                                                <p>You can create a new sale channels to capture sales from channels such as telesales </p>
                                                                                                <div class="form-group row">
                                                                                                    <label class="col-md-4 control-label">Channel Name</label>
                                                                                                    <div class="col-md-8">
                                                                                                        <input type="text" id="channelnameid" name="name" class="form-control input-lg" value="" placeholder="Enter channel name">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group row">
                                                                                                    <label class="col-md-4"></label>
                                                                                                    <div class="col-md-8">
                                                                                                        <input type="hidden"  value=""  id="salechannelid" />
                                                                                                        <a onclick="savesalechannel()" class="btn btn-success">Save</a>
                                                                                                        <a href="#channelconnector" class="btn red-mint">Close</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </form>
    
                                                                                </div>
                                                                            </div>
    
                                                                        </div>
    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <!-----------------------------Form Ends----------------------------------->
                                                    </div>
                                                </div>
                                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>