<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-4">
                <h3 class="mb-0">Stock Summary</h3>
              </div>
            </div>
        </div>
        
        <div class="box-search">
            <div class="row">
              <div class='col-12'>
                <table>
                  <tr>
                    <td>
                      <select class="form-control form-control-sm search-width">
                        <option value=''>Search By</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group search-width-input">
                        <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                        <div class="input-group-append">
                          <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <select class="form-control form-control-sm search-width-200">
                        <option value=''>Filter By Channel - All</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control form-control-sm search-width-220">
                        <option value=''>Filter By Condition - All</option>
                      </select>
                    </td>  
                    <td>
                      &nbsp; Show 
                    </td>
                    <td>
                      <select class="form-control form-control-sm search-width-80">
                        <option value=''>100</option>
                      </select>
                    </td>  
                    <td>
                      <select class="form-control form-control-sm search-width-150">
                        <option value=''>Sort By</option>
                      </select>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
        </div>

        <div class="box-search-bottom">
          <table>
            <tr>
              <td>
                <div class="input-group">
                  <label class="custom-toggle">
                    <input type="checkbox">
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>
                  <label class="text-dark font-11">&nbsp; Show Parent Products</label>
                </div>
              </td>
              <td style="padding-left: 20px">
                <div class="input-group">
                  <label class="custom-toggle">
                    <input type="checkbox" checked="checked">
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>
                  <label class="text-dark font-11">&nbsp; Show Active Products</label>
                </div>
              </td>
              <td style="padding-left: 20px;">
                <div class="input-group">
                  <label class="custom-toggle">
                    <input type="checkbox">
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>
                  <label class="text-dark font-11">&nbsp; Including Zero Qty Products</label>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">
                  <input id="customCheck5" type="checkbox">
                </th>
                <th>Image</th>
                <th>SKU</th>
                <th>Title</th>
                <th>Price</th>
                <th>Curent Quantity</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td><input id="customCheck5" type="checkbox"></td>
                  <td><img src="assets/img/products/bicycle.jpeg" class="image-product" /></td>
                  <td>3049165</td>
                  <td>BMX Bicycle</td>
                  <td>INR 200,00</td>
                  <td>200</td>
                  <td><button class="btn btn-sm btn-success">Edit <i class="fa fa-edit"></i></button></td>
                </tr>    
                <tr>
                    <td><input id="customCheck5" type="checkbox"></td>
                    <td><img src="assets/img/products/bicycle.jpeg" class="image-product" /></td>
                    <td>3049165</td>
                    <td>BMX Bicycle</td>
                    <td>INR 200,00</td>
                    <td>200</td>
                    <td><button class="btn btn-sm btn-success">Edit <i class="fa fa-edit"></i></button></td>
                </tr>
                <tr>
                    <td><input id="customCheck5" type="checkbox"></td>
                    <td><img src="assets/img/products/bicycle.jpeg" class="image-product" /></td>
                    <td>3049165</td>
                    <td>BMX Bicycle</td>
                    <td>INR 200,00</td>
                    <td>200</td>
                    <td><button class="btn btn-sm btn-success">Edit <i class="fa fa-edit"></i></button></td>
                </tr>
                <tr>
                    <td><input id="customCheck5" type="checkbox"></td>
                    <td><img src="assets/img/products/bicycle.jpeg" class="image-product" /></td>
                    <td>3049165</td>
                    <td>BMX Bicycle</td>
                    <td>INR 200,00</td>
                    <td>200</td>
                    <td><button class="btn btn-sm btn-success">Edit <i class="fa fa-edit"></i></button></td>
                </tr>
                <tr>
                    <td><input id="customCheck5" type="checkbox"></td>
                    <td><img src="assets/img/products/bicycle.jpeg" class="image-product" /></td>
                    <td>3049165</td>
                    <td>BMX Bicycle</td>
                    <td>INR 200,00</td>
                    <td>200</td>
                    <td><button class="btn btn-sm btn-success">Edit <i class="fa fa-edit"></i></button></td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
</div>
