.font-11 {
    font-size: 11pt !important;
    padding: 10px;
}
.font-10 {
    font-size: 10pt !important;
    padding: 5px;
}
td{
    padding-left: 7px !important;
}
.padding-10 {
    padding: 10px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mb-10 {
    margin-bottom: 5px !important;
}
.alert {
    border-radius: 0px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 5px !important;
    padding-left: 9px !important;
}
.form-group {
    margin-bottom: 0.5rem !important;
  }
  .font-12 {
    font-size: 11pt !important;
  }
  .font-14 {
    margin-top: 5px !important;
    margin-bottom: -25px !important;
    font-size: 13pt !important;
  }
  .modal-header {
    padding: 0.75rem !important;
    color: #fff !important;
  }
  .modal-footer {
    border-top: 1px solid rgb(219, 219, 219) !important;
    padding: 1.05rem !important;
  }
  .box-search {
    border-top: 3px solid rgb(74, 175, 243);
    padding: 10px;
    margin: -5px 10px 10px 10px !important;
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  
  .box-search-bottom {
    border-top: 1px solid rgb(238, 238, 238);
    padding: 5px;
    margin: -10px 10px 10px 10px !important;
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  
  .search-width-80 {
    width: 80px !important;
  }
  
  .search-width {
    width: 120px !important;
  }
  
  .search-width-150 {
    margin-left: 20px !important;
    width: 100px !important;
  }
  
  .search-width-200 {
    margin-left: 10px !important;
    width: 180px !important;
  }
  
  .search-width-220 {
    width: 185px !important;
  }
  
  .search-width-input {
    width: 270px !important;
  }
  
  .image-product {
    width: 35px !important;
    height: 35px !important;
  }
  
  .image-channel {
    width: 25px !important;
    height: 20px !important;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #525f7f !important;
    border-top: 2px solid orange !important;
    border-radius: 0px !important;
    background-color: #ffffff !important;
}
.tab-content {
  border-left: 1px solid #e0ebf9 !important;
  border-bottom: 1px solid #e0ebf9 !important;
  border-right: 1px solid #e0ebf9 !important;
  padding: 5px !important;
}

.image-logo {
  width: 190px !important;
  margin-bottom: 10px !important;
}

.new-ul {
  padding-left: 45px !important;
  padding-right: 30px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.control-label {
  font-size: 11pt !important;
}
.box-listing {
    background-color: #edf0f3;
  }