<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-2">
                <h3 class="mb-0">List of Shipments</h3>
              </div>
              <div class="col-10 text-right">
                <div class="float-right">
                  <!-- <a  class="btn btn-sm btn-default font-10" data-toggle="modal" data-target="#FBAshipModal"><i class="fa fa-check"></i> Create FBA Shipment </a> -->
                  <!-- <a  class="btn btn-sm btn-default font-10"><i class="fa fa-search"></i></a> -->

                </div>
                
              </div>
            </div>
        </div>
        
        <div class="box-search">
            <div class="row">
              <div class='col-12'>
                <table>
                  <tr>
                    <td>
                        &nbsp; Show
                    </td>
                    <td>
                        <select class="form-control form-control-sm search-width-80">
                          <option value="100">100</option>
													<option value="50">50</option>
													<option value="25">25</option>
													<option value="10">10</option>
                        </select>
                    </td>
                    <td>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       Search
                    </td>
                    <td>
                        <select class="form-control form-control-sm search-width-80">
                          <option value="0">Search What</option>
                          <option value="1">SKU</option>
                          <option value="2">Channel</option>
                          <option value="3">Title</option>
                        </select>
                    </td> 
                    <td>
                      <div class="input-group search-width-input">
                        <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                        <div class="input-group-append">
                          <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                </table>
              </div>
            </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
											
                <th>Shipment ID</th>
                <th>Name</th>
                <th>From address</th>
                    <th>Destination Fulfilment Center</th>
                <th>Status</th>
                <th>Label Preptype</th>

                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="FBAshipModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Please enter shipment details</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-body">
             <div class="form-group row">
               <label class="col-md-4 control-label" style="padding-left: 110px;">Shipment Name <span class="required">*</span></label>
               <div class="col-md-7">
                  <input type="text" value="SHIPMENT_1" class="form-control" id="shipmentName" placeholder="SHIPMENT_1">       
                </div>
             </div>			
                   
             
               <div class="form-group row">
               <label class="col-md-4 control-label" style="padding-left: 110px;">Source Address Name <span class="required">*</span></label>
               <div class="col-md-7">
               <input type="text" value="" class="form-control newerror" id="addrName" placeholder="Name"> 
               </div>
             </div>	
               
               <div class="form-group row">
               <label class="col-md-4 control-label" style="padding-left: 110px;"> Address <span class="required">*</span></label>
               <div class="col-md-7">
               <input type="text" value="" class="form-control newerror" id="addressLine1" placeholder="Address Line 1"> 
               </div>
             </div>	
             <div class="form-group row">
               <label class="col-md-4 control-label" style="padding-left: 110px;"> City </label>
               <div class="col-md-7">
               <input type="text" value="" class="form-control" id="addrCity" placeholder="City">
             </div>
             </div>	
             <div class="form-group row">
               <label class="col-md-4 control-label" style="padding-left: 110px;"> State </label>
               <div class="col-md-7">
                 <input type="text" value="" class="form-control" id="addrState" placeholder="State"> 
               </div>
             </div>
               
               <div class="form-group row">
               <label class="col-md-4 control-label" style="padding-left: 110px;"> Postal Code <span class="required">*</span></label>
               <div class="col-md-7">
                 <input type="text" value="" class="form-control newerror" id="addrPostCode" placeholder="Postal Code">
               </div>
             </div>	
               
               <div class="form-group row">
                 <label class="col-md-4 control-label" style="padding-left: 110px;"> Country <span class="required">*</span></label>
                 <div class="col-md-6">	
                 <input type="text" value="" class="form-control" id="addrCountry" placeholder="Country">
                   
                 </div>
               </div>	
             </div>
           </form>
        </div>
          <div class="modal-footer">
            <div class="btn-group float-right">
              <a  type="button" class="btn btn-sm btn-dark"><i class="fa fa-check font-blue"></i> Next</a>
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
