<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Table -->
        <div class="row p--0 mt--4">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-1">
                <div class="row align-items-center">
                    <div class="col-12">
                      <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage your Sears account integration setting</h3>
                    </div>
                    
                  </div>
              </div>
              
              <div class="card-body">
                 
                  
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link font-11" data-toggle="tab" href="#other">Listing Templates</a>
                      </li>
                  </ul>
  
                  <div class="tab-content">
                      <div id="app_store" class="container tab-pane active"><br>
                           <div class="row" style="border-bottom: 1px solid #CCC;">
                              <div class="col-3">
                                <h4 class="mb-0"><img src="{{ logo }}" class="image-logo" /></h4>
                              </div>
                              <div class="col-9 float-right">
                                <a class="btn btn-secondary btn-dark btn-sm">Save <i class="fa fa-angle-right"></i></a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-exchange text-green"></i> Test Connection</a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-download"></i> Download Sears Catalog</a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-times-circle-o"></i> Remove All Listing From SellersHub</a>
                                <a class="btn btn-secondary btn-outline btn-sm" routerLink="/channelconnector"><i class="fa fa-remove"></i> Close</a>
                              </div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-6">
                                        <div class="form-body">
                                          <div class="form-group">
                                            <label>Name to Remember within KartzHub</label>
                                            <input type="text" class="form-control form-control-sm form-control-sm" value="enter name" id="name" placeholder="Name to remmember">
                                          </div>
                                          <div class="form-group">
                                            <label> API Username</label>
                                            <input type="text" value="" class="form-control form-control-sm form-control-sm input-lg" id="apiusername" placeholder="Email address">
                                            <input type="hidden" value="" class="form-control form-control-sm form-control-sm" id="apipassword" placeholder="Password">
                                          </div>
                                          <div class="form-group">
                                            <label> Sears Seller Id </label>
                                            <input type="text" value="" class="form-control form-control-sm form-control-sm" id="merchantIdentifier" placeholder="Sears Seller Id">
                                          </div>
                                          <div class="form-group">
                                            <label> API Secret Key </label>
                                            <input type="text" value="" class="form-control form-control-sm form-control-sm" id="apiKey" placeholder="Secret Key">
                                          </div>
                                          <div class="form-group mt-checkbox-list">
                                            <label class="mt-checkbox mt-checkbox-outline"> Download the catalog into KartzHub <input id="downloadamazoncatalogid" checked="" type="checkbox" value="">
                                              <span></span>
                                            </label>
                                          </div>
                                          <div class="form-group mt-checkbox-list">
                                            <label class="mt-checkbox mt-checkbox-outline"> Download Orders into KartzHub <input id="downloadamazonorderid" checked="" type="checkbox" value="">
                                              <span></span>
                                            </label>
                                          </div>
                                          <div class="form-group">
                                            <label>Seller Type</label>
                                            <br>
                                            <input type="radio" name="optionsRadios" id="searssellertypefbs" value="fbs"> FBS (Fulfillment by Sears) <br>
                                            <input type="radio" name="optionsRadios" id="searssellertypefbm" value="fbm" checked=""> FBM (Fulfillment by Merchant)
                                          </div>
                                        </div>
                                </div>
                                <div class="col-6">
                                    <div class="well">
                                        <h2>How to find Seller Id and Secret Key</h2>
                                        <p>As show below, you can find the Seller Id from the account menu. Secret key is under 'Account Info' </p>
                                        <p style="color:red">As of 1 June 2018, Secret Key is required by Sears </p>
                                        <img style="width:400px;" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubsearslogindetails.png">
                                        <br>
                                        <img style="width:400px;" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubsearsapikeygenerate.png">
                                      </div>
                                </div>
                            </div>
                      </div>
                      <div id="other" class="container tab-pane fade">
                            
                            <div class="col-sm-12">
                                <div class="float-right mb-20 mt-10">
                                    <button class="btn btn-secondary btn-sm btn-circle" ><i class="fa fa-arrow-up font-blue"></i> New Listing Template</button>
                                    <a routerLink="/channelconnector" class="btn btn-secondary btn-sm btn-circle"><i class="fa fa-remove text-red"></i> Close</a>
                                </div>
                                <table class="table tableFixHead table-hover order-column v2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Template Name</th>
                                            <th>Modified Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <br />
                                <div class="padding-10">
                                    <div class="alert alert-default">Please enter Sears Listing details</div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class=" control-label">Template Name</label>
                                                <input type="text" value="" class="form-control form-control-sm input-inline input-medium" id="templatename" placeholder="Enter Template Name">
                                                <input type="hidden" id="templateid" value="-1">
                                                <input type="hidden" id="channeluserid" value="5785">
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Item Class Id</label>
                                                <div class="input-group">
                                                    <input type="text" value="" class="form-control form-control-sm" id="selectedcategorynameid" placeholder="Item Class Id">
                                                    <span class="input-group-btn">
                                                        <a class=""><button class="btn-xs" type="button">Search</button></a>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input type="checkbox" value="true" id="maturecontent">&nbsp;<label class=" control-label">Mature Content</label>
                                            </div>

                                            <div class="form-group">
                                                <input type="checkbox" value="true" id="shiptostoreeligible">&nbsp;<label class="control-label">Ship To Store Eligible</label>
                                            </div>

                                            <div class="form-group">
                                                <input type="checkbox" value="true" id="restricted">&nbsp;<label class=" control-label">Restricted</label>
                                            </div>

                                            <div class="form-group">
                                                <input type="checkbox" value="true" id="perishable">&nbsp;<label class=" control-label">Perishable</label>
                                            </div>

                                            <div class="form-group">
                                                <label class=" control-label">Pricing Rule</label>
                                                <input type="text" value="" class="form-control form-control-sm" id="pricingRule" placeholder="Pricing Rule">
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class=" control-label">Item Categorization</label>
                                                 <input type="text" class="form-control form-control-sm" id="categoryId" placeholder="Your own categorization">
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Item Attributes</label>&nbsp; <button type="button" class="btn btn-sm btn-circle btn-default">Attributes</button>
                                            </div>

                                            <div class="form-group">
                                                <input type="checkbox" value="true" id="requiredrefrigeration">
                                                <label class=" control-label">Required Refrigeration</label>
                                            </div>

                                            <div class="form-group">
                                                <input type="checkbox" value="true" id="requiresfreezing">&nbsp;<label class=" control-label">Requiresfreezing</label>
                                            </div>

                                            <div class="form-group">
                                                <input type="checkbox" value="true" id="containsalcohol">&nbsp;<label class="control-label">Contains Alcohol</label>
                                            </div>

                                            <div class="form-group">
                                                <input type="checkbox" value="true" id="containstobacco">&nbsp;<label class=" control-label">Contains Tobacco</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-10">
                                        <p>e.g  <strong>$ (cost_price!)*1.6 + 1 </strong></p><p>
                                        </p><p>
                                          This make the selling price by multiplying cost price by 1.6 and add 1
                                          Tags available are  <strong>$(cost_price!) and $(selling_price!)</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                      </div>
                  </div>
                  
              </div>
  
              <div class="card-footer py-4">
                  
                </div>
            </div>
          </div>
        </div>
    
  
      </div>
    </div>
  </div>