<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0"><i class="fa fa-truck"></i> Suppliers</h3>
              </div>
              <div class="col-4">
                <div class="input-group search-width-input">
                    <input type="text" class="form-control form-control-sm" placeholder="Enter Supplier Name To Search">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
              </div>
            </div>
        </div>
        
        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Suppliers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-11" data-toggle="tab" href="#other">Feeds</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="app_store" class="container tab-pane active"><br>
                    <div class="row">
                        <div class="col-8">
                          <h4 class="mb-0">Manage Suppliers</h4>
                        </div>
                        <div class="col-4">
                          <a class="btn btn-secondary btn-outline btn-sm float-right" routerLink="/newsuppliers">New Supplier <i class="fa fa-angle-right"></i></a>
                        </div>
                        <br />
                        <br />
                        <div class="table-responsive">
                            <table class="table align-items-center table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Supplier Name</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                        <td>1.</td> <td>John Doe</td><td><div class="btn-group"><a class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Edit</a><a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></div></td>
                                        </tr>
                                        <tr>
                                            <td>2.</td><td>Amir Khan</td><td><div class="btn-group"><a class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Edit</a><a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></div></td>
                                        </tr>
                                        <tr>
                                            <td>3.</td><td>Rohan Sahu</td><td><div class="btn-group"><a class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Edit</a><a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></div></td>
                                        </tr>
                                        <tr>
                                            <td>4.</td><td>Paval Tadu</td><td><div class="btn-group"><a class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Edit</a><a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></div></td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                      </div>
                </div>
                <div id="other" class="container tab-pane fade"><br>
                    <div class="alert alert-default">
                      Please enter a http feed with inventory details from your supplier/dropshipper to keep your stock levels in synch with your supplier quantity. This feed runs every 24 hours
                    </div>
                    <table class="table align-items-center table-bordered">

                      <thead class="thead-light">
                        <tr>
                          <th>Feed Url</th>
                          <th>Feed Format</th>
                          <th>Rules</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td>
                              <input type="text" id="feedurlid" value="" class="form-control form-control-sm">
                            </td>
                          <td>
                          </td>
                          <td>
                            <input type="hidden" id="inboundfeedrulesid" value="">
                            <div class="actions">
                              <a class="btn btn-sm btn-circle btn-default" data-toggle="modal" data-target="#productModel"><i class="fa fa-edit font-blue"></i>Edit</a>
                            </div>
                          </td>
                          <td>
                            <div class="actions">
                                <span class="badge badge-danger">INACTIVE</span> 
                            </div>
                          </td>
                          <td>
                            <div class="actions">
                            <a href="javascript:void(0)" class="btn btn-sm btn-circle btn-default"><i class="fa fa-check font-blue"></i>
Save</a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
            
        </div>

        <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="productModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Please enter column mapping for Quantity and SKU fields from your http feed csv file</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="well">
          <div class="row">
             <div class="col-md-12">
              e.g  if the csv file has column names supplierquantity for the stock levels and 'product code' for the SKU (stock keeping unit), please enter the mapping as
              <strong>quantity=supplierquantity|sku=product code</strong>
             </div>
          </div>
        </div>
        <div class="modal-body">
          <input class="form-control" type="text" value="" id="feedurlruleid">
        </div>
        <div class="modal-footer">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-sm btn-dark"><i class="fa fa-envelope-o"></i> Save Changes</button>
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
</div>