<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Table -->
        <div class="row p--0 mt--4">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-1">
                <div class="row align-items-center">
                    <div class="col-12">
                      <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage your {{ title }} account integration setting</h3>
                    </div>
                    
                  </div>
              </div>
              
              <div class="card-body">
                 
                  
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link font-11" data-toggle="tab" href="#other">Listing Templates</a>
                      </li>
                  </ul>
  
                  <div class="tab-content">
                      <div id="app_store" class="container tab-pane active"><br>
                           <div class="row" style="border-bottom: 1px solid #CCC;">
                              <div class="col-3">
                                <h4 class="mb-0"><img src="{{ logo }}" class="image-logo" /></h4>
                              </div>
                              <div class="col-9 float-right">
                                <a class="btn btn-secondary btn-dark btn-sm">Save <i class="fa fa-angle-right"></i></a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-times-circle-o"></i> Remove All Listing From SellersHub</a>
                                <a class="btn btn-secondary btn-outline btn-sm" routerLink="/channelconnector"><i class="fa fa-remove"></i> Close</a>
                              </div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class=" control-label">Bonanza Authentication Token</label>
                                        <input type="text" value="" class="form-control form-control-sm" readonly="" id="apipassword" placeholder="Enter Authentication Token">
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class=" control-label">Name</label>
                                        <input type="text" value="Bonanza Account" class="form-control form-control-sm" id="name" placeholder="Enter any name to remember this channel within KartzHub">
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class=" control-label">Bonanza Booth Id</label>
                                        <input type="text" value="" class="form-control form-control-sm" id="merchantIdentifier" placeholder="Enter Bonanza Booth Id">
                                        <a target="_blank" href="http://help.kartzhub.com/doc/kartzhub-documentation/">How to find the Booth Id</a>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-10">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class=" control-label">Download the catalog into KartzHub</label>
                                        <input id="downloadamazoncatalogid" checked="" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class=" control-label">Download Orders into KartzHub</label>
                                        <input id="downloadamazonorderid" checked="" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                      </div>
                      <div id="other" class="container tab-pane fade">
                            
                            <div class="col-sm-12">
                                <div class="float-right mb-20 mt-10">
                                    <a routerLink="/cdiscount-listing-templates" class="btn btn-secondary btn-sm btn-circle" ><i class="fa fa-arrow-up font-blue"></i> New Listing Template</a>
                                    <a routerLink="/channelconnector" class="btn btn-secondary btn-sm btn-circle"><i class="fa fa-remove text-red"></i> Close</a>
                                </div>
                                <table class="table tableFixHead table-hover order-column v2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Template Name</th>
                                            <th>Modified Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                                <br />

                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                      <div class="form-group">
                                        <label class=" control-label">Template Name</label>
                                        <br>
                                        <input type="text" value="Template name" class="form-control form-control-sm" id="channeltemplatename" placeholder="Enter Template Name">
                                      </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                      <label class=" control-label">Category Id</label>
                                      <div class="input-group">
                                        <input type="text" value="" class="form-control form-control-sm" id="selectedcategorynameid" placeholder="Enter Bonanza Category Ids">
                                        <span class="input-group-btn">
                                          <a onclick="showbonanzacategories(5789)" href="javascript:void(0)">
                                            <button class="btn-xs" type="button">Categories</button>
                                          </a>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                      <div class="form-group">
                                        <label class="control-label">Pricing Rules</label>
                                        <br>
                                        <input type="text" value="" class="form-control form-control-sm" id="pricingrulesid" placeholder="Pricing Rules">
                                        <p>e.g <strong>$ (cost_price!)*1.6 + 1 </strong>
                                        </p>
                                        <p></p>
                                        <p> This make the selling price by multiplying cost price by 1.6 and add 1 Tags available are <strong>$ (cost_price!) and $ (selling_price!)</strong>
                                        </p>
                                      </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                      <div class="form-group">
                                        <label class="control-label">Return Policy</label>
                                        <select class="form-control form-control-sm" id="returnPolicyAccepted">
                                          <option value="ReturnsAccepted">Returns Accepted</option>
                                          <option value="ReturnsNotAccepted">Returns Not Accepted</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                      <div class="form-group">
                                        <label class="control-label">Buyer must return within (number of days)</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="returnWithin" placeholder="The buyer can return the item within this period of time from the day they receive the item">
                                      </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                      <div class="form-group">
                                        <label class="control-label">Return Policy Paid By</label>
                                        <select class="form-control form-control-sm" id="returnPolicyPaidBy">
                                          <option value="seller">Seller</option>
                                          <option value="buyer">Buyer</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <div class="form-group">
                                        <label class="control-label">Domestic Shipping Service</label>
                                        <div class="table-scrollable">
                                          <table class="table table-bordered table-hover">
                                            <thead>
                                              <tr>
                                                <th>Shipping Option </th>
                                                <th>Shipping Service </th>
                                                <th> Shipping Cost </th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>
                                                  <select class="form-control form-control-sm" id="domesticShippingType">
                                                    <option value="Calculated">Calculated</option>
                                                    <option value="Fixed">Fixed</option>
                                                    <option value="Free">Free</option>
                                                  </select>
                                                </td>
                                                <td>
                                                  <select class="form-control form-control-sm" id="shippingService">
                                                    <option value="EconomyShipping">Economy shipping (1 to 10 business days) Applicable to fixed cost shipping only</option>
                                                    <option value="USPSParcel">USPS Parcel Post (1 to 10 business days)</option>
                                                    <option value="USPSMedia">USPS Media Mail (2 to 9 business days)</option>
                                                    <option value="StandardShipping">Standard shipping (1 to 5 business days) Applicable to fixed cost shipping only</option>
                                                    <option value="UPSGround">UPS Ground (1 to 5 business days)</option>
                                                    <option value="ExpeditedShipping">Expedited shipping (1 to 3 business days) Applicable to fixed cost shipping only</option>
                                                    <option value="USPSPriority">USPS Priority Mail (2 to 3 business days)</option>
                                                    <option value="USPSFirstClass">USPS First Class Mail (2 to 3 business days)</option>
                                                    <option value="UPS3DaySelect">UPS 3 Day Select (3 business days)</option>
                                                    <option value="UPS2DayAirAM">UPS 2nd Day Air (2 business days)</option>
                                                    <option value="USPSExpress">USPS Express Mail (1 business day)</option>
                                                    <option value="UPSNextDay">UPS Next Day Air Saver (1 business day)</option>
                                                    <option value="USPSPriorityMailSmallFlatRateBox">USPS Priority Mail Small Flat Rate Box Applicable to calculated shipping only</option>
                                                    <option value="USPSPriorityMailMediumFlatRateBox">USPS Priority Mail Medium Flat Rate Box Applicable to calculated shipping only</option>
                                                    <option value="USPSPriorityMailLargeFlatRateBox">USPS Priority Mail Large Flat Rate Box Applicable to calculated shipping only</option>
                                                    <option value="USPSPriorityMailFlatRateEnvelope">USPS Priority Mail Flat Rate Envelope Applicable to calculated shipping only</option>
                                                    <option value="UPSExpress">UPSExpress</option>
                                                  </select>
                                                </td>
                                                <td>
                                                  <input class="form-control form-control-sm" type="text" value="" id="domesticShippingCost" placeholder="Domestic Shipping Cost">
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <div class="form-group">
                                        <label class=" control-label">International Shipping Service</label>
                                        <div class="table-scrollable">
                                          <table class="table table-bordered table-hover">
                                            <thead>
                                              <tr>
                                                <th> Shipping Option </th>
                                                <th> Shipping Service </th>
                                                <th> Shipping Cost </th>
                                                <th> Ship To Location </th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>
                                                  <select class="form-control form-control-sm" id="internationalShippingType">
                                                    <option value="Calculated">Calculated</option>
                                                    <option value="Fixed">Fixed</option>
                                                    <option value="Free">Free</option>
                                                  </select>
                                                </td>
                                                <td>
                                                  <select class="form-control form-control-sm" id="internationalShippingService">
                                                    <option value="UPS">UPS</option>
                                                    <option value="USPS">USPS</option>
                                                    <option value="FedEx">FedEx</option>
                                                  </select>
                                                </td>
                                                <td>
                                                  <input type="text" value="" class="form-control form-control-sm" id="internationalShippingCost" placeholder="Domestic Shipping Cost">
                                                </td>
                                                <td>
                                                  <input type="checkbox" style="width: 15px !important;margin-top:-1px;" value="false" id="shiptolocationAsia">Asia <input type="checkbox" style="width: 15px !important;margin-top:-1px;" value="false" id="shiptolocationAustralia">Australia <input type="checkbox" style="width: 15px !important;margin-top:-1px;" value="false"  id="shiptolocationCanada">Canada <input type="checkbox" style="width: 15px !important;margin-top:-1px;" value="false"  id="shiptolocationEurope">Europe 
                                                  <br />
                                                  <input type="checkbox" style="width: 15px !important;margin-top:-1px;" value="false"  id="shiptolocationGermany">Germany <input type="checkbox" style="width: 15px !important;margin-top:-1px;" value="false"  id="shiptolocationJapan">Japan <input type="checkbox" style="width: 15px !important;margin-top:-1px;" value="false"  id="shiptolocationMexico">Mexico 
                                                  <br />
                                                  <input type="checkbox" style="width: 15px !important;margin-top:-1px;" value="false"  id="shiptolocationNorthAndSouthAmerica"> N. and S. America <input type="checkbox" style="width: 15px !important;margin-top:-1px;" value="false"  id="shiptolocationUnitedKingdom">United Kingdom <input type="checkbox" style="width: 15px !important;margin-top:-1px;" value="false"  id="shiptolocationWorldwide">Worldwide
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                      <div class="form-group">
                                        <label class="control-label">Return Policy Text</label>
                                        <textarea  class="form-control form-control-sm" id="returnPolicyText"></textarea>
                                      </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <div class="pull-right">
                                        <button type="submit" class="btn btn-success btn-sm btn-circle"><i class="fa fa-check"></i> Save </button>
                                        <button type="button" class="btn btn-sm btn-default btn-circle"><i class="fa fa-times font-red"></i> Close </button>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                      </div>
                  </div>
                  
              </div>
  
              <div class="card-footer py-4">
                  
                </div>
            </div>
          </div>
        </div>
    
  
      </div>
    </div>
  </div>