.font-10 {
    font-size: 7.8pt !important;
  }
  .font-11 {
    line-height: 23px !important;
    font-size: 9pt !important;
  }
  .form-group {
    margin-bottom: 0.5rem !important;
  }
  .font-12 {
    font-size: 11pt !important;
  }
  .font-14 {
    margin-top: 5px !important;
    margin-bottom: -25px !important;
    font-size: 13pt !important;
  }
  .modal-header {
    padding: 0.75rem !important;
    color: #fff !important;
  }
  .modal-footer {
    border-top: 1px solid rgb(219, 219, 219) !important;
    padding: 1.05rem !important;
  }
  .box-search {
    border-top: 3px solid rgb(74, 175, 243);
    padding: 10px;
    margin: -5px 10px 10px 10px !important;
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  
  .box-search-bottom {
    border-top: 1px solid rgb(238, 238, 238);
    padding: 5px;
    margin: -10px 10px 10px 10px !important;
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  
  .search-width-80 {
    width: 80px !important;
  }
  
  .search-width {
    width: 120px !important;
  }
  
  .search-width-150 {
    margin-left: 20px !important;
    width: 100px !important;
  }
  
  .search-width-200 {
    margin-left: 10px !important;
    width: 180px !important;
  }
  
  .search-width-220 {
    width: 185px !important;
  }
  
  .search-width-input {
    width: 220px !important;
  }
  
  .image-product {
    width: 35px !important;
    height: 35px !important;
  }
  
  .image-channel {
    width: 25px !important;
    height: 20px !important;
  }
  .help-inline {
      font-size: 11pt !important;
      line-height: 17px !important;
      margin-left: 17px !important;
  }
.alert-new {
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  border-radius: 0px !important;
  font-size: 10.5pt !important;
  font-style: italic;
  margin-left: 10px;
}
