<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
              <div class="col-12">
                <h3 class="mb-0">Channel Connectors</h3>
              </div>
            </div>
        </div>
        
        <div class="card-body">
            
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active font-11" data-toggle="tab" href="#register_channels">Registered Channels</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-11" data-toggle="tab" href="#marketplaces">Marketplaces</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-11" data-toggle="tab" href="#ecommerce_stores">Ecommerce Stores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-11" data-toggle="tab" href="#accounting">Accounting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-11" data-toggle="tab" href="#crm">CRM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-11" data-toggle="tab" href="#epos_system">ePOS Systems</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-11" data-toggle="tab" href="#app_store">App Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-11" data-toggle="tab" href="#other">Other</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="register_channels" class="container tab-pane active"><br>
                    <div class="alert alert-default" role="alert">
                        Registered Channel are displayed below
                    </div>
                    <div class="row">

                        <div *ngFor="let row of channelRegistration" class="col-md-3 margin-bottom-20" id="table-left">
                            <div class="mt-element-ribbon bg-grey-steel">
                                <div class="ribbon ribbon-clip uppercase">
                                    <div class="ribbon-sub ribbon-clip"></div>
                                        <img src="{{ row.channel_logo }}" height="40">
                                    </div>
                                    <table class="ribbon-content font-10" style="min-height: 120px !important; padding: 10px !important">
                                        <tbody>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>Name : <b><a class="tooltips" data-original-title="">{{ row.channel_title }}</a></b></td>
                                            </tr>
                                            <tr>
                                                <td>SKU Limit : <b>{{ row.channel_sku }}</b></td>
                                            </tr>
                                            <tr>
                                                <td>Status : <b style="color:green;"> {{ row.channel_status }} </b></td>
                                            </tr>
                                            <tr>
                                                <td>Last Update : <b>{{ row.channel_update }}</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="btn-group padding-10 mt-10 center">
                                        <button (click)="gotoChannel(row.channel_link_path, row.channel_logo, row.channel_title)" class="btn btn-sm btn-success" type="button"><i class="fa fa-edit"></i> Edit</button> <button class="btn btn-sm btn-danger" type="button"><i class="fa fa-trash"></i> Remove</button>
                                    </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="marketplaces" class="container tab-pane fade"><br />
                    <div class="alert alert-success">Available Marketplace Integrations</div>
                    
                    <div class="row">
                      <div *ngFor="let channel of channelLists" class="col-md-3">
                        <div class="mt-element-ribbon bg-grey-steel">
                        <div class="ribbon ribbon-color-white ribbon-clip uppercase">
                            <div class="ribbon-sub ribbon-clip"></div>
                            <img src="{{ channel.channel_logo }}" height="40">
                        </div>
                        <p class="ribbon-content">
                            <span class="label label-sm label-info">{{ channel.channel_title }}</span>
                        </p>
                        <div class="btn-group padding-10 mb-10 center">
                            <button (click)="gotoChannel(channel.channel_link_path, channel.channel_logo, channel.channel_title)" class="btn btn-sm btn-success" type="button"><i class="fa fa-plus-circle"></i> Add to SellersHub</button> <a href="{{ channel.channel_link_website }}" target="_blank" class="btn btn-sm btn-default" type="button">Get One <i class="fa fa-angle-right"></i></a>
                        </div>
                        </div>
                      </div>


                  </div>

                    

                </div>
                <div id="ecommerce_stores" class="container tab-pane fade"><br>
                    <div class="alert alert-info">Available eCommerce Store Integrations</div>
                    <div class="row">

                            <div *ngFor="let r of channelEcommerce" class="col-md-3">
                                <div class="mt-element-ribbon bg-grey-steel">
                                    <div class="ribbon ribbon-color-white ribbon-clip uppercase">
                                        <div class="ribbon-sub ribbon-clip"></div>
                                        <img src="{{ r.channel_logo }}" height="40">
                                    </div>
                                    <p class="ribbon-content">
                                        <span class="label label-sm label-info">{{ r.channel_title }}</span>
                                    </p>
                                    <div class="btn-group padding-10 mb-10 center">
                                        <button (click)="gotoChannel(r.channel_link_path, r.channel_logo, r.channel_title)" class="btn btn-sm btn-success" type="button"><i class="fa fa-plus-circle"></i> Add to SellersHub</button> <a href="{{ r.channel_link_website }}" target="_blank" class="btn btn-sm btn-default" type="button">Get One <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>

                    </div>

                </div>
                <div id="accounting" class="container tab-pane fade"><br>
                    <div class="alert alert-warning">Available Accounting Systems</div>
                    <div class="row">
                        
                        <div class="col-md-3">
                            <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-clip uppercase">
                                <div class="ribbon-sub ribbon-clip"></div>
                                <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubkashflow.png" height="40">
                            </div>
                            <p class="ribbon-content"></p>
                            <div class="btn-group padding-10 mb-10 center">
                                <button class="btn btn-sm btn-success" type="button"><i class="fa fa-plus-circle"></i> Add to KartzHub</button> <button class="btn btn-sm btn-default" type="button">Get One <i class="fa fa-angle-right"></i></button>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-clip uppercase">
                                <div class="ribbon-sub ribbon-clip"></div>
                                <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubquickbooks.png" height="40">
                            </div>
                            <p class="ribbon-content"></p>
                            <div class="btn-group padding-10 mb-10 center">
                                <button class="btn btn-sm btn-success" type="button"><i class="fa fa-plus-circle"></i> Add to KartzHub</button> <button class="btn btn-sm btn-default" type="button">Get One <i class="fa fa-angle-right"></i></button>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-clip uppercase">
                                <div class="ribbon-sub ribbon-clip"></div>
                                <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubsage.png" height="40">
                            </div>
                            <p class="ribbon-content"></p>
                            <div class="btn-group padding-10 mb-10 center">
                                <button class="btn btn-sm btn-success" type="button"><i class="fa fa-plus-circle"></i> Add to KartzHub</button> <button class="btn btn-sm btn-default" type="button">Get One <i class="fa fa-angle-right"></i></button>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-clip uppercase">
                                <div class="ribbon-sub ribbon-clip"></div>
                                <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubxero.png" height="40">
                            </div>
                            <p class="ribbon-content"></p>
                            <div class="btn-group padding-10 mb-10 center">
                                <button class="btn btn-sm btn-success" type="button"><i class="fa fa-plus-circle"></i> Add to KartzHub</button> <button class="btn btn-sm btn-default" type="button">Get One <i class="fa fa-angle-right"></i></button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="crm" class="container tab-pane fade"><br>
                    <div class="alert alert-warning">Customer Relationships Systems (CRM)</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                              <div class="mt-element-ribbon bg-grey-steel">
                                <div class="ribbon ribbon-clip uppercase">
                                  <div class="ribbon-sub ribbon-clip"></div>
                                  <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubinfusionsoft.png" height="40">
                                </div>
                                <p class="ribbon-content"></p>
                                <div class="btn-group padding-10 mb-10 center">
                                    <button class="btn btn-sm btn-success" type="button"><i class="fa fa-plus-circle"></i> Add to KartzHub</button> <button class="btn btn-sm btn-default" type="button">Get One <i class="fa fa-angle-right"></i></button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div id="epos_system" class="container tab-pane fade"><br>
                    <div class="alert alert-warning">ePos Systems</div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-clip uppercase">
                                <div class="ribbon-sub ribbon-clip"></div>
                                <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubeposnow.png" height="40">
                            </div>
                            <p class="ribbon-content"></p>
                            <div class="btn-group padding-10 mb-10 center">
                                <button class="btn btn-sm btn-success" type="button"><i class="fa fa-plus-circle"></i> Add to KartzHub</button> <button class="btn btn-sm btn-default" type="button">Get One <i class="fa fa-angle-right"></i></button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="app_store" class="container tab-pane fade"><br>
                    <div class="alert alert-warning">Following apps are available</div>
                    <div class="row">
                        
                        <div class="col-md-3">
                            <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-clip uppercase">
                                <div class="ribbon-sub ribbon-clip"></div>
                                <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubmailchimp.png" height="40">
                            </div>
                            <p class="ribbon-content"></p>
                            <div class="btn-group padding-10 mb-10 center">
                                <button class="btn btn-sm btn-success" type="button"><i class="fa fa-plus-circle"></i> Add to KartzHub</button> <button class="btn btn-sm btn-default" type="button">Get One <i class="fa fa-angle-right"></i></button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="other" class="container tab-pane fade"><br>
                    <div class="alert alert-warning">Other Sales Systems</div>
                    <div class="row">
                        
                            <div class="col-md-3">
                              <div class="mt-element-ribbon bg-grey-steel">
                                <div class="ribbon ribbon-clip uppercase">
                                  <div class="ribbon-sub ribbon-clip"></div>
                                  <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubtelesale.png" height="25" class="tooltips" data-original-title="Telesales">
                                </div>
                                <p class="ribbon-content"></p>
                                <div class="btn-group padding-10 mb-10 center">
                                    <button class="btn btn-sm btn-success" type="button"><i class="fa fa-plus-circle"></i> Add</button>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="mt-element-ribbon bg-grey-steel">
                                <div class="ribbon ribbon-clip uppercase">
                                  <div class="ribbon-sub ribbon-clip"></div>
                                  <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubwebstore.png" height="25" class="tooltips" data-original-title="Web Store">
                                </div>
                                <p class="ribbon-content"></p>
                                <div class="btn-group padding-10 mb-10 center">
                                    <button class="btn btn-sm btn-success" type="button"><i class="fa fa-plus-circle"></i> Add</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    
                </div>
            </div>
            
        </div>

        <div class="card-footer py-4">
          
        </div>
      </div>
    </div>
  </div>
  
</div>
