<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Table -->
        <div class="row p--0 mt--4">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-1">
                <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage your {{ title }} account integration setting</h3>
                    </div>
                    <div class="col-4">
                        <div class="float-right">
                            <a class="btn btn-secondary btn-dark btn-sm">Save <i class="fa fa-angle-right"></i></a>
                            <a class="btn btn-secondary btn-secondary btn-sm"><i class="fa fa-share"></i> Create Shippo Account</a>
                            <a class="btn btn-secondary btn-outline btn-sm" routerLink="/channelconnector"><i class="fa fa-remove"></i> Close</a>
                        </div>
                    </div>
                  </div>
              </div>
              
              <div class="card-body">
                 
                  
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                      </li>
                  </ul>
  
                  <div class="tab-content">
                      <div id="app_store" class="container tab-pane active"><br>
                           <div class="row" style="border-bottom: 1px solid #CCC;">
                              <div class="col-3">
                                <h4 class="mb-0"><img src="{{ logo }}" class="image-logo" /></h4>
                              </div>
                              <div class="col-9">
                                <div class="float-right">
                                    <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-times-circle-o"></i> Remove All Listing From SellersHub</a>
                                    <a class="btn btn-secondary btn-outline btn-sm" routerLink="/channelconnector"><i class="fa fa-remove"></i> Close</a>
                                </div>
                              </div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class=" control-label">Channel Name</label><br>
                                        <input type="text" value="Bol Account" id="name" class="form-control form-control-sm" value="Tesco.com Account">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Tesco Access Token</label><br>
                                        <input type="text" value="" id="token" name="token" class="form-control form-control-sm" placeholder="Tesco Access Token is empty">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    Download the orders into KartzHu <input type="checkbox" checked="" value="true" id="downloadamazonorderid"><br />
                                    Download the catalog into KartzHub <input type="checkbox" checked="" value="true" id="downloadamazonorderid">
                                    <div class="form-group">
                                        <label class=" control-label">SKU in title</label><br>
                                            <input type="checkbox" value="true" id="skuInTitle">
                                            <small>SKU at the end of the title</small>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="btn-group float-right">
                                <button class="btn btn-secondary btn-dark btn-sm">Submit <i class="fa fa-angle-right"></i></button>
                                <button class="btn btn-outline btn-dark btn-sm">Save <i class="fa fa-angle-right"></i></button>
                            </div>
                            <br />
                            <br />
                      </div>
                  </div>
                  
              </div>
  
              <div class="card-footer py-4">
                  
                </div>
            </div>
          </div>
        </div>
    
  
      </div>
    </div>
  </div>