<<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Table -->
        <div class="row p--0 mt--4">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-1">
                <div class="row align-items-center">
                    <div class="col-7">
                      <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage your {{ titleEcommrce }} account integration setting</h3>
                    </div>
                    <div class="col-5">
                        
                    </div>
                  </div>
              </div>
              
              <div class="card-body">

                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link font-11" data-toggle="tab" href="#other">Listing Templates</a>
                      </li>
                  </ul>
  
                  <div class="tab-content">
                      <div id="app_store" class="container tab-pane active"><br>
                           <div class="row" style="border-bottom: 1px solid #CCC;">
                              <div class="col-3">
                                <h4 class="mb-0"><img src="{{ logoEcommerce }}" class="image-logo" /></h4>
                              </div>
                              <div class="col-9 float-right">
                                  <div class="float-right">
                                    <a class="btn btn-secondary btn-dark btn-sm">Save <i class="fa fa-angle-right"></i></a>
                                    <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-exchange text-green"></i> Test Connection</a>
                                    <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-download"></i> Openchart Catalog</a>
                                    <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-times-circle-o"></i> Remove All Listing From SellersHub</a>
                                    <a class="btn btn-secondary btn-outline btn-sm" routerLink="/channelconnector"><i class="fa fa-remove"></i> Close</a>
                                </div>
                              </div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class=" control-label"> Enter Name to Remember</label>
                                        <input type="text" value="enter name" class="form-control" id="name" placeholder="Enter name to remember this channelL">
                                      </div>
                                      <div class="form-group">
                                        <label class=" control-label"> Shopify Shop Url</label>
                                        <input type="text" value="" class="form-control" id="apiurl" placeholder="Enter your Shopify URL">
                                        <span class="help-block">( Please enter the HTTPS url for the admin site e.g https://abc.myshopify.com) <a target="_blank" href="http://http://www.sellershub.io
                                                                                                                                            ">
                                            <b>Help</b>
                                          </a>
                                          <span></span>
                                        </span>
                                      </div>
                                      <div class="form-group">
                                        <label class=" control-label"> API Password</label>
                                        <input type="text" value="" class="form-control" id="apikey" placeholder="Enter access token">
                                      </div>
                                      <div class="form-group">
                                        <label class="control-label"> Default Product Type</label>
                                        <input type="text" value="" class="form-control" id="producttype" placeholder="Enter Product Type. If this is empty, 'other' product type will be used">
                                      </div>
                                    <div class="form-group">
                                        <input type="checkbox" checked="" value="true" id="downloadamazoncatalogid">
                                        <label class="mt-checkbox mt-checkbox-outline"> Download the catalog into SellersHub </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" checked="" value="true" id="downloadamazonorderid">
                                        <label class="mt-checkbox mt-checkbox-outline"> Download the orders into SellersHub</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" checked="" value="true" id="downloadamazonorderid">
                                        <label class="mt-checkbox mt-checkbox-outline"> Import Orders to Shopify</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="alert alert-dark">
                                        Please create a private app in Shopify and use the API keys to connect your store. To create a private app, please click 'Apps' menu and then click 'Private Apps' on top right corner. Please make sure <strong>'Read &amp; Write' </strong> permissions are given 
                                    </div>
                                    <img style="width: 520px;" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubshopifyintegrationscreen1.png" class="img-responsive">
                                    <hr>
                                    <img style="width: 520px;" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubshopifyintegrationscreen2.png" class="img-responsive">
                                    <hr>
                                    <img style="width: 520px;" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubshopifyintegrationscreen3.png" class="img-responsive">
                                </div>
                            </div>
                      </div>
                      <div id="other" class="container tab-pane fade">
                        <div class="col-sm-12">
                            <div class="float-right mb-20 mt-10">
                                <a href="#" class="btn btn-secondary btn-sm btn-circle" ><i class="fa fa-arrow-up font-blue"></i> New Listing Template</a>
                                <a routerLink="/channelconnector" class="btn btn-secondary btn-sm btn-circle"><i class="fa fa-remove text-red"></i> Close</a>
                            </div>
                            <table class="table tableFixHead table-hover order-column v2">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Template Name</th>
                                        <th>Modified Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                      </div>
                  </div>
                  
              </div>
  
              <div class="card-footer py-4">
                  
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>>