<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Table -->
        <div class="row p--0 mt--4">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-1">
                <div class="row align-items-center">
                    <div class="col-12">
                      <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage your {{ title }} account integration setting</h3>
                    </div>
                    
                  </div>
              </div>
              
              <div class="card-body">
                 
                <!-- Modal Etsy category -->
                <div class="modal fade" id="modalCat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-success">
                          <h5 class="modal-title font-14 text-white">Manage Etsy Categories</h5>
                          <button type="button" #closemodal class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-sm-12">
                                <h4>Please select an Etsy Category</h4>
                                    <div class="form-group">
                                        <select class="form-control form-control-sm" id="catlevel0select" onchange="showcategories0()">
                                        <option value="-1">Please select</option>
                                        <option value="accessories">Accessories </option>
                                        <option value="art_and_collectibles">Art &amp; Collectibles </option>
                                        <option value="bags_and_purses">Bags &amp; Purses </option>
                                        <option value="bath_and_beauty">Bath &amp; Beauty </option>
                                        <option value="books_movies_and_music">Books, Movies &amp; Music </option>
                                        <option value="clothing">Clothing </option>
                                        <option value="craft_supplies_and_tools">Craft Supplies &amp; Tools </option>
                                        <option value="electronics_and_accessories">Electronics &amp; Accessories </option>
                                        <option value="home_and_living">Home &amp; Living </option>
                                        <option value="jewelry">Jewelry </option>
                                        <option value="paper_and_party_supplies">Paper &amp; Party Supplies </option>
                                        <option value="pet_supplies">Pet Supplies </option>
                                        <option value="shoes">Shoes </option>
                                        <option value="toys_and_games">Toys &amp; Games </option>
                                        <option value="weddings">Weddings </option>
                                        </select>
                                    </div>
                                    <div id="etsycatlevel1">
                                        <div class="form-group">
                                        <select class="form-control form-control-sm" id="catlevel1select" onchange="showcategories1()">
                                            <option value="-1">Please select</option>
                                            <option value="1"> Accessories </option>
                                            <option value="66"> Art &amp; Collectibles </option>
                                            <option value="132"> Bags &amp; Purses </option>
                                            <option value="199"> Bath &amp; Beauty </option>
                                            <option value="323"> Books, Movies &amp; Music </option>
                                            <option value="374"> Clothing </option>
                                            <option value="562"> Craft Supplies &amp; Tools </option>
                                            <option value="825"> Electronics &amp; Accessories </option>
                                            <option value="891"> Home &amp; Living </option>
                                            <option value="1179"> Jewelry </option>
                                            <option value="1250"> Paper &amp; Party Supplies </option>
                                            <option value="1351"> Pet Supplies </option>
                                            <option value="1429"> Shoes </option>
                                            <option value="1552"> Toys &amp; Games </option>
                                            <option value="1633"> Weddings </option>
                                        </select>
                                        </div>
                                    </div>
                                    <div id="etsycatlevel2">
                                        <select class="form-control form-control-sm" id="catlevel2select" onchange="selectcategories()">
                                        <option value="-1">Please select</option>
                                        <option value="1"> Accessories </option>
                                        <option value="66"> Art &amp; Collectibles </option>
                                        <option value="132"> Bags &amp; Purses </option>
                                        <option value="199"> Bath &amp; Beauty </option>
                                        <option value="323"> Books, Movies &amp; Music </option>
                                        <option value="374"> Clothing </option>
                                        <option value="562"> Craft Supplies &amp; Tools </option>
                                        <option value="825"> Electronics &amp; Accessories </option>
                                        <option value="891"> Home &amp; Living </option>
                                        <option value="1179"> Jewelry </option>
                                        <option value="1250"> Paper &amp; Party Supplies </option>
                                        <option value="1351"> Pet Supplies </option>
                                        <option value="1429"> Shoes </option>
                                        <option value="1552"> Toys &amp; Games </option>
                                        <option value="1633"> Weddings </option>
                                        </select>
                                    </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="btn-group float-right">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                            <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal"><i class="fa fa-check"></i> Select</button>
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>
                </div>

                <!-- Modal Etsy Store Section -->
                <div class="modal fade" id="modalSection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-success">
                          <h5 class="modal-title font-14 text-white">Manage Etsy Store Category/Section</h5>
                          <button type="button" #closemodal class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-sm-12">
                                <h4>Please select an Etsy Store Category/Section</h4>
                                <div class="form-group">
                                    <select class="form-control form-control-sm" id="etsystorectegoriesid">
                                    <option value="-1">Please select</option>
                                    </select>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="btn-group float-right">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                            <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal"><i class="fa fa-check"></i> Select</button>
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>
                </div>
                  
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link font-11" data-toggle="tab" href="#other">Listing Templates</a>
                      </li>
                  </ul>
  
                  <div class="tab-content">
                      <div id="app_store" class="container tab-pane active"><br>
                           <div class="row" style="border-bottom: 1px solid #CCC;">
                              <div class="col-3">
                                <h4 class="mb-0"><img src="{{ logo }}" class="image-logo" /></h4>
                              </div>
                              <div class="col-9 float-right">
                                <a class="btn btn-secondary btn-dark btn-sm">Save <i class="fa fa-angle-right"></i></a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-times-circle-o"></i> Remove All Listing From SellersHub</a>
                                <a class="btn btn-secondary btn-outline btn-sm" routerLink="/channelconnector"><i class="fa fa-remove"></i> Close</a>
                              </div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Channel Name</label>
                                        <br>
                                        <input type="text" value="Etsy Account" id="name" class="form-control form-control-sm " placeholder="Name to remember within Sellershub">
                                      </div>
                                      <div class="form-group">
                                        <label class="control-label">Etsy Access Token</label>
                                        <div class="input-group">
                                          <input type="text" readonly="" value="" id="apikey" class="form-control form-control-sm " placeholder="Enter Etsy API Key">
                                          <span class="input-group-btn">
                                            <a href="#" target="_blank"><button class="btn-xs" type="button">Generate Etsy Token</button>
                                            </a>
                                          </span>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <input type="checkbox" value="true" id="downloadamazoncatalogid">
                                        <label class=""> Download the catalog into Sellershub</label>
                                      </div>
                                      <div class="form-group">
                                        <input type="checkbox" value="true" id="downloadamazonorderid">
                                        <label class=""> Download the orders into Sellershub</label>
                                      </div>
                                      <div class="form-group">
                                        <input type="checkbox" value="true" id="enableoutofstock">
                                        <label class=""> Download Out of Stock Items</label>
                                      </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class=" control-label">SKU in title</label>
                                        <br>
                                        <input type="checkbox" value="true" id="skuInTitle">
                                        <small>S KU at the end of the title</small>
                                      </div>
                                      <div class="form-group">
                                        <label class="control-label">Make Items Inactive for out of stock items</label>
                                        <br>
                                        <input type="checkbox" value="true" id="enableoutofstock">
                                        <small> If this is enable, Etsy items will not be removed and moved to inactive. Sellershub will make the item active when the item is in stock</small>
                                      </div>
                                      <div class="form-group">
                                        <label class="control-label">Etsy Shop Language</label>
                                        <div class="">
                                          <select class="form-control form-control-sm input-inline input-medium" id="etsyshoplanuageid">
                                            <option value="en">English</option>
                                            <option value="de">German</option>
                                            <option value="fr">French</option>
                                            <option value="es">Spanish</option>
                                            <option value="it">Italy</option>
                                            <option value="jp">Japaneese</option>
                                            <option value="nl">Dutch</option>
                                            <option value="pt">Portuguese</option>
                                            <option value="ru">Russian</option>
                                          </select>
                                          <small>By default lanuage is set to English</small>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <small>The term 'Etsy' is a trademark of Etsy, Inc. This application uses the Etsy API but is not endorsed or certified by Etsy, Inc.</small>
                                      </div>
                                </div>
                            </div>
                      </div>
                      <div id="other" class="container tab-pane fade">
                            
                            <div class="col-sm-12">
                                <div class="float-right mb-20 mt-10">
                                    <a href="#" class="btn btn-secondary btn-sm btn-circle" ><i class="fa fa-arrow-up font-blue"></i> New Listing Template</a>
                                    <a routerLink="/channelconnector" class="btn btn-secondary btn-sm btn-circle"><i class="fa fa-remove text-red"></i> Close</a>
                                </div>
                                <table class="table tableFixHead table-hover order-column v2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Template Name</th>
                                            <th>Modified Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <br />
                            <div class="alert alert-dark mt-10">
                                Please enter Etsy Listing Profile details
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Template Name</label>
                                      <input type="text" value="" class="form-control form-control-sm" id="etsytemplatename" placeholder="Enter Template Name">
                                    </div>
                                    <div class="form-group">
                                      <label>Please Select a Shipping Profile</label>
                                      <select class="form-control form-control-sm" id="shippingProfileId">
                                        <option value="-1">Please select </option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label>Etsy Category Id</label>
                                      <div class="input-group">
                                        <input type="text" value="" class="form-control form-control-sm" id="etsycategoryid" placeholder="Enter Category Id">
                                        <span class="input-group-btn">
                                            <button data-toggle="modal" data-target="#modalCat" class="btn-xs" type="button">Categories</button>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label>Etsy Store Category (Section)</label>
                                      <div class="input-group">
                                        <input type="text" value="" class="form-control form-control-sm" id="storeCategoryId" placeholder="Store Category Id">
                                        <span class="input-group-btn">
                                            <button data-toggle="modal" data-target="#modalSection" class="btn-xs" type="button">Categories</button>
                                        </span>
                                      </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                      <div class="alert alert-warning"> Shipping Profile must be created in Etsy before listing from Sellershub. Currently Etsy API does not support calculated shipping when creating listing. Please follow the below article to list items with calculated shipping <a target="_blank" href="https://http://www.sellershub.io/">Help</a>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label>Who Made</label>
                                      <div>
                                        <select class="form-control form-control-sm" data-field="who_made" id="who_made">
                                          <option value="">Who made it?</option>
                                          <optgroup label="Select a maker">
                                            <option value="i_did">I did</option>
                                            <option value="collective">A member of my shop</option>
                                            <option value="someone_else">Another company or person</option>
                                          </optgroup>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label>What is it?</label>
                                      <div>
                                        <select class="form-control form-control-sm" data-field="what_is_it" id="what_is_it">
                                          <option value="">What is it?</option>
                                          <optgroup label="Select a use">
                                            <option value="a_finihsed_product">A Finished Product</option>
                                            <option value="a_supply_or_tool">A Supply or Tool</option>
                                          </optgroup>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label> When Made</label>
                                      <div>
                                        <select class="form-control form-control-sm" data-field="when_made" id="when_made">
                                          <option value=""> When was it made? </option>
                                          <option value="made_to_order">Made To Order</option>
                                          <option value="2020_2020">2020 - 2020</option>
                                          <option value="2010_2019">2010 - 2019</option>
                                          <option value="2001_2009">2001 - 2009</option>
                                          <option value="before_2001">Before 2001</option>
                                          <option value="2000_2000">2000 - 2000</option>
                                          <option value="1990s">1990s</option>
                                          <option value="1980s">1980s</option>
                                          <option value="1970s">1970s</option>
                                          <option value="1960s">1960s</option>
                                          <option value="1950s">1950s</option>
                                          <option value="1940s">1940s</option>
                                          <option value="1930s">1930s</option>
                                          <option value="1920s">1920s</option>
                                          <option value="1910s">1910s</option>
                                          <option value="1900s">1900s</option>
                                          <option value="1800s">1800s</option>
                                          <option value="1700s">1700s</option>
                                          <option value="before_1700">Before 1700</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label>Automatically Renew Listings? </label>
                                      <input type="checkbox" id="automaticallyrenewlisting" value="true">
                                    </div>
                                    <div class="form-group">
                                      <label>Append SKU in Title? </label>
                                      <input type="checkbox" id="appendskuinttitle" value="true">
                                    </div>
                                  </div>
                            </div>
                      </div>
                  </div>
                  
              </div>
  
              <div class="card-footer py-4">
                  
                </div>
            </div>
          </div>
        </div>
    
  
      </div>
    </div>
  </div>