<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-12">
                <label><i class="fa fa-cube"></i>  Edit eBay Item for site UK</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="pull-right">
                    <a href="#!" class="btn btn-sm btn-secondary font-10"><i class="fa fa-check"></i> Savet</a>
                    <a href="#!" class="btn btn-sm btn-secondary font-10"><i class="fa fa-upload"></i> Update to eBay</a>
                    <a href="#!" class="btn btn-sm btn-secondary font-10"><i class="fa fa-times font-red"></i>Close eBay Item</a>
                    <a href="#listingerror" class="btn btn-sm btn-danger font-10"><i class="fa fa-times font-red"></i>Close</a>
                </div>

            </div><br>
            </div>
        </div>
        
        <div class="card-body">
            <div class="row form-group">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp bold uppercase"><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubebay.png" height="40"></span>
                    </div>
                </div>
            </div>  
		
            <form role="form">
                <div class="row form">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label class="control-label">Listing Id:</label>
                        
                            <a target="_blank" class="btn btn-xs purple-plum" href="https://login.sellershub.io/channels/viewitem?id=2">403025571499</a>
                            <a class="btn btn-sm btn-circle btn-default" href="javascript:void(0)">Re-Download from eBay</a>
                        
                    </div>
                    

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> 
                        <label class="control-label" style="padding-right: 5px">Listing Status</label>
                        <span class="label label-sm label-success" style="background-color: cyan; color: black;"> ACTIVE</span>
                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> 
                        <div class="form-group">
                            <label class="control-label">Item Title:</label>
                            <input type="text" class="form-control" id="titleid" value="ELEPHANT CHAPATTIS ATTA 8 x MEDIUM FLOUR - READY MADE - 360gListed for charity" placeholder="Product title">
                            <input readonly="" type="text" id="ebaytitlecountfield" size="3" maxlength="3" value="80">
                            characters left
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> 
                        <div class="form-group">
                            <label class="control-label">Item Sub Title:</label>
                                <input  type="text" class="form-control" id="subtitleid" value="" placeholder="Product Sub title">
                                <input readonly="" type="text" id="ebaysubtitlecountfield" size="3" maxlength="3" value="80">
                                characters left
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> 
                        <div class="form-group">
                            <label class="control-label">Listing Type: <span class="required">* </span></label>
                            <select id="listingformat" class="form-control">
                                        <option value="StoresFixedPrice">Shop Inventory Item(s)</option>
                                        <option selected="" value="FixedPriceItem">Fixed Price</option>
                                        <option value="Chinese">Auction</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> 
                        <div class="form-group">
                            <label class="control-label">Listing Duration: <span class="required">* </span></label>
                            <select id="listingdurationid" class="form-control">
                                <option selected="" value="GTC">GTC</option>
                                <option value="Days_30">30 Days</option>
                                <option value="Days_10">10 Days</option>
                                <option value="Days_7">7 Days</option>
                                <option value="Days_5">5 Days</option>
                                <option value="Days_3">3 Days</option>
                                <option value="Days_1">1 Days</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> 
                        <div class="form-group">
                            <label class="control-label">Listing Template: <span class="required">* </span></label>
                            <select id="templateId" class="form-control">
                                <option value="-1">Please select a listing template</option>
                                
                                <option selected="" value="1">default</option>
                                
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">  
                        <div class="form-group">
                            <label class=" control-label">Auction Start Price:</label>
                            <input type="text" class="form-control" id="startprice" value="" placeholder="Auction Start Price">
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> 
                        <div class="form-group">
                            <label class="control-label">Auction Reserve Price:</label>
                            <input type="text" class="form-control" id="reserveprice" value="" placeholder="Auction Reserve Price">
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> 
                            <div class="form-group">
                                <label class="control-label">Selling Price (Buy It Now Price):</label>
                                    <input type="text" class="form-control" id="binprice" value="28.00" placeholder="BuyIt Now Price">
                            </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> 
                            <div class="form-group">
                                <label class="control-label">Primary Category:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="primarycategory" value="98849" placeholder="Primary Category">
                                    <span class="input-group-btn">
                                        <a href="javascript:void(0)" >
                                            <button class="btn-xs" type="button"><i class="fa fa-search"></i></button>
                                        </a>	
                                    </span>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> 
                        <div class="form-group">
                            <label class="control-label">Secondary Category:</label>
                            <div class="input-group">
                            <input type="text" class="form-control" id="secondarycategory" value="" placeholder="Secondary Category">
                            <span class="input-group-btn">
                                    <a href="javascript:void(0)" >
                                        <button class="btn-xs" type="button"><i class="fa fa-search"></i></button>
                                    </a>	
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> 
                        <div class="form-group">
                            <label class="control-label">eBay Store Category:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="storecategoryone" value="" placeholder="eBay Store Category">
                                <span class="input-group-btn">
                                    <a href="javascript:void(0)" >
                                        <button class="btn-xs" type="button"><i class="fa fa-search"></i></button>
                                    </a>	
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> 
                        <div class="form-group">
                            <label class="control-label">eBay Store Category Two</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="storecategorytwo" value="" placeholder="eBay Store Category Two">
                                <span class="input-group-btn">
                                    <a href="javascript:void(0)">
                                        <button class="btn-xs" type="button"><i class="fa fa-search"></i></button>
                                    </a>	
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> 
                        <div class="form-group">
                            <label class=" control-label">SKU:</label>
                                <input type="text" class="form-control" id="channelitemskuid" value="403025571499">
                        </div>
                    </div>

                    
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> 
                    <div class="form-group">
                            <label class="control-label">Quantity:</label>
                                <input type="text" id="qtychangeid" class="form-control" value="4" readonly="">
                                <span class="input-group-btn">
                                    <a href="javascript:void(0)">
                                        <button class="btn-xs" type="button">Edit Quantity </button>
                                    </a>
                                </span>
                        </div>
                    </div><br>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> 
                        <div class="form-group">
                            <label class=" control-label">Listing Quantity:</label>
                                        <input type="text" readonly="" id="listingqtychangeid" class="form-control" value="4">
                            </div>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> 
                        <div class="form-group">
                            <!-- <label class="control-label">Item Specifics: </label>
                                <a class="btn btn-default btn-sm btn-circle" href="javascript:void(0)">Item Specifics <i class="fa fa-angle-right"></i></a> -->
                        </div>
                    </div><br>
                    <div class="col-12" style="padding-top: 10px; padding-bottom: 10px"> 
                        <div class="form-group">
                            <label class="control-label">Item Specifics: </label>&nbsp;
                                <a class="btn btn-default btn-sm btn-circle" href="javascript:void(0)">Item Specifics <i class="fa fa-angle-right"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                            <label class=" control-label">Shipping:</label>&nbsp;
                                <a href="javascript:void(0)" class="btn btn-default btn-sm btn-circle"><i class="fa fa-truck"></i> Override Shipping </a>
                        </div>
                    </div><br>
                        
                        
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                        <div class="form-group">
                            <label class="control-label">Item Description: 
                            </label>
                                <!-- <editor
                                    apiKey="3gek4kbjbw1x1ymh8rm76x017i31n5kxul87yok3761qhdc1"
                                    [init]="{
                                        height: 300,
                                        menubar: true,
                                        plugins: ['advlist autolink lists link image charmap print preview anchor','searchreplace visualblocks code fullscreen','insertdatetime media table paste code help wordcount'],
                                        toolbar:'undo redo | formatselect | bold italic backcolor | \
                                        alignleft aligncenter alignright alignjustify | \
                                        bullist numlist outdent indent | removeformat | help'
                                    }"
                                    ></editor> -->
                        </div>
                    </div>
                    </div>
                </form>

                <div id="ebayimagesdivid">
                    <br>
                    <div class="card box ">
                        <div class="row form-group" style="margin-top: 10px;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="caption">
                                  &nbsp;&nbsp;  <strong>Product Images</strong>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="actions">
                                    <a class="btn btn-sm btn-circle btn-default"  href="javascript:void(0)"><i class="fa fa-image"></i> Add Images</a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="card box ">
                        <div class="row form-group" style="margin-top: 10px;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="caption">
                                    &nbsp;&nbsp;<strong><i class="fa fa-tasks"></i> Product Variations</strong>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="actions">
                                </div>
                            </div>
                    </div>

                    <div class="card-body">
                        
                            <div class="alert alert-default">
                                <p>There are no variations for this product. Please add new variations from Variation tab and then add to your eBay product</p>
                            </div>
                        

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="alert alert-default">
                                    <strong>Variation Theme:&nbsp;&nbsp;</strong>
                                    <a href="javascript:void(0)" class="btn btn-sm btn-circle btn-primary">Manage Variation Theme</a>
                                    <a href="javascript:void(0)" class="btn btn-sm btn-primary btn-circle" >Select a Variation for Images</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-scrollable">
                                    <table class="table tableFixHead table-hover order-column v2">
                                        <thead>
                                        <tr>
                                        <th> Image
                                        </th>
                                            <th>
                                                SKU
                                            </th>
                                            <th>
                                                UPC/EAN
                                            </th>
                                            <th>
                                                Price
                                            </th>
                                            <th>
                                                Total Qty
                                            </th>
                                            <th>
                                                Listing Qty
                                            </th>
                                            <th>
                                                Listing Status
                                            </th>
                                            
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                        </thead>

                                        <tbody>

                                        
                                        </tbody>
                                    </table>
                                    </div><br>

                                    <div class="alert alert-default">
                                        <p>Please add new variation SKUs from variation tab</p>
                                    </div>

                                    <div class="table-scrollable">

                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>
                                                SKU
                                            </th>


                                            <th>
                                                Qty
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        

                                        </tbody>
                                    </table>
                                </div>
                    </div>
                    </div>
            </div>

        <!-- </div> -->
        <div class="card-footer py-4">
            
        </div>
      </div>
    </div>
  </div>
  
</div>
