<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
        <div class="card shadow">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card box border-primary">
                                <div class="card-header bg-primary text-white">
                                    <div class="caption">
                                        <i class="fa fa-book"></i>  Manage Accounting Settings 
                                    </div>
                                </div>
                            </div>
                                <div class="card transparent border-primary">
                                    <div class="card-header">
                                        <div class="row align-items-center">
                                            <div class="col-12">
                                                <label><img style="height:50px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubkashflow.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <!-- <label><i class="fa fa-truck"></i> Manage DPD Integration</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                    
                                                <div class="pull-right">
                                                    <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a>
                                                    <a data-toggle="modal" data-target="#moreModel" placement="bottom" ngbTooltip="Test Connection" class="btn btn-sm btn-default btn-circle"> Test Connection </a>
                                                    <a class="btn btn-sm btn-danger btn-circle"  href="#accountindex"><i class="fa fa-times font-red"></i> Close</a>		
                                                </div>
                    
                                            </div><br>
                                        </div>
                                    </div>
                                    <div class="card-body form">
                                        <h4>Please enter login details and click on "Test Connection"</h4>
                                        <form class="form-horizontal" role="form">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 control-label">Kashflow Login Name</label>
                                                            <div class="col-md-8">
                                                                <input id="kashflowloginid" type="text" value="vamshik.thogaru@gmail.com" class="form-control" placeholder="Kashflow Login name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 control-label">Kashflow Password</label>
                                                            <div class="col-md-8">
                                                                <input id="kashflowpasswordid" type="password" value="make679tub" class="form-control" placeholder="Kashflow Password">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <h4>Please select channels to enable for Kashflow Integration</h4>

                                        <!-- <div class="alert alert-default">
                                            <p>Please note that only Quickbooks Online System is supported</p>
                                        </div> -->

                                        <div class="table-scrollable">
                                            <table class="table table-responsive table-striped table-bordered table-hover order-column dataTable no-footer">
                                                <thead>
                                                    <tr>
                                                        <th>Enable</th>
                                                    
                                                        <th>Channel</th>
                                                        <th>Payment Method</th>
                                                        <th>Deposit To</th>

                                                        <th>Tax Code (Sales)</th>
                                                        <th>Tax Code (Shipping)</th>

                                                        <th>Item Type(Sales)</th>
                                                        <th>Item Type (Shipping)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                            <tr>
                                                                <td>
                                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                        <input type="checkbox"  checked="" id="5418channel">
                                                                        <span></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubshopify.png" height="35"><br>

                                                                    shopify -  enter name
                                                                    <input type="hidden" value="5418" name="channelid">

                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="paymentmethodidinput5418" value="" name="paymentmethod">
                                                                    <select id="paymentmethodid5418"  class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="bankaccountidinput5418" value="" name="bankaccount">
                                                                    <select id="bankaccountid5418"  class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>

                                                                <td>
                                                                        <input type="hidden" id="taxcodeidinput5418" value="" name="taxcodeidinput">
                                                                        <select id="taxcodeid5418"  class="form-control">
                                                                            <option value="1">Please select</option>
                                                                            

                                                                        </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="taxcodeidinputshipping5418" value="" name="taxcodeidinputshipping">
                                                                    <select id="taxcodeidshipping5418" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinput5418" value="" name="itemtypeidinput">
                                                                    <select id="itemtypesales5418"  class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinputshipping5418" value="" name="itemtypeidinputshipping">
                                                                    <select id="itemtypesalesshipping5418"  class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>
                                                            </tr>
                                                    
                                                            <tr>
                                                                <td>
                                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                        <input type="checkbox" checked="" id="5419channel">
                                                                        <span></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubshopify.png" height="35"><br>

                                                                    shopify -  enter name
                                                                    <input type="hidden" value="5419" name="channelid">

                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="paymentmethodidinput5419" value="" name="paymentmethod">
                                                                    <select id="paymentmethodid5419"   class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="bankaccountidinput5419" value="" name="bankaccount">
                                                                    <select id="bankaccountid5419"  class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>

                                                                <td>
                                                                        <input type="hidden" id="taxcodeidinput5419" value="" name="taxcodeidinput">
                                                                        <select id="taxcodeid5419" class="form-control">
                                                                            <option value="1">Please select</option>
                                                                            

                                                                        </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="taxcodeidinputshipping5419" value="" name="taxcodeidinputshipping">
                                                                    <select id="taxcodeidshipping5419" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinput5419" value="" name="itemtypeidinput">
                                                                    <select id="itemtypesales5419"  class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinputshipping5419" value="" name="itemtypeidinputshipping">
                                                                    <select id="itemtypesalesshipping5419"  class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>
                                                            </tr>
                                                    
                                                            <tr>
                                                                <td>
                                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                        <input type="checkbox"  checked="" id="5420channel">
                                                                        <span></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubshopify.png" height="35"><br>

                                                                    shopify -  enter name
                                                                    <input type="hidden" value="5420" name="channelid">

                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="paymentmethodidinput5420" value="" name="paymentmethod">
                                                                    <select id="paymentmethodid5420" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="bankaccountidinput5420" value="" name="bankaccount">
                                                                    <select id="bankaccountid5420" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>

                                                                <td>
                                                                        <input type="hidden" id="taxcodeidinput5420" value="" name="taxcodeidinput">
                                                                        <select id="taxcodeid5420"  class="form-control">
                                                                            <option value="1">Please select</option>
                                                                            

                                                                        </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="taxcodeidinputshipping5420" value="" name="taxcodeidinputshipping">
                                                                    <select id="taxcodeidshipping5420" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinput5420" value="" name="itemtypeidinput">
                                                                    <select id="itemtypesales5420"  class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinputshipping5420" value="" name="itemtypeidinputshipping">
                                                                    <select id="itemtypesalesshipping5420"class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>
                                                            </tr>
                                                    
                                                            <tr>
                                                                <td>
                                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                        <input type="checkbox" id="5452channel">
                                                                        <span></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubetsy.png" height="35"><br>

                                                                    etsy -  Etsy Account
                                                                    <input type="hidden" value="5452" name="channelid">

                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="paymentmethodidinput5452" value="" name="paymentmethod">
                                                                    <select id="paymentmethodid5452" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="bankaccountidinput5452" value="" name="bankaccount">
                                                                    <select id="bankaccountid5452" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>

                                                                <td>
                                                                        <input type="hidden" id="taxcodeidinput5452" value="" name="taxcodeidinput">
                                                                        <select id="taxcodeid5452" class="form-control">
                                                                            <option value="1">Please select</option>
                                                                            

                                                                        </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="taxcodeidinputshipping5452" value="" name="taxcodeidinputshipping">
                                                                    <select id="taxcodeidshipping5452" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinput5452" value="" name="itemtypeidinput">
                                                                    <select id="itemtypesales5452" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinputshipping5452" value="" name="itemtypeidinputshipping">
                                                                    <select id="itemtypesalesshipping5452" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>
                                                            </tr>
                                                    
                                                            <tr>
                                                                <td>
                                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                        <input type="checkbox" id="5475channel">
                                                                        <span></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubebay.png" height="35"><br>

                                                                    ebay -  
                                                                    <input type="hidden" value="5475" name="channelid">

                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="paymentmethodidinput5475" value="" name="paymentmethod">
                                                                    <select id="paymentmethodid5475" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="bankaccountidinput5475" value="" name="bankaccount">
                                                                    <select id="bankaccountid5475"  class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>

                                                                <td>
                                                                        <input type="hidden" id="taxcodeidinput5475" value="" name="taxcodeidinput">
                                                                        <select id="taxcodeid5475"  class="form-control">
                                                                            <option value="1">Please select</option>
                                                                            

                                                                        </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="taxcodeidinputshipping5475" value="" name="taxcodeidinputshipping">
                                                                    <select id="taxcodeidshipping5475" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinput5475" value="" name="itemtypeidinput">
                                                                    <select id="itemtypesales5475" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinputshipping5475" value="" name="itemtypeidinputshipping">
                                                                    <select id="itemtypesalesshipping5475" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>
                                                            </tr>
                                                    
                                                            <tr>
                                                                <td>
                                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                        <input type="checkbox" id="5476channel">
                                                                        <span></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubwoocommerce.png" height="35"><br>

                                                                    woocommerce -  Woocommerce Account
                                                                    <input type="hidden" value="5476" name="channelid">

                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="paymentmethodidinput5476" value="" name="paymentmethod">
                                                                    <select id="paymentmethodid5476"  class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="bankaccountidinput5476" value="" name="bankaccount">
                                                                    <select id="bankaccountid5476" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>

                                                                <td>
                                                                        <input type="hidden" id="taxcodeidinput5476" value="" name="taxcodeidinput">
                                                                        <select id="taxcodeid5476"  class="form-control">
                                                                            <option value="1">Please select</option>
                                                                            

                                                                        </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="taxcodeidinputshipping5476" value="" name="taxcodeidinputshipping">
                                                                    <select id="taxcodeidshipping5476" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinput5476" value="" name="itemtypeidinput">
                                                                    <select id="itemtypesales5476"  class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinputshipping5476" value="" name="itemtypeidinputshipping">
                                                                    <select id="itemtypesalesshipping5476" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>
                                                            </tr>
                                                    
                                                            <tr>
                                                                <td>
                                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                        <input type="checkbox" id="5498channel">
                                                                        <span></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubpriceminister.png" height="35"><br>

                                                                    priceminister -  enter name
                                                                    <input type="hidden" value="5498" name="channelid">

                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="paymentmethodidinput5498" value="" name="paymentmethod">
                                                                    <select id="paymentmethodid5498" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="bankaccountidinput5498" value="" name="bankaccount">
                                                                    <select id="bankaccountid5498" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>

                                                                <td>
                                                                        <input type="hidden" id="taxcodeidinput5498" value="" name="taxcodeidinput">
                                                                        <select id="taxcodeid5498"  class="form-control">
                                                                            <option value="1">Please select</option>
                                                                            

                                                                        </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="taxcodeidinputshipping5498" value="" name="taxcodeidinputshipping">
                                                                    <select id="taxcodeidshipping5498"  class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinput5498" value="" name="itemtypeidinput">
                                                                    <select id="itemtypesales5498" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinputshipping5498" value="" name="itemtypeidinputshipping">
                                                                    <select id="itemtypesalesshipping5498" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>
                                                            </tr>
                                                    
                                                            <tr>
                                                                <td>
                                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                        <input type="checkbox" id="5499channel">
                                                                        <span></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubsears.png" height="35"><br>

                                                                    sears -  enter name
                                                                    <input type="hidden" value="5499" name="channelid">

                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="paymentmethodidinput5499" value="" name="paymentmethod">
                                                                    <select id="paymentmethodid5499" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" id="bankaccountidinput5499" value="" name="bankaccount">
                                                                    <select id="bankaccountid5499" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        
                                                                    </select>
                                                                </td>

                                                                <td>
                                                                        <input type="hidden" id="taxcodeidinput5499" value="" name="taxcodeidinput">
                                                                        <select id="taxcodeid5499" class="form-control">
                                                                            <option value="1">Please select</option>
                                                                            

                                                                        </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="taxcodeidinputshipping5499" value="" name="taxcodeidinputshipping">
                                                                    <select id="taxcodeidshipping5499" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinput5499" value="" name="itemtypeidinput">
                                                                    <select id="itemtypesales5499" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>

                                                                <td>
                                                                    <input type="hidden" id="itemtypeidinputshipping5499" value="" name="itemtypeidinputshipping">
                                                                    <select id="itemtypesalesshipping5499" class="form-control">
                                                                        <option value="1">Please select</option>
                                                                        

                                                                    </select>

                                                                </td>
                                                            </tr>
                                                    
                                                                                                                

                                                </tbody>

                                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="moreModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Connection Result</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
            <div>
                <i class="fa fa-exclamation-triangle"></i> Connection was not successfull NO Incorrect username or password
            </div>
          
        </div>
        <div class="modal-footer">
          <div class="btn-group float-right">
            <!-- <a type="button" href="https://accounts.intuit.com/index.html?partner_uid_button=google&offering_id=Intuit.sbg-fms.ippdevx&redirect_url=https%3A%2F%2Fappcenter.intuit.com%2Fapp%2Fconnect%2Foauth2%3Fclient_id%3DABggUgbIUdVCnb6CULwo8Rb54L5Vf6HodAmGfpnM7jGSCR6zJC%26response_type%3Dcode%26scope%3Dcom.intuit.quickbooks.accounting%26redirect_uri%3Dhttps%253A%252F%252Flogin.sellershub.io%252Faccounting%252Foauth2redirect%26state%3Dd3b88b30-e6a3-4013-9dbe-2c2669bf44b4&appfabric=true" class="btn btn-sm btn-dark"> Continue</a> -->
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
</div>