<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-4">
                <h3 class="mb-0">Waiting to List</h3>
              </div>
              <div class="col-8 text-right">
                <div class="float-right">
                    <a class="btn btn-secondary btn-outline btn-sm float-right" routerLink="#waitingtolist"><i class="fa fa-times font-red"></i>  Remove All Products</a>

                </div>
                
              </div>
            </div>
        </div>
        <div class="box-search">
            <div class="row">
              <div class='col-12'>
                <table>
                  <tr>
                    <td>&nbsp;</td>
                    <td>
                      <select class="form-control form-control-sm search-width">
                        <option value=''>Search By</option>
                        <option value='sku'>SKU</option>
                        <option value='title'>Title</option>
                        <!-- <option value="4">Order No</option>
                        <option value="5">Customer Name</option> -->
                      </select>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                      <div class="input-group search-width-input">
                        <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                        <div class="input-group-append">
                          <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                    </td> 
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                      <select class="form-control form-control-sm ">
                        <option value=''>Filter By Channel - All Channels</option>
                        <option value='amazon'>Amazon</option>
                        <!-- <option value='50'>50</option>
                        <option value='25'>25</option>
                        <option value="10">10</option> -->
                      </select>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                      <select class="form-control form-control-sm search-width">
                        <option value=''>Show</option>
                        <option value='100'>100</option>
                        <option value='50'>50</option>
                        <option value='25'>25</option>
                        <option value="10">10</option>
                      </select>
                    </td>
                    
                  </tr>
                </table>
              </div>
            </div>
        </div>
        
        <div class="card-body">

            <div class="tab-content">
                <div id="app_store" class="container tab-pane active"><br>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table align-items-center table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col"><input type="checkbox" name="record"></th>
                                        <th scope="col">Image</th>
                                        <th scope="col">SKU</th>
                                        <th scope="col">Product Id</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Selling Price </th>
                                        <th scope="col">Channel</th>
                                        <th scope="col">Total Quantity</th>
                                        <th scope="col">Listing Quantity</th>
                                        <th scope="col">Listing Status</th>
                                        <th scope="col">Modified Date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        
                                </tbody>
                            </table>
                        </div>
                      </div>
                </div>
            </div>
            
        </div>

        <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
      </div>
    </div>
  </div>
  
</div>