<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-2">
              <h3 class="mb-0">Channel Products</h3>
            </div>
            <div class="col-10 text-right">
              <div class="float-right">
                <a class="btn btn-sm btn-secondary font-10" data-toggle="modal" data-target="#dispatch">
                  <i class="fa fa-exchange"></i> Currency Converter </a>
                <button class="btn btn-sm btn-secondary font-10">
                  <i class="fa fa-upload font-blue"></i> Bulk Revise Prices </button>
                <a class="btn btn-sm btn-secondary font-10" data-toggle="modal" data-target="#schedule">
                  <i class="fa fa-time text-green"></i> Schedule Listing </a>
                <a class="btn btn-sm btn-secondary font-10" data-toggle="modal" data-target="#listnow">
                  <i class="fa fa-list text-dark"></i> List Now </a>
                <a class="btn btn-sm btn-secondary font-10">
                  <i class="fa fa-trash text-red"></i> Remove All </a>
                <a class="btn btn-sm btn-default font-10">
                  <i class="fa fa-search"></i>
                </a>
              </div>

              
            </div>
          </div>
        </div>
        <div class="box-search">
          <div class="row">
            <div class='col-12'>
              <table>
                <tr>
                  <td> &nbsp; Search </td>
                  <td>
                    <select class="form-control form-control-sm search-width">
                      <option value=''>Search What</option>
                      <option value='SKU'>SKU</option>
                      <option value='Channel'>Channel</option>
                      <option value='Title'>Title</option>
                    </select>
                  </td>
                  <td>
                    <div class="input-group search-width-input">
                      <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-default" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </td>
                  <td> &nbsp; Show </td>
                  <td>
                    <select class="form-control form-control-sm search-width">
                      <option value=''>100</option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div *ngIf="showMe">
          <div class="alert alert-block alert-default fade-in">
            <strong>Bulk Revise Product Prices</strong>
            <br>
            <!--	<p>Please search products and  select a percentage to change price. e.g 5%  to increase or decrease the current price by 5%</p> -->
            <p>Please select products to change price.</p>
            <br>
            <table>
              <tbody>
                <tr>
                  <td>
                    <select id="pricetype" class="form-control input-xsmall input-inline">
                      <option value="pricebynumber">By Number</option>
                      <option value="pricebypercentage">By Percentage</option>
                    </select>
                  </td>
                  <td style="padding-right: 4px;">
                    <input value="0" placeholder="Percentage to increase e.g 5%" class="form-control" type="text" id="priceincreaseamountid">
                  </td>
                  <td>
                    <a class="btn btn-sm btn-default  btn-circle" href="javascript:void(0)">Increase</a>
                    <a class="btn btn-sm btn-btn  btn-default  btn-circle" href="javascript:void(0)">Decrease</a>
                    <a class="btn btn-sm btn-default  btn-circle" href="javascript:void(0)">Cancel</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="table-responsive">
          <!-- <button  class="btn btn-sm btn-default" (click)="toggleTag()"><i class="fa fa-upload font-blue"></i> Bulk Revise Prices</button> -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">
                  <input id="customCheck5" type="checkbox">
                </th>
                <th scope="col">Image</th>
                <th scope="col">SKU</th>
                <th scope="col">Product ID</th>
                <th scope="col">Title</th>
                <th scope="col">Selling</th>
                <th scope="col">Channel</th>
                <th scope="col">Total Quantity</th>
                <th scope="col">Listing Quantity</th>
                <th scope="col">Modified Date</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd gradeX" role="row">
                <td style="vertical-align: middle;" class="table-checkbox">
                  <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                    <input type="checkbox" name="waitingproductsselect" id="81878waitingproductsselect" class="group-checkable" value="81878" data-set="#waitingitems_table .checkboxes">
                    <span></span>
                  </label>
                </td>
                <td style="vertical-align: middle;" class="sorting_1">
                  <img width="50px" src="https://s3-us-west-2.amazonaws.com/synmultichannelprod/188/87625_9d132979-74b5-42b6-98d3-4adf4f7b5f470.jpg">
                </td>
                <td style="vertical-align: middle;">6692532</td>
                <td style="vertical-align: middle;">&nbsp;</td>
                <td style="vertical-align: middle;">
                  <a href="javascript:void(0)">Product Title</a>
                </td>
                <td style="vertical-align: middle;"></td>
                <td style="vertical-align: middle;">
                  <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubjet.png" height="35">
                  <br>
                </td>
                <td style="vertical-align: middle;">
                  <span class="badge badge-default">0</span>
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#ticket1Modal" class="btn btn-sm">Edit</a>
                </td>
                <td style="vertical-align: middle;">
                  <span class="badge badge-success">0</span>
                </td>
                <!--<td style="vertical-align: middle;"><p style="color:red"></p></td> -->
                <!--<td style="vertical-align: middle;"><span class="label label-sm label-success"></span></td> -->
                <td style="vertical-align: middle;">
                  <a class="tooltips" data-container="body" data-placement="top" data-html="true" data-original-title="19/09/2021 11:09:08">19 Sep 2021</a>
                </td>
                <td>
                  
                  <div ngbDropdown class="d-inline-block">
                    <button ngbDropdownToggle class="btn btn-sm btn-outline"> Actions <i class="fa fa-angle-down"></i></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <a ngbDropdownItem href="#add-new-products">Edit Channel Product</a>
                      <a ngbDropdownItem href="#add-new-products">Edit Sellershub Product</a>
                      <a ngbDropdownItem href="javascript:void(0)">Update to Channel</a>
                      <a ngbDropdownItem href="javascript:void(0)">Remove</a>
                    </div>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="dispatch" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Currency Convertor</h3>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        </div>
        <div class="modal-body">
          <h4>Please select from Currency</h4>
          <div class="form-group">
            <select class="form-control" id="fromcurrencyid">
              <option value="-1">From Currency</option>
              <option value="BGN">BGN</option>
              <option value="NZD">NZD</option>
              <option value="ILS">ILS</option>
              <option value="RUB">RUB</option>
              <option value="CAD">CAD</option>
              <option value="USD">USD</option>
              <option value="PHP">PHP</option>
              <option value="CHF">CHF</option>
              <option value="AUD">AUD</option>
              <option value="JPY">JPY</option>
              <option value="TRY">TRY</option>
              <option value="HKD">HKD</option>
              <option value="MYR">MYR</option>
              <option value="HRK">HRK</option>
              <option value="CZK">CZK</option>
              <option value="IDR">IDR</option>
              <option value="DKK">DKK</option>
              <option value="NOK">NOK</option>
              <option value="HUF">HUF</option>
              <option value="GBP">GBP</option>
              <option value="MXN">MXN</option>
              <option value="THB">THB</option>
              <option value="ISK">ISK</option>
              <option value="ZAR">ZAR</option>
              <option value="BRL">BRL</option>
              <option value="SGD">SGD</option>
              <option value="PLN">PLN</option>
              <option value="INR">INR</option>
              <option value="KRW">KRW</option>
              <option value="RON">RON</option>
              <option value="CNY">CNY</option>
              <option value="SEK">SEK</option>
              <option value="EUR">EUR</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control" id="catlevel1select">
              <option value="-1">To Currency</option>
            </select>
          </div>
          <div id="tocurrencyids1">
            <input type="text" class="form-control" id="changescurval" placeholder="Enter Currency Exchange Rate">
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-sm btn-dark">
              <i class="fa fa-upload font-blue"></i> Update </button>
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
              <i class="fa fa-times text-red"></i> Close </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="schedule" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Please select a time to schedule listing</h3>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        </div>
        <div class="modal-body">
          <div class="table-scrollable">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th> Schedule Date </th>
                  <th> Time (Hour) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                  <th> Time (Minute) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                  <th> Time Zone&nbsp;&nbsp;&nbsp;&nbsp; </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="ni ni-calendar-grid-58"></i>
                        </span>
                      </div>
                      <input class="form-control form-control-sm datepicker" value="2021-09-19" placeholder="From" name="dp" ngbDatepicker type="text" />
                    </div>
                    <!-- <div class="input-group date date-picker margin-bottom-5" data-date-format="yyyy/mm/dd"><input id="salestartdate" type="text" value="2021/09/19" class="form-control form-filter input-sm" readonly="" name="Schedule Date" placeholder="Schedule Time"><span class="input-group-btn"><button class="btn btn-xs default" type="button"><i class="fa fa-calendar"></i></button></span></div> -->
                  </td>
                  <td>
                    <select id="scheduletimeslotshour" class="form-control">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      <option>13</option>
                      <option>14</option>
                      <option>15</option>
                      <option>16</option>
                      <option>17</option>
                      <option>18</option>
                      <option>19</option>
                      <option>20</option>
                      <option>21</option>
                      <option>22</option>
                      <option>23</option>
                    </select>
                  </td>
                  <td>
                    <select id="scheduletimeslotsminute" class="form-control">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      <option>13</option>
                      <option>14</option>
                      <option>15</option>
                      <option>16</option>
                      <option>17</option>
                      <option>18</option>
                      <option>19</option>
                      <option>20</option>
                      <option>21</option>
                      <option>22</option>
                      <option>23</option>
                      <option>24</option>
                      <option>25</option>
                      <option>26</option>
                      <option>27</option>
                      <option>28</option>
                      <option>29</option>
                      <option>30</option>
                      <option>31</option>
                      <option>32</option>
                      <option>33</option>
                      <option>34</option>
                      <option>35</option>
                      <option>36</option>
                      <option>37</option>
                      <option>38</option>
                      <option>39</option>
                      <option>40</option>
                      <option>41</option>
                      <option>42</option>
                      <option>43</option>
                      <option>44</option>
                      <option>45</option>
                      <option>46</option>
                      <option>47</option>
                      <option>48</option>
                      <option>49</option>
                      <option>50</option>
                      <option>51</option>
                      <option>52</option>
                      <option>53</option>
                      <option>54</option>
                      <option>55</option>
                      <option>56</option>
                      <option>57</option>
                      <option>58</option>
                      <option>59</option>
                    </select>
                  </td>
                  <td>
                    <select id="scheduletimezone" class="form-control">
                      <option value="GMT">GMT</option>
                      <option value="EST">EST</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-sm btn-dark">
              <i class="fa fa-upload font-blue"></i> Update </button>
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
              <i class="fa fa-times text-red"></i> Close </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="listnow" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="alert alert-default"> Started listing/updating items to the selected channels. Please allow up to 1 hour for the update. </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group float-right">
            <!-- <button type="button" class="btn btn-sm btn-dark"><i class="fa fa-upload font-blue"></i> Update</button> -->
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
              <i class="fa fa-times text-red"></i> Close </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="ticket1Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Update Quantity for the product <strong>ELEPHANT CHAPATTIS ATTA 8 x MEDIUM FLOUR - READY MADE - 360gListed for charity</strong> - SKU <strong>403025571499</strong>
          </h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-body">
              <div class="row">
                <div class="col-md-3"> New Total Quantity: <span class="badge badge-default">Current Quantity &nbsp;4</span>
                </div>
                <div class="col-md-2">
                  <input type="text" id="updateqtyforskuid" class="form-control" value="4" placeholder="Enter quantity">
                </div>
                <div class="col-md-3">
                  <input type="checkbox" id="updateqtylistedfullselected" name="updateqtylistedfullselected" checked="" value="">&nbsp;List Full Quantity
                </div>
                <div class="col-md-4">
                  <a href="javascript:void(0)" class="btn btn-sm btn-circle btn-default">
                    <i class="fa fa-check font-blue"></i> Update Qty </a>
                  <button type="button" class="btn btn-sm btn-circle btn-danger" data-dismiss="modal">
                    <i class="fa fa-times font-red"></i> Close </button>
                </div>
              </div>
              <br>
              <div class="">
                <div class="">
                  <p>This will update the quantity for all the products with SKU 403025571499</p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <div class="alert alert-default">
                    <input type="checkbox" id="relistcloseitems" checked="" value="true">&nbsp;Relist Closed Items
                  </div>
                </div>
              </div>
              <div class="well">
                <strong>Channel Products associated with this SKU and variation SKUs are shown below</strong>
                <br>
                <span>You can adjust listng quantity for each channel below.</span>
              </div>
              <br>
              <div class="table-scrollable">
                <table class="table table-responsive table-striped table-bordered table-hover order-column dataTable no-footer">
                  <thead>
                    <tr>
                      <th> Channel </th>
                      <th> SKU </th>
                      <th> Variation Theme </th>
                      <th> Total Qty </th>
                      <th> Listing Qty </th>
                      <th> Selling Price </th>
                      <th> Listing Status </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubjet.png" height="30">
                      </td>
                      <td>
                        <a target="_blank" class="btn btn-xs purple-plum" href="https://login.sellershub.io/channels/viewitem?id=81878">6692532</a>
                        <input type="hidden" id="sku" value="6692532">
                      </td>
                      <td></td>
                      <td>
                        <input class="form-control" type="text" readonly="" value="0">
                        <input class="form-control" name="updateqtylistingskuinput" type="hidden" value="81878">
                      </td>
                      <td>
                        <input class="form-control" name="updateqtylistingqtyinput" type="text" value="0">
                      </td>
                      <td>
                        <input class="form-control" id="updatesellingpriceinput" type="text" value="">
                      </td>
                      <td>
                        <span class="btn btn-xs font-white bg-blue">WAITING </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="btn-group float-right">
            <a type="button" class="btn btn-sm btn-dark">
              <i class="fa fa-check font-blue"></i> Update </a>
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
              <i class="fa fa-times text-red"></i> Close </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>