<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Table -->
        <div class="row p--0 mt--4">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-1">
                <div class="row align-items-center">
                    <div class="col-7">
                      <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage your {{ title }} account integration setting</h3>
                    </div>
                    <div class="col-5">
                        <a data-toggle="modal" data-target="#modalBulk" class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-download"></i> Create {{ title }} Bulk Product import File </a>
                        <a class="btn btn-secondary btn-outline btn-sm" routerLink="/channelconnector"><i class="fa fa-remove"></i> Close</a>
                    </div>
                  </div>
              </div>
              
              <div class="card-body">
                <div class="modal fade" id="modalBulk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-dark">
                          <h5 class="modal-title font-14 text-white">Product Export</h5>
                          <button type="button" #closemodal class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-sm-12">
                                <div class="row padding-10">
                                    <p>We have schedule the iOffer export. Please check the status from Bulk Actions -&gt; Product Export</p>
                                    <p>This exported file must be import into iOffer by going into  Bulk Actions in your iOffer account</p>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="btn-group float-right">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>
                </div>

                <div class="modal fade" id="modalQuantity" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-dark">
                          <h5 class="modal-title font-14 text-white">Please select a category from iOffer and enter into the template Category</h5>
                          <button type="button" #closemodal class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-sm-12">
                                <div class="row padding-10">
                                    <p>This will open up a new window. If you pop-up blockers please make sure it is turned off or allow pop-ups from kartzhub.com</p>
                                    <a target="_blank" href="http://www.ioffer.com/category/category_menu?window=new">iOffer Categories</a>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="btn-group float-right">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>
                </div>

                  
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link font-11" data-toggle="tab" href="#other">Listing Templates</a>
                      </li>
                  </ul>
  
                  <div class="tab-content">
                      <div id="app_store" class="container tab-pane active"><br>
                           <div class="row" style="border-bottom: 1px solid #CCC;">
                              <div class="col-3">
                                <h4 class="mb-0"><img src="{{ logo }}" class="image-logo" /></h4>
                              </div>
                              <div class="col-9 float-right">
                              </div>
                            </div>
                            <div class="row mt-10">
                                <div class="alert alert-dark padding-10">
                                    iOffer does not allow an API to directly connect for listing and order download. Please use bulk import file to list items from SellersHub to iOffer
                                </div>
                            </div>
                      </div>
                      <div id="other" class="container tab-pane fade">
                            
                            <div class="col-sm-12">
                                <div class="alert alert-dark">
                                    Please enter iOffer Listing Template details
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label>Template Name</label>
                                    <div>
                                      <input type="text" value="" class="form-control form-control-sm" id="channeltemplatename" placeholder="Enter Template Name">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label>iOffer Product Typpe</label>
                                    <input type="text" value="" class="form-control form-control-sm" id="ioffertemplateproducttype" placeholder="Enter Product Type">
                                  </div>
                                  <div class="form-group">
                                    <label>Pricing Rules</label>
                                    <input type="text" class="form-control form-control-sm" id="pricingrulesid" value="">
                                  </div>
                                  <div class="form-group">
                                    <label>Shipping Charge</label>
                                    <input type="text" value="" class="form-control form-control-sm" id="ioffertemplateshippingCharge" placeholder="Enter Shipping Charge in USD">
                                  </div>
                                  <div class="form-group">
                                    <label>Attributes</label>
                                    <a href="javascript:void(0)"></a>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label>iOffer Category Id</label>
                                    <div class="input-group">
                                      <input type="text" value="" class="form-control form-control-sm" id="ioffertemplatecategoryid" placeholder="Enter Category Id">
                                      <span class="input-group-btn"><button data-toggle="modal" data-target="#modalQuantity" class="btn-xs" type="button">Edit Quantity</button></span>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label>Ship to County</label>
                                    <input type="text" value="" class="form-control form-control-sm" id="ioffertemplatecountryShipping" placeholder="Enter Ship to country">
                                    <p>Please enter ship to country in following format. </p>
                                    <p>If the shipping charge for US is $5.49 and shipping charge for UK is $10.50, please enter US:5.49;GB:10.50. Please ues ISO country codes e.g FR for France, DE for Germany ES for Spain, CA for Canada, IT for Italy</p>
                                  </div>
                                </div>
                                </div>
                              </div>
                      </div>
                  </div>
                  
              </div>
  
              <div class="card-footer py-4">
                  
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>