<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubeasyparcel.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><i class="fa fa-truck"></i> anage Easy Parcel Tariff Codes for Label Printing</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <div class="pull-right">
                                <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save </a>
                                <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                            </div>

                        </div>
                    </div>
                </div>
                

    <div class="table-scrollable">


        <table class="table tableFixHead table-hover order-column v2">
            <thead>
                <tr>
                    <th>
                        Fields
                    </th>

                    <th>
                        Value
                    </th>

                </tr>
            </thead>
            <tbody>


                <tr>

                    <td>
                        <strong>Api Key</strong>
                    </td>

                    <td>
                        <input id="clientKey" class="form-control" type="text" value="">
                    </td>


                </tr>


                <tr>

                    <td>
                        <strong>Authentication Code</strong>
                    </td>

                    <td>
                        <input id="clientPassword" class="form-control" type="text" value="">
                    </td>


                </tr>
                <tr>



                    <td>
                        <strong> Contact Person Title</strong>
                    </td>

                    <td>
                        <input id="title" class="form-control" type="text" value="">
                    </td>


                </tr>

                <tr>

                    <td>
                        <strong>Contact Person Name</strong>
                    </td>

                    <td>
                        <input id="personName" class="form-control" type="text" value="">
                    </td>


                </tr>

                <tr>

                    <td>
                        <strong>Company Name</strong>
                    </td>

                    <td>
                        <input id="companyName" class="form-control" type="text" value="">
                    </td>


                </tr>


                <tr>

                    <td>
                        <strong>Phone Number</strong>
                    </td>

                    <td>
                        <input id="phoneNumber" class="form-control" type="text" value="">
                    </td>


                </tr>



                <tr>

                    <td>
                        <strong>Extension (if any)</strong>
                    </td>

                    <td>
                        <input id="phoneExtension" class="form-control" type="text" value="">
                    </td>


                </tr>


                <tr>

                    <td>
                        <strong>Toll free Phone Number</strong>
                    </td>

                    <td>



                        <input id="tollFreePhoneNumber" class="form-control" type="text" value="">
                    </td>


                </tr>



                <tr>

                    <td>
                        <strong>Fax Number</strong>
                    </td>

                    <td>


                        <input id="faxNumber" class="form-control" type="text" value="">
                    </td>


                </tr>


                <tr>

                    <td>
                        <strong>email Address</strong>
                    </td>

                    <td>



                        <input id="emailAddress" class="form-control" type="text" value="">
                    </td>


                </tr>
                <tr>

                    <td>
                        <strong>Address Type</strong>
                    </td>

                    <td>
                        <input type="checkbox" id="residential" value="">Residetial Area
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Collection Address Line 1</strong>
                    </td>
                    <td>
                        <input id="addressLine1" class="form-control" type="text" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Collection Address Line 2</strong>
                    </td>
                    <td>
                        <input id="addressLine2" class="form-control" type="text" value="">
                    </td>


                </tr>

                <tr>

                    <td>
                        <strong>Collection Address Line 3</strong>
                    </td>

                    <td>

                        <input id="addressLine3" class="form-control" type="text" value="">
                    </td>
                </tr>


                <tr>

                    <td>
                        <strong>City</strong>
                    </td>

                    <td>

                        <input id="city" class="form-control" type="text" value="">
                    </td>
                </tr>

                <tr>

                    <td>
                        <strong>State / ProvinceCode</strong>
                    </td>

                    <td>
                        <input id="stateOrProvinceCode" class="form-control" type="text" value="">
                    </td>
                </tr>

                <tr>
                    <td>
                        <strong>County Collection Postalcode</strong>
                    </td>

                    <td>
                        <input id="postalCode" class="form-control" type="text" value="">
                    </td>


                </tr>
                <tr>
                    <td>
                        <strong>Country Code</strong>
                    </td>

                    <td>
                        <input id="countryCode" class="form-control" type="text" value="">
                    </td>


                </tr>

                <tr>



                    <td>
                        <strong>Country</strong>
                    </td>

                    <td>
                        <input id="countryName" class="form-control" type="text" value="">
                    </td>
                </tr>



            </tbody>
        </table>
    </div>
            </div>
        </div>
    </div>

</div>