<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Table -->
        <div class="row p--0 mt--4">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-1">
                <div class="row align-items-center">
                    <div class="col-12">
                      <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage your {{ title }} account integration setting</h3>
                    </div>
                    
                  </div>
              </div>
              
              <div class="card-body">
                 
                  
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link font-11" data-toggle="tab" href="#other">Listing Templates</a>
                      </li>
                  </ul>
  
                  <div class="tab-content">
                      <div id="app_store" class="container tab-pane active"><br>
                           <div class="row" style="border-bottom: 1px solid #CCC;">
                              <div class="col-3">
                                <h4 class="mb-0"><img src="{{ logo }}" class="image-logo" /></h4>
                              </div>
                              <div class="col-9 float-right">
                                  <div class="float-right">
                                    <a class="btn btn-secondary btn-dark btn-sm">Save <i class="fa fa-angle-right"></i></a>
                                    <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-exchange text-green"></i> Test Connection</a>
                                    <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-download"></i> Catalog</a>
                                    <a class="btn btn-danger btn-sm"><i class="fa fa-times-circle-o"></i> Remove All Listing From SellersHub</a>
                                    <a class="btn btn-secondary btn-outline btn-sm" routerLink="/channelconnector"><i class="fa fa-remove"></i> Close</a>
                                 </div>
                              </div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class=" control-label">Customer Name</label><br>
                                        <input type="text" value="" id="customerName" class="form-control form-control-sm">
                                    </div>
                                    <div class="form-group">
                                        <label class=" control-label">Access Token</label><br>
                                        <input type="text" value="" id="token" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="checkbox" checked="" value="true" id="downloadamazoncatalogid">
                                        <label class="mt-checkbox mt-checkbox-outline"> Download Products </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" checked="" value="true" id="downloadamazonorderid">
                                        <label class="mt-checkbox mt-checkbox-outline"> Download Orders</label>
                                    </div>
                                </div>
                            </div>
                      </div>
                      <div id="other" class="container tab-pane fade">
                            
                            <div class="col-sm-12">
                                <div class="float-right mb-20 mt-10">
                                    <a href="#" class="btn btn-secondary btn-sm btn-circle" ><i class="fa fa-arrow-up font-blue"></i> New Listing Template</a>
                                    <a routerLink="/channelconnector" class="btn btn-secondary btn-sm btn-circle"><i class="fa fa-remove text-red"></i> Close</a>
                                </div>
                                <table class="table tableFixHead table-hover order-column v2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                      </div>
                  </div>
                  
              </div>
  
              <div class="card-footer py-4">
                  
                </div>
            </div>
          </div>
        </div>
    
  
      </div>
    </div>
  </div>