.font-10 {
    font-size: 7.8pt !important;
}
.font-11 {
    line-height: 23px !important;
    font-size: 9pt !important;
}
.form-group {
    margin-bottom: 0.5rem !important;
}
.font-12 {
    font-size: 11pt !important;
}
.font-14 {
    margin-top: 5px !important;
    margin-bottom: -25px !important;
    font-size: 13pt !important;
}

ul.nav-wizard {
    background-color: #f9f9f9;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    *zoom: 1;
    position: relative;
    overflow: hidden;
  }
  ul.nav-wizard:before {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 46px;
    height: 47px;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    z-index: 11;
    content: " ";
  }
  ul.nav-wizard:after {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 138px;
    height: 47px;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    z-index: 11;
    content: " ";
  }
  ul.nav-wizard li {
    position: relative;
    float: left;
    height: 46px;
    display: inline-block;
    text-align: middle;
    padding: 0 20px 0 30px;
    margin: 0;
    font-size: 16px;
    line-height: 46px;
  }
  ul.nav-wizard li a {
    color: #468847;
    padding: 0;
  }
  ul.nav-wizard li a:hover {
    background-color: transparent;
  }
  ul.nav-wizard li:before {
    position: absolute;
    display: block;
    border: 24px solid transparent;
    border-left: 16px solid #d4d4d4;
    border-right: 0;
    top: -1px;
    z-index: 10;
    content: '';
    right: -16px;
  }
  ul.nav-wizard li:after {
    position: absolute;
    display: block;
    border: 24px solid transparent;
    border-left: 16px solid #f9f9f9;
    border-right: 0;
    top: -1px;
    z-index: 10;
    content: '';
    right: -15px;
  }
  ul.nav-wizard li.active {
    color: #3a87ad;
    background: #d9edf7;
  }
  ul.nav-wizard li.active:after {
    border-left: 16px solid #d9edf7;
  }
  ul.nav-wizard li.active a,
  ul.nav-wizard li.active a:active,
  ul.nav-wizard li.active a:visited,
  ul.nav-wizard li.active a:focus {
    color: #3a87ad;
    background: #d9edf7;
  }
  ul.nav-wizard .active ~ li {
    color: #999999;
    background: #ededed;
  }
  ul.nav-wizard .active ~ li:after {
    border-left: 16px solid #ededed;
  }
  ul.nav-wizard .active ~ li a,
  ul.nav-wizard .active ~ li a:active,
  ul.nav-wizard .active ~ li a:visited,
  ul.nav-wizard .active ~ li a:focus {
    color: #999999;
    background: #ededed;
  }
  ul.nav-wizard.nav-wizard-backnav li:hover {
    color: #468847;
    background: #f6fbfd;
  }
  ul.nav-wizard.nav-wizard-backnav li:hover:after {
    border-left: 16px solid #f6fbfd;
  }
  ul.nav-wizard.nav-wizard-backnav li:hover a,
  ul.nav-wizard.nav-wizard-backnav li:hover a:active,
  ul.nav-wizard.nav-wizard-backnav li:hover a:visited,
  ul.nav-wizard.nav-wizard-backnav li:hover a:focus {
    color: #468847;
    background: #f6fbfd;
  }
  ul.nav-wizard.nav-wizard-backnav .active ~ li {
    color: #999999;
    background: #ededed;
  }
  ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
    border-left: 16px solid #ededed;
  }
  ul.nav-wizard.nav-wizard-backnav .active ~ li a,
  ul.nav-wizard.nav-wizard-backnav .active ~ li a:active,
  ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited,
  ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus {
    color: #999999;
    background: #ededed;
  }


.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs {
    border-bottom: 0px solid #000 !important;
}
.numberCircle {
    display: inline-block;
    line-height: 0px;
    border-radius: 50%;
    border: 2px solid;
    font-size: 12px;
}
  
.numberCircle span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 8px;
    margin-right: 8px;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #e29015 !important;
    border-color: #ffffff !important;
}
.nav-tabs .nav-link {
    border: 0px solid transparent !important;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    font-size: 11pt !important;
}
.nav-link {
    color: #525f7f;
    display: block;
    padding: 0.25rem 0.75rem;
    font-size: 11pt !important;
}

.new-nav {
    border-top-left-radius: 0.9rem !important;
    border-top-right-radius: 0.9rem !important;
    border: 1px solid #dddddd !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 30px !important;
    background-color: #f6fbfd !important;
}

.tab-content {
    border: 1px solid #dddddd !important;
    padding: 10px !important;
}

.form-group {
    margin-bottom: 0.5rem !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}
.mt-20 {
    margin-top: 20px !important;
}