<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-sm-2">
                <button type="button" class="btn btn-sm btn-secondary"><i class="fa fa-angle-left"></i> Back</button>
              </div>
              <div class="col-3">
                <h3 class="mb-0">Edit Products: <strong>Product Title</strong></h3>
              </div>
              <div class="col-sm-2">
                  SKU: <strong>6296874</strong>
              </div>

              <div class="col-5 text-right">
                <div class="float-right">
                  <a href="#!" class="btn btn-sm btn-secondary font-10"><i class="fa fa-object-ungroup text-green"></i> Merge Product</a>
                  <a href="#!" class="btn btn-sm btn-secondary font-10"><i class="fa fa-clone text-green"></i> Duplicate Product</a>
                  <a href="#!" class="btn btn-sm btn-secondary font-10"><i class="fa fa-sliders text-green"></i> More <i class="fa fa-angle-down"></i></a>
                </div>
                
              </div>
            </div>
        </div>
        
        <div class="card-body">
            <ul class="nav new-nav new-nav-tabs nav-tabs" role="tablist">
                <li class="nav-item-">
                    <a id="theone" class="nav-link active" data-toggle="tab" href="#one"><span class="numberCircle"><span>1</span></span> Products Details</a>
                </li>
                <li class="nav-item-">
                    <a id="thetwo" class="nav-link" data-toggle="tab" href="#two"><span class="numberCircle"><span>2</span></span> SKU Price and Quantity</a>
                </li>
                <li class="nav-item-">
                    <a id="thethree" class="nav-link" data-toggle="tab" href="#three"><span class="numberCircle"><span>3</span></span> Variations</a>
                </li>
                <li class="nav-item-">
                    <a id="thefour" class="nav-link" data-toggle="tab" href="#four"><span class="numberCircle"><span>4</span></span> Product Image</a>
                </li>
                <li class="nav-item-">
                    <a id="thefive" class="nav-link" data-toggle="tab" href="#five"><span class="numberCircle"><span>5</span></span> Attributes</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="one" class="container tab-pane active">
                    <div class="row mb-20">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Title <span class="required"> * </span></label>
                                <input type="text" class="form-control form-control-sm" id="title" value="" placeholder="Product title">
                            </div>

                            <div class="form-group">
                                <label>Description</label>
                                <!-- <editor
                                    apiKey="3gek4kbjbw1x1ymh8rm76x017i31n5kxul87yok3761qhdc1"
                                    [init]="{
                                        height: 300,
                                        menubar: false,
                                        plugins: ['advlist autolink lists link image charmap print preview anchor','searchreplace visualblocks code fullscreen','insertdatetime media table paste code help wordcount'],
                                        toolbar:'undo redo | formatselect | bold italic backcolor | \
                                        alignleft aligncenter alignright alignjustify | \
                                        bullist numlist outdent indent | removeformat | help'
                                    }"
                                    ></editor> -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Stock keeping unit (SKU): <span class="required">	* </span></label>
                                <input type="text" class="form-control form-control-sm" id="sku" value="6296874" placeholder="Input text">
                            </div>
                            <div class="form-group">
                                <label>Product Summary: <span class="required">*</span></label>
                                <textarea id="summary1" rows="3" class="form-control form-control-sm"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="">Product Code: <span class="required">	* &nbsp; &nbsp; Please check the below relevant box to enter code</span></label>
                                <div class="form-group ">
									<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
									  <input type="checkbox" class="checkboxes" onclick="checkcbstatus('#upccb', '#upcid')" id="upccb"> UPC &nbsp;&nbsp;&nbsp; 
									  <span></span>
									</label>

									<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
									  <input type="checkbox" class="checkboxes" onclick="checkcbstatus('#eancb', '#eanid')" id="eancb"> EAN/FSN&nbsp;&nbsp;&nbsp;
									  <span></span>
									</label>

									<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
									  <input type="checkbox" class="checkboxes" onclick="checkcbstatus('#isbncb', '#isbnid')" id="isbncb"> ISBN &nbsp;&nbsp;&nbsp; 
									  <span></span>
									</label>

									<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
									  <input type="checkbox" class="checkboxes" onclick="checkcbstatus('#asincb', '#asinid')" id="asincb"> ASIN &nbsp;&nbsp;&nbsp;
									  <span></span>
									</label>
								</div>
                            </div>
                            <div class="form-group" id="asinid">
                                <label class="control-label">ASIN: <span class="required"></span></label>
                                <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="asin" value="" placeholder="Amazon Product Id">
                                    <span class="input-group-btn">
                                        <button class="btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Search Amazon <i class="fa fa-angle-down"></i></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a onclick="searchbyasinproductdetails('#asin', 3, 'US')" href="javascript:void(0)">Search Amazon US </a>
                                            </li>
                                            <li>
                                                <a onclick="searchbyasinproductdetails('#asin', 3, 'UK')" href="javascript:void(0)">Search Amazon UK </a>
                                            </li>
                                            <li>
                                                <a onclick="searchbyasinproductdetails('#asin', 3, 'CA')" href="javascript:void(0)">Search Amazon CA </a>
                                            </li>
    
                                            <li>
                                                <a onclick="searchbyasinproductdetails('#asin', 3, 'DE')" href="javascript:void(0)">Search Amazon DE </a>
                                            </li>
                                            <li>
                                                <a onclick="searchbyasinproductdetails('#asin', 3, 'FR')" href="javascript:void(0)">Search Amazon FR </a>
                                            </li>
                                            <li>
                                                <a onclick="searchbyasinproductdetails('#asin', 3, 'IT')" href="javascript:void(0)">Search Amazon IT </a>
                                            </li>
                                            <li>
                                                <a onclick="searchbyasinproductdetails('#asin', 3, 'ES')" href="javascript:void(0)">Search Amazon ES </a>
                                            </li>
                                        </ul>
                                        
                                    </span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="btn-group float-right mt-20">
                        <button type="button" (click)="switchtabTwo()" class="btn btn-sm btn-default">Save and Continue</button>
                    </div>
                </div>
                <div id="two" class="container tab-pane fade">
                    <div class="row mb-20">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Selling Price (Inc Tax): <span class="required">	* </span></label>
                                <input type="text" class="form-control form-control-sm" id="sellingprice" value="" placeholder="Selling Price">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Cost Price:</label>
                                <input type="text" class="form-control form-control-sm" id="costprice" value="" placeholder="Cost Price">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Minimum Qty:</label>
                                <input type="text" class="form-control form-control-sm" id="minimumquantity" value="" placeholder="Minimum Quantity for low stock alert">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Weight(KG): </label>
                                <input type="text" class="form-control form-control-sm" value="" id="weightkg" maxlength="25" placeholder="Weight(KG)">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Selling Price (Excl Tax): <span class="required">	* </span></label>
                                <input readonly="" class="form-control form-control-sm" id="priceexcltax" value="">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Recommended Retail Price (RRP):</label>
                                <input type="text" class="form-control form-control-sm" id="rrp" value="" placeholder="RRP">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Item Condition: </label>
                                <select class="table-group-action-input form-control form-control-sm" id="itemcondition">
                                <option value="New">New/Brand New/New with box/New with tags</option>
                                <option value="10">New without tags/Unused item with no signs of wear/Packaging may be missing or opened.</option>
                                <option value="5">New with defects/Collectible Like New</option>
                                <option value="Used">Used/Pre-Owned</option>
                                <option value="1">Used Like New</option>
                                <option value="2">Used Very Good</option>
                                <option value="3">Used Good</option>
                                <option value="9">Good</option>
                                <option value="4">Used Acceptable</option>
                                <option value="6">Manufacturer refurbished/Collectible Very Good</option>
                                <option value="7">Seller refurbished/Collectible Good</option>
                                <option value="8">Collectible Acceptable</option>
                                <option value="12">For parts or not working</option>
                            </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Tax Rate</label>
                                <div class="input-group">
                                    <select id="editproducttaxcode" class="form-control form-control-sm">
                                        <option value="-1">None</option>
                                        
                                            <option value="1"> Tax Rate Name(0.01)</option>
                                        
                                    </select>
                                    <span class="input-group-btn">
                                        <a href="javascript:void(0)" onclick="edittaxrates()">
                                            <button class="btn-xs" type="button">Manage Rates</button>
                                        </a>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Total Quantity:</label>
                                <div class="input-group">
                                    <input type="text" id="qtychangeid" class="form-control form-control-sm" value="0" readonly="">
                                    <span class="input-group-btn">
                                        <a href="javascript:void(0)" onclick="updatequantityfordynamicsku('6166676')">
                                            <button class="btn-xs" type="button">Edit Quantity</button>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Condition Note: </label>
                                <input type="text" class="form-control form-control-sm" value="" id="conditionnote" maxlength="100" placeholder="Condition Note">
                            </div>
                        </div>
                    </div>
                    <div class="btn-group float-right mt-20">
                        <button type="button" (click)="switchtabOne()" class="btn btn-sm btn-secondary"><i class="fa fa-angle-left"></i> Previous</button>
                        <button type="button" (click)="switchtabThree()" class="btn btn-sm btn-default">Save and Continue</button>
                    </div>
                </div>
                <div id="three" class="container tab-pane fade">
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <h4 class="block">Variations</h4>
                                <div class="" id="radios">
                                    <label class="radio-inline">
                                    <input type="radio" name="tab" value="no variation" id="variationid" > No variations </label>&nbsp;
                                    <label class="radio-inline">
                                        <input type="radio" name="tab" value="has variation" id="variationid1"> Has variations </label>
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group float-right mt-20">
                        <button type="button" (click)="switchtabTwoFromThree()" class="btn btn-sm btn-secondary"><i class="fa fa-angle-left"></i> Previous</button>
                        <button type="button" (click)="switchtabFour()" class="btn btn-sm btn-default">Save and Continue</button>
                    </div>
                </div>
                <div id="four" class="container tab-pane fade">
                    <div class="row mb-20">
                        <div class="col-sm-12 mb-20">
                            <button type="button" class="btn btn-sm btn-secondary font-10"><i class="fa fa-plus"></i> Add Image</button>
                            <button type="button" class="btn btn-sm btn-secondary font-10"><i class="fa fa-upload"></i> Upload All</button>
                            <button type="button" class="btn btn-sm btn-secondary font-10"><i class="fa fa-upload"></i> Upload From Uris</button>
                            <button type="button" class="btn btn-sm btn-secondary font-10"><i class="fa fa-check"></i> Save</button>
                            <button type="button" class="btn btn-sm btn-secondary font-10"><i class="fa fa-remove text-red"></i> Remove Selected Image</button>
                            <button type="button" class="btn btn-sm btn-secondary font-10"><i class="fa fa-refresh"></i> Refresh</button>
                        </div>
                        
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">
                                  <input id="customCheck5" type="checkbox">
                                </th>
                                <th scope="col">Image</th>
                                <th scope="col">Gallery Image</th>
                                <th scope="col">Filters</th>
                                <th scope="col">Short Order</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="btn-group float-right mt-20">
                        <button type="button" (click)="switchtabFromFour()" class="btn btn-sm btn-secondary"><i class="fa fa-angle-left"></i> Previous</button>
                        <button type="button" (click)="switchtabFive()" class="btn btn-sm btn-default">Save and Continue</button>
                    </div>
                </div>
                <div id="five" class="container tab-pane fade"> 
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <table class="table table-striped table-hover">
                                <thead class="thead-light">
                                  <tr>
                                    <th> Attribute Name </th>
                                    <th> Value </th>
                                    <th> Available Values </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <input class="form-control form-control-sm" type="text" name="attributename" readonly="" value="Brand">
                                    </td>
                                    <td>
                                      <input name="attributevalue" value="" type="text" id="attributevalue0" class="form-control form-control-sm maxlength-handler" maxlength="100" placeholder="">
                                    </td>
                                    <td>
                                      <select name="attributeselect" id="attributeselect0" onchange="applyeattributevalue(0)" class="form-control form-control-sm">
                                        <option value="-1">Please Select</option>
                                      </select>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <input class="form-control form-control-sm" type="text" name="attributename" readonly="" value="MPN">
                                    </td>
                                    <td>
                                      <input name="attributevalue" value="" type="text" id="attributevalue1" class="form-control form-control-sm maxlength-handler" maxlength="100" placeholder="">
                                    </td>
                                    <td>
                                      <select name="attributeselect" id="attributeselect1" onchange="applyeattributevalue(1)" class="form-control form-control-sm">
                                        <option value="-1">Please Select</option>
                                      </select>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <input class="form-control form-control-sm" type="text" name="attributename" readonly="" value="Manufacture">
                                    </td>
                                    <td>
                                      <input name="attributevalue" value="" type="text" id="attributevalue2" class="form-control form-control-sm maxlength-handler" maxlength="100" placeholder="">
                                    </td>
                                    <td>
                                      <select name="attributeselect" id="attributeselect2" onchange="applyeattributevalue(2)" class="form-control form-control-sm">
                                        <option value="-1">Please Select</option>
                                      </select>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <input class="form-control form-control-sm" type="text" name="attributename" readonly="" value="Model Number">
                                    </td>
                                    <td>
                                      <input name="attributevalue" value="" type="text" id="attributevalue3" class="form-control form-control-sm maxlength-handler" maxlength="100" placeholder="">
                                    </td>
                                    <td>
                                      <select name="attributeselect" id="attributeselect3" onchange="applyeattributevalue(3)" class="form-control form-control-sm">
                                        <option value="-1">Please Select</option>
                                      </select>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>

                    <div class="btn-group float-right mt-20">
                        <button type="button" (click)="switchtabFromFive()" class="btn btn-sm btn-secondary"><i class="fa fa-angle-left"></i> Previous</button>
                        <button type="button" (click)="saveProduct()" class="btn btn-sm btn-default"><i class="fa fa-check"></i> Save Product</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer py-4">
            
        </div>
      </div>
    </div>
  </div>
  
</div>
