<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-12">
                <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage Your Inventory</h3>
              </div>
            </div>
        </div>
        
        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#app_store">Integrations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#other">Listing Templates</a>
                </li>
            </ul>

            <div class="tab-content">
                
                <div id="app_store" class="container tab-pane active">
                    <div class="row">
                        <div class="col-12">
                            <div class="alert-new">
                                <p>
                                Please note that only Amazon Seller Central users can use this service to list products in to Amazon. 
                                You can get more information from following Seller Central Urls.
                                </p>
                            </div>
                            <div class="alert-new alert-country" style="padding: 1rem 1.5rem !important;">
                                <div class="">
                                    <div class="row ribbon-content">
                                        <div class="col-md-4">
                                            <a class="external_link" target="_blank" href="https://developer.amazonservices.com"><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/US.png">&nbsp;Amazon US Seller Central</a><br>
                                            <a class="external_link" target="_blank" href="https://developer.amazonservices.co.uk"><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/UK.png">&nbsp;Amazon UK Seller Central</a><br>
                                            <a class="external_link" target="_blank" href="https://developer.amazonservices.ca"><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/CA.png">&nbsp;Amazon Canada Seller Central</a><br>
                                        </div>
                                        <div class="col-md-4">
                                            <a class="external_link" target="_blank" href="https://developer.amazonservices.de"><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/DE.png">&nbsp;Amazon Germany Seller Central</a><br>
                                            <a class="external_link" target="_blank" href="https://developer.amazonservices.fr"><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/FR.png">&nbsp;Amazon France Seller Central</a><br>
                                            <a class="external_link" target="_blank" href="https://developer.amazonservices.it"><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/IT.png">&nbsp;Amazon Italy Seller Central</a><br>
                                            <a class="external_link" target="_blank" href="https://developer.amazonservices.es"><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/ES.png">&nbsp;Amazon Spain Seller Central</a><br>
                                        </div>
                                        <div class="col-md-4">
                                            <a class="external_link" target="_blank" href="https://developer.amazonservices.in"><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/IN.png">&nbsp;Amazon India</a><br>
                                            <a class="external_link" target="_blank" href="https://sellercentral-japan.amazon.com/gp/homepage.html"><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/JP.png">&nbsp;Amazon Japan Seller Central</a><br>
                                            <a class="external_link" target="_blank" href="https://sellercentral.amazon.com.mx/gp/homepage.html"><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/MX.png">&nbsp;Amazon Mexico Seller Central</a><br>
                                        </div>
                                    </div>
                                </div>	
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box-button">
                                <div class="row">
                                    <div class="col-3">
                                        Status <b>Active</b>
                                    </div>
                                    <div class="col-9">
                                        <div class="float-right">
                                            <a href="" class="btn btn-sm btn-secondary btn-circle"><i class="fa fa-check"></i> Save</a>
                                            <a href="" class="btn btn-sm btn-secondary btn-circle"><i class="fa fa-exchange text-green"></i> Test Connection</a>
                                            <a href="" class="btn btn-sm btn-secondary btn-circle"><i class="fa fa-exchange text-green"></i> Test FAB Connection</a>
                                            <a href="" class="btn btn-sm btn-secondary btn-circle"><i class="fa fa-download"></i> Catalog</a>
                                            <a href="" class="btn btn-sm btn-secondary btn-circle"><i class="fa fa-envelope-o"></i> Message</a>
                                            <a href="" class="btn btn-sm btn-secondary btn-circle"><i class="fa fa-remove text-red"></i> Remove</a>
                                            <a href="" class="btn btn-sm btn-secondary btn-circle"><i class="fa fa-remove text-red"></i> Close</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label font-12">Account Name</label>
                                <input type="text" value="" class="form-control form-control-sm" id="accountname" placeholder="Enter a name to remmember this channel">
                                <input type="hidden" value="" class="form-control form-control-sm" id="code"> 
                            </div>
                            <div class="form-group">
                                <label class="control-label font-12">Amazon Site</label>
                                <select id="amazonsiteid" class="form-control form-control-sm">
                                    <option value="AU">Australia</option>
                                    <option value="BR">Brazil</option>
                                    <option value="CA">Canada</option>
                                    <option value="CN">China</option>
                                    <option value="DE">Germany</option>
                                    <option value="ES">Spain</option>
                                    <option value="FR">France</option>
                                    <option value="IN">India</option>
                                    <option value="IT">Italy</option>
                                    <option value="JP">Japan</option>
                                    <option value="MX">Mexico</option>
                                    <option value="UK">United Kingdom</option>
                                    <option selected="" value="US">United States</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label font-12">Seller Id</label>
                                <input type="text" value="" class="form-control form-control-sm" id="merchantid" placeholder="Merchant Identifier"> </div>
                            <div class="form-group">
                                <label class="control-label font-12">Marketplace ID</label>
                                <input type="text" value="" class="form-control form-control-sm" id="marketplaceid" placeholder="Marketplace id"> </div>
                            <div class="form-group">
                                <label class="control-label font-12">AWS Access Key ID</label>
                                <input type="text" class="form-control form-control-sm" value="" id="awsaccesskey" placeholder="Access Key"> </div>
                            <div class="form-group">
                                <label class="control-label font-12">AWS Secret Key/MWS Authorisation Token</label>
                                <input type="text" class="form-control form-control-sm" value="" id="awssecretkey" placeholder="Secret Key"> </div>
                            <div class="form-group">
                                <label for="associatetag" class="control-label font-12">Affiliate Associate Tag</label>
                                <input type="text" class="form-control form-control-sm" value="" id="apiKey" placeholder="Associate Tag"> </div>
                            <div class="form-group mt-checkbox-list">
                                <label class="mt-checkbox mt-checkbox-outline"><input id="downloadamazoncatalogid" type="checkbox" value=""> Download Amazon catalog into SellersHub</label>
                                <label class="mt-checkbox mt-checkbox-outline"><input id="downloadamazonorderid" type="checkbox" value=""> Download Amazon Orders into SellersHub</label>
                                <label class="mt-checkbox mt-checkbox-outline"><input id="enablestockrepicerid" type="checkbox" value=""> Enable Amazon Stockrepricer</label>
                                <label class="mt-checkbox mt-checkbox-outline"><input id="downloadfbaitemsid" type="checkbox" value=""> Download FBA Items into SellersHub.</label>
                                <label for="associatetag" class="control-label font-12"><input id="downloadfbaitemsmember" type="checkbox" value=""> Amazon Member Since</label>
                                <div class="">
                                    <div class="input-group input-group-alternative">
                                        <input class="form-control form-control-sm datepicker" readonly name="dp" type="text"/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-element-ribbon box-right">
                                <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-warning" style="color:black;">
                                    <div class="ribbon-sub ribbon-clip"></div>Please follow the below steps to connect your Amazon account with SellersHub </div>
                                    <ul class="ribbon-content new-ul" style="color:black;">
                                        <li>Login to Amazon MWS site from the above links.</li>
                                        <li>Click sign-up to MWS and log in using your Amazon seller account.</li>
                                        <li>On the MWS registration page</li>
                                        <li>For Amazon US/Canada/Mexico and Europe , please click the button 'I want to use an application to access my Amazon seller account with MWS'. Please use <strong>SellersHub</strong> for the Application Name and following SellersHub Amazon developer account.
                                            <br> <strong>US/Canada/Mexico</strong> - 4304-1000-8493
                                            <br> <strong>Europe</strong> - 1215-1069-3280.
                                            <br> <strong>India</strong> - 1800-9274-1682.
                                            <br> <strong>Japan</strong> - 3761-2855-7031.
                                            <br>
                                        </li>
                                        <li>For other Amazon sites, please select , 'I want to access my own account option' (First Option).</li>
                                        <li>Accept the Amazon MWS License Agreement and click the Next button.</li>
                                        <li>Last page will show you the Seller ID, Marketplace Id, Access Key and Secrete Key/MWS Authorization Token.</li>
                                        <li>Copy these values into your SellersHub Amazon Integration form</li>
                                        <li>Register to affiliate program to obtain associate tag, copy it to SellersHub associate tag field</li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="other" class="container tab-pane fade">
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <div class="float-right">
                                <button class="btn btn-secondary btn-sm btn-circle" (click)="showNewListingTemplates()"><i class="fa fa-arrow-up font-blue"></i> New Listing Template</button>
                                <button class="btn btn-secondary btn-sm btn-circle"><i class="fa fa-remove text-red"></i> Close</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div *ngIf="listTemplate" class="col-sm-12">
                            <div class="table-responsive">
                                    <table class="table tableFixHead table-hover order-column v2">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Template Name</th>
                                                <th>Amazon Site</th>
                                                <th>Modified Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                            </div>
                        </div>

                        <div *ngIf="!listTemplate" class="col-sm-12">
                            <p class="p-11">Manage Amazon listing template -</p>

                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item font-12">
                                    <a class="nav-link active font-12" data-toggle="tab" href="#general">General Details</a>
                                </li>
                                <li class="nav-item font-12">
                                    <a class="nav-link font-12" data-toggle="tab" href="#shipping">Shipping</a>
                                </li>
                                <li class="nav-item font-12">
                                    <a class="nav-link font-12" data-toggle="tab" href="#pricing">Pricing Rules</a>
                                </li>
                                <li class="nav-item font-12">
                                    <a class="nav-link font-12" data-toggle="tab" href="#others">Other</a>
                                </li>
                            </ul>
                
                            <div class="tab-content">
                                <div id="general" class="container tab-pane active">
                                    <div class="row">
                                        <div class="col-sm-6 mt-10">
                                            <div class="form-group">
                                                <label class="control-label">Template Name</label>
                                                <input type="text" value="" class="form-control form-control-sm" id="templatename" placeholder="Template Name">
                                              </div>
                                              <div class="form-group">
                                                <label class="control-label">Amazon Site</label>
                                                <select disabled id="amazonsiteid" class="form-control form-control-sm">
                                                  <option selected value="US">United States</option>
                                                  <option value="UK">United Kingdom</option>
                                                  <option value="CA">Canada</option>
                                                  <option value="DE">Germany</option>
                                                  <option value="FR">France</option>
                                                  <option value="IT">Italy</option>
                                                  <option value="ES">Spain</option>
                                                  <option value="IN">India</option>
                                                  <option value="MX">Mexico</option>
                                                  <option value="JP">Japan</option>
                                                </select>
                                              </div>
                                              <div class="form-group">
                                                <label class="control-label">Item Condition</label>
                                                <select id="amazonitemcondition" class="form-control form-control-sm">
                                                  <option value="-1">Please select</option>
                                                  <option value="New">New</option>
                                                  <option value="UsedLikeNew">Used Like New</option>
                                                  <option value="UsedVeryGood">Used Very Good</option>
                                                  <option value="UsedGood">Used Good</option>
                                                  <option value="UsedAcceptable">Used Acceptable</option>
                                                  <option value="CollectibleLikeNew">Collectible Like New</option>
                                                  <option value="CollectibleVeryGood">Collectible Very Good</option>
                                                  <option value="CollectibleGood">Collectible Good</option>
                                                  <option value="CollectibleAcceptable">Collectible Acceptable</option>
                                                  <option value="Refurbished">Refurbished</option>
                                                  <option value="Club">Club</option>
                                                </select>
                                                <p class="help-block"> If this leave empty, item condition at product level will be used</p>
                                              </div>
                                              <div class="form-group">
                                                <label class="control-label">Max Order Quantity</label>
                                                <input type="text" value="" class="form-control form-control-sm" id="maxorderqty" placeholder="Max order quantity">
                                              </div>
                                              <div class="form-group">
                                                <label class="control-label">Handling Time</label>
                                                <select class="form-control form-control-sm" id="listingtempaltehandlingtimeid">
                                                  <option value="-1">Default Setting in Amazon Account</option>
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="3">3</option>
                                                  <option value="4">4</option>
                                                  <option value="5">5</option>
                                                  <option value="6">6</option>
                                                  <option value="7">7</option>
                                                  <option value="8">8</option>
                                                  <option value="9">9</option>
                                                  <option value="10">10</option>
                                                  <option value="11">11</option>
                                                  <option value="12">12</option>
                                                  <option value="13">13</option>
                                                  <option value="14">14</option>
                                                  <option value="15">15</option>
                                                  <option value="16">16</option>
                                                  <option value="17">17</option>
                                                  <option value="18">18</option>
                                                  <option value="19">19</option>
                                                  <option value="20">20</option>
                                                  <option value="21">21</option>
                                                  <option value="22">22</option>
                                                  <option value="23">23</option>
                                                  <option value="24">24</option>
                                                  <option value="25">25</option>
                                                  <option value="26">26</option>
                                                  <option value="27">27</option>
                                                  <option value="28">28</option>
                                                  <option value="29">29</option>
                                                  <option value="30">30</option>
                                                </select>
                                              </div>
                                              <div class="form-group">
                                                <label class="control-label">Number of Items</label>
                                                <input type="text" value="" class="form-control form-control-sm" id="numberofitems" title="Number of items">
                                              </div>
                                              <div class="form-group">
                                                <label class="control-label">Item Package Qty</label>
                                                <input type="text" value="" class="form-control form-control-sm" id="itempackageqty" title="Item Package qty">
                                              </div>
                                              <div class="form-group">
                                                <label class="control-label">Manufacture</label>
                                                <input type="text" class="form-control form-control-sm" value="" id="manufacture" title="manufacture">
                                              </div>
                                              <div class="form-group">
                                                <label class="control-label"> Brand</label>
                                                <input type="text" class="form-control form-control-sm" value="" id="brand" title="brand">
                                              </div>
                                              <div class="form-group">
                                                <label class="control-label"> Department Name</label>
                                                <input type="text" class="form-control form-control-sm" value="" id="departmentname" title="Deparment Name">
                                              </div>
                                              <div class="form-group">
                                                <label class="control-label"> Product Summary (upto 5)</label>
                                                <input type="text" id="summary1" class="form-control form-control-sm" value="" title="ProductSummary">
                                                <br>
                                                <input type="text" id="summary2" class="form-control form-control-sm" value="" title="ProductSummary">
                                                <br>
                                                <input type="text" id="summary3" class="form-control form-control-sm" value="" title="ProductSummary">
                                                <br>
                                                <input type="text" id="summary4" class="form-control form-control-sm" value="" title="ProductSummary">
                                                <br>
                                                <input type="text" id="summary5" class="form-control form-control-sm" value="" title="ProductSummary">
                                              </div>
                                        </div>
                                        <div class="col-sm-6 mt-10">
                                            <div class="form-group">
                                                <label class="control-label"> Legal Disclaimer</label>
                                                <input type="text" class="form-control form-control-sm" id="legaldisclaimer" value="" title="legal disclaimer">
                                              </div>
                                              <div class="form-group">
                                                <label class="control-label"> Product Tax Code</label>
                                                <input type="text" class="form-control form-control-sm" id="productTaxCode" value="" title="Product Tax Code">
                                              </div>
                                              <div class="form-group">
                                                <label class="control-label"> Product Description (Optional)</label>
                                                <textarea rows="8" cols="4" id="description" class="form-control form-control-sm"></textarea>
                                              </div>
                                              <div class="form-group">
                                                
                                                <label><input type="checkbox" value="true" id="onlyincludedescription" placeholder="onlyincludedescription"> Only include this description when listing <p class="help-block">If enable, only this description entered above will be sent to amazon when listing items using this template</p></label>
                                              </div>
                                              <div class="form-group">
                                                <label class="control-label"> Search Terms (Max 50 characters for each search term)</label>
                                                <input type="text" id="searchterms" class="form-control form-control-sm" value="" title="Search Terms">
                                                <br>
                                                <input type="text" id="searchterms1" class="form-control form-control-sm" value="" title="Search Terms">
                                                <br>
                                                <input type="text" id="searchterms2" class="form-control form-control-sm" value="" title="Search Terms">
                                                <br>
                                                <input type="text" id="searchterms3" class="form-control form-control-sm" value="" title="Search Terms">
                                              </div>
                                              <div class="form-group">
                                                <label class="col-md-12"><input type="checkbox" value="true" id="isgiftwrapavailable"> Is Gift Wrap Available</label>
                                                <label class="col-md-12"><input type="checkbox" value="true" id="isgiftmessageavailable"> Is Gift Message Available</label>
                                                <label class="col-md-12"><input type="checkbox" value="true" id="appendvariationstoitemtitle"> Append Variation Values To the Variation Item Title</label>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="shipping" class="container tab-pane fade">
                                    <div class="row mt-10">
                                        <div class="col-12">
                                            <label class="control-label"> Amazon Shipping Template (If opted in)</label>
											<input type="text" class="form-control form-control-sm" id="shippingTemplateName">
                                        </div>
                                    </div>
                                </div>
                                <div id="pricing" class="container tab-pane fade">
                                    <div class="row mt-10">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                              <label class="control-label"> Pricing Rule:</label>
                                              <input type="text" value="" class="form-control form-control-sm" id="amazontemplatepricingrule">
                                              <p class="help-block"> You can define pricing rules to automatically calculate selling price for amazon items using this listing template</p>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                              <div class="alert alert-default no-radius">
                                                <p>e.g <strong>$ {{ cost_price }} * 1.6 + 1 </strong>
                                                </p>
                                                <p> This make the selling price by multiplying cost price by 1.6 and add 1 Tags available are <strong>$ {{ cost_price }} and $ {{ selling_price }}</strong>
                                                </p>
                                              </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div id="others" class="container tab-pane fade">
                                    <div class="row mt-10">
                                        <div class="col-sm-12">
                                            <p>Please select default Amazon category and browser nodes for your amazon items using this template</p>
                                            <table class="table table-bordered table-stripped">
                                                <thead class="thead-light">
                                                  <tr>
                                                    <th> Category </th>
                                                    <th> Subcategory </th>
                                                    <th> Selected Category </th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td>
                                                      <select class="form-control form-control-sm" id="amazonmaincategoryid" onchange="selectamazonmaincategory('US')" onselect="selectamazonmaincategory(US)">
                                                        <option value="-1">Please select</option>
                                                        <option value="APS"> APS</option>
                                                        <option value="AutoAccessory"> AutoAccessory</option>
                                                        <option value="Baby"> Baby</option>
                                                        <option value="Beauty"> Beauty</option>
                                                        <option value="Books"> Books</option>
                                                        <option value="CameraPhoto"> CameraPhoto</option>
                                                        <option value="Categories"> Categories</option>
                                                        <option value="CE"> CE</option>
                                                        <option value="Clothing"> Clothing</option>
                                                        <option value="Collectibles"> Collectibles</option>
                                                        <option value="Computers"> Computers</option>
                                                        <option value="Departments"> Departments</option>
                                                        <option value="FoodAndBeverages"> FoodAndBeverages</option>
                                                        <option value="Genres"> Genres</option>
                                                        <option value="Health"> Health</option>
                                                        <option value="Home"> Home</option>
                                                        <option value="Jewelry"> Jewelry</option>
                                                        <option value="Miscellaneous"> Miscellaneous</option>
                                                        <option value="Music"> Music</option>
                                                        <option value="MusicalInstruments"> MusicalInstruments</option>
                                                        <option value="Office"> Office</option>
                                                        <option value="Products"> Products</option>
                                                        <option value="Shoes"> Shoes</option>
                                                        <option value="Sport"> Sport</option>
                                                        <option value="Styles"> Styles</option>
                                                        <option value="Subjects"> Subjects</option>
                                                        <option value="Tools"> Tools</option>
                                                        <option value="Toys"> Toys</option>
                                                        <option value="ToysBaby"> ToysBaby</option>
                                                        <option value="Wine"> Wine</option>
                                                      </select>
                                                    </td>
                                                    <td>
                                                      <div id="subcategorydivid">
                                                        <select id="amazonsubcategoryid" class="form-control form-control-sm" onchange="setamazonsubcategory('US')" onselect="setamazonsubcategory(US)">
                                                          <option id="-1">Please select</option>
                                                        </select>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <input id="selectedcategorynameid" class="form-control form-control-sm mb-5" type="text" readonly="" value="">
                                                      <input id="selectedsubcategorynameid" class="form-control form-control-sm" type="text" readonly="" value="">
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>
                                    <p class="mt-10">Selected Default Browser Node: </p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input type="text" value="" class="form-control form-control-sm" id="storecategoryidone" placeholder="Store Category One">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-sm btn-secondary" type="button">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input class="form-control form-control-sm" type="text" value="" id="storecategoryidone2" placeholder="Store Category Two">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-sm btn-secondary" type="button">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-10 mb-5 btn-group float-right">
                                    <button type="button" class="btn btn-sm btn-default"><i class="fa fa-check"></i> Save</button>
                                    <button type="button" class="btn btn-sm btn-secondary"><i class="fa fa-remove text-red"></i> Save</button>
                                </div>
                                <br />
                                <br />
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            
        </div>

        <div class="card-footer py-4">
            &nbsp;
          </div>
      </div>
    </div>
  </div>
  
</div>