<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-4">
                <h3 class="mb-0">Order History Report</h3>
              </div>

              

              <div class="col-8 text-right">
                <div class="float-right">
                  <a href="#!" class="btn btn-default font-10"><i class="fa fa-search"></i></a>

                </div>
                
              </div>
            </div>
        </div>
        
        <div class="box-search">
            <div class="row">
              <div class='col-12'>
                <table>
                  <tr>
                    
                    <td>
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input class="form-control form-control-sm datepicker" placeholder="From" name="dp" type="text"/>
                          </div>
                    </td>
                    <td>
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input class="form-control form-control-sm datepicker" placeholder="To" name="tp" type="text"/>
                          </div>
                    </td>
                    <td>
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input class="form-control form-control-sm datepicker" placeholder="Enter Date to search" name="ed" type="text"/>
                          </div>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <a href="#!" class="btn btn-sm btn-default font-10"><i class="fa fa-refresh"></i></a>
                    </td>
                    <td>
                        <a href="#!" class="btn btn-sm btn-default font-10"><i class="fa fa-search"></i></a>
                    </td>
                    <td>
                        <a href="#!" class="btn btn-sm btn-default font-10"><i class="fa fa-download"></i></a>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                      <select class="form-control form-control-sm search-width">
                        <option value=''>Search By</option>
                        <option value='SKU'>SKU</option>
                        <option value='Channel'>Channel</option>
                        <option value='Title'>Title</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group search-width-input">
                        <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                        <div class="input-group-append">
                          <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                    </td> 
                    
                  </tr>
                </table>
              </div>
            </div>
        </div>
        <div class="table-responsive">
          <div class="alert alert-default" style="margin: 8px !important;">
            <b>Description:</b> 
            This report will show you all orders created during the specified time period. Both closed and open orders will be included in this report. All orders that were input into KartzHub during the time period will be used to present the data.
          </div>
          <div class="note note-info">
            <h5>During this time period your top product was</h5><h5>
          </h5></div>
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th>DATE</th>
                    <th>SUB TOTAL</th>
                    <th>S&amp;H</th>
                    <th>TAX</th>
                    <th>TOTAL</th>
                    <th>TOTAL %</th>
                    <th>TOTAL (INC TAX)</th>
                    <th>UNITS</th>
                    <th>UNITS %</th>
                    <th>PRICE/UNIT</th>
                </tr>
            </thead>
            <tbody>
                
        <tr>

          <td></td>
          <td></td>
          <td></td>
          <td>0.00</td>
          <td>12.00</td>
          <td>0.00%</td>
          <td>12.00</td>
          <td>1</td>
          <td>0.00%</td>
          <td>12.00</td>
  </tr>

  
      <tr>

          <td>12-Nov-2018</td>
          <td>26.99</td>
          <td>0.00</td>
          <td>0.00</td>
          <td>26.99</td>
          <td>0.00%</td>
          <td>26.99</td>
          <td>1</td>
          <td>0.00%</td>
          <td>26.99</td>
  </tr>

  
      <tr>

          <td>22-Nov-2018</td>
          <td>26.99</td>
          <td>0.00</td>
          <td>0.00</td>
          <td>26.99</td>
          <td>0.00%</td>
          <td>26.99</td>
          <td>1</td>
          <td>0.00%</td>
          <td>26.99</td>
  </tr>

  
      <tr>

          <td>27-Nov-2018</td>
          <td>17.95</td>
          <td>4.95</td>
          <td>0.00</td>
          <td>17.95</td>
          <td>0.00%</td>
          <td>17.95</td>
          <td>1</td>
          <td>0.00%</td>
          <td>17.95</td>
  </tr>

  
      <tr>

          <td>29-Nov-2018</td>
          <td>61.56</td>
          <td>9.50</td>
          <td>0.00</td>
          <td>61.56</td>
          <td>0.00%</td>
          <td>61.56</td>
          <td>1</td>
          <td>0.00%</td>
          <td>61.56</td>
  </tr>

  
      <tr>

          <td>02-Dec-2018</td>
          <td>12.97</td>
          <td>2.54</td>
          <td>0.00</td>
          <td>12.97</td>
          <td>0.00%</td>
          <td>12.97</td>
          <td>3</td>
          <td>1.00%</td>
          <td>12.97</td>
  </tr>

  
      <tr>

          <td>03-Dec-2018</td>
          <td>15.98</td>
          <td>2.54</td>
          <td>0.00</td>
          <td>15.98</td>
          <td>0.00%</td>
          <td>15.98</td>
          <td>2</td>
          <td>0.00%</td>
          <td>15.98</td>
  </tr>

  
      <tr>

          <td>04-Dec-2018</td>
          <td>9.99</td>
          <td>0.00</td>
          <td>0.00</td>
          <td>9.99</td>
          <td>0.00%</td>
          <td>9.99</td>
          <td>1</td>
          <td>0.00%</td>
          <td>9.99</td>
  </tr>

  
      <tr>

          <td>05-Dec-2018</td>
          <td>15.98</td>
          <td>2.54</td>
          <td>0.00</td>
          <td>15.98</td>
          <td>0.00%</td>
          <td>15.98</td>
          <td>2</td>
          <td>0.00%</td>
          <td>15.98</td>
  </tr>

  
      <tr>

          <td>07-Dec-2018</td>
          <td>13.97</td>
          <td>2.54</td>
          <td>0.00</td>
          <td>13.97</td>
          <td>0.00%</td>
          <td>13.97</td>
          <td>3</td>
          <td>1.00%</td>
          <td>13.97</td>
  </tr>

  
      <tr>

          <td>08-Dec-2018</td>
          <td>30.18</td>
          <td>5.08</td>
          <td>0.00</td>
          <td>30.18</td>
          <td>0.00%</td>
          <td>30.18</td>
          <td>6</td>
          <td>1.00%</td>
          <td>20.58</td>
  </tr>

  
      <tr>

          <td>09-Dec-2018</td>
          <td>26.10</td>
          <td>2.54</td>
          <td>0.00</td>
          <td>26.10</td>
          <td>0.00%</td>
          <td>26.10</td>
          <td>4</td>
          <td>1.00%</td>
          <td>17.85</td>
  </tr>

  
      <tr>

          <td>10-Dec-2018</td>
          <td>5.60</td>
          <td>2.54</td>
          <td>0.00</td>
          <td>5.60</td>
          <td>0.00%</td>
          <td>5.60</td>
          <td>2</td>
          <td>0.00%</td>
          <td>5.60</td>
  </tr>

  
      <tr>

          <td>11-Dec-2018</td>
          <td>15.98</td>
          <td>2.54</td>
          <td>0.00</td>
          <td>15.98</td>
          <td>0.00%</td>
          <td>15.98</td>
          <td>2</td>
          <td>0.00%</td>
          <td>15.98</td>
  </tr>

  
      <tr>

          <td>12-Dec-2018</td>
          <td>71.76</td>
          <td>2.54</td>
          <td>0.00</td>
          <td>71.76</td>
          <td>0.00%</td>
          <td>71.76</td>
          <td>4</td>
          <td>1.00%</td>
          <td>71.76</td>
  </tr>

  
      <tr>

          <td>13-Dec-2018</td>
          <td>37.49</td>
          <td>7.76</td>
          <td>0.00</td>
          <td>37.49</td>
          <td>0.00%</td>
          <td>37.49</td>
          <td>5</td>
          <td>1.00%</td>
          <td>37.49</td>
  </tr>

            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
</div>
