<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
              <div class="col-12">
                <h3 class="mb-0"><i class="fa fa-envelope"></i> About Message Center</h3>
              </div>
            </div>
        </div>
        
        <div class="box-search">
            <div class="row">
              <div class='col-12'>
                <table>
                  <tr>
                    <td>
                      <select class="form-control form-control-sm search-width">
                        <option value=''>Filter By Status - All</option>
                        <option value='Bin'>Bin</option>
                        <option value='SKU'>SKU</option>
                      </select>
                    </td>
                    <td>
                      &nbsp; Show
                    </td>
                    <td>
                        <select class="form-control form-control-sm search-width">
                          <option value=''>Filter By Channel - All</option>
                          <option value='Bin'>Bin</option>
                          <option value='SKU'>SKU</option>
                        </select>
                      </td>
                  </tr>
                </table>
              </div>
            </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Channel</th>
                <th scope="col">Item Ref</th>
                <th scope="col">Message From</th>
                <th scope="col">Subject</th>
                <th scope="col">Received On</th>
                <th scope="col">Details</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
</div>
