<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header card-header-icon card-header-danger">
              <div class="card-icon">
                <i class="material-icons">notes</i>
              </div>
              <h4 class="card-title">TO-DO LIST</h4>
            </div>
              <div class="card-body table-responsive">
                  <p class="card-category">Recent Orders</p>
                  <table class="table table-hover">
                          <thead class="text-warning">
                              <tr>
                                <th>DATE</th>
                                <th>STATUS</th>
                                <th>CHANNEL</th>
                                <th>ID/SKU/QTY</th>
                                <th>NAME</th>
                                <th>PRICE</th>
                              </tr>
                          </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Feb 26, 2021</th>
                            <td><span class="badge badge-warning">Unshipped</span></td>
                            <td>Amazon</td>
                            <td>202-987-19/50/4</td>
                            <td></td>
                            <td>9.12</td>
                          </tr>
                          <tr>
                            <th scope="row">Feb 26, 2021</th>
                            <td><span class="badge badge-warning">Unshipped</span></td>
                            <td>Amazon</td>
                            <td>202-987-19/50/4</td>
                            <td></td>
                            <td>9.12</td>
                          </tr>
                          <tr>
                            <th scope="row">Feb 26, 2021</th>
                            <td><span class="badge badge-warning">Unshipped</span></td>
                            <td>Amazon</td>
                            <td>202-987-19/50/4</td>
                            <td></td>
                            <td>9.12</td>
                          </tr>
                          
                        </tbody>
                  </table>

                  <br />
                  <p class="card-category">Low Stock Products</p>
                  <table class="table table-hover">
                    <thead class="text-warning">
                        <tr>
                          <th>ID</th>
                          <th>SKU</th>
                          <th>PRODUCT</th>
                          <th>STOCK</th>
                          <th>LEVEL</th>
                        </tr>
                    </thead>
                    <tbody>
                          <th>&nbsp;</th>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                    </tbody>
                  </table>
              </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-danger">
              <div class="card-icon">
                <i class="material-icons">pie_chart</i>
              </div>
              <h4 class="card-title">SALES BY CHANNEL <small>Past 1 month data</small></h4>
            </div>
            <div class="card-body">
              <div class="row align-items-center">
                
                <div class="col-xl-3 col-lg-12">
                  <div class="dashboard-stat red widget-thumb btn-circle">
                    <h4 class="widget-thumb-heading font-white" style="font-size:11px;text-align: center;">REVENUE <i class="fa fa-angle-down bold" style="font-size:12px;"></i></h4>
                    <div class="widget-thumb-wrap">
                      <div class="widget-thumb-body" style="font-size:11px;text-align: center;">
                        <span class="widget-thumb-body-stat font-white" data-counter="counterup" data-value="1220">1220</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-12">
                  <div class="dashboard-stat green widget-thumb btn-circle">
                    <h4 class="widget-thumb-heading font-white" style="font-size:11px;text-align: center;">SALES ORDERS</h4>
                    <div class="widget-thumb-wrap">
                      <div class="widget-thumb-body" style="font-size:11px;text-align: center;">
                        <span class="widget-thumb-body-stat font-white" data-counter="counterup" data-value="2120">2120</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-12">
                  <div class="dashboard-stat blue widget-thumb btn-circle">
                    <h4 class="widget-thumb-heading font-white" style="font-size:11px;text-align: center;">UNITS SOLD</h4>
                    <div class="widget-thumb-wrap">
                      <div class="widget-thumb-body" style="font-size:11px;text-align: center;">
                        <span class="widget-thumb-body-stat font-white" data-counter="counterup" data-value="1450">1450</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-12">
                  <div class="dashboard-stat purple widget-thumb btn-circle">
                    <h4 class="widget-thumb-heading font-white" style="font-size:11px;text-align: center;">LOW STOCK</h4>
                    <div class="widget-thumb-wrap">
                      <div class="widget-thumb-body" style="font-size:11px;text-align: center;">
                        <span class="widget-thumb-body-stat font-white" data-counter="counterup" data-value="10">10</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <br />
              <br />
              <div id="chartPreferences" class="ct-chart"></div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-12">
                  <h6 class="card-category">Legend</h6>
                </div>
                <div class="col-md-12">
                  <i class="fa fa-circle text-info"></i> eBay
                  <i class="fa fa-circle text-warning"></i> Amazon
                  <i class="fa fa-circle text-danger"></i> Walmart
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-icon card-header-info">
              <div class="card-icon">
                <i class="material-icons">timeline</i>
              </div>
              <h4 class="card-title">ORDER HISTORY CHART
                <small>Past 3 month data</small>
              </h4>
            </div>
            <div class="card-body">
              <div id="colouredRoundedLineChart" class="ct-chart"></div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">insert_chart</i>
              </div>
              <h4 class="card-title">SALES BY COUNTRIES
                <small>Past 12 month data</small>
              </h4>
            </div>
            <div class="card-body">
              <div id="multipleBarsChart" class="ct-chart"></div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
</div>
