<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
            <div class="col-12">
              <h3 class="mb-0">
                <i class="fa fa-truck"></i> Set-up Shipping Courier Settings
              </h3>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="tab-content">
            <div class="container tab-pane active">
              <br />
              <div class="row">
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div
                      class="ribbon ribbon-color-white ribbon-clip uppercase"
                    >
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://images-na.ssl-images-amazon.com/images/G/01/shippercentral/Shipping_AmazonLogo_50px._CB485927256_.png"
                        height="35"
                      />
                    </div>
                    <p class="ribbon-content">
                      <span class="label label-sm label-info"
                        ><h2>Coming Soon</h2></span
                      >
                    </p>
                    <!-- <div class="btn-group padding-10 mb-10 center">
                                <button class="btn btn-sm btn-success" type="button"><i class="fa fa-plus-circle"></i> Add to KartzHub</button> <button class="btn btn-sm btn-default" type="button">Get One <i class="fa fa-angle-right"></i></button>
                            </div> -->
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubamazonbuyshipping.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <span class="label label-sm label-info"
                        ><h2>Coming Soon</h2></span
                      >
                    </p>
                    <!-- <div class="btn-group padding-10 mb-10 center">
                                <button class="btn btn-sm btn-success" type="button"><i class="fa fa-plus-circle"></i> Add to KartzHub</button> <button class="btn btn-sm btn-default" type="button">Get One <i class="fa fa-angle-right"></i></button>
                            </div> -->
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubdpd.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input checked type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                      <a
                        class="btn btn-sm btn-default"
                        href="#dpd"
                        type="button"
                        >Label Setup <i class="fa fa-cogs font-blue"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubroyalmail.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input checked type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <a
                        class="btn btn-sm btn-success"
                        href="#royalmailsetting"
                        type="button"
                        ><i class="fa fa-cogs font-blue"></i> Settings</a
                      >
                      <a
                        class="btn btn-sm btn-default"
                        href="#royalmaillabelsetup"
                        type="button"
                        >Label Setup <i class="fa fa-cogs font-blue"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubshipstation.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input checked type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                      <a
                        class="btn btn-sm btn-default"
                        href="#shipstationlabelsetup"
                        type="button"
                        >Label Setup <i class="fa fa-cogs font-blue"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubhermes.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <a
                        class="btn btn-sm btn-success"
                        href="#hermessettings"
                        type="button"
                        ><i class="fa fa-cogs font-blue"></i> Settings</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubdx.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input checked type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button class="btn btn-sm btn-success" type="button" disabled>
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                      <a class="btn btn-sm btn-default" href="#dxlabelsetup" type="button">
                        Label Setup <i class="fa fa-cogs font-blue"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubdropbox.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input checked type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                      <a class="btn btn-sm btn-default" href="#clickdroplabelsetup"  type="button">
                        Label Setup <i class="fa fa-cogs font-blue"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubwebshipper.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input checked type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                      <a class="btn btn-sm btn-default" href="#webshipperlabelsetup" type="button">
                        Label Setup <i class="fa fa-cogs font-blue"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubukmail.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input checked type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <a class="btn btn-sm btn-success" href="#ukmailsettings" type="button">
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </a>
                      <a class="btn btn-sm btn-default" href="#ukmaillabelsetup" type="button">
                        Label Setup <i class="fa fa-cogs font-blue"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubups.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubyodel.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input checked type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                      <a class="btn btn-sm btn-default" href="#yodellabelsetup" type="button">
                        Label Setup <i class="fa fa-cogs font-blue"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubsendapallet.co.uk.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubdhl.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                      <a class="btn btn-sm btn-default" href="#shippolabelsetup" type="button">
                        Label Setup <i class="fa fa-cogs font-blue"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubinterlink.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                      <a class="btn btn-sm btn-default" href="#interlinklabelsetup" type="button">
                        Label Setup <i class="fa fa-cogs font-blue"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubusps.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubfedex.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                      <a class="btn btn-sm btn-default" href="#fedexlabelsetup" type="button">
                        Label Setup <i class="fa fa-cogs font-blue"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubSpring%20Global%20Mail.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <a
                        class="btn btn-sm btn-success"
                        href="#springglobalmail"
                        type="button"
                        disabled
                        ><i class="fa fa-cogs font-blue"></i> Settings</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubparcelforce.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                      <a class="btn btn-sm btn-default" href="#shippolabelsetup" type="button">
                        Label Setup <i class="fa fa-cogs font-blue"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubaramex.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubindiapost.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubwndirect.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <a
                        class="btn btn-sm btn-success"
                        href="#wndirect"
                        type="button"
                        ><i class="fa fa-cogs font-blue"></i> Settings</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubparcelmonkey.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                      <a class="btn btn-sm btn-default" href="#parcelmonkeylabelsetup" type="button">
                        Label Setup <i class="fa fa-cogs font-blue"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubgoshippo.com.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                      <a class="btn btn-sm btn-default" href="#shippolabelsetup" type="button">
                        Label Setup <i class="fa fa-cogs font-blue"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubcanadapost.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubtnt.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubbluedart.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <a
                        class="btn btn-sm btn-success"
                        href="#bluedart"
                        type="button"
                        ><i class="fa fa-cogs font-blue"></i> Settings</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubeasyparcel.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <a
                        class="btn btn-sm btn-default"
                        href="#easyparcel"
                        type="button"
                        >Label Setup <i class="fa fa-cogs font-blue"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubamazoneasyship.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                      <button class="btn btn-sm btn-default" type="button">
                        Label Setup <i class="fa fa-cogs font-blue"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubekart.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      >
                        <i class="fa fa-cogs font-blue"></i> Settings
                      </button>
                      <button class="btn btn-sm btn-default" type="button">
                        Label Setup <i class="fa fa-cogs font-blue"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubmyparceldelivery.com.png"
                        height="40"
                      />
                    </div>
                    <p class="ribbon-content">
                      <label
                        class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                      >
                        <input type="checkbox" /> Enabled
                        <span></span>
                      </label>
                    </p>
                    <div class="btn-group padding-10 mb-10 center">
                      <a
                        class="btn btn-sm btn-success"
                        href="#myparceldelivery"
                        type="button"
                        ><i class="fa fa-cogs font-blue"></i> Settings</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
