.label-text {
    font-size: 11pt !important;
    margin-bottom: 0px !important;
  }

  .font-10 {
    font-size: 7.8pt !important;
  }
  .font-11 {
    line-height: 23px !important;
    font-size: 9pt !important;
  }
  .form-group {
    margin-bottom: 0.7rem !important;
  }
  .font-12 {
    font-size: 11pt !important;
  }
  .font-14 {
      margin-top: 5px !important;
      margin-bottom: -25px !important;
      font-size: 13pt !important;
    }