<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-gradient-success border-1">
          <div class="row align-items-center">
              <div class="col-12">
                <h3 class="mb-0 text-white">Email Setting</h3>
              </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                  <img src="../../../assets/products/mail.jpeg" class="text-center" style="width: 80% !important"/>
                </div>
                <div class="col-6">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label class="label-text">SMTP Host</label>
                      <input type="text" id="namevalid" placeholder="SMTP Host" class="form-control form-control-sm"> 
                    </div>
                    <div class="form-group">
                      <label class="label-text">SMTP Port</label>
                      <input type="text" id="emailid" placeholder="SMTP Port e.g 587" class="form-control form-control-sm"> 
                    </div>
                    <div class="form-group">
                      <label class="label-text">SMTP Username</label>
                      <input type="text" id="phonenumberid" placeholder="SMTP Username" class="form-control form-control-sm"> 
                    </div>
                    <div class="form-group">
                        <label class="label-text">SMTP Password</label>
                        <input type="password" id="phonenumberid" placeholder="SMTP Password" class="form-control form-control-sm"> 
                    </div>
                    <div class="form-group">
                        <label class="label-text">From Email Address</label>
                        <div class="input-group input-group-alternative mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-envelope-o"></i>
                            </span>
                          </div>
                          <input class="form-control form-control-sm" placeholder="From email address" type="text">
                        </div>
                    </div>
                    
                  </form>
                </div>
              </div>
        </div>
        <div class="card-footer py-4">
          <div class="btn-group float-right">
              <button class="btn btn-sm btn-primary">Save Setting</button>
              <button class="btn btn-sm btn-success">Test Connection</button>
              <button class="btn btn-sm btn-danger">Remove Setting</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
