<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
              <div class="col-12">
                <h3 class="mb-0"><i class="fa fa-book"></i>  Available Accounting Systems</h3>
              </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                        <div class="ribbon-sub ribbon-clip"></div>
                        <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubkashflow.png"
                        height="40"
                        />
                    </div>
                    <div class="ribbon-content">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Setting: &nbsp;<a href="#channel-kashflow-add">Settings</a></td>
                                </tr>
                                <tr>
                                    <td>Enable: &nbsp;&nbsp;
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input id="kashflowid" type="checkbox">
                                            <span></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <p class="ribbon-content">

                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input checked type="checkbox" /> Enabled
                        <span></span>
                        </label>
                    </p> -->
                    <!-- <div class="btn-group padding-10 mb-10 center">
                        <button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                        >
                        <i class="fa fa-cogs font-blue"></i> Settings
                        </button>
                        <a
                        class="btn btn-sm btn-default"
                        href="#dpd"
                        type="button"
                        >Label Setup <i class="fa fa-cogs font-blue"></i>
                        </a>
                    </div> -->
                    </div>
                </div><div class="col-md-3">
                    <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                        <div class="ribbon-sub ribbon-clip"></div>
                        <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubquickbooks.png"
                        height="40"
                        />
                    </div>
                    
                    <div class="ribbon-content">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Setting: &nbsp;<a href="#channel-quickbooks-add">Settings</a></td>
                                </tr>
                                <tr>
                                    <td>Enable: &nbsp;&nbsp;
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input id="kashflowid" type="checkbox">
                                            <span></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div><div class="col-md-3">
                    <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                        <div class="ribbon-sub ribbon-clip"></div>
                        <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubsage.png"
                        height="40"
                        />
                    </div>
                    
                    <div class="ribbon-content">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Setting: &nbsp;<a href="#channel-sage-add">Settings</a></td>
                                </tr>
                                <tr>
                                    <td>Enable: &nbsp;&nbsp;
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input id="kashflowid" type="checkbox">
                                            <span></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div><div class="col-md-3">
                    <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                        <div class="ribbon-sub ribbon-clip"></div>
                        <img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubxero.png"
                        height="40"
                        />
                    </div>
                    
                    <div class="ribbon-content">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Setting: &nbsp;<a href="#channel-xero-add">Settings</a></td>
                                </tr>
                                <tr>
                                    <td>Enable: &nbsp;&nbsp;
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input id="kashflowid" type="checkbox">
                                            <span></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
             </div>   
        </div>