<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-6">
                <h3 class="mb-0"><i class="fa fa-building"></i> Please Manage Warehouses and Item Locations</h3>
              </div>
              
            </div>
        </div>
        
        <div class="card-body">
            <div class="row">
                <div class="col-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-home"></i> Add new warehouse</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label">Warehouse Name</label>
                                <input type="text" class="form-control form-control-sm" id="warehousename" value="" placeholder="Warehouse Name">
                                <input type="hidden" class="form-control form-control-sm" id="warehousenameid" value="5">
                                <input type="hidden" class="form-control form-control-sm" id="warehousenameidfromoption1" value="5">
                              </div>
                              <div class="form-group">
                                <label class="control-label">Warehouse Code</label>
                                <input type="text" class="form-control form-control-sm" id="warehousecode" value="" placeholder="Warehouse Code">
                              </div>
                              <div class="form-group">
                                <label class="control-label">Email Address</label>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope-o"></i></span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm" placeholder="Warehouse Email Address" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                              </div>

                              <div class="form-group">
                                <label class="control-label">Contact Name</label>
                                <input type="text" class="form-control form-control-sm" id="warehousecode" value="" placeholder="Contact Name">
                              </div>
                              <div class="form-group">
                                <label class="control-label">Address Line1</label>
                                <input type="text" class="form-control form-control-sm" id="warehousecode" value="" placeholder="Address Line1">
                              </div>
                              <div class="form-group">
                                <label class="control-label">Address Line2</label>
                                <input type="text" class="form-control form-control-sm" id="warehousecode" value="" placeholder="Address Line2">
                              </div>
                              <div class="form-group">
                                <label class="control-label">Address Line3</label>
                                <input type="text" class="form-control form-control-sm" id="warehousecode" value="" placeholder="Address Line3">
                              </div>
                              <div class="form-group">
                                <label class="control-label">City</label>
                                <input type="text" class="form-control form-control-sm" id="warehousecode" value="" placeholder="City">
                              </div>
                              <div class="form-group">
                                <label class="control-label">State</label>
                                <input type="text" class="form-control form-control-sm" id="warehousecode" value="" placeholder="State">
                              </div>
                              <div class="form-group">
                                <label class="control-label">Country</label>
                                <input type="text" class="form-control form-control-sm" id="warehousecode" value="" placeholder="Country">
                              </div>
                              <div class="form-group">
                                <label class="control-label">PostCode</label>
                                <input type="text" class="form-control form-control-sm" id="warehousecode" value="" placeholder="PostCode">
                              </div>
                              <div class="form-group">
                                <div class="">
                                  <label>
                                    <input type="checkbox">
                                    <span class="label-text font-10"> &nbsp; Default Warehouse</span>
                                  </label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group text-center">
                                    <div class="btn-group">
                                      <a class="btn btn-sm btn-success"><i class="fa fa-check"></i> Save </a>
                                      <a class="btn btn-sm btn-default" data-toggle="modal" data-target="#assignproductModel"><i class="fa fa-link"></i> Assign Products to Warehouse </a>
                                      <a class="btn btn-sm btn-secondary"><i class="fa fa-times font-red"></i> Close </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-6">
                                    Please Manage Item Locations
                                </div>
                                <div class="col-6">
                                    <div class="btn-group float-right">
                                        <a class="btn btn-sm btn-secondary font-7" data-toggle="modal" data-target="#productModel">Create A New Location</a>
                                        <a class="btn btn-sm btn-secondary font-7" href="#bulk-actions">Upload Locations</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="box-search">
                                <div class="row">
                                  <div class='col-6'>
                                    <table>
                                      <tr>
                                        <td>
                                            &nbsp; Show
                                        </td>
                                        <td>
                                            <select class="form-control form-control-sm search-width">
                                              <option value=''>100</option>
                                            </select>
                                        </td>
                                      </tr>
                                    </table>
                                  </div>
                                  <div class="col-6">
                                    <table class="float-right">
                                        <tr>
                                          <td>
                                            <div class="input-group search-width-input">
                                              <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                                              <div class="input-group-append">
                                                <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                                              </div>
                                            </div>
                                          </td> 
                                      </tr>
                                    </table>
                                  </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                              <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                  <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Aisle-Bay-Shelf-Bin</th>
                                    <th scope="col">Modified Date</th>
                                    <th scope="col">Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="assignproductModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Assign Warehouse Item Location</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="pull-right">
                  <div class="input-group search-width-input">
                    <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-10">
              <nav aria-label="...">
                <ul class="pagination mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="javascript:void(0)">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-md-2 totalcount">
              Total <span class="badge badge-success"> 1</span>
              <input type="hidden" value="1" id="totalproductlistforwarehouseassign">
            </div>
        
          </div><br>
          <div class="row">

            <div class="col-md-12">
          
              
                <div class="alert alert-default">No products found for the given query</div>
              
          
                <table class="table tableFixHead table-hover order-column v2">
                  <thead>
                  <tr>
                    <th>
                      #
                    </th>
                    <th>
                      SKU
                    </th>
                    <th>
                      Title
                    </th>
                <th>
                Quantity
                    </th>
                    <th>
                      Warehouse Location
                    </th>
          
                  </tr>
                  </thead>
                  <tbody>
          
                  
          
                  </tbody>
                </table>
              
          
            </div>
          
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group float-right">
            <!-- <button type="button" class="btn btn-sm btn-dark"><i class="fa fa-envelope-o"></i> Save Changesx</button> -->
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
          </div>
        </div>
      </div>
    </div>

  
  </div>

  <div class="modal fade" id="productModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Edit Item Location
</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-body">
          
              <div class="form-group row">
                <label class="col-md-2 control-label" style="padding-left: 90px;">Aisle</label>
                <div class="col-md-4">
                <input type="hidden" id="itemlocationid" value="656">
                  <input type="text" id="itemlocationaisle" value="" class="form-control input-inline input-medium" placeholder="Please enter Aisle">
          
                </div>
                <div class="col-md-5">
          
                  <select id="itemlocationaisleselect"  class="form-control">
                    <option value="-1">Please select one</option>
                    
                  </select>
                </div>
              </div>
          
              <div class="form-group row">
                <label class="col-md-2 control-label" style="padding-left: 90px;">Bay</label>
                <div class="col-md-4">
                  <input type="text" id="itemlocationebay" value="" class="form-control input-inline input-medium" placeholder="Bay">
                </div>
                <div class="col-md-5">
          
                  <select id="itemlocationebayselect" class="form-control" >
                    <option value="-1">Please select one</option>
                    
                  </select>
          
                 </div>
              </div>
          
              <div class="form-group row">
                <label class="col-md-2 control-label" style="padding-left: 90px;">Shelf</label>
                <div class="col-md-4">
                  <input type="text" id="itemlocationshelf" value="" class="form-control input-inline input-medium" placeholder="Shelf">
                </div>
                <div class="col-md-5">
                  <select id="itemlocationshelfselect"  class="form-control">
                    <option value="-1">Please select one</option>
                    
                  </select>
          
                 </div>
              </div>
          
              <div class="form-group row">
                <label class="col-md-2 control-label" style="padding-left: 90px;">Bin</label>
                <div class="col-md-4">
                  <input type="text" id="itemlocationbin" value="" class="form-control input-inline input-medium" placeholder="Bin">
                </div>
                <div class="col-md-5">
                  <select id="itemlocationbinselect"  class="form-control">
                    <option value="-1">Please select one</option>
                    
                  </select>
                </div>
          
              </div>
          
              <div class="form-group row">
                <label class="col-md-2 control-label" style="padding-left: 90px;">Default Location</label>
                <div class="col-md-9" style="padding-right: 500px;">
                  <input type="checkbox" id="defaultitemlocation" value="" class="form-control form-control-sm input-inline input-medium">
                </div>
              </div>
          
          
            </div>
            <!-- <input type="hidden" id="warehouseid" maxlength="4" size="4" value="91"> -->
          </form>
        </div>
        <div class="modal-footer">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-sm btn-dark">Save</button>
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>


</div>