<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    
    <ul class="nav nav-tabs" role="tablist">
      <li *ngFor="let row of menuData" class="nav-item">
          <a (click)="openMenu(row.menuLink)" class="nav-link active" data-toggle="tab" href="#app_store">{{ row.menuTitle }} &nbsp;&nbsp;<span (click)="removeMenu(row.menuTitle, row.menuLink)">x</span></a>
      </li>
    </ul>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row">
                <div class="col-sm-12">
                    <div class="btn-group">
                      <button placement="bottom" ngbTooltip="Ship Orders" type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-linkedin">
                        <i class="fa fa-truck"></i>
                      </button>
                      <button placement="bottom" ngbTooltip="Cancel Orders" type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-behance">
                        <i class="fa fa-times"></i>
                      </button>
                    

                      <div class="dropdown">
                        <button mat-raised-button href="#pablo" class="dropdown-toggle btn-sm btn btn-success mat-raised-button mat-button-base" data-toggle="dropdown"><i class="fa fa-print"></i> Print Labels
                            <b class="caret"></b>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="#pablo">Default Labels</a></li>
                            <li><a href="#pablo">Via dpd</a></li>
                            <li><a href="#pablo">Via Royal Mail</a></li>
                            <li><a href="#pablo">Via shipstation</a></li>
                            <li><a href="#pablo">Via DX</a></li>
                            <li><a href="#pablo">Via Yodel</a></li>
                            <li><a href="#pablo">Via goshippo</a></li>
                        </ul>
                      </div>

                      <div class="dropdown">
                        <button mat-raised-button href="#pablo" class="dropdown-toggle btn-sm btn btn-linkedin mat-raised-button mat-button-base" data-toggle="dropdown"><i class="fa fa-print"></i> Print Invoice
                            <b class="caret"></b>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="#pablo">Print Default</a></li>
                            <li><a href="#pablo">Print 4x6</a></li>
                            <li><a href="#pablo">Print Invoice & Label</a></li>
                        </ul>
                      </div>

                    </div>

                    <button placement="bottom" ngbTooltip="Create Pick list" type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-tumblr"><i class="fa fa-list"></i></button>
                    <button placement="bottom" ngbTooltip="Create Pack list" type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-behance"><i class="fa fa-cube"></i></button>
                    <button placement="bottom" ngbTooltip="Export Orders to CSV" type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-success"><i class="fa fa-file-excel"></i></button>
                    <button type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-reddit"><i class="fa fa-amazon"></i> Fulfilment </button>
                    <button type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-github" data-toggle="modal" data-target="#dispatch">Despatch Console</button>
                    <button type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-github" data-toggle="modal" data-target="#ticket1Modal">Create Order</button>
                    <button placement="bottom" ngbTooltip="Download Order" type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-github"><i class="fa fa-download"></i></button>
                  </div>
                
                <div class="col-sm-12">
                  <div class="float-left">
                    <button data-container="body" placement="bottom" ngbTooltip="Mark as Paid" class="btn btn-sm  mat-raised-button mat-button-base btn-success">
                      <i class="fa fa-money"></i>
                    </button>
                    <button placement="bottom" ngbTooltip="Order Process" type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-info">
                      <i class="fa fa-microchip"></i>
                    </button>
                    <button placement="bottom" ngbTooltip="Bulk email" type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-warning">
                      <i class="fa fa-envelope-square"></i>
                    </button>
                    
                    

                  </div>
                </div>
              </div>
              
              
            </div>
          </div>
        </div>
        <div class="box-search">
          <div class="row">
            <div class='col-12'>
              <table>
                <tr>
                  <td> Show </td>
                  <td>
                    <select class="form-control form-control-sm search-width-80">
                      <option value=''>100</option>
                    </select>
                  </td>
                  <td>
                    <select id="sortvalue" class="form-control form-control-sm search-width-80">
                      <option value="0">Filter By</option>
                      <option value="1">Pending Orders</option>
                      <option value="2">Unshipped Orders</option>
                      <option value="3">Prime Orders</option>
                      <option value="4">Printed Invoices</option>
                      <option value="5">Non Printed Invoices</option>
                      <option value="6">In Stock Orders</option>
                      <option value="7">Out Of Stock Orders</option>
                      <option value="9">Processed Orders</option>
                      <option value="0">Non Processed Orders</option>
                      <option value="10">Printed Labels</option>
                      <option value="11">Non Printed Labels</option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control form-control-sm search-width-200">
                      <option value="all">Filter By Channel : All</option>
                      <option value="5572">woocommerce -Woocommerce Account</option>
                      <option value="5659">telesale -Telesales</option>
                      <option value="5732">ebay -</option>
                      <option value="5733">rakuten -Rakuten</option>
                      <option value="5734">prestashop -Prestashop Account</option>
                      <option value="5736">ebay -</option>
                      <option value="5740">bonanza -Bonanza Account</option>
                      <option value="5744">opencart -enter name</option>
                      <option value="5746">ebay -</option>
                      <option value="5747">rakuten -Rakuten</option>
                      <option value="5748">volusion -Volusion Account</option>
                    </select>
                  </td>
                  <td> &nbsp; Shiping Country </td>
                  <td>
                    <select class="form-control form-control-sm search-width-220">
                      <option value="000">Select</option>
                      <option value="AR">ARGENTINA</option>
                      <option value="IN">INDIA</option>
                      <option value="GB">UNITED KINGDOM</option>
                    </select>
                  </td>
                  <td> &nbsp; Shipping Methods </td>
                  <td>
                    <select class="form-control form-control-sm search-width-220">
                      <option value="000">Select</option>
                      <option value="1^12">1^12</option>
                      <option value="BPL2">BPL2</option>
                      <option value="CRL24">CRL24</option>
                      <option value="ISOLP">ISOLP</option>
                      <option value="OLP1">OLP1</option>
                      <option value="OLP2">OLP2</option>
                      <option value="TOLP24">TOLP24</option>
                    </select>
                  </td>
                  <td>&nbsp;</td>
                  <td>
                    <div class="input-group">
                      <label class="custom-toggle">
                        <input type="checkbox">
                        <span class="custom-toggle-slider rounded-circle"></span>
                      </label>
                      <label class="text-dark font-11">&nbsp; Show Orders</label>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="box-search-bottom">
          <table>
            <tr>
              <td></td>
              <td>
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="ni ni-calendar-grid-58"></i>
                    </span>
                  </div>
                  <input class="form-control form-control-sm datepicker" placeholder="From" name="dp" ngbDatepicker type="text" />
                </div>
              </td>
              <td>
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="ni ni-calendar-grid-58"></i>
                    </span>
                  </div>
                  <input class="form-control form-control-sm datepicker" placeholder="To" name="tp" ngbDatepicker type="text" />
                </div>
              </td>
              <td style="padding-left: 20px">
                <button class="btn btn-sm  mat-raised-button mat-button-base btn-outline-default">
                  <i class="fa fa-refresh"></i>
                </button>
              </td>
              <td style="padding-left: 20px">
                <button class="btn btn-sm  mat-raised-button mat-button-base btn-outline-default">
                  <i class="fa fa-search"></i>
                </button>
              </td>
              <td style="padding-left: 20px;">
                <select class="form-control form-control-sm search-width-200">
                  <option value=''>Search By</option>
                </select>
              </td>
              <td>
                <div class="input-group search-width-input">
                  <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                  <div class="input-group-append">
                    <button class="btn btn-sm  mat-raised-button mat-button-base btn-default" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </td>
              <td>
                <select class="form-control form-control-sm search-width-150">
                  <option value=''>Sort By</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="font-11" style="margin-left: 10px; margin-bottom: 10px;"> Total Units <span class="badge badge-info">0</span> &nbsp;Total Orders <span class="badge badge-info">0</span>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">
                  <input id="customCheck5" type="checkbox">
                </th>
                <th scope="col">Order Date</th>
                <th scope="col">Order ID</th>
                <th scope="col">Product</th>
                <th scope="col">Qty</th>
                <th scope="col">Item Total/Ship Cost</th>
                <th scope="col">Ship Address</th>
                <th scope="col">Notes</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr class="gradeX odd" role="row" id="row1">
                <td>
                  <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                    <!-- 				
                  
                   -->
                    <input type="checkbox" name="tid" id="31tid" class="checkboxes" value="31" data-set="#sample_1 .checkboxes">
                    <input type="hidden" id="31orderid" value="31">
                    <span></span>
                    <!-- 					
                 -->
                  </label>
                </td>
                <!-- <td class="od sorting_1" title="Order No">29</td> -->
                <td class="date" title="Order Date">
                  <h4 style="margin-top:-26px;">
                    <!-- <span class="label label-default" style="background-color: transparent;color:black;">08/09/2021 09:09:00</span> -->
                    <span class="label label-default" style="background-color: transparent;color:black;;">08/09/2021</span>
                    <br>
                    <span class="label label-default" style="background-color: transparent;color:black;">09:09:00</span>
                  </h4>
                  <img width="50px" src="https://s3-us-west-2.amazonaws.com/synmultichannelprod/2381/49_0b962fac-e687-4757-b4dc-090f02cb45220.png">
                </td>
                <td class="od sorting_1" title="Order No"> 1631094337464
                  <!-- 
               -->
                  <h5>
                    <span class="label label-danger">Unshipped</span>
                  </h5>
                  <br>
                  <img height="30" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubtelesale.png">
                  <br>
                  <br> Telesales
                </td>
                <!-- 			<td class="od" title="telesale"><img height="30" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubtelesale.png"/><br/></td> -->
                <td class="od" title="Product" style="white-space: normal;">
                  <span title="Sku">
                    <a> Sku : 546818 <br>
                    </a>
                  </span>
                  <a data-toggle="modal" data-target="#productModel">
                    <h5>Item id: 29</h5>
                    <h5></h5>
                    <p>ELEPHANT CHAPATTIS ATTA 8 x MEDIUM FLOUR - READY MADE - 360gListed for charity</p>
                  </a>
                </td>
                <td class="stock">
                  <span title="Stock Qty">
                    <a href="javascript:;" class="btn btn-sm  mat-raised-button mat-button-base btn-circle"> 2/3 </a>
                  </span>
                </td>
                <!-- 			<td class="od" title="Customer">
                HMC
                 
              </td> -->
                <td class="amount">
                  <span title="Amount">31.00 / </span>
                </td>
                <td class="smd">
                  <span title="Shipping"> Name : HMC <br> Email : test@gmail.com <br> Address : 115A Grove Green Road, <br> G5, . <br> London, Telangana <br> Postcode : E11 4ED <br> Country : UNITED KINGDOM <br> OLP1 <br>
                  </span>
                  <a class="btn btn-sm  mat-raised-button mat-button-base btn-xs green-meadow tooltips" style="background-color: #1BBC9B; color: white; padding: 3px 8px 2px 8px;" title="Invoice Printed ">
                    <i class="fa fa-print"></i>
                  </a>
                  <a class="btn btn-sm  mat-raised-button mat-button-base btn-xs grey-cascade tooltips" style="background-color: #1BBC9B; color: white; padding: 3px 8px 2px 8px;" title="Order Not Processed" href="javascript:;">
                    <i class="fa fa-microchip"></i>
                  </a>
                  <a class="btn btn-sm  mat-raised-button mat-button-base btn-xs green-meadow tooltips" style="background-color: #1BBC9B; color: white; padding: 3px 8px 2px 8px;" title="Payment Received">
                    <i class="fa fa-money"></i>
                  </a>
                  <a class="btn btn-sm  mat-raised-button mat-button-base btn-xs green-meadow tooltips" style="background-color: #1BBC9B; color: white; padding: 3px 8px 2px 8px;" title="Order Picked" href="javascript:;">
                    <i class="fa fa-gift"></i>
                  </a>
                </td>
                <td class="stock">
                  <div id="" style="padding:2px;">
                    <!-- <h5><span class="label label-default">Unshipped</span></h5> -->
                    <span></span>
                  </div>
                  <a data-toggle="modal" data-target="#moreModel" href="javascript:void(0);">Click for more</a>
                  <br>
                  <a data-toggle="modal" data-target="#noteModel" href="javascript:void(0);">
                    <img src="https://khubweb.s3-us-west-1.amazonaws.com/web/kartzhubediticon.png">
                  </a>
                </td>
                <td>
                  <div class="dropdown">
                    <button mat-raised-button href="#pablo" class="dropdown-toggle btn-sm btn btn-success mat-raised-button mat-button-base" data-toggle="dropdown">Actions <i class="fa fa-angle-down"></i>
                        <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="#pablo">Edit Order</a></li>
                        <li><a href="#pablo">Send Email</a></li>
                        <li><a href="#pablo">Remove Order</a></li>
                        <li><a href="#pablo">Invoice Printed</a></li>
                        <li><a href="#pablo">Ready to Ship</a></li>
                        <li><a href="#pablo">Cancel Orders</a></li>
                    </ul>
                  </div>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="ticket1Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Following orders are in draft status</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-primary">
          <div class="row">
            <div class="col-md-12"> Please select a order from following or create a new order </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <table class="table tableFixHead table-hover order-column v2">
              <thead>
                <tr role="row">
                  <th class="test sorting"> Order Id </th>
                  <th> Created Date </th>
                  <th> Customer Name </th>
                  <th> Customer Email </th>
                  <th> Action </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> 1629994470675 </td>
                  <td> 2021-08-26 16:14:30 </td>
                  <td></td>
                  <td></td>
                  <td>
                    <a class="btn btn-sm  mat-raised-button mat-button-base btn-circle btn-default" href="https://login.sellershub.io/orders/createorder?id=12">
                      <i class="fa fa-check"></i> Select </a>
                    <a class="btn btn-sm  mat-raised-button mat-button-base btn-circle btn-default" onclick="removedraftorder(12)">
                      <i class="fa fa-times font-red"></i> Remove </a>
                  </td>
                </tr>
                <tr>
                  <td> 1631615816841 </td>
                  <td> 2021-09-14 10:36:56 </td>
                  <td></td>
                  <td></td>
                  <td>
                    <a class="btn btn-sm  mat-raised-button mat-button-base btn-circle btn-default" href="https://login.sellershub.io/orders/createorder?id=32">
                      <i class="fa fa-check"></i> Select </a>
                    <a class="btn btn-sm  mat-raised-button mat-button-base btn-circle btn-default" onclick="removedraftorder(32)">
                      <i class="fa fa-times font-red"></i> Remove </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="alert alert-primary">
            <img src="https://login.sellershub.io/web/kartzhubtelesale.png"> &NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace; <b>Create a new order in KartzHub. Sale channel will be set to Telesales</b>
          </div>
          <div class="col-md-6">
            <label>
              <strong>Please select a channel</strong>
            </label>
            <select id="createdraftorderchannel" class="form-control">
              <option value="-1">Telesales</option>
              <option value="5569">amazon -</option>
              <option value="5570">etsy -Etsy Account</option>
              <option value="5571">ebay -ebay UK</option>
              <option value="5572">woocommerce -Woocommerce Account</option>
              <option value="5659">telesale -Telesales</option>
              <option value="5732">ebay -</option>
              <option value="5733">rakuten -Rakuten</option>
              <option value="5734">prestashop -Prestashop Account</option>
              <option value="5736">ebay -</option>
              <option value="5740">bonanza -Bonanza Account</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn btn-sm -group float-right">
            <a href="#createorder" type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-dark">
              <i class="fa fa-envelope-o"></i> Create New Order </a>
            <button type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-secondary" data-dismiss="modal">
              <i class="fa fa-times text-red"></i> Close </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="dispatch" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Dispatch Console</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="">
            <div class="tabbable tabbable-tabdrop">
              <div class="tabbable-custom">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" onclick="focusorderbox();" aria-expanded="true" style="">By Order Id</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" onclick="focusitembox();" aria-expanded="false" style="">By Item Barcode</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab1">
                    <div class="input-group">
                      <input type="text" id="searchByOrder" name="searchByOrder" class="form-control" placeholder="Search by Order Id" autofocus="">
                      <span class="input-group-btn">
                        <a href="javascript:void(0)" onclick="searchOrderId()">
                          <button class="btn btn-sm  mat-raised-button mat-button-base btn-default" type="button">Search</button>
                        </a>
                      </span>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab2">
                    <div class="input-group">
                      <input type="text" id="searchByItem" class="form-control" name="searchByItem" placeholder="Search by Item Barcode" autofocus="">
                      <span class="input-group-btn">
                        <a href="javascript:void(0)" onclick="serachByItemBarcode()">
                          <button class="btn btn-sm  mat-raised-button mat-button-base btn-default" type="button">Search</button>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn btn-sm -group float-right">
            <button type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-dark">
              <i class="fa fa-envelope-o"></i> Create New Order </button>
            <button type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-secondary" data-dismiss="modal">
              <i class="fa fa-times text-red"></i> Close </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="productModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Channel Products are displayed below</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
            <thead>
              <tr>
                <th> Image </th>
                <th> Title </th>
                <th> SKU </th>
                <th> Item Id </th>
                <th> Channel </th>
                <th> Qty </th>
                <th> Price </th>
                <th> Channel Status </th>
                <th> Feed Status </th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="modal-footer">
          <div class="btn btn-sm -group float-right">
            <!-- <button type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-dark"><i class="fa fa-envelope-o"></i> Create New Order</button> -->
            <button type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-secondary" data-dismiss="modal">
              <i class="fa fa-times text-red"></i> Close </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="moreModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Order Comments</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <div class="btn btn-sm -group float-right">
            <!-- <button type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-dark"><i class="fa fa-envelope-o"></i> Select</button> -->
            <button type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-secondary" data-dismiss="modal">
              <i class="fa fa-times text-red"></i> Close </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="noteModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Order Comments</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="blog-comments">
            <h3 class="sbold blog-comments-title">Comments(0)</h3>
            <div class="c-comment-list"></div>
            <h3 class="sbold blog-comments-title">Leave A Comment</h3>
            <form action="">
              <div class="form-group">
                <textarea rows="8" id="ordercommenttextid" name="message" placeholder="Write comment here ..." class="form-control c-square" value="  "></textarea>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn btn-sm -group float-right">
            <button type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-dark">
              <i class="fa fa-envelope-o"></i> Save </button>
            <button type="button" class="btn btn-sm  mat-raised-button mat-button-base btn-secondary" data-dismiss="modal">
              <i class="fa fa-times text-red"></i> Close </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
