<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-12">
                <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubhermes.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label> Configure MyHermes Order Export file</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="pull-right">
                    <!-- <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a> -->
                    <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                </div>

             </div><br>
            </div>
        </div>
        
        <div class="card-body">
                    <div class="row">
                    <div class="alert alert-default" style="margin: 8px !important; padding-left: 50px; padding-right: 250px">
                        <b>Please configure the MyHermes order export profiles:</b> <br>
                        You can create multiple profiles with default values and can be select a profile at the time of the order export to MyHermes 
                    </div>
                        <br />
                        <br />
                        <div class="table-responsive">
                            <table class="table align-items-center table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                Export Profile Name
                                            </th>

                                            <th>
                                                Default Weight (KG)
                                            </th>
                                            <th>
                                                Compensation Value (GBP)
                                            </th>
                                            <th>
                                                Signature (Y/N)
                                            </th>
                                                <th>
                                                    Action
                                                </th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td>
                                                <input class="form-control form-control-sm" type="text" value="" id="profilenameid">
                                            </td>
                                            <td>
                                                <input class="form-control form-control-sm" type="text" value="" id="weightid">
                                            </td>
                                            <td>
                                                <input class="form-control form-control-sm" type="text" value="" id="compensationid">
                                            </td>
                                            <td>
                                                <select id="selectsignature" class="form-control">
                                                    <option value="false">No</option>
                                                    <option value="true">Yes</option>
                                                </select>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-default btn-circle"  href="javascript:void(0)"><i class="fa fa-plus"></i> Add</a>
                                            </td>
                                        </tr>
                                        </tbody>
                            </table>
                    </div>
            </div>
            
        </div>

        <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
      </div>
    </div>
  </div>
  
</div>