.font-10 {
    font-size: 7.8pt !important;
  }
  .font-11 {
    line-height: 23px !important;
    font-size: 9pt !important;
  }
  .form-group {
    margin-bottom: 0.5rem !important;
  }
  .font-12 {
    font-size: 11pt !important;
  }
  .font-14 {
      margin-top: 5px !important;
      margin-bottom: -25px !important;
      font-size: 13pt !important;
    }
  .modal-header {
      padding: 0.75rem !important;
      color: #fff !important;
    }
    .modal-footer {
      border-top: 1px solid rgb(219, 219, 219) !important;
      padding: 1.05rem !important;
    }
    .font-13 {
      font-size: 13pt !important;
    }
    .font-12 {
      margin-left: 0px !important;
      margin-right: 20px !important;
      margin-bottom: 20px !important;
      font-size: 10.5pt !important;
    }
    .font-12-a {
      margin-left: 20px !important;
      margin-right: 20px !important;
      margin-bottom: 20px !important;
      font-size: 10.5pt !important;
    }
    .font-11 {
      font-size: 9.5pt !important;
    }
    .alert {
        border-radius: 3px !important;
        padding: 4px !important;
    }

    .label-text {
        font-size: 11pt !important;
        margin-bottom: 0px !important;
    }