<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-12">
                <h3 class="mb-0"><i class="fa fa-bell"></i> Manage Notification Alerts</h3>
              </div>
            </div>
        </div>

        <div class="modal fade" id="lowStockModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header bg-default">
                  <h5 class="modal-title font-14 text-white">Enable Low Stock Alert Email</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="alert alert-default">&nbsp; Automated email will be sent when the stock is running low</div>
                  <div class="row">
                    <div class="col-12">
                      
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="font-12 label-text">Minimum Stock Level</label>
                        <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="By default quantiy 1 will be set">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1" class="font-12 label-text">Altert Email</label>
                        <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Email will be sent to this address">
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" name="isEnable">
                        <label for="exampleInputEmail1" class="font-12">&nbsp; Enable</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="btn-group float-right">
                    <button type="button" class="btn btn-sm btn-default"><i class="fa fa-check-circle"></i> Save Setting</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="newOrderModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header bg-success">
                  <h5 class="modal-title font-14 text-white">New Order Email Notification</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="alert alert-default">&nbsp; Email will be set to the below email for new orders</div>
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Channel</th>
                        <th scope="col">To Email Address</th>
                        <th scope="col">Enable</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubebay.png" style="width: 100px; height: 25px;"/>&nbsp; 0</td>
                          <td><input type="text" class="form-control form-control-sm"></td>
                          <td><input type="checkbox" /></td>
                        </tr>
                        <tr>
                            <td><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubamazon.png" style="width: 100px; height: 25px;"/>&nbsp; 0</td>
                            <td><input type="text" class="form-control form-control-sm"></td>
                            <td><input type="checkbox" /></td>
                          </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <div class="btn-group float-right">
                    <button type="button" class="btn btn-sm btn-success"><i class="fa fa-check-circle"></i> Save Setting</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="smsModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header bg-primary">
                  <h5 class="modal-title font-14 text-white">New Order Notification SMS</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="alert alert-default">&nbsp; SMS will be sent to the below number for new orders</div>
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Channel</th>
                        <th scope="col">To Number</th>
                        <th scope="col">Enable</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubebay.png" style="width: 100px; height: 25px;"/>&nbsp; 0</td>
                          <td>ID <input type="text" class="form-control form-control-sm"></td>
                          <td><input type="checkbox" /></td>
                        </tr>
                        <tr>
                            <td><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubamazon.png" style="width: 100px; height: 25px;"/>&nbsp; 0</td>
                            <td>ID <input type="text" class="form-control form-control-sm"></td>
                            <td><input type="checkbox" /></td>
                          </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <div class="btn-group float-right">
                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-check-circle"></i> Save Setting</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Notification Type</th>
                <th scope="col">Setting</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>Low Stock Alert Email</td>
                  <td><button data-toggle="modal" data-target="#lowStockModal" class="btn btn-sm btn-outline-default"><i class="fa fa-cogs"></i> Settings</button></td>
                </tr>

                <tr>
                    <td>New Order Notification Email</td>
                    <td><button data-toggle="modal" data-target="#newOrderModal" class="btn btn-sm btn-outline-success"><i class="fa fa-cogs"></i> Settings</button></td>
                </tr>

                <tr>
                    <td>New Order Notification SMS</td>
                    <td><button data-toggle="modal" data-target="#smsModal" class="btn btn-sm btn-outline-primary"><i class="fa fa-cogs"></i> Settings</button></td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-2">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
  
</div>
