<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Table -->
        <div class="row p--0 mt--4">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-1">
                <div class="row align-items-center">
                    <div class="col-12">
                      <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage your {{ title }} account integration setting</h3>
                    </div>
                    
                  </div>
              </div>
              
              <div class="card-body">
                 
                <div class="modal fade" id="modalCat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-dark">
                          <h5 class="modal-title font-14 text-white">Please Select a Fruugo Category</h5>
                          <button type="button" #closemodal class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-5">
                                      <select class="form-control form-control-sm" id="amazonbrowsernodeselcid">
                                        <option value="">Please select a Category</option>
                                      </select>
                                    </div>
                                    <div class="col-md-4">
                                      <input type="text" class="form-control form-control-sm" placeholder="Search text" id="amazonbrowsernodesearchtext">
                                    </div>
                                    <div class="col-md-3">
                                      <a href="javascript:void(0)" class="btn btn-success btn-sm btn-circle">Search</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 mt-10">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-light">
                                      <tr>
                                        <th>Node</th>
                                        <th>Action</th>
                                      </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="btn-group float-right">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>
                </div>
                  
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Integration</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link font-11" data-toggle="tab" href="#other">Listing Templates</a>
                      </li>
                  </ul>
  
                  <div class="tab-content">
                      <div id="app_store" class="container tab-pane active"><br>
                           <div class="row" style="border-bottom: 1px solid #CCC;">
                              <div class="col-3">
                                <h4 class="mb-0"><img src="{{ logo }}" class="image-logo" /></h4>
                              </div>
                              <div class="col-9 float-right">
                                <a class="btn btn-secondary btn-dark btn-sm">Save <i class="fa fa-angle-right"></i></a>
                                <a class="btn btn-secondary btn-outline btn-sm"><i class="fa fa-exchange"></i> Test Connection</a>
                                <a class="btn btn-secondary btn-dark btn-sm"><i class="fa fa-times-circle-o"></i> Download Fruugo Catalog</a>
                                <a class="btn btn-secondary btn-outline btn-sm" routerLink="/channelconnector"><i class="fa fa-remove"></i> Close</a>
                              </div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-sm-6">
                                     <div class="form-group">
                                        <label class=" control-label">Channel Name</label>
                                        <br>
                                        <input type="text" value="Fruugo Account" class="form-control form-control-sm" id="channelname" placeholder="Channel Name">
                                      </div>
                                      <div class="form-group">
                                        <label class=" control-label">Api Username </label>
                                        <input type="text" value="" class="form-control form-control-sm" id="apiusername" placeholder="api username">
                                      </div>
                                      <div class="form-group">
                                        <label class=" control-label">Api Password</label>
                                        <input type="text" value="" class="form-control form-control-sm" id="apipassword" placeholder="api password">
                                      </div>
                                </div>

                                <div class="col-sm-6">
                                      <div class="form-group">
                                        <input type="checkbox" value="true" id="downloadorders" placeholder="Download Orders">
                                        <label class=" control-label"> Download Orders</label>
                                      </div>
                                      <div class="form-group">
                                        <input type="checkbox" value="true" id="downloadamazoncatalogid">
                                        <label class="control-label"> Download the catalog into KartzHub</label>
                                      </div>
                                </div>
                            </div>
                      </div>
                      <div id="other" class="container tab-pane fade">
                            
                            <div class="col-sm-12">
                                <div class="float-right mb-20 mt-10">
                                    <a href="#" class="btn btn-secondary btn-sm btn-circle" ><i class="fa fa-arrow-up font-blue"></i> New Listing Template</a>
                                    <a routerLink="/channelconnector" class="btn btn-secondary btn-sm btn-circle"><i class="fa fa-remove text-red"></i> Close</a>
                                </div>
                                <table class="table tableFixHead table-hover order-column v2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Template Name</th>
                                            <th>Modified Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Template Name</label>
                                      <div>
                                        <input type="text" value="Template name" class="form-control form-control-sm" id="channeltemplatename" placeholder="Enter Template Name">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label>Pricing Rule</label>
                                      <input type="text" value="" class="form-control form-control-sm" id="pricingrulesid" placeholder="Pricing Rule">
                                      <div class="box-listing padding-10">
                                        <p>e.g <strong>$ (selling_price!) - 10 </strong>
                                        </p>
                                        <p></p>
                                        <p> This make the best offer minimum amount by selling price less 10 Tags available are <strong>$ $ (selling_price!)</strong>
                                        </p>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label>Category</label>
                                      <div class="input-group">
                                        <input type="text" value="" class="form-control form-control-sm" id="selectedcategorynameid" placeholder="Enter Category name">
                                        <span class="input-group-btn"><button data-toggle="modal" data-target="#modalCat" class="btn-xs" type="button">Fruugo Category</button></span>
                                      </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Brand</label>
                                      <div>
                                        <input type="text" value="" class="form-control form-control-sm" id="channeltemplatebrand" placeholder="Enter Brand name">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label>Manufacturer</label>
                                      <div>
                                        <input type="text" value="" class="form-control form-control-sm" id="channeltemplatemanufacture" placeholder="Enter Manufacturer name">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label>VAT rate</label>
                                      <div>
                                        <input type="text" value="" class="form-control form-control-sm" id="channeltemplatvatrate" placeholder="Enter VAT rate">
                                        <span class="help-block">VAT rate applicable for the product listed on Fruugo. By default zero rate will be applied</span>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label>Currency</label>
                                      <div>
                                        <select class="form-control form-control-sm" id="currencyid">
                                          <option value="gbp">Pound</option>
                                          <option value="euro">Euro</option>
                                        </select>
                                        <span class="help-block">By default GBP will be applied</span>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label>Language</label>
                                      <div>
                                        <select class="form-control form-control-sm" id="lanuageid">
                                          <option value="en">English</option>
                                          <option value="fr">French</option>
                                          <option value="de">German</option>
                                          <option value="it">Italian</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label>Lead Time</label>
                                      <div>
                                        <select class="form-control form-control-sm" id="leadtime">
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          <option value="6">6</option>
                                          <option value="7">7</option>
                                          <option value="8">8</option>
                                          <option value="9">9</option>
                                          <option value="10">10</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                      </div>
                  </div>
                  
              </div>
  
              <div class="card-footer py-4">
                  
                </div>
            </div>
          </div>
        </div>
    
  
      </div>
    </div>
  </div>