<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubdropbox.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- <label><i class="fa fa-truck"></i> Manage Dx Integration</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

                            <div class="pull-right">
                                <a class="btn btn-sm btn-default btn-circle" href="https://business.parcel.royalmail.com/login/?ReturnUrl=%2f"><i class="fa fa-share font-green"></i>  Access To Click & Drop Account </a>
                                <a class="btn btn-sm btn-danger btn-circle"  href="#shippingcourierlist"><i class="fa fa-times font-red"></i> Close</a>		
                            </div>

                        </div><br>
                    </div>
                </div>

                        <div class="card-body">
                            <div class="portlet box">
                                <div class="portlet-body">
                                    <div class="portlet transparent">
                                        <div class="portlet-body form">
                                            <form class="" role="form">
                                                <div class="row">
                                                    <div class="col-md-6 nopadding">
                                                        <div class="col-md-12" style="background-color: #A8D1E7;">
                                                            <div class="mt-element-ribbon">
                                                                
                                                                <ul class="ribbon-content " style="color:black;">
                                                                        <div class="form-group">
                                                                <label style="">Access Token</label>
                                                                <input class="form-control" type="text" id="accesstoken" value="">
                                                            </div>
                                                                 <a class="btn" style="background-color: #053F5C; color: white;" >Connect to Royal Mail</a>
                                                                            
                                                                        
                                                                    </ul>
                                                                    
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>							<br>
                </div>