<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
              <div class="col-12">
                <h3 class="mb-0"><i class="fa fa-random"></i> Manage Inventory Synchronization Settings</h3>
              </div>
              
            </div>
        </div>

        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Stock Synchronization by Channels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-11" data-toggle="tab" href="#other">Products excluded from Stock Synch</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="app_store" class="container tab-pane active"><br>
                    <div class="font-11">
                        <div class="row">
                            <div class="col-6">
                                <div style="margin-left: -10px !important;">
                                    <div class="form-group">
                                        <input type="checkbox" />
                                        <label for="exampleInputEmail1" class="font-12">&nbsp; Enabled Stock Synchronization</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="btn-group float-right">
                                    <button type="button" style="cursor: pointer" class="btn btn-sm btn-default"><i class="fa fa-check-circle"></i> Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-default">
                            Stock synchronization is currently switched off. Please enable it to keep your stock level in synch between channels.
                        </div>
                    </div>
                      
                      <table class="table align-items-center table-flush table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Channel Name</th>
                                <th>Name</th>
                                <th>Synchronize</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>eBay</td>
                                <td></td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Amazon</td>
                                <td></td>
                                <td><input type="checkbox" /></td>
                            </tr>
                        </tbody>
                      </table>
                </div>
                <div id="other" class="container tab-pane fade"><br>
                    <div class="row">
                        <div class="col-6">
                            <div style="margin-left: -10px !important;">
                                &nbsp;
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="btn-group float-right">
                                <button type="button" style="cursor: pointer" class="btn btn-sm btn-default"><i class="fa fa-check-circle"></i> Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-12">
                            <table class="table table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th>SKU</th>
                                        <th>TITLE</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="card-footer py-4">
            
        </div>
      </div>
    </div>
  </div>
  
</div>