<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
               		<div class="row">
			<div class="col-md-12">
				<div class="card transparent">
					<div class="card box blue">
						<div class="card-header">
							<div class="caption">
								<i class="fa fa-cogs"></i>Royal Mail OBA/DMO Integration Request
							</div>
						</div>
						<div class="card-body">
							<div class="card transparent">
								<div class="card-header">
									<div class="caption">
										<img height="40" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubroyalmail.png">
									</div>
								</div>

                                    <div class="card-body">

                                        <div class="alert alert-warning">
                                            <p>Please complete the below details to get RoyalMail Label integration setup completed.  After submitting these details to Royal Mail, please allow upto 10 working days to get the KartzHub/Royal Mail connection active on your Account. </p>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                
                                                <form class="form-horizontal" method="post" action="https://login.sellershub.io/orders/updateshipstationroyalmail?id=4" role="form">
                                                    <div class="col-md-6"  style="float:left;">
                                                        <div class="form-group">
                                                            <label for="ndcompanyname" class="col-md-4 control-label">Your Company Name </label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="ndcompanyname" name="ndCompanyName" value="" placeholder="Your Company Name">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndbuildingname" class="col-md-4 control-label">Building Name</label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="ndbuildingname" name="ndBuildingName" value="" placeholder="Building Name">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndstreet" class="col-md-4 control-label">Street </label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="ndstreet" name="ndStreet" value="" placeholder="Street Name">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndstreet" class="col-md-4 control-label">County </label>
                                                            <div class="col-md-8">
                                                            <input type="text" class="form-control" id="ndCounty" name="ndCounty" value="" placeholder="County">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndCcity" class="col-md-4 control-label">City </label>
                                                            <div class="col-md-8">
                                                            <input type="text" class="form-control" id="ndCcity" name="ndCity" value="" placeholder="City">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndstreet" class="col-md-4 control-label">Postcode </label>
                                                            <div class="col-md-8">
                                                            <input type="text" class="form-control" id="ndPostcode" name="ndPostcode" value="" placeholder="Postcode">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndstreet" class="col-md-4 control-label">Website </label>
                                                            <div class="col-md-8">
                                                            <input type="text" class="form-control" id="ndWebsite" name="ndWebsite" value="" placeholder="Website">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndstreet" class="col-md-4 control-label">Approximate Monthly Volume with Royal Mail   <span class="required">
                                                            * </span></label>
                                                            <div class="col-md-8">
                                                            <input type="text" class="form-control" id="ndMonthlyVolume" name="ndRMMonthlyVolumes" value="" placeholder="Approximate Monthly Volume with Royal Mail">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndstreet" class="col-md-4 control-label">Contact Name </label>
                                                            <div class="col-md-8">
                                                            <input type="text" class="form-control" id="ndContactName" name="ndContactName" value="" placeholder="Contact Name">
                                                            </div>
                                                        </div>

                                                    
                                                    </div>
                                                    <div class="col-md-6 pull-right"  style="float:right;">
                                                        <div class="form-group">
                                                            <label for="ndstreet" class="col-md-4 control-label">Phone </label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="ndPhone" name="ndPhone" value="" placeholder="Phone">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndstreet" class="col-md-4 control-label">Mobile </label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="ndMobile" name="ndMobile" value="" placeholder="Mobile">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndstreet" class="col-md-4 control-label">Email </label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="ndEmail" name="ndEmail" value="" placeholder="Email">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndstreet" class="col-md-4 control-label">Royal Mail Account Manager's name </label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="ndAccountManager" name="ndRMAccountManager" value="" placeholder="Royal Mail Account Manager&#39;s name">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndstreet" class="col-md-4 control-label">PPI License Number </label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="ndPPILicenseNumber" name="ndRMPPILicenseNumber" value="" placeholder="PPI License Number">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndstreet" class="col-md-4 control-label">OBA/DMO Account Number  :<span class="required"> * </span></label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="ndOBAAccountNumber" name="rmAccountNumber" value="" placeholder="OBA Account Number">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndstreet" class="col-md-4 control-label">OBA Admin Email :<span class="required"> * </span></label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="ndOBAAdminEmail" name="ndRMOBAAdminEmail" value="" placeholder="OBA Admin Email ">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndstreet" class="col-md-4 control-label">Allowed Domestic Shipping Services :<span class="required">* </span></label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="ndRMDomesticServices" name="ndRMDomesticServices" value="">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ndstreet" class="col-md-4 control-label">Allowed International Shipping Services :<span class="required"> * </span></label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="ndRMInternationalServices" name="ndRMInternationalServices" value="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 pull-center">
                                                        <div class="form-group">
                                                            <div class="col-md-8 col-md-4">
                                                                <button type="submit" class="btn btn-xs btn-success">Submit</button>
                                                                <a href="#royalmaillabelsetup" class="btn btn-xs btn-danger">Cancel</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>  

                                </div>

										
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        </div>
    </div>

</div>