<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
              <div class="col-sm-5">
                CDISCOUNT LISTING TEMPLATE - STEP 1 OF 2
              </div>
              <div class="col-7 text-right">
                <div class="float-right">
                    <a onclick="history.back();" class="btn btn-sm btn-secondary"><i class="fa fa-angle-left"></i> Back</a>
                </div>
                
              </div>
            </div>
        </div>
        
        <div class="card-body">
            <ul class="nav new-nav new-nav-tabs nav-tabs" role="tablist">
                <li class="nav-item-">
                    <a id="theone" class="nav-link active" data-toggle="tab" href="#one"><span class="numberCircle"><span>1</span></span> Category Setup</a>
                </li>
                <li class="nav-item-">
                    <a id="thetwo" class="nav-link" data-toggle="tab" href="#two"><span class="numberCircle"><span>2</span></span> Mandatory Information</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="one" class="container tab-pane active"><br />
                    <label>Provide Listing Categorydetails</label>
                    <div class="row mb-20">
                        <div class="col-sm-8">
                            <table>
                                <tr>
                                    <td>Template Name</td><td><input type="text" placeholder="Enter Template Name" class="form-control form-control-sm" /></td>
                                </tr>
                                <tr>
                                    <td>Category Id</td><td><input type="text" placeholder="Category Id" class="form-control form-control-sm" /></td>
                                </tr>
                                <tr>
                                    <td>Standard Shipping Charges</td><td><input type="text" placeholder="0" value="0" class="form-control form-control-sm" /></td>
                                </tr>
                                <tr>
                                    <td>Registered Shipping Charges</td><td><input type="text" placeholder="0" value="0" class="form-control form-control-sm" /></td>
                                </tr>
                                <tr>
                                    <td>Tracked Shipping Charges</td><td><input type="text" placeholder="0" value="0" class="form-control form-control-sm" /></td>
                                </tr>
                                <tr>
                                    <td>Pricing Rule</td><td><input type="text" placeholder="Pricing Rule" value="0" class="form-control form-control-sm" /></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-4">
                            <table>
                                <tr><td>&nbsp;</td></tr>
                                <tr><td><a class="btn btn-sm btn-warning">Select a Category</a></td></tr>
                                <tr><td><input type="text" value="0" class="form-control form-control-sm" id="additionalStandardShippingCharges" placeholder="For each additional item"></td></tr>
                                <tr><td><input type="text" value="0" class="form-control form-control-sm" id="additionalRegisteredShippingCharges" placeholder="Registered Shipping Charges"></td></tr>
                                <tr><td><input type="text" value="0" class="form-control form-control-sm" id="additionalTrackedShippingCharges" placeholder="For each additional item"></td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="btn-group float-right mt-20">
                        <button type="button" (click)="switchtabTwo()" class="btn btn-sm btn-default">Continue <i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
                <div id="two" class="container tab-pane fade">
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label"> Model Name</label>
                                <div class="col-md-9"><input type="text" id="modelName" class="form-control form-control-sm" value=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group float-right mt-20">
                        <button type="button" (click)="switchtabOne()" class="btn btn-sm btn-secondary"><i class="fa fa-angle-left"></i> Back</button>
                        <button type="button" (click)="saveProduct()" class="btn btn-sm btn-default">Save</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="card-footer py-4">
            
        </div>
      </div>
    </div>
  </div>
</div>
