<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0"><i class="fa fa-puzzle-piece"></i> Manage Invoice Templates</h3>
              </div>
              <div class="col-4">
                <!-- <div class="input-group search-width-input">
                    <input type="text" class="form-control form-control-sm" placeholder="Enter Supplier Name To Search">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
              </div> -->
            </div>
        </div>
        
        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active font-11" data-toggle="tab" href="#app_store">Invoice Text</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-11" data-toggle="tab" href="#other">Invoice Designs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-11" data-toggle="tab" href="#setting">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-11" data-toggle="tab" href="#tags">Useful Tags</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="app_store" class="container tab-pane active"><br>
                    
                    <div class="card box">
                        <div class="">
                        <div class="card transparent">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubebay.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <!-- <label><i class="fa fa-truck"></i> Manage DPD Integration</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        
                                    <div class="pull-right">
                                        <a class="btn btn-sm btn-circle btn-default" target="_blank" ><i class="fa fa-image"></i> Preview</a>
                                        <a class="btn btn-sm btn-success btn-circle" href="javascript:void(0)"><i class="fa fa-check"></i> Save</a>
                                        <a class="btn btn-sm btn-default btn-circle" ><i class="fa fa-times font-red"></i> Close</a>	
                                    </div>
        
                                </div><br>
                            </div>
                        </div>
                        <div class="card-body form">
                            <form role="form">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Please enter Invoice Header Text</label>
                                    <!-- <editor
                                        apiKey="3gek4kbjbw1x1ymh8rm76x017i31n5kxul87yok3761qhdc1"
                                        [init]="{
                                            height: 300,
                                            menubar: false,
                                            plugins: ['advlist autolink lists link image charmap print preview anchor','searchreplace visualblocks code fullscreen','insertdatetime media table paste code help wordcount'],
                                            toolbar:'undo redo | formatselect | bold italic backcolor | \
                                            alignleft aligncenter alignright alignjustify | \
                                            bullist numlist outdent indent | removeformat | help'
                                        }"
                                        ></editor> -->
                                </div>
                                <div class="form-group">
                                    <label>Please enter Invoice Body Text</label>
                                    <input id="invoiceAddressText" type="hidden" value="">
                                    <!-- <editor
                                        apiKey="3gek4kbjbw1x1ymh8rm76x017i31n5kxul87yok3761qhdc1"
                                        [init]="{
                                            height: 300,
                                            menubar: false,
                                            plugins: ['advlist autolink lists link image charmap print preview anchor','searchreplace visualblocks code fullscreen','insertdatetime media table paste code help wordcount'],
                                            toolbar:'undo redo | formatselect | bold italic backcolor | \
                                            alignleft aligncenter alignright alignjustify | \
                                            bullist numlist outdent indent | removeformat | help'
                                        }"
                                        ></editor> -->
                                </div>

                                <div class="form-group">
                                    <label>Please enter Invoice Footer Text</label>
                                    <!-- <editor
                                        apiKey="3gek4kbjbw1x1ymh8rm76x017i31n5kxul87yok3761qhdc1"
                                        [init]="{
                                            height: 300,
                                            menubar: false,
                                            plugins: ['advlist autolink lists link image charmap print preview anchor','searchreplace visualblocks code fullscreen','insertdatetime media table paste code help wordcount'],
                                            toolbar:'undo redo | formatselect | bold italic backcolor | \
                                            alignleft aligncenter alignright alignjustify | \
                                            bullist numlist outdent indent | removeformat | help'
                                        }"
                                        ></editor> -->
                                </div>
                            </div>
                            </form>

                        </div>
                    </div>
                </div>
                </div>
                </div>
                <div id="other" class="container tab-pane fade"><br>
							   
                    <div class="card box">
                            <div class="">
                                 <div class="card transparent">
                                    <div class="form-group">
                                        <h4>Available Label designs</h4>

                                        <a href="javascript:void(0)"><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/images/shippinglabels/S11_2.png"></a>

                                        <a href="javascript:void(0)">
                                        <img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/images/shippinglabels/singleB.png">
                                        </a>
                                        <a href="javascript:void(0)">
                                        <img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhublabelsS9.jpg">
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                </div>


                <div id="setting" class="container tab-pane fade"><br>
                    <div class="card box">
                        <div class="">
                        <div class="card transparent">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubebay.png"/></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <!-- <label><i class="fa fa-truck"></i> Manage DPD Integration</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        
                                    <div class="pull-right">
                                        <a class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i> Save Changes </a>
                                        <a class="btn btn-sm btn-danger btn-circle"  ><i class="fa fa-times font-red"></i> Close</a>		
                                    </div>
        
                                </div><br>
                            </div>
                        </div>
                        <div class="card-body form">
                            <!-- from here -->
                            <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">

                                <div class="form-body">
                                    <div class="form-group row">
                                        <label class="col-md-3 control-label">Image </label>
                                        <div class="col-md-9">
                                            <input id="showImage" type="checkbox">
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 control-label">Item </label>
                                        <div class="col-md-9">
                                            <input id="showItem" type="checkbox">
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 control-label">SKU </label>
                                        <div class="col-md-9">
                                            <input id="showSku" type="checkbox">
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 control-label">Show Tax Amount </label>
                                        <div class="col-md-9">
                                            <input id="showTaxAmount" type="checkbox">
                                            <input type="hidden" id="channelid" name="channelid" value="5732">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-md-3 control-label">Tax Amount</label>
                                        <div class="col-md-9">
                                            <input id="taxAmount" type="text" placeholder="Tax amount" class="form-control" value="0">
                                            <span class="help-block"> e.g enter 20  for 20% tax </span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 control-label">Upload your Invoice Logo</label>
                                        <div class="col-md-9">
                                            <input type="hidden" name="channeluserid" value="11391">
                                            <input class="form-control" type="file" name="file" value="fileupload" id="fileToUpload">

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 control-label">&nbsp;</label>
                                        <div class="col-md-9">
                                            <input type="submit" class="btn btn-sm btn-success btn-circle" value="Upload Logo Image" name="Upload Logo Image">

                                        </div>
                                    </div>
                                    
                                    </div>
                                    </form>

                                </div>
                                    <!-- upto here -->

                                </div>
                            </div>
                        </div>
                </div>


                <div id="tags" class="container tab-pane fade"><br>
                    <div class="card box">
                        <div class="card-body">
                            <!-- Table-->
                            <div class="table-scrollable">
                                <table class="table tableFixHead table-hover order-column v2">

                                <thead>
                                <tr>
                                <th>
                                Field
                                </th>
                                <th>
                                Description
                                </th>
                                </tr>
                                </thead>
                                <tbody>


                                <tr>
                                <td>
                                <a href="javascript:void(0)">${{ '{' }}shippingname!{{ '}' }}</a><br>
                                </td>
                                <td>
                                Shipping Name
                                </td>

                                </tr>

                                <tr>
                                <td>
                                <a href="javascript:void(0)">${{ '{' }}address_line1!{{ '}' }}</a>
                                </td>
                                <td>
                                Shipping Address Line One
                                </td>

                                </tr>

                                <tr>
                                <td>
                                <a href="javascript:void(0)">${{ '{' }}address_line2!{{ '}' }}</a>
                                </td>
                                <td>
                                Shipping Address Line Two
                                </td>

                                </tr>

                                <tr>
                                <td>
                                <a href="javascript:void(0)">${{ '{' }}address_line3!{{ '}' }}</a>



                                </td>
                                <td>
                                Shipping Address Line Three
                                </td>

                                </tr>

                                <tr>
                                <td>
                                <a href="javascript:void(0)">${{ '{' }}city!{{ '}' }}</a>
                                </td>
                                <td>
                                Shipping City
                                </td>

                                </tr>

                                <tr>
                                <td>
                                <a href="javascript:void(0)">${{ '{' }}state!{{ '}' }}</a>



                                </td>
                                <td>
                                Shipping State/County
                                </td>

                                </tr>

                                <tr>
                                <td>
                                <a href="javascript:void(0)">${{ '{' }}postcode!{{ '}' }}</a>



                                </td>
                                <td>
                                Shipping Zip Code/Post Code
                                </td>
                                </tr>

                                <tr>
                                <td>
                                <a href="javascript:void(0)">${{ '{' }}country!{{ '}' }}</a>



                                </td>
                                <td>
                                Shipping Country
                                </td>

                                </tr>

                                <tr>
                                <td>
                                <a href="javascript:void(0)">${{'{'}}ebay_record_number!{{'}'}}</a>



                                </td>

                                <td>
                                eBay Order Record Number
                                </td>
                                </tr>


                                <tr>
                                <td>

                                <a href="javascript:void(0)">${{'{'}}total_price!{{'}'}}</a>

                                </td>
                                <td>
                                Total Order Price
                                </td>
                                </tr>

                                <tr>
                                <td>

                                <a href="javascript:void(0)">${{'{'}}qty_sku_list!{{'}'}}</a>


                                </td>
                                <td>
                                Quantity/SKU list
                                </td>
                                </tr>
                                <tr>
                                <td>

                                <a href="javascript:void(0)">${{ '{' }}shipping_charge!{{ '}' }}</a>


                                </td>
                                <td>
                                Shipping Charge
                                </td>
                                </tr>

                                <tr>
                                <td>

                                <a href="javascript:void(0)">${{ '{' }}order_id!{{ '}' }}</a>


                                </td>
                                <td>
                                Order Id
                                </td>

                                </tr>

                                <tr>
                                <td>

                                <a href="javascript:void(0)">${{ '{' }}royalmail_ppi!{{ '}' }}</a>


                                </td>
                                <td>
                                Royal Mail PPI Image
                                </td>
                                </tr>

                                <tr>
                                <td>

                                <a href="javascript:void(0)">${{ '{' }}checkout_message!{{ '}' }}</a>


                                </td>
                                <td>
                                Checkout Buyer Message
                                </td>

                                </tr>

                                <tr>
                                <td>

                                <a href="javascript:void(0)">${{ '{' }}buyer_username!{{ '}' }}</a>


                                </td>
                                <td>
                                Buyer Username (e.g eBay user id)
                                </td>
                                </tr>

                                <tr>
                                <td>
                                <a href="javascript:void(0)">${{ '{' }}order_notes!{{ '}' }}</a>
                                </td>
                                <td>
                                This is internal order notes.
                                </td>

                                </tr>
                                <tr>
                                <td>

                                <a href="javascript:void(0)">${{ '{' }}invoice_no!{{ '}' }}</a>


                                </td>
                                <td>
                                Invoice No
                                </td>
                                </tr>
                                <tr>
                                <td>

                                <a href="javascript:void(0)">${{ '{' }}order_date!{{ '}' }}</a>


                                </td>
                                <td>
                                Order Date
                                </td>
                                </tr>
                                <tr>
                                <td>

                                <a href="javascript:void(0)">${{ '{' }}shipping_method!{{ '}' }}</a>


                                </td>
                                <td>
                                Shipping Service
                                </td>
                                </tr>

                                </tbody>


                                </table>

                                </div>
                        
                        
                            <!-- End of Table -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div> -->
      </div>
    </div>
  </div>