<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-2">
              <h3 class="mb-0">Schedule Listing</h3>
            </div>
            <div class="col-10 text-right">
              <div class="float-right">
                <a class="btn btn-sm btn-secondary font-10">
                  <i class="fa fa-trash text-red"></i> Remove </a>
                <!-- <a  class="btn btn-sm btn-default font-10"><i class="fa fa-search"></i></a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="box-search">
          <div class="row">
            <div class='col-12'>
              <table>
                <tr>
                  <td> &nbsp; Show </td>
                  <td>
                    <select class="form-control form-control-sm search-width-80">
                      <option value=''>100</option>
                    </select>
                  </td>
                  <td> &nbsp; Search </td>
                  <td>
                    <div class="input-group search-width-input">
                      <input type="text" class="form-control form-control-sm" placeholder="Enter value to Search">
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-default" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">
                  <input id="customCheck5" type="checkbox">
                </th>
                <th scope="col">Image</th>
                <th scope="col">SKU</th>
                <th scope="col">Title</th>
                <th scope="col">Selling Price</th>
                <th scope="col">Channel</th>
                <th scope="col">Total Quantity</th>
                <th scope="col">Listing Quantity</th>
                <th scope="col">Schedule Time</th>
                <th scope="col">Listing Status</th>
                <th scope="col">Update Time</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input id="customCheck5" type="checkbox">
                </td>
                <td style="vertical-align: middle;" class="sorting_1">
                  <img width="50px" src="https://s3-us-west-2.amazonaws.com/synmultichannelprod/188/86490_18993250-48c3-48ec-8379-c8c2bfa78e620.png">
                  <img width="50px" src="https://s3-us-west-2.amazonaws.com/synmultichannelprod/188/86490_18993250-48c3-48ec-8379-c8c2bfa78e620.png">
                </td>
                <td style="vertical-align: middle;"> 43800775 </td>
                <td style="vertical-align: middle;"> tesjdj </td>
                <td style="vertical-align: middle;"> 36.00 </td>
                <td style="vertical-align: middle;">
                  <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubwoocommerce.png" height="35">
                  <br>
                </td>
                <td style="vertical-align: middle;">
                  <span class="badge badge-default">1</span>
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#ticket1Modal" class="btn btn-sm">Edit</a>
                </td>
                <td style="vertical-align: middle;">
                  <span class="badge badge-success">1</span>
                </td>
                <td style="vertical-align: middle;">
                  <a class="tooltips" data-container="body" data-placement="top" data-html="true" data-original-title="17/06/2021 19:00:00">17 Jun 2021</a>
                </td>
                <td>
                  <span class="label label-sm label-success">WAITING</span>
                </td>
                <td>
                  <a class="tooltips" data-container="body" data-placement="top" data-html="true" data-original-title="07/06/2021 15:30:57">07 Jun 2021</a>
                </td>
                <td>
                  <div ngbDropdown container="body" class="btn-group actionwidth">
                    <button class="btn green btn-sm btn-outline-primary btn-block" type="button" ngbDropdownToggle> Actions <i class="fa fa-angle-down"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <a ngbDropdownItem>Edit Item</a>
                      <a ngbDropdownItem>Update to Channel</a>
                      <a ngbDropdownItem href="javascript:void(0)">Remove</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="ticket1Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h3 class="modal-title font-14 text-white">Update Quantity for the product <strong>tesjdj</strong> - SKU <strong>43800775</strong>
          </h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-body">
              <div class="row">
                <div class="col-md-3"> New Total Quantity: <span class="badge badge-default">Current Quantity &nbsp;191</span>
                </div>
                <div class="col-md-2">
                  <input type="text" id="updateqtyforskuid" class="form-control" value="4" placeholder="Enter quantity">
                </div>
                <div class="col-md-3">
                  <input type="checkbox" id="updateqtylistedfullselected" name="updateqtylistedfullselected" checked="" value="">&nbsp;List Full Quantity
                </div>
                <div class="col-md-4">
                  <a href="javascript:void(0)" class="btn btn-sm btn-circle btn-default">
                    <i class="fa fa-check font-blue"></i> Update Qty </a>
                  <button type="button" class="btn btn-sm btn-circle btn-danger" data-dismiss="modal">
                    <i class="fa fa-times font-red"></i> Close </button>
                </div>
              </div>
              <br>
              <div class="">
                <div class="">
                  <p>This will update the quantity for all the products with SKU Ken2123791</p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <div class="alert alert-default">
                    <input type="checkbox" id="relistcloseitems" checked="" value="true">&nbsp;Relist Closed Items
                  </div>
                </div>
              </div>
              <div class="well">
                <strong>Channel Products associated with this SKU and variation SKUs are shown below</strong>
                <br>
                <span>You can adjust listng quantity for each channel below.</span>
              </div>
              <br>
              <div class="table-scrollable">
                <table class="table table-responsive table-striped table-bordered table-hover order-column dataTable no-footer">
                  <thead>
                    <tr>
                      <th> Channel </th>
                      <th> SKU </th>
                      <th> Variation Theme </th>
                      <th> Total Qty </th>
                      <th> Listing Qty </th>
                      <th> Selling Price </th>
                      <th> Listing Status </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubwoocommerce.png" height="30">
                      </td>
                      <td>
                        <a target="_blank" class="btn btn-xs purple-plum">43800775</a>
                        <input type="hidden" id="sku" value="6692532">
                      </td>
                      <td> Colour(Black) Size(S) </td>
                      <td>
                        <input class="form-control" type="text" readonly="" value="1">
                        <input class="form-control" name="updateqtylistingskuinput" type="hidden" value="81878">
                      </td>
                      <td>
                        <input class="form-control" name="updateqtylistingqtyinput" type="text" value="1">
                      </td>
                      <td>
                        <input class="form-control" id="updatesellingpriceinput" type="text" value="36.00">
                      </td>
                      <td>
                        <span class="btn btn-xs font-white bg-blue">ACTIVE </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="btn-group float-right">
            <a type="button" class="btn btn-sm btn-dark">
              <i class="fa fa-check font-blue"></i> Update </a>
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
              <i class="fa fa-times text-red"></i> Close </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>