.font-10 {
    font-size: 7.8pt !important;
  }
  
  .font-11 {
    line-height: 23px !important;
    font-size: 9pt !important;
  }
  .box-search {
    border-top: 3px solid rgb(74, 175, 243);
    padding: 10px;
    margin: -5px 10px 10px 10px !important;
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  
  .box-search-bottom {
    border-top: 1px solid rgb(238, 238, 238);
    padding: 5px;
    margin: -10px 10px 10px 10px !important;
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  td {
      font-size: 9.5pt !important;
  }
  
  .search-width-80 {
    width: 80px !important;
  }
  
  .search-width-100 {
    width: 100px !important;
  }

  .search-width {
    width: 120px !important;
  }
  
  .search-width-150 {
    margin-left: 20px !important;
    width: 100px !important;
  }
  
  .search-width-200 {
    margin-left: 10px !important;
    width: 180px !important;
  }
  
  .search-width-220 {
    width: 185px !important;
  }
  
  .search-width-input {
    width: 250px !important;
  }
  
  .image-product {
    width: 35px !important;
    height: 35px !important;
  }
  
  .image-channel {
    width: 25px !important;
    height: 20px !important;
  }

.badge-success {
  background-color: #36c6d3;
  color: white;
  background-image: none;
}

.label.label-sm {
font-size: 13px;
padding: 2px 5px 2px 5px;
}

.label-success {
background-color: #36c6d3;
color: white;
}


.well {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #f1f4f7;
border: 1px solid #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}

.btn.purple-plum:not(.btn-outline) {
color: #ffffff;
background-color: #8775a7;
border-color: #8775a7;
}

.bg-blue {
background: #3f67a7 !important;
color: white;
}