<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-1">
          <div class="row align-items-center">
            <div class="col-12">
              <h3 class="mb-0">
                <i class="fa fa-print"></i> Invoice Templates
              </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="container tab-pane active">
              <br />
              <div class="row">
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-color-white ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubebay.png" height="35" />
                    </div>
                    <table class="ribbon-content">
                      <tbody>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>Name: <b>
                              <a class="tooltips" data-original-title=""></a>
                            </b>
                          </td>
                        </tr>
                        <tr>
                          <td>Invoice Template: <a href="" href="#editinvoicetemplate">Invoice Template</a>
                          </td>
                        </tr>
                        <tr>
                          <td>Shipping Labels: <a href="#editshippinglabel">Shipping Labels</a>
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- <div class="btn-group padding-10 mb-10 center"><button class="btn btn-sm btn-success" type="button"><i class="fa fa-plus-circle"></i> Add to KartzHub</button><button class="btn btn-sm btn-default" type="button">Get One <i class="fa fa-angle-right"></i></button></div> -->
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubrakuten.png" height="40" />
                    </div>
                    <table class="ribbon-content">
                      <tbody>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>Name: <b>
                              <a placement="bottom" ngbTooltip="Rakuten">Rakuten</a>
                            </b>
                          </td>
                        </tr>
                        <tr>
                          <td>Invoice Template: <a href="" href="#editinvoicetemplate">Invoice Template</a>
                          </td>
                        </tr>
                        <tr>
                          <td>Shipping Labels: <a href="#editshippinglabel">Shipping Labels</a>
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- <div class="btn-group padding-10 mb-10 center"><button class="btn btn-sm btn-success" type="button"><i class="fa fa-plus-circle"></i> Add to KartzHub</button><button class="btn btn-sm btn-default" type="button">Get One <i class="fa fa-angle-right"></i></button></div> -->
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubprestashop.png" height="40" />
                    </div>
                    <table class="ribbon-content">
                      <tbody>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>Name: <b>
                              <a placement="bottom" ngbTooltip="Prestashop Account">Prestashop Account</a>
                            </b>
                          </td>
                        </tr>
                        <tr>
                          <td>Invoice Template: <a href="" href="#editinvoicetemplate">Invoice Template</a>
                          </td>
                        </tr>
                        <tr>
                          <td>Shipping Labels: <a href="#editshippinglabel">Shipping Labels</a>
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- <div class="btn-group padding-10 mb-10 center"><button
                        class="btn btn-sm btn-success"
                        type="button"
                        disabled
                      ><i class="fa fa-cogs font-blue"></i> Settings
                      </button><a
                        class="btn btn-sm btn-default"
                        href="#dpd"
                        type="button"
                        >Label Setup <i class="fa fa-cogs font-blue"></i></a></div> -->
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-clip uppercase">
                      <div class="ribbon-sub ribbon-clip"></div>
                      <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubebay.png" height="40" />
                    </div>
                    <table class="ribbon-content">
                      <tbody>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>Name: <b>
                              <a class="tooltips" data-original-title=""></a>
                            </b>
                          </td>
                        </tr>
                        <tr>
                          <td>Invoice Template: <a href="" href="#editinvoicetemplate">Invoice Template</a>
                          </td>
                        </tr>
                        <tr>
                          <td>Shipping Labels: <a href="#editshippinglabel">Shipping Labels</a>
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- <div class="btn-group padding-10 mb-10 center"><a
                        class="btn btn-sm btn-success"
                        href="#royalmailsetting"
                        type="button"
                        ><i class="fa fa-cogs font-blue"></i> Settings</a
                      ><a
                        class="btn btn-sm btn-default"
                        href="#royalmaillabelsetup"
                        type="button"
                        >Label Setup <i class="fa fa-cogs font-blue"></i></a></div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer py-3"> &nbsp; </div>
      </div>
    </div>
  </div>
</div>