<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">

  <div class="modal fade" id="newCustomerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <h5 class="modal-title font-14 text-white">Edit User</h5>
          <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-12">Email</label>
                <input type="email" [(ngModel)]="email" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Email address">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-12">First Name</label>
                <input type="text" [(ngModel)]="firstname" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="First Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-12">Second Name</label>
                <input type="text" [(ngModel)]="secondname" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Second Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-12">Address Line One</label>
                <input type="text" [(ngModel)]="addressone" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Address Line 1">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-12">Address Line Two</label>
                <input type="text" [(ngModel)]="addresstwo" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Address Line 2">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-12">Notes</label>
                <textarea [(ngModel)]="notes" class="form-control form-control-sm" placeholder="Notes"></textarea>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-12">Address Line Three</label>
                <input type="text" [(ngModel)]="addressthree" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Address Line 3">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-12">City</label>
                <input type="text" [(ngModel)]="city" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="City">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-12">State/Country</label>
                <input type="text" [(ngModel)]="state" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="State">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-12">Postcode/Zipcode</label>
                <input type="text" [(ngModel)]="postcode" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Postcode">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-12">Country</label>
                <input type="text" [(ngModel)]="country" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Country">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-12">Priority</label>
                <select [(ngModel)]="priority" name="priority" class="form-control form-control-sm">
                  <option value="General">General</option>
                  <option value="Follow Up">Follow Up</option>
                  <option value="High Performance">High Performance</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-sm btn-success" (click)="saveCustomer()"><i class="fa fa-check-circle"></i> Save</button>
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times text-red"></i> Close</button>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
              <div class="col-2">
                <h3 class="mb-0">Customers</h3>
              </div>

              <div class="col-10 text-right">
                <div class="float-right">
                  <a href="#!" class="btn btn-sm btn-secondary font-10"><i class="fa fa-download text-green"></i> Download Template</a>
                  <a href="#!" class="btn btn-sm btn-secondary font-10"><i class="fa fa-file-excel-o text-green"></i> Import From CSV</a>
                  <a href="#!" class="btn btn-sm btn-secondary font-10"><i class="fa fa-file-excel-o text-green"></i> Export From CSV</a>
                  <a data-toggle="modal" data-target="#newCustomerModal" class="btn btn-sm btn-secondary font-10"><i class="fa fa-plus-circle text-blue"></i> New Customer</a>
                  
                </div>
                
              </div>
            </div>
        </div>
        
        <div class="box-search">
            <div class="row">
              <div class='col-12'>
                <table>
                  <tr>
                    <td>
                        &nbsp; Show
                    </td>
                    <td>
                        <select ([ngModel])="pageSize" (change)="pageSizeChange($event.target.value)" class="form-control form-control-sm search-width">
                          <option value='100'>100</option>
                          <option value='50'>50</option>
                          <option value='25'>25</option>
                          <option value='10'>10</option>
                        </select>
                    </td>
                    <td>
                        &nbsp; Sort By
                      </td>
                      <td>
                        <select ([ngModel])="sortData" (change)="sortBy($event.target.value)" class="form-control form-control-sm search-width">
                          <option value=''>Select</option>
                          <option value="General">General</option>
                          <option value="Follow Up">Follow Up</option>
                          <option value="High Performance">High Performance</option>
                        </select>
                      </td>
                      <td>
                        <div class="input-group search-width-input">
                          <input type="text" class="form-control form-control-sm" [(ngModel)]="txtSearch" placeholder="Enter value to Search">
                          <div class="input-group-append">
                            <button class="btn btn-sm btn-default" type="button" (click)="searchCustomer()"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                      </td> 
                    
                    
                  </tr>
                </table>
              </div>
            </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Priority</th>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Country</th>
                <th scope="col">Notes</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of dataCustomer | slice: (page-1) * pageSizeSelect : page * pageSizeSelect">
                  <td>{{ row.priority }}</td>
                  <td>{{ row.email }}</td>
                  <td>{{ row.firstname }} {{ row.secondname }}</td>
                  <td>{{ row.addressone }} {{ row.addresstwo }} {{ row.addressthree }}</td>
                  <td>{{ row.country }}</td>
                  <td>{{ row.notes }}</td>
                  <td>
                    <div class="btn-group">
                      <a class="btn btn-sm btn-success"><i class="fa fa-edit"></i></a>
                      <a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                    </div>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          
            <nav style="display: none;" aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
</div>
